﻿
.main-header .container  .nav > li > a {
    padding-bottom:10px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
     text-transform:capitalize;
     font-size: 13px;
}
.main-header .navbar{
    min-height:initial;
}
body {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.content{
    padding-top:0px;
    margin-top:-15px;
}
.content .box{
    border-top: 2px solid #d2d6de;
}
.box .box-header{
    text-align:center;
    text-transform: uppercase;
    padding-top:10px;
}
.box .box-header .box-title {
    font-weight: bold;
}
.box .box-body{
    padding-left:20px;
    padding-top:0px;
    padding-bottom:10px;
    padding-right:10px;
}
.row{
    padding-top:10px;
}
.btn-primary{
    background-color: #0066B3;
    border-color: #0066B3;
    margin-right: 3px;
}
.dropdown-menu>li>a{
    color: #333;
}
.dropdown-menu>li>a:hover {
    background-color:rgba(112, 125, 132, 0.3);
}
.dropdown-menu .divider {
    height: 1px;
    margin: 2px 0;
}
.box-header  hr {
    margin-top: 10px;
    margin-bottom: 10px;
}
.box-footer {
    padding-bottom: 20px;
    padding-left:15px;
    padding-right:15px;
    padding-top: 5px;
    background-color: #ffffff;
}

.form-control {
    height: 28px;
    padding: 6px 12px;
    font-size: 13px;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #ffffff;
}
.form-label{
    padding-top:5px;
}
.dropdownlist{
    padding-bottom:0px;
    padding-top:0px;
}
.btn{
    height: 28px;
    padding-top: 3px;
    padding-right: 12px;
    padding-bottom: 3px;
    padding-left: 12px;
}
label{
    font-weight: normal;
    color:black;
    font-size: 13px;
}

  /*Table customize*/
.table > thead > tr > th {
    border-bottom: 2px solid #ece9e9;
    background: rgba(112, 125, 132, 0.3);
    /* color: white; */
    text-align: center;
}
header{
    background-color: #ffffff;
}

ul .navbar-nav .dropdown{
     display: block;
     background-color:red;
}

.ui-datepicker .ui-datepicker-title {
    color: black;
}
.modal-dialog {
    right: auto;
    left: 0% !important;
}
.btn {
    font-size: 13px !important;
}
.dropdown-menu {
    font-size: 13px !important;
}