﻿#contentarea
{
	margin: 6px;
}

element.style
{
	width: 100%;
}
table.grid
{	
	color: #333333;
	border-collapse: collapse;
}
table.grid th
{
	color: #333333;
	background-color: #eee;
	font-weight: bold;
	border-right: solid 1px #fff;
	border-bottom: solid 1px #ccc;
	padding: 4px;
	text-align: center;
}

table.grid td
{
	border-bottom: 1px solid #ccc;
	padding: 6px 4px;

}

table.grid td form
{
	display: inline;
}

table.grid tr:hover
{
	background-color: #eef;
}

table.grid tr.selected td
{
	background-color: #ffe;
	font-weight: bold;
}

table.grid td a
{
	margin-right: 5px;
}

table.grid td.center
{
	text-align: center;
}

table.grid td.right
{
	text-align: right;
}

form {
margin:0;
padding:0;
}

/*page*/
.pager 
{
	margin:8px 3px;
	padding:3px;
}

.pager .disabled 
{
	border:1px solid #ddd;
	color:#999;
	margin-top:4px;
	padding:3px;
	text-align:center;
}

.pager .current 
{
	background-color:#06c;
	border:1px solid #009;
	color:#fff;
	font-weight:bold;
	margin-top:4px;
	padding:3px 5px;
	text-align:center;
}

.pager span, .pager a
{
	margin: 4px 3px;
}

.pager a 
{
	border:1px solid #c0c0c0;
	padding:3px 5px;
	text-align:center;
	text-decoration:none;
}

table.grid td {    
    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
    white-space: -pre-wrap; /* Opera 4-6 */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    max-width: 150px !important;
}
