﻿.textTable {
    font-family: Arial;
    font-size: 13px;
}

.textThead th {
    text-align: center;
}

.box {
    border-radius: 0px;
}

.btnCreateList {
    padding-right: 0px !important;
}

.titleBox {
    font-size: 18px;
    text-align: center;
}

.btnBefor {
    clear: both;
    float: right;
    margin-right: -15px !important;
}
.btn-cancel{
    background-color: darkgrey;
    border: none;
}

.ui-datepicker-trigger{
    margin-left: 6px;
    width: 20px;
}
#ui-datepicker-div
        {
            width: 252px;
        }
        .ui-datepicker-header
        {
            width: 245px;
        }

.fill-color {
    color: #3c8dbc;
}

.center-with-header {
    margin-left: 29px;
}
table  thead th{
    text-transform: capitalize;
}

table tr td {
    word-break: break-word;
}
 
