﻿@model EInvoice.CAdmin.Models.ReportsPrintModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="../../Content/css/reportInv.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/AdminLTECustomize.css" rel="stylesheet" />
    <script type="text/javascript" src="/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.PrintArea.js"></script>
    <title>Quản trị</title>
</head>
<body style="background:none;">
    @Html.Hidden("Month",ViewData["Month"] ) 
    @Html.Hidden("Year",ViewData["Year"])
    <div>
        <div id="print">
            @Html.Raw(Model.Html)
        </div>
    </div>
    <div style="margin: 0 0 0 15px">
        <input class="btn btn-primary btn-flat" type="button" value="Quay lại" onclick="document.location = '/ReportsTax/BaoCaoBanHangTongHop'" />
        <input class="btn btn-primary btn-flat" type="button" id="Button2" value="Xuất File Xls" onclick="Download_Excel()" />
        <input class="btn btn-primary btn-flat" type="button" id="Button3" value="Xuất File xml" onclick="Download_xml()" />
    </div>
    <script language="javascript" type="text/javascript">
    function printex(divID) {
        $('#' + divID).printArea({
            popWd: 1000,
            popHt: 900,
            mode: "popup",
            popClose: false
        });
    }
  function Download_Excel() {
        var Month = $("#Month").val();
        var Year = $("#Year").val();
        document.location = "/ReportsTax/DownloadTongHopBanHang_excel?month=" + Month + "&year=" + Year;
    }
    function Download_xml() {
        var Month = $("#Month").val();
        var Year = $("#Year").val();
        document.location = "/ReportsTax/DownloadTongHopBanHang_xml?month=" + Month + "&year=" + Year;
    }
    </script>
</body>
</html>
