﻿@model EInvoice.CAdmin.Models.ReportsPrintModel
    <!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8">
        <link href="../../Content/css/reportInv.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/Content/js/jquery.min.js"></script>
        <script type="text/javascript" src="/Content/js/jquery.PrintArea.js"></script>
        <title>Quản trị</title>
    </head>
    <body style="background:none;">
        @Html.Hidden("Month",ViewData["Month"] ) 
        @Html.Hidden("Year",ViewData["Year"]) 
        <div>
            <div id="print">
               @Html.Raw(Model.Html)
            </div>
        </div>
        <div style="padding-top:0px">
            <input style="margin:0px 0px 5px 29px" type="button" value="Quay lại" onclick="document.location = '/ReportsTax/BaoCaoBanHangChiTiet'" />
            <input type="button" id="Button2" value="Xuất File Xls" onclick="Download_Excel()" />
            <input type="button" id="Button3" value="Xuất File xml" onclick="Download_xml()" />
        </div>
        <script language="javascript" type="text/javascript">
    function printex(divID) {
        $('#' + divID).printArea({
            popWd: 1000,
            popHt: 900,
            mode: "popup",
            popClose: false
        });
    }
    function Download_Excel() {
        var Month = $("#Month").val();
        var Year = $("#Year").val();
        document.location = "/ReportsTax/DownloadChiTietBanHang_excel?month=" + Month + "&year=" + Year;
    }
    function Download_xml() {
        var Month = $("#Month").val();
        var Year = $("#Year").val();
        document.location = "/ReportsTax/DownloadChiTietBanHang_xml?month=" + Month + "&year=" + Year;
    }
        </script>
    </body>
</html>
