﻿@using EInvoice.Core.Domain
@model Menu
@{
    ViewBag.Title = "Sửa Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-xs-12">
        <div class="box">

            @using (Html.BeginForm("Edit", "Menu", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                Html.RenderPartial("MenuUseControl", Model);
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-5">
                        </div>
                        <div class="col-sm-2">
                            <input type="submit" value="@Resources.Einvoice.BtnSave" class="btn btn-primary btn-flat" />
                            <input type="button" value="@Resources.Einvoice.BtnBack" class="btn btn-primary btn-flat btn-cancel" onclick="document.location = '/Menu/index'" />
                        </div>
                        <div class="col-sm-5">
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
