﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@model FX.Utils.MvcPaging.IPagedList<Menu>
@{
    ViewBag.Title = "Quản lý Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/css/grid.css" rel="stylesheet" type="text/css" />
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">QUẢN LÝ MENU</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form id="Searchform" name="Searchform" method="get" action="/Menu/Index" class="form-inline">
                    <div class="row">
                        <div class="col-xs-12">
                            <b>Menu cha:</b>
                            @Html.DropDownList("parentId", new SelectList(ViewBag.Parents, "Id", "Name", ViewBag.ParentId), new { style = "width:150px;margin-left: 5px", onchange = "document.Searchform.submit();", @class = "form-control" })
                        </div>
                    </div>
                </form>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example2" class="table table-bordered table-hover dataTable textTable" role="grid" aria-describedby="example2_info">
                            <thead class="textThead">
                                <tr>
                                    <th>
                                        STT
                                    </th>
                                    <th>
                                        Tên
                                    </th>
                                    <th>
                                        Vị trí
                                    </th>
                                    <th>
                                        Sử dụng
                                    </th>
                                    <th>
                                        Sửa
                                    </th>
                                    <th>
                                        Xóa
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int i = Model.PageIndex * Model.PageSize + 1;
                                }
                                @foreach (var it in Model.ToList())
                                {
                                    var isPub = it.IsPub ? "Yes" : "No";
                                    <tr>
                                        <td style="text-align: center">@i</td>
                                        <td>@it.Name</td>
                                        <td style="text-align: center">@it.Priority</td>
                                        <td style="text-align: center">@isPub</td>


                                        <td style="text-align: center">
                                            @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Search_user"))
                                            {
                                                <a href="/Menu/Edit/@it.Id" title="Sửa">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </a>
                                            }
                                        </td>
                                        <td style="text-align: center">
                                            @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Search_user"))
                                            {
                                                <a href="#" onclick="OnDelete('@it.Id')" title="Xóa">
                                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
    function OnDelete(id) {
        if (!confirm("Chắc chắn xóa menu này?"))
            return;
        document.location = "/Menu/delete?id=" + id;
    }
</script>

