﻿    @using EInvoice.Core.Domain
    @model Menu
    @*<link href="/Content/css/SharedFormElements.css" rel="stylesheet" type="text/css" />
        <style type="text/css">
            fieldset {
                margin: 20px 50px 10px 50px !important;
            }

            label {
                margin-left: 50px !important;
                min-width: 130px !important;
            }
        </style>*@
    <script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>

    @Html.Hidden("Id", Model.Id)
    @Html.Hidden("ComID", Model.ComID)
    <div class="box-header" style="text-align:center">
        <h3 class="box-title">
           Sửa MENU
        </h3>
        <hr />
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-2">
                            <label for="ParentId">Menu cha:</label>
                        </div>
                        <div class="col-sm-10">
                            @*"---Menu cha---",*@
                            @Html.DropDownList("ParentId", new SelectList(ViewBag.ParentMenus, "Id", "Name", Model.ParentId), new { style="width:200px", @class="form-control"})
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-sm-2">
                            <label for="Key">Tên hiển thị:<span style="color: red">(*)</span></label>
                        </div>
                        <div class="col-sm-10">
                            @Html.TextBox("Name", Model.Name, new { style = "width:200px", @maxlength="200", @class = "required form-control", title ="Nhập tên!" })
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-sm-2">
                            <label for="Value">Mức ưu tiên:<span style="color: red">(*)</span></label>
                        </div>
                        <div class="col-sm-10">
                            @Html.TextBox("Priority", Model.Priority, new { style = "width:100px", @class = "number form-control" })
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-sm-2">
                            <label for="Value">Sử dụng:<span style="color: red">(*)</span></label>
                        </div>
                        <div class="col-sm-10">
                           @Html.CheckBox("IsPub", Model.IsPub)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<fieldset>
        <ol>
            <li>
                <label for="ParentId">Menu cha:</label>
                <%: Html.DropDownList("ParentId", new SelectList(ViewBag.ParentMenus, "Id", "Name", Model.ParentId), "---Menu cha---", new { style="width:150px"})%>
            </li>
            <li>
                <label for="Key">Tên hiển thị:<span style="color: red">(*)</span></label>
                <%=Html.TextBox("Name", Model.Name, new { style = "width:200px", @maxlength="200", @class = "required", title ="Nhập tên!" })%>
            </li>
            <li>
                <label for="Value">Mức ưu tiên:<span style="color: red">(*)</span></label>
                <%=Html.TextBox("Priority", Model.Priority, new { style = "width:100px", @class = "number"})%>
            </li>
            <li>
                <label for="Value">Sử dụng:<span style="color: red">(*)</span></label>
                <%=Html.CheckBox("IsPub", Model.IsPub)%>
            </li>
        </ol>
    </fieldset>*@
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $('form:first').validate();
            $('input[type="text"]').keypress(function (event) {
                return validText(event);
            });
        });

        function validText(e) {
            var keypressed = String.fromCharCode(e.which);
            //check lại
            var dbs = new Array("~", @Html.Raw("@"), "#", "$", "^", "*", ";", "|", "<", ">", "!");
            var sum = dbs.length;
            var i = 0;
            while (i < sum) {
                if (dbs[i] == keypressed)
                    return false;
                i++;
            }
            return;
        }
    </script>
