﻿@using EInvoice.CAdmin.Models
@model EInvoice.CAdmin.Models.Captcha
<div class="editor-field">
    <img src='/Captcha/Show' alt="" class="captcha_img" height="32" style="float: left;"/>
    @Html.TextBoxFor(m => m.captch, new { @class = "captcha_input", style= "width: 72%;height: 32px" })
</div>
