﻿@model EInvoice.Core.Domain.Transaction
@{
    ViewBag.Title = "Thông tin giao dịch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">Thông tin giao dịch</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div class="col-md-6 col-md-offset-3">
                    <ol class="detail">
                        <li class="row">
                            <label class="col-sm-6">1. Công ty:</label>
                            @Model.Company.Name
                        </li>
                        <li class="row">
                            <label class="col-sm-6">2. Mã giao dịch:</label>
                            @Model.id
                        </li>
                        <li class="row">
                            <label class="col-sm-6">3. Mẫu số:</label>
                            @Model.InvPattern
                        </li>
                        <li class="row">
                            <label class="col-sm-6">4. Ký hiệu:</label>
                            @Model.InvSerial
                        </li>
                        <li class="row">
                            <label class="col-sm-6">5. Trạng thái:</label>
                            @EInvoice.Core.Utils.GetTransactionStatus(Model.Status)
                        </li>
                        <li class="row">
                            <label class="col-sm-6">6. Thông báo từ hệ thống:</label>
                        </li>
                        <li class="row hidden-border">
                            @if (!string.IsNullOrEmpty(Model.Messages))
                            {
                            @Html.TextAreaFor(m => m.Messages,10,20,new {@class="form-control"})
                            }
                        </li>
                        @if ((int)@ViewData["TypeTran"] != 6)
                        { 
                        <li class="row hidden-border">
                            <a class="col-sm-6" href="/Transaction/index?TypeTran=@ViewData["TypeTran"]">
                                <img src="/Content/Images/Back-icon.png" />
                            </a>
                        </li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles{
    <style>
        label {
            
            display: inline-block;
        }
        .detail li {
            display: block;
            border-bottom: 1px darkgray solid;
        }
        .detail .hidden-border {
            border-bottom: none;
        }
    </style>
}

