﻿@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@using Microsoft.Ajax.Utilities
@model EInvoice.CAdmin.Models.TransactionIndexModels
@{
    ViewBag.Title = (string)ViewData["Title"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*@Html.Hidden("TypeTran", ViewData["TypeTran"])*@
<div class="clear">
</div>
<div class="row" style="padding-top: 0;">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">@(ViewBag.Title)</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            @if (Model.PagedListTransaction != null)
            {
                <div class="box-body">
                    <!--search box-->
                    <div class="row">
                        <div class="col-sm-12">
                            @using (Html.BeginForm("Index", "Transaction", FormMethod.Get, new { @class = "form-inline", action = "/Transaction/Index?TypeTran=" + ViewData["TypeTran"] }))
                            {
                                @Html.Hidden("TypeTran", ViewData["TypeTran"])
                                <div class="form-group col-sm-4" style="padding-left: 0">
                                    @Html.LabelFor(m => m.code, "Mã giao dịch:", new { style = "margin-top: 5px" })
                                    @Html.TextBoxFor(m => m.code, new { @class = "form-control", style = "width: 72%;" })
                                </div>
                                <div class="form-group col-sm-3">
                                    @Html.LabelFor(m => m.status, "Trạng thái:", new { style = "margin-top: 5px" })
                                    @Html.DropDownListFor(m => m.status, new List<SelectListItem>
                            {
                                new SelectListItem {Text = "Tất cả", Value = TranSactionStatus.Null.ToString(), Selected = (Model.status == TranSactionStatus.Null)},
                                new SelectListItem {Text = "Mới upload", Value = TranSactionStatus.NewUpload.ToString(), Selected = (Model.status == TranSactionStatus.NewUpload)},
                                new SelectListItem {Text = "Đang xử lý", Value = TranSactionStatus.Processing.ToString(), Selected = (Model.status == TranSactionStatus.Processing)},
                                new SelectListItem {Text = "Thành công", Value = TranSactionStatus.Completed.ToString(), Selected = (Model.status == TranSactionStatus.Completed)},
                                new SelectListItem {Text = "Lỗi phát hành", Value = TranSactionStatus.Failed.ToString(), Selected = (Model.status == TranSactionStatus.Failed)},
                                new SelectListItem {Text = "Lỗi file upload", Value = TranSactionStatus.NotComplete.ToString(), Selected = (Model.status == TranSactionStatus.NotComplete)}
                            }, new { @class = "form-control dropdownlist", style = "width: 70%;" })
                                </div>
                                <div class="form-group col-sm-2">
                                    <button class="btn btn-primary btn-flat" type="submit">Tìm Kiếm</button>
                                </div>
                                <div class="form-group col-sm-3" style="padding-right: 0">
                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Release_invInTime"))
                                {
                                    <a href="/Transaction/Upload?TypeTran=@ViewData["TypeTran"]" class="btn btn-primary btn-flat pull-right" title="Create">
                                        <i class="glyphicon glyphicon-plus"></i> Tạo mới
                                    </a>
                                }
                                </div>
                            }
                        </div>
                    </div>
                    <br />
                    <!--div grid-->
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="TransactionList" class="table table-bordered table-hover table-striped table-responsive have-action dataTable" role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th width="5%">
                                            STT
                                        </th>
                                        <th width="20%">
                                            Mã giao dịch
                                        </th>
                                        @if (Convert.ToString(ViewData["TypeTran"]) != "1")
                                        {
                                            <th width="5%">
                                                Mẫu số
                                            </th>
                                            <th width="5%">
                                                Ký hiệu
                                            </th>
                                        }
                                        <th width="10%">
                                            Tài khoản
                                        </th>
                                        <th width="8%">
                                            Bắt đầu giao dịch
                                        </th>
                                        <th width="10%">
                                            Trạng thái
                                        </th>
                                        <th width="10%">
                                            Loại giao dịch
                                        </th>
                                        <th width="5%">
                                            Kết quả
                                        </th>
                                        <th width="5%">
                                            File lỗi
                                        </th>
                                        <th width="5%">
                                            Chi tiết
                                        </th>
                                        <th width="5%">
                                            Đối soát
                                        </th>
                                        <th width="5%">
                                            Xóa
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = 1;
                                    }
                                    @foreach (var item in Model.PagedListTransaction)
                                    {
                                        <tr>
                                            <td style="align-content: center">@(i++)</td>

                                            <td style="text-align: left">@item.id</td>
                                            @if (Convert.ToString(ViewData["TypeTran"]) != "1")
                                            {
                                                <td>@item.InvPattern</td>

                                                <td>@item.InvSerial</td>
                                            }
                                            <td>@item.AccountName</td>
                                            <td>@item.CreateDate.ToString("dd/MM/yyyy")</td>
                                            <td>@EInvoice.Core.Utils.GetTransactionStatus(item.Status)</td>
                                            @if (item.TypeTrans == 0)
                                            {
                                                <td>Lô hóa đơn mới</td>
                                            }
                                            else if (item.TypeTrans == 1)
                                            {
                                                <td>Dữ liệu khách hàng mới</td>
                                            }
                                            else if (item.TypeTrans == 2)
                                            {
                                                <td>Hủy hóa đơn</td>
                                            }
                                            else if (item.TypeTrans == 3)
                                            {
                                                <td>Phát hành lại lô hóa đơn</td>
                                            }
                                            <td>
                                                @if (item.Status != TranSactionStatus.NewUpload && item.Status != TranSactionStatus.Processing && item.Status != TranSactionStatus.NotComplete && item.Status != TranSactionStatus.Failed)
                                                {
                                                    <a class="dtrans" href="/Transaction/Completed/@item.id" title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <span class="glyphicon glyphicon-lock fill-color"></span>
                                                }
                                            </td>
                                            <td>
                                                @if (item.Status == TranSactionStatus.NotComplete || item.Status == TranSactionStatus.Failed)
                                                {
                                                    <a class="dftrans" href="/Transaction/Download/@item.id" title="Download">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <span class="glyphicon glyphicon-lock fill-color"></span>
                                                }
                                            </td>
                                            <td>
                                                <a href="/Transaction/Details?id=@item.id&TypeTran=@ViewData["TypeTran"]" title="Details">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                </a>
                                            </td>
                                            <td>
                                                @if (item.Status == TranSactionStatus.Completed && item.TranLock == 1 && (item.TypeTrans == 0 || item.TypeTrans == 3))
                                                {
                                                    <a href="/Transaction/DownloadCompare/@item.id" title="Tải dữ liệu đối soát">
                                                        <span class="glyphicon glyphicon-download-alt"></span>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <span class="glyphicon glyphicon-lock fill-color"></span>
                                                }
                                            </td>
                                            <td>
                                                @if (item.Status != TranSactionStatus.Processing)
                                                {
                                                    <a href="#" onclick="OnDelete('@item.id')" title="Xóa">
                                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                                    </a>
                                                }
                                                else
                                                {
                                                    <span class="glyphicon glyphicon-lock fill-color"></span>
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-10">
                        </div>
                        <div class="col-sm-2">
                            <div class="pager row pull-right">
                                @Html.Pager(Model.PagedListTransaction.PageSize, Model.PagedListTransaction.PageIndex + 1, Model.PagedListTransaction.TotalItemCount, new
                           {
                               action = "index",
                               controller = "Transaction",
                               keyword = Model.keyword,
                               status = Model.status,
                               TypeTran = ViewData["TypeTran"]
                           })
                            </div>
                        </div>
                    </div>

                </div>
                                        }
        </div>
    </div>
</div>
@section styles{
    <style>
        #TransactionList {
            text-align: center;
        }

        label {
            font-weight: 700;
        }

        .left-align {
            text-align: left;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}

@section scripts{
    <script language="javascript" type="text/javascript">
        function OnDelete(id) {
            var typetran = $("#TypeTran").val();
            if (!confirm("Xoá giao dịch?"))
                return;
            document.location = "/Transaction/delete?id=" + id + '&TypeTran=' + typetran;
        }

        function OnCompare(id) {
            if (!confirm("Chấp nhận đối soát?"))
                return;
            document.location = "/Transaction/compare?id=" + id;
        }

        $(document).ready(function () {
            // Download ket qua upload thanh cong
            $('.dtrans').click(function () {
                if (confirm('Bạn có muốn tải dưới định dạng dbf không?')) {
                    window.location = $(this).attr('href') + "?downloadtype=dbf";
                } else {
                    window.location = $(this).attr('href') + "?downloadtype=xml";
                }
                return false;
            });
            // Download ket qua upload loi
            $('.dftrans').click(function () {
                window.location = $(this).attr('href') + "?downloadtype=xml";
                return false;
            });
        });
    </script>
}
