﻿@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@using Microsoft.Ajax.Utilities
@model EInvoice.CAdmin.Models.UploadModel
@{
    ViewBag.Title = "Upload dữ liệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">DỮ LIỆU</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body" style="padding-right: 20px">
                <!--search box-->
                <div class="jumbotron set-height" style="text-align: center">
                    @if (Model.TypeTrans != 1 && Model.TypeTrans != 4)
                    {
                        <p class="center-jumbo">Chọn file .zip của file .xml Upload lên hệ thống, dung lượng file không vượt quá 100MB!</p><br />
                    }
                    else
                    {
                        <p class="center-jumbo">Chọn file .xls Upload lên hệ thống, dung lượng file không vượt quá 10MB!</p><br />
                    }
                </div>
                <div class="row">
                    <form method="post" action="" id="adminForm" name="adminForm" enctype="multipart/form-data">
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <ol class="ListUpload list-border">
                                @if (Model.TypeTrans == 0)
                                {
                                    <li>
                                        <label>UPLOAD DỮ LIỆU HÓA ĐƠN</label>
                                        @Html.Hidden("TypeTrans", Model.TypeTrans)
                                    </li>
                                    <li class="row">
                                        <label class="col-sm-2">Kỳ Cước:<span style="color: red">(*)</span> </label>
                                        <div class="col-sm-3" style="margin-left: -70px">
                                            @Html.TextBox("DateNow", "", new { @class = "datepicker vietnameseDate form-control", @style = "width: 80%; display: inline-block", title = "Nhập thông tin!", @autofocus = "autofocus" })
                                        </div>
                                    </li>
                                }
                                else if (Model.TypeTrans == 1)
                                {
                                    <li>
                                        <label>UPLOAD DỮ LIỆU KHÁCH HÀNG</label>
                                        @Html.Hidden("TypeTrans", Model.TypeTrans)
                                    </li>
                                    <li>
                                        <label>
                                            Tải file mẫu:
                                        </label>
                                        <a autofocus style="float: left;" href="/Transaction/DownloadFileCustomer" title="Tải dữ liệu đối soát">
                                            <img alt="" src="~/Content/Images/Download-icon.png" />
                                        </a>
                                    </li>
                                }
                                else if (Model.TypeTrans == 4)
                                {
                                    <li>
                                        <label>UPLOAD DỮ LIỆU SẢN PHẨM</label>
                                        @Html.Hidden("TypeTrans", Model.TypeTrans)
                                    </li>
                                    <li>
                                        <label>
                                            Tải file mẫu:
                                        </label>
                                        <a autofocus style="float: left;" href="/Transaction/DownloadFileCustomer" title="Tải dữ liệu đối soát">
                                            <img alt="" src="~/Content/Images/Download-icon.png" />
                                        </a>
                                    </li>
                                }
                                else if (Model.TypeTrans == 2)
                                {
                                    <li>
                                        UPLOAD DỮ LIỆU HỦY HÓA ĐƠN
                                        @Html.Hidden("TypeTrans", Model.TypeTrans)
                                    </li>
                                }
                                else if (Model.TypeTrans == 3)
                                {
                                    <li>
                                        UPLOAD DỮ LIỆU PHÁT HÀNH LẠI HÓA ĐƠN
                                        @Html.Hidden("TypeTrans", Model.TypeTrans)
                                    </li>
                                    <li>
                                        <label class="col-sm-2" style="margin-right: 25px">Ngày Upload:<span style="color: red">(*)</span> </label>
                                        @Html.TextBox("DateNow", "", new { @class = "datepicker vietnameseDate", @Style = "width: 175px;margin-left: -80px;", title = "Nhập thông tin!", @autofocus = "autofocus" })
                                    </li>
                                }
                                else if (Model.TypeTrans == 5)
                                {
                                    <li>
                                        UPLOAD DỮ LIỆU HÓA ĐƠN
                                        @Html.Hidden("TypeTrans", Model.TypeTrans)
                                    </li>
                                }
                                @if (Model.TypeTrans != 1 && Model.TypeTrans != 4)
                                {

                                    <li id="li_Serial" class="row">
                                        <label class="col-sm-2">
                                            @Resources.Einvoice.PLInv_LblPattern:<span style="color: red">(*)</span>
                                        </label>
                                        <div class="col-sm-3" style="margin-left: -70px">
                                            @Html.DropDownList("Pattern", Model.Listpattern, "--Chọn mẫu số--", new { @class = "form-control", @style = "width: 80%; display: inline-block", onchange = "GetDataSerial()", title = "Nhập thông tin!", @autofocus = "autofocus" })
                                        </div>
                                    </li>

                                    <li id="li_Pattern" class="row">
                                        <label class="col-sm-2">
                                            @Resources.Einvoice.PLInv_LblSerial:
                                        </label>
                                        <div class="col-sm-3" style="margin-left: -70px">
                                            @Html.DropDownList("Serial", Model.Listserial, "--Chọn ký hiệu--", new { @class = "form-control", @name = "Serial", @style = "width: 80%; display: inline-block", title = "Nhập thông tin!" })
                                        </div>

                                    </li>
                                }
                                <li class="row">
                                    <label class="col-sm-2" for="FilePath">
                                        Chọn tệp:<span style="color: red">(*)</span>
                                    </label>
                                    <input type="button" id="btnFilePath" style="float: left; margin-left:-56px;" class="btn btn-primary btn-flat" value="Chọn file" onclick="myFunction()" />
                                    <input type="text" value="Chưa chọn file" readonly id="inputId" />
                                    <input type="file" name="FilePath" id="FilePath" style="display:none;" class="required col-sm-3" />
                                </li>
                                <li id="li_FileQD" class="row" style="text-align: left; display: none">
                                    <label class="col-sm-2" for="FileQDPath">
                                        Chọn tệp QĐ:<span style="color: red">(*)</span>
                                    </label>
                                    <input type="button" id="btnFilePathQD" style="float: left; margin-left:-56px;" class="btn btn-primary btn-flat" value="Chọn file" onclick="myFunctionQD()" />
                                    <input type="text" value="Chưa chọn file" readonly id="inputIdQD" />
                                    <input type="file" name="FileQDPath" id="FileQDPath" style="display:none;float: left; margin-left:-70px;" class="required col-sm-3" />
                                </li>
                                <li id="li_ReasonDel" style="text-align: left; display: none" class="row">
                                    <label class="col-sm-2" for="reasonDel">
                                        Lí do hủy:<span style="color: red">(*)</span>
                                    </label>
                                    <textarea id="reasonDel" name="reasonDel" rows="5" cols="40" class="required form-control col-sm-3" disabled="disabled" style="float: left;"></textarea>
                                </li>
                            </ol>
                        </fieldset>
                        <div class="clear"></div>
                        <div class="row">
                            <div class="col-sm-5">
                                <input id="CLick" type="button" onclick="SaveUpload()" style="margin-left: 30px" name="phathanh" class="btn btn-primary btn-flat"
                                       value="Upload file dữ liệu" />
                                <input type="button" class="pull-right btn btn-primary btn-flat" value="Quay lại upload dữ liệu" onclick="document.location ='/Transaction/index?TypeTran=@Model.TypeTrans    '" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/Content/css/DetailsEditStyle.css" rel="stylesheet" />
    <style>
        .set-height {
            height: 80px;
            padding: 0;
            margin: 0;
        }

        .center-jumbo {
            padding-top: 20px;
        }

        .ListUpload li {
            margin: 15px 0px;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript" src="/Content/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
    <script src="/Content/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
        //lấy ra danh sách serial khi chọn pattern
        //function checkfileUpdateTime() {
        //    var time_a = $("#FilePath").val().split('_')[1].substring(0,6);
        //    var time_b = $("#DateNow").val().split('/')[1] + $("#DateNow").val().split('/')[0];
        //    if (time_a.localeCompare(time_b) != 0) {
        //        alert("Ngày chọn update và Ngày trong tên file update không giống nhau!");
        //    }
        //}


        function myFunction() {
            document.getElementById("FilePath").click();
        }
        function myFunctionQD() {
            document.getElementById("FileQDPath").click();
        }
        function GetDataSerial() {
            var jsondata = "opattern=" + $("#Pattern").val()
            $.ajax({
                type: "POST",
                url: "/EInvoice/GetSerialByPatter/",
                data: jsondata,
                success: function (data) {
                    sl = document.getElementById("Serial");
                    while (sl.firstChild) {
                        sl.removeChild(sl.firstChild);
                    }
                    if (data.pu.length > 0) {
                        newOpt = new Option("--Chọn ký hiệu--", "");
                        document.getElementById("Serial").options.add(newOpt);
                        newOpt.selected = true;
                        for (i = 0; i < data.pu.length; i++) {
                            newOption = new Option(data.pu[i]);
                            document.getElementById("Serial").options.add(newOption);
                        }
                        var objSelect = document.getElementById("Serial");
                        for (var i = 0; i < objSelect.options.length; i++) {
                            if (objSelect.options[i].value == document.getElementById("Serial").value) {
                                objSelect.options[i].selected = true;
                                break;
                            }
                        }
                    }
                }
            });
        }

        function changedselect(sel) {
            if (sel.value == 1) {
                $("#li_Serial").css("display", "none");
                $("#li_Pattern").css("display", "none");
            }
            else {
                $("#li_Serial").css("display", "block");
                $("#li_Pattern").css("display", "block");
            }
        }
        function htmlEncode(value) {
            return $('<div/>').text(value).html();
        }
        function htmlDecode(value) {
            return $('<div/>').html(value).text();
        }
        function SaveUpload() {
            if (document.getElementById("TypeTrans").value == 2 ||
                document.getElementById("TypeTrans").value == 0 ||
                document.getElementById("TypeTrans").value == 3) {
                $('#Pattern').addClass("required");
                $('#adminForm').valid();
            }
            else {
                $('#Pattern').removeClass("required error");
                $('#adminForm').valid();
            }
            $('#adminForm').submit();
            $("#CLick").hide();
        }
        //dịnh dạng lại datepicker theo tieng viet
        jQuery(function ($) {
            $.datepicker.regional['vi'] = {
                closeText: 'Nhập',
                prevText: '&#x3c;Trước',
                nextText: 'Tiếp&#x3e;',
                currentText: 'Hiện tại',
                monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
                    'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
                monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
                    'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
                dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                weekHeader: 'Tu',
                dateFormat: 'mm/yy',
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
        });
        $(function ($) {
            $(".vietnameseDate").mask("99/9999");
        });
        $(document).ready(function () {
            //Ckeck file upload
            $('#FilePath').change(function () {
                var _file = $(this)[0].files[0];
                if (_file) {
                    var _extl = ['zip', 'xls', 'xlsx'];
                    var _ext = _file.name.substring(_file.name.lastIndexOf('.') + 1);
                    var index_ext = _extl.indexOf(_ext);
                    if (index_ext > -1) {
                        if (index = 1 && this.files[0].size > 10485760) {
                            alert("Dung lượng file phải nhỏ hơn 10MB!");
                            $("#inputId").val("Chưa chọn file");
                            $('#FilePath').val('');
                        }
                        else
                            if (this.files[0].size > 104857600) {
                                alert("Dung lượng file phải nhỏ hơn 100MB!");
                                $("#inputId").val("Chưa chọn file");
                                $('#FilePath').val('');
                            }
                            else {
                                $("#inputId").val(_file.name);
                                $('#FilePath').val(_file.name);
                            }
                    }
                    else {
                        $("#inputId").val("Chưa chọn file");
                        $(this).val('');
                        alert('Xin lỗi, định dạng file đính kèm không được chấp nhận.');
                    }
                } else {
                    $('#FilePath').val('');
                    $("#inputId").val("Chưa chọn file")
                }

            });
            //Ckeck file QD upload
            $('#FileQDPath').change(function () {
                var _file = $(this)[0].files[0];
                if (_file) {
                    var _extl = ['peg', 'tiff', 'gif', 'png', 'jpeg', 'jpg', 'bmp', 'PEG', 'TIFF', 'GIF', 'PNG', 'JPEG', 'JPG', 'BMP'];
                    var _ext = _file.name.substring(_file.name.lastIndexOf('.') + 1);
                    if (_extl.indexOf(_ext) > -1) {

                        if (this.files[0].size > 5242880) {
                            alert("Dung lượng file phải nhỏ hơn 5MB!");
                            $("#inputIdQD").val("Chưa chọn file");
                            $('#FileQDPath').val('');
                        }
                        else {
                            $("#inputIdQD").val(_file.name);
                            $('#FileQDPath').val(_file.name);
                        }
                    }
                    else {
                        $("#inputIdQD").val("Chưa chọn file");
                        $(this).val('');
                        alert('Xin lỗi, định dạng file đính kèm không được chấp nhận.');
                    }
                } else {
                    $("#inputIdQD").val("Chưa chọn file");
                    $('#FileQDPath').val('');
                }

            });
            //unblockpage();
            $.datepicker.setDefaults($.datepicker.regional['vi']);
            $(".datepicker").datepicker({
                showOn: "button",
                buttonImage: "/Content/images/calendar.gif",
                showButtonPanel: true,
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true,
                onClose: function (dateText, inst) {
                    var month = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
                    var year = $("#ui-datepicker-div .ui-datepicker-year :selected").val();
                    $(this).datepicker('setDate', new Date(year, month, 1));
                },
                beforeShow: function (input, inst) {
                    if ((datestr = $(this).val()).length > 0) {
                        year = datestr.substring(datestr.length - 4, datestr.length);
                        month = jQuery.inArray(datestr.substring(0, datestr.length - 5), $(this).datepicker('option', 'monthNames'));
                        $(this).datepicker('option', 'defaultDate', new Date(year, month, 1));
                        $(this).datepicker('setDate', new Date(year, month, 1));
                    }
                }
            });
            $(".datepicker").focus(function () {
                $(".ui-datepicker-calendar").hide();
                $("#ui-datepicker-div").position({
                    my: "center top",
                    at: "center bottom",
                    of: $(this),
                });
            });
            var TypeTransVal = document.getElementById('TypeTrans');
            if (TypeTransVal.value == 2) {
                $('#FileQDPath').removeAttr("disabled");
                $('#reasonDel').removeAttr("disabled");

                $("#li_ReasonDel").css("display", "block");
                $("#li_FileQD").css("display", "block");
            }
            else {
                $("#li_FileQD").css("display", "none");
                $("#li_ReasonDel").css("display", "none");
                $('#FileQDPath').attr('disabled', 'disabled');
                $('#reasonDel').attr('disabled', 'disabled');
            }
        });
    </script>
}
