﻿@using EInvoice.Core.Domain
@model Notification
@{
    ViewBag.Title = "Thông tin chi tiết cảnh báo";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header " style="text-align:center">
                <h3 class="box-title">Chi tiết </h3>
                <hr />
            </div>
            <div class="box-body">
                <section class="content form-horizontal">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="col-md-12 col-xs-12 col-sm-12">
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="text-align: left;">
                                        <b>Tiêu đề:</b>
                                    </label>
                                    <div class="col-md-10">
                                        @Model.Title
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="text-align: left;">
                                        <b>Tên khách hàng:</b>
                                    </label>
                                    <div class="col-md-10">
                                        @Model.CusName
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="text-align: left;">
                                        <b>Pattern:</b>
                                    </label>
                                    <div class="col-md-10">
                                        @Model.Pattern
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="text-align: left;">
                                        <b>Serial:</b>
                                    </label>
                                    <div class="col-md-10">
                                        @Model.Serial
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2" style="text-align: left;">
                                        <b>Ghi chú:</b>
                                    </label>
                                    <div class="col-md-10">
                                        @Model.Note
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="form-group">
                            <a href="/Notification/index" class="btn btn-primary btn-flat"><i class="fa fa-arrow-left margin-r-5"></i>@Resources.Einvoice.BtnBack</a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>
