﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@using EInvoice.Core
@model EInvoice.CAdmin.Models.NotificationModel
@{
    ViewBag.Title = "Danh sách cảnh báo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript" src="/Content/js/jquery.blockUI.js"></script>
    <script src="/Content/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
    <script src="/Content/js/date.js" type="text/javascript"></script>
    <script src="/Content/js/BrowserDetectShare.js"></script>
    <script src="~/Content/js/jquery.bpopup.min.js"></script>
    <script src="/Content/js/main.js"></script>    
    <script type="text/javascript" src="/Content/js/jquery.PrintArea.js"></script>

}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">DANH SÁCH CẢNH BÁO</h3>
                <hr />
            </div>
            <div class="box-body">
                <!-- /.box-header -->
                @*<form id="Searchform" method="post" action="/Customer/Index" class="form-inline">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-md-3" style="padding-left: 0">
                                <label style="font-weight: bold">@Resources.Einvoice.Cus_LblCusName:</label>
                                <input id="name" name="name" type="text" value="@Model.name" maxlength="200" class="form-control" style="width: 85%;" />
                            </div>
                            <div class="form-group col-md-3">
                                <label style="font-weight: bold">@Resources.Einvoice.Cus_LblCusCode:</label>
                                <input id="code" name="code" class="form-control" type="text" value="@Model.code" maxlength="20" style="width: 88%;" />
                            </div>
                            <div class="form-group col-md-3">
                                <button id="Submit1" type="submit" class="btn btn-primary btn-flat"><i class="glyphicon glyphicon-search"></i> Tìm kiếm</button>
                            </div>                           
                        </div>
                    </div>
                </form>*@
                <br />
                <div class="row">
                    <div class="col-sm-12 col-md-12">
                        <table id="example2" class="table table-bordered table-hover table-striped table-responsive have-action dataTable textTable" role="grid" aria-describedby="example2_info">
                            <thead class="textThead">
                                <tr role="row">
                                    <th class="col-lg-1 col-md-1">
                                        #
                                    </th>       
                                    <th class="col-lg-3 col-md-3">
                                        Tiêu đề
                                    </th>                                    
                                    <th class="col-lg-3 col-md-3">
                                        Tên khách hàng
                                    </th>
                                    <th class="col-lg-1 col-md-1">
                                        Pattern
                                    </th>
                                    <th class="col-lg-1 col-md-1">
                                        Serial
                                    </th>
                                    <th class="col-lg-1 col-md-1">
                                        Trạng thái
                                    </th>
                                    <th class="col-lg-1 col-md-1">
                                        Chi tiết
                                    </th>    
                                    <th class="col-lg-1 col-md-1">
                                        Xem
                                    </th>
                                    <th class="col-lg-1 col-md-1">
                                        Xóa
                                    </th>                               
                                </tr>
                            </thead>
                            <tbody>
                                @{ var lstNotification = Model.PagedListNotification.ToList();
                                    int i = Model.PagedListNotification.PageIndex * Model.PagedListNotification.PageSize + 1;
                                }
                                @foreach (Notification item in lstNotification)
                                {
                                    <tr>
                                        <td align="center">@i</td>                                        
                                        @if (item.IsRead != 1)
                                        {
                                            <td style="font-weight: bold">@item.Title</td>
                                        }
                                        else
                                        {
                                            <td>@item.Title</td>
                                        }
                                        
                                        <td>@item.CusName</td> 
                                        <td>@item.Pattern</td>       
                                        <td>@item.Serial</td>                                             
                                        <td>@(item.IsRead == 1 ?  "Đã xem" : "Chưa xem" )</td>
                                        <td style="text-align: center">
                                            <a href="#" title="Chi tiết" onclick = "ajxCall('@AesUtil.Encrypt( new string[] { item.ObjectId.ToString()})', '@item.Pattern');">
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                            </a>
                                        </td>  
                                        <td style="text-align: center">
                                            <a href="/Notification/Detail/@item.id" title="Xem thông báo" >
                                                <span class="glyphicon glyphicon-eye-open"></span>
                                            </a>
                                        </td> 
                                        <td style="text-align: center">
                                            <a href="#" title="Xóa bỏ" onclick="OnDelete('@(item.id)', '@item.id')">
                                                <span class="glyphicon glyphicon-trash"></span>
                                            </a>
                                        </td>                                        
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-2">
                        <div class="pager row pull-right">
                            @Html.Pager(Model.PagedListNotification.PageSize, Model.PagedListNotification.PageIndex + 1, Model.PagedListNotification.TotalItemCount, new
                       {
                           action = "Index",
                           controller = "Notification"
                       })
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <!-- /.col -->
</div>

<div id="Content2" contentplaceholderid="MainContent">
    <script language="javascript" type="text/javascript">
        function OnDelete(id) {
            if (!confirm("Bạn có chắc chắn xóa thông báo này không?"))
                return;
            document.location = "/Notification/delete?id=" + id;
        }
    </script>
</div>
<link href="~/Content/grid.css" rel="stylesheet" />
