﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@model AIRPORTINVOICE
@{
    Layout = null;
    IInvoice inv = (IInvoice)ViewData["Data"];
    Company oCompany = (Company)ViewData["company"];
    EInvoice.Core.IService.IConfigService _Config = FX.Core.IoC.Resolve<EInvoice.Core.IService.IConfigService>();
    var DicEx = _Config.Query.Where(a => a.ComID == oCompany.id && a.Key.Contains("Extra_"));
    var Listvalue = Model.Extras.ToDictionary(x => x.Key, x => x.Value);
    List<string> taxCode = new List<string>();
    string temp = oCompany.TaxCode + " ";
    for (int i = 0; i < temp.Length; i++)
    {
        taxCode.Add(temp[i].ToString());
    }
    List<string> ser = (List<string>)ViewData["ser"];
    SelectList serSelect = new SelectList(ser);
    string hashValue = (string)ViewData["hashValue"];
}
<link rel="stylesheet" type="text/css" href="/Content/css/SharedFormElements.css" />
<link rel="stylesheet" type="text/css" href="/Content/css/grid.css" />
<link href="/Content/css/styleForm.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    .widget-header {
        margin-top: 3px;
    }

    .label {
        font-weight: normal;
        color: black;
        font-size: 13px;
        text-align: left;
    }

    input, select {
        min-height: 0px;
    }
</style>
@Html.Hidden("id", 0)
@Html.Hidden("ComID", Model.ComID)
@Html.Hidden("ComPhone", oCompany.Phone)
@Html.Hidden("ComBankName", oCompany.BankName)
@Html.Hidden("ComBankNo", oCompany.BankNumber)
@Html.Hidden("ComTaxCode", oCompany.TaxCode)
@Html.Hidden("PubDatasource")
@Html.Hidden("VatAmount0", Model.VatAmount0)
@Html.Hidden("VatAmount5", Model.VatAmount5)
@Html.Hidden("VatAmount10", Model.VatAmount10)
@Html.Hidden("GrossValue", Model.GrossValue)
@Html.Hidden("GrossValue0", Model.GrossValue0)
@Html.Hidden("GrossValue5", Model.GrossValue5)
@Html.Hidden("GrossValue10", Model.GrossValue10)
@Html.Hidden("NoInv", Model.No)
@Html.Hidden("SerialNo", Model.Serial)
@Html.Hidden("ComPhone", oCompany.Phone)
@Html.Hidden("CreateBy", HttpContext.Current.User.Identity.Name)
@Html.Hidden("Pattern", Model.Pattern)
@Html.Hidden("GrossValueNonTax", Model.GrossValueNonTax)
@Html.Hidden("DicExsource")
<input type="hidden" value=@hashValue id="hashValue" name="hashValue" />
<input type="hidden" value="" id="serialCertSign" name="serialCertSign" />
<input type="hidden" value="" id="signValue" name="signValue" />
<div class="frm-header">
    <div class="left">
        <div class="line">
            <div class="label w120">
                @Html.LabelFor(m => m.Name, labelText: Resources.Einvoice.MInv_LblNameInv)
            </div>
            <div class="control">
                @Html.TextBoxFor(m => m.Name, new { @class = "required textc", maxlength = "150" })
            </div>
        </div>
        <div class="line">
            <div class="label w120">
                @Html.LabelFor(m => m.ComTaxCode, Resources.Einvoice.MInv_LblComTaxcode)
            </div>
            <div class="control">
                @{int _taxindex = 0;
                    int[] space = new[] { 2, 10, 13 };
                }
                @foreach (var tax in taxCode)
                {
                    <span class="mst @Html.Raw(space.Contains(_taxindex) ? " ml3" : "nbl")">
                        @Html.Raw(String.IsNullOrEmpty(tax.Trim()) ? "&nbsp" : tax)
                    </span>
                    @*@Html.Raw(String.IsNullOrEmpty(tax.Trim()) ? "&nbsp" : tax)*@
                    _taxindex++;
                }
            </div>
        </div>
        <div class="line">
            <div class="label w120">
                @Html.LabelFor(m => m.ComName, labelText: Resources.Einvoice.MInv_LblComName)
            </div>
            <div class="control">
                @Html.TextBox("ComName", oCompany.Name, new { @readonly = "readonly", @tabindex = -1, maxlength = "200" })
            </div>
        </div>
    </div>
    <div class="right">
        <div class="line">
            <div class="label w90">
                @Html.LabelFor(m => m.Pattern, labelText: Resources.Einvoice.MInv_LblPattern)
            </div>
            <div class="control">
                @Html.TextBox("mPattern", Model.Pattern, new { @readonly = "readonly", @tabindex = -1, maxlength = "50" })
            </div>
        </div>
        <div class="line">
            <div class="label imp w90">
                @Html.LabelFor(m => m.Serial, labelText: Resources.Einvoice.MInv_LblSerial)
            </div>
            <div class="control">
                @Html.DropDownListFor(m => m.Serial, serSelect, "-- Chọn --", new { @class = "required" })
            </div>
        </div>
        <div class="line">
            <div class="label w90">
                @Html.LabelFor(m => m.No, labelText: Resources.Einvoice.MInv_lblNo)
            </div>
            <div class="control">
                @Html.TextBox("No", "0000000", new { @readonly = "readonly", @tabindex = -1, maxlength = "7" })
            </div>
        </div>
    </div>
</div>

<div class="line">
    <div class="label w120">
        @Html.LabelFor(m => m.ComAddress, labelText: Resources.Einvoice.MInv_LblAddress)
    </div>
    <div class="control">
        @Html.TextBox("ComAddress", oCompany.Address, new { maxlength = "200", @readonly = "readonly" })
    </div>
</div>
<div class="line">
    <div class="label">
        @Html.LabelFor(m => m.Buyer, labelText: Resources.Einvoice.MInv_LblBuyer)
    </div>
    <div class="control">
        @Html.TextBoxFor(m => m.Buyer, new { maxlength = "240" })
    </div>
</div>
<div class="left w70p">
    <div class="line">
        <div class="label">@Html.LabelFor(m => m.CusName, labelText: Resources.Einvoice.MInv_LblCompanyName)</div>
        <div class="control">@Html.TextBoxFor(m => m.CusName, new { maxlength = "150" })</div>
    </div>
</div>
<div class="right">
    <div class="line">
        <div class="label w80">
            @Html.LabelFor(m => m.CusTaxCode, labelText: Resources.Einvoice.MInv_LblCusTaxCode)
        </div>
        <div class="control">
            @Html.TextBox("CusTaxCode", Model.CusTaxCode, new { @maxlength = 14, @class = "formatTaxCode" })
        </div>
    </div>
</div>
@if (WSHelper.Instance.CheckResourceCode(oCompany))
            {
    <div class="line">
        <div class="label w120">
            @Html.LabelFor(m => m.ResourceCode, "Trung tâm")
        </div>
        <div class="control">
            @Html.TextBoxFor(m => m.ResourceCode, new { maxlength = "20" })
        </div>
    </div>
}
<div class="line">
    <div class="label w120" id="lbCusAddress">
        @Html.LabelFor(m => m.CusAddress, labelText: Resources.Einvoice.MInv_LblAddress)
    </div>
    <div class="control">
        @Html.TextBox("CusAddress", Model.CusAddress, new { maxlength = "290" })
    </div>
</div>
<div class="left w50p" style="width: 25% !important">
    <div class="line">
        <div class="label w120">
            @Html.LabelFor(m => m.CusPhone, labelText: Resources.Einvoice.MInv_LblPhone)
        </div>
        <div class="control">
            @Html.TextBox("CusPhone", Model.CusPhone, new { @maxlength = 20 })
        </div>
    </div>
</div>
<div class="left" style="width: 45%">
    <div class="line">
        <div class="label w80">
            @Html.LabelFor(m => m.EmailDeliver, labelText: Resources.Einvoice.MInv_LblEmailDeliver)
        </div>
        <div class="control">
            @Html.TextBoxFor(m => m.EmailDeliver, new { @maxlength = 300 })
        </div>
    </div>
</div>
<div class="right">
    <div class="line">
        <div class="label w80">
            @Html.LabelFor(m => m.CusCode, labelText: Resources.Einvoice.MInv_lblCode)
        </div>
        <div class="control">
            @Html.TextBoxFor(m => m.CusCode, new { maxlength = "50" })
        </div>
    </div>
</div>
<div class="left w50p">
    <div class="line">
        <div class="label w120">
            @Html.LabelFor(m => m.CusBankNo, labelText: "Số tài khoản")
        </div>
        <div class="control">
            @Html.TextBoxFor(m => m.CusBankNo, new { @maxlength = 100 })
        </div>
    </div>
</div>
<div class="right">
    <div class="line">
        <div class="label w120">
            @Html.LabelFor(m => m.CusBankName, labelText: "Tên ngân hàng")
        </div>
        <div class="control">
            @Html.TextBoxFor(m => m.CusBankName, new { maxlength = "200" })
        </div>
    </div>
</div>
<div class="left w50p">
    <div class="line">
        <div class="label w120">
            @Html.LabelFor(m => m.ContNo, labelText: "Số công tơ")
        </div>
        <div class="control">
            @Html.TextBoxFor(m => m.ContNo, new { @maxlength = 100 })
        </div>
    </div>
</div>
<div class="right">
    <div class="line">
        <div class="label w120">
            @Html.LabelFor(m => m.ContractNumber, labelText: "Số hợp đồng")
        </div>
        <div class="control">
            @Html.TextBoxFor(m => m.ContractNumber, new { maxlength = "200" })
        </div>
    </div>
</div>
<div class="left w50p">
    <div class="line">
        <div class="label w120">
            @Html.LabelFor(m => m.FromDate, labelText: "Từ ngày")
        </div>
        <div class="control">
            @Html.TextBoxFor(m => m.FromDate, new { @maxlength = 100 })
        </div>
    </div>
</div>
<div class="right">
    <div class="line">
        <div class="label w120">
            @Html.LabelFor(m => m.ToDate, labelText: "Đến ngày")
        </div>
        <div class="control">
            @Html.TextBoxFor(m => m.ToDate, new { maxlength = "200" })
        </div>
    </div>
</div>
<div class="line">
    <div class="label w120 imp">
        @Html.LabelFor(m => m.PaymentMethod, labelText: Resources.Einvoice.MInv_LblPayMethod)
    </div>
    <div class="control">
        @Html.DropDownListFor(m => m.PaymentMethod, new[]
     {
        new SelectListItem{Text=Resources.Einvoice.Minv_txtCashingPay, Value="TM", Selected= (Model.PaymentMethod == "TM")},
        new SelectListItem{Text=Resources.Einvoice.MInv_txtTransferPay, Value="CK",Selected= (Model.PaymentMethod == "CK")},
        new SelectListItem{Text=Resources.Einvoice.Minv_txtCreditCardPay, Value="TTD",Selected= (Model.PaymentMethod == "TTD")},
        new SelectListItem{Text="Hình thức HDDT", Value="HDDT",Selected= (Model.PaymentMethod == "HDDT")},
        new SelectListItem{Text=Resources.Einvoice.MInv_Minv_txtCashingPayAndTransferPay,Value="TM, CK",Selected=(Model.PaymentMethod=="TM, CK")},
        new SelectListItem{Text=Resources.Einvoice.MInv_txtClearingPay,Value="Bù trừ",Selected=(Model.PaymentMethod=="Bù trừ")}
        }, "-- Chọn hình thức thanh toán --", new { @class = "required" })
    </div>
</div>
<div class="line" style="display:none">
    <div class="label w120 imp">
        @Html.LabelFor(m => m.CurrencyUnit, labelText: "Loại tiền tệ  (Types of money)")
    </div>
    <div class="control">
        @Html.DropDownListFor(m => m.CurrencyUnit, new[]
     {
        new SelectListItem
        {
        Text="Việt Nam đồng", Value="VND",Selected= (Model.CurrencyUnit == "VND")
        },
        new SelectListItem
        {
        Text="Đô-la Mỹ", Value="USD",Selected= (Model.CurrencyUnit == "USD")
        }
        })
    </div>
</div>
<div class="left w50p" id="divTyGia">
    <div class="line">
        <div class="label w120" style="font-weight: bold">
            <div class="label w120 tyGia">
                <span>Tỷ giá 1 </span>
                <span id="moneySymbol"></span>
                <span>=:</span>
            </div>
        </div>
        <div class="control">
            @Html.TextBox("ExchangeRate", Model.ExchangeRate.ToString().Replace(",", "."), new { @class = "textr _number", @tabindex = -1, maxlength = "50", style = "width: 89%;" })
            <span style="font-weight: bold">VND.</span>
        </div>
    </div>
</div>
<div class="right" id="divTongTien">
    <div class="line">
        <div class="label w80">
            @Html.LabelFor(m => m.ExchangeRate, labelText: "Tổng tiền")
        </div>
        <div class="control">
            @Html.TextBox("ConvertedAmount", Model.ConvertedAmount.ToString().Replace(",", "."), new { maxlength = "50", @class = "textr _number", @readonly = "readonly" })
        </div>
    </div>
</div>
<div class="line">
    <div class="label">
        @Html.Label("FileUpload", "Biên bản hủy đính kèm")
    </div>
    <div class="control">
        <input type="file" name="FileUpload" id="_fleAttackment" accept=".doc,.docx,.pdf">
        <input type="text" id="_txtFile" maxlength="300" readonly="readonly" placeholder="Nhấn chuột vào đây để đính kèm biên bản hủy (doc, docx, pdf)..." />
    </div>
</div>

@{
    foreach (var item in DicEx)
    {

        var objSon = new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<EInvoice.CAdmin.Models.ExtraModel>(item.Value);
        string caseSwitch = objSon.DesignControl.Type;

        var listItems = new List<System.Web.UI.WebControls.ListItem>();
        string ClassCss = (objSon.DesignControl.Required ? "required " : "") + (objSon.DataType.Contains("decimal") ? "ANumber quantity textr _number" : "");

        switch (caseSwitch)
        {
            case "dropdown":
                string[] dropValues = objSon.DesignControl.Values.Split(',');
                string[] dropTexts = objSon.DesignControl.Texts.Split(',');
                for (int i = 0; i < dropValues.Count(); i++)
                {
                    listItems.Add(new System.Web.UI.WebControls.ListItem { Text = dropTexts[i], Value = dropValues[i] });

                }
                <div class="line">

                    <div class="label w120  @(objSon.DesignControl.Required ? "imp" : string.Empty)">
                        @Html.Label(item.Key, (string)objSon.DesignControl.Caption)
                    </div>
                    <div class="control">
                        @Html.DropDownList(item.Key, new SelectList(listItems, "Value", "Text", Listvalue.ContainsKey(item.Key) ? Listvalue[item.Key] : string.Empty), (string)objSon.DesignControl.DisplayDefault, objSon.DesignControl.Required ? (object)new { @style = "width:327px;", @class = "required" } : new { @style = "width:327px;" })
                    </div>
                </div>
                break;
            case "textbox":
                <div class="line">
                    <div class="label w120  @(objSon.DesignControl.Required ? "imp" : string.Empty)">
                        @Html.Label(item.Key, (string)objSon.DesignControl.Caption)
                    </div>
                    <div class="control">
                        @Html.TextBox(item.Key, Listvalue.ContainsKey(item.Key) ? Listvalue[item.Key] : string.Empty, (object)new { maxlength = "500", @class = ClassCss })
                    </div>
                </div>
                break;
            case "richtext":
                <div class="line">

                    <div class="label w120  @(objSon.DesignControl.Required ? "imp" : string.Empty)">
                        @Html.Label(item.Key, (string)objSon.DesignControl.Caption)
                    </div>
                    <div class="control">

                        @Html.TextArea(item.Key, Listvalue.ContainsKey(item.Key) ? Listvalue[item.Key] : string.Empty, objSon.DesignControl.Required ? (object)new { maxlength = "500", @class = "required" } : new { maxlength = "500" })
                    </div>
                </div>
                break;
            case "checkbox":
                <div class="line">
                    <div class="label @(objSon.DesignControl.Required ? "imp" : Listvalue.ContainsKey(item.Key) ? Listvalue[item.Key] : string.Empty)">
                        @Html.Label(item.Key, (string)objSon.DesignControl.Caption)
                    </div>
                    <div class="control">
                        @Html.CheckBox(item.Key, Listvalue.ContainsKey(item.Key) ? bool.Parse(Listvalue[item.Key]) : false, new { @class = ClassCss })
                    </div>
                </div>
                break;
            default:
                break;
        }
    }
}
<div class="line">
    <table class="products">
        <thead>
            <tr>
                <th style="width: 20px">
                    Xóa
                </th>
                <th style="width: 25px">
                    STT
                </th>
                <th style="width: 50px">Chỉ số cũ</th>
                <th style="width: 50px">Chỉ số mới</th>
                <th class="np">
                    Sản lượng tiêu thụ
                </th>
                <th style="width: 90px">
                    Đơn vị tính (Unit)
                </th>
                <th style="width: 70px">
                    Số lượng (Quantity)
                </th>
                <th style="width: 90px">
                    Đơn giá (Price)
                </th>
                <th style="width: 100px">
                    Thành tiền (Amount) VNĐ
                </th>
                <th style="width: 50px">
                    Không tính tiền
                </th>
            </tr>
        </thead>
        <tbody>

            @{int index = 1; }
            @foreach (var product in Model.ProductList)
            {
                <tr>
                    <td class="delr"></td>
                    <td class="center">
                        @index
                    </td>
                    <td>
                        <input type="text" value="@(product.Extra1)" class="extra1" maxlength="500" />
                    </td>
                    <td>
                        <input type="text" value="@(product.Extra2)" class="extra2" maxlength="500" />
                    </td>
                    <td>
                        <input type="text" value="@product.Name" class="name" maxlength="500" />
                    </td>
                    <td>
                        <input type="text" value="@product.Unit" class="unit" maxlength="50" />
                    </td>
                    <td>
                        @{
                            var quantity = "";
                            if (product.Quantity == 0)
                            {

                            }
                            else
                            {
                                quantity = product.Quantity.ToString().Replace(".", ",");
                            }

                        }
                        <input type="text" value="@quantity" class="quantity textr _number" maxlength="18" />
                    </td>
                    <td>
                        @{
                            var price = "";
                            if (product.Price != 0)
                            {
                                price = product.Price.ToString().Replace(".", ",");
                            }
                        }
                        <input type="text" value="@price" class="price textr _number" maxlength="18" />
                    </td>
                    <td>
                        <input type="text" value="@product.Total.ToString().Replace(" .", "," )" class="amount textr _number"
                               maxlength="18" />
                    </td>
                    <td class="center">
                        <input type="checkbox" class="issum" value="false" @(product.IsSum == 1 ? "checked=checked" : "") />
                        <input type='hidden' class='VATRate _number' value="@product.VATRate" />
                        <input type='hidden' class='Code' value="@product.Code" />
                    </td>
                </tr>
                                index++;
                            }
            @for (int i = index; i <= 10; i++)
            {
                <tr>
                    <td class="delr"></td>
                    <td class="center">
                        @i
                    </td>
                    <td>
                        <input type="text" class="extra1" maxlength="500" />
                    </td>
                    <td>
                        <input type="text" class="extra2" maxlength="500" />
                    </td>
                    <td>
                        <input type="text" class="name" maxlength="500" />
                    </td>
                    <td>
                        <input type="text" class="unit" maxlength="50" />
                    </td>
                    <td>
                        <input type="text" class="quantity textr _number" maxlength="18" />
                    </td>
                    <td>
                        <input type="text" class="price textr _number" maxlength="18" />
                    </td>
                    <td>
                        <input type="text" class="amount textr _number" maxlength="18" />
                    </td>
                    <td class="center">
                        <input type="checkbox" class="issum" />
                        <input type='hidden' class='VATRate _number' value="" />
                        <input type='hidden' class='Code' value="" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="left w60p">
    <div class="line null">
    </div>
    <div class="line">
        <div class="label push-60">
            @Html.LabelFor(m => m.VATRate, labelText: Resources.Einvoice.MInv_LblVATRate)
        </div>
        <div class="control">
            @Html.DropDownList("VATRate", new[]
            {
            new SelectListItem{Text=Resources.Einvoice.MInv_TxtNotVATRate, Value="-1",Selected= (Model.GrossValue >0)},
            new SelectListItem{Text="Không kê khai và nộp thuế", Value="-2",Selected= (Model.GrossValueNonTax >0)},
            new SelectListItem{Text="0% ", Value="0", Selected= (Model.GrossValue0>0)},
            new SelectListItem{Text="5%", Value="5",Selected= (Model.GrossValue5>0)},
            new SelectListItem{Text="10%", Value="10",Selected= (Model.GrossValue10>0)},
            }, new { @class = "class", title = "Cần chọn!" })
        </div>
    </div>
    <div class="line null">
    </div>
</div>
<div class="right">
    <div class="line">
        <div class="label w180">
            @Html.LabelFor(m => m.Total, labelText: Resources.Einvoice.MInv_lblTotalService)
        </div>
        <div class="control">
            @Html.TextBox("Total", Model.Total.ToString().Replace(".", ","), new { @class = "textr _number groupTotal", @tabindex = -1 })
        </div>
    </div>
    <div class="line">
        <div class="label w180">
            @Html.LabelFor(m => m.VATAmount, labelText: Resources.Einvoice.MInv_LblVATAmount)
        </div>
        <div class="control">
            @Html.TextBox("VATAmount", Model.VATAmount.ToString().Replace(".", ","), new { @class = "textr _number groupTotal", @tabindex = -1 })
        </div>
    </div>
    <div class="line">
        <div class="label w180">
            @Html.LabelFor(m => m.Amount, labelText: Resources.Einvoice.MInv_Amount)
        </div>
        <div class="control">
            @Html.TextBox("Amount", Model.Amount.ToString().Replace(".", ","), new { @class = "textr _number groupTotal", @tabindex = -1 })
        </div>
    </div>
</div>
<div class="line">
    <div class="label w120">
        @Html.LabelFor(m => m.AmountInWords, Resources.Einvoice.MInv_LblAmountInWords)
    </div>
    <div class="control">
        @Html.TextBoxFor(m => m.AmountInWords, new { @maxlength = "200" })
    </div>
</div>
<div class="line last">
    <div class="label">
        <b style="float: left">Đã thanh toán;còn phải thanh toán: </b>
    </div>
    <div class="control">
        @Html.TextBox("Extra", Model.Extra, new { @style = "width:720px;margin-left:10px ", @maxlength = "50" })
    </div>
</div>
<div id="searchAutocomplete"></div>

<script type="text/javascript" src="/Content/js/Share.js"></script>
<script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
<script src="/Content/js/Common.js" type="text/javascript"></script>
@*<script src="/Content/js/InvVAT.js" type="text/javascript"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        // trong file common
        typeCurrency = $("#CurrencyUnit").val();
        searchCusName();
        searchCodeCus();
        bindEvents2Table();
        changeVAT();
        $('#CusAddress').keyup(function () {
            checkTextMaxLength(this);
        });
        $('input[type=text]:first').focus();
        //$('#CusTaxCode').ForceNumericOnly();
        /// Thay đổi tiền thuế
        $('#Total').change(function () {
            readAfterAmountChanged();
        });
        $('#VATAmount').change(function () {
            readAfterAmountChanged();
        });
        checkTaxCode();
        $('.formatTaxCode').formatTaxCode();
        loadCurrencyUnit();
        changeCurrencyUnit();
        changeExchangeRate();
        $("#moneySymbol")[0].innerHTML = typeCurrency;
    });

    //--- Thêm điều hướng cho table
    this.typeCurrency = "";
    this.dieuHuong = function () {
        $('table.products tbody input').bind('keydown.nav', function (e) {
            var _post = 0;
            if (!$(this).is(':checkbox')) {
                _post = this.selectionStart;
            }
            var _start = 0, _end = $(this).val().length;

            var _cindex = $(this).parents('td:first').index();
            var _rindex = $(this).parents('tr:first').index();


            if (e.which == 13 || e.keyCode == 13) {
                return false;
            }

            if (!$(this).data('autocomplete_on')) {
                switch (e.which || e.keyCode) {
                    case 37: // left
                        if ($(this).is(':checkbox') || !$(this).val() || (!$(this).is(':checkbox') && _post <= _start)) {
                            var _leftrow = $('table.products tbody').children('tr:nth-child(' + (_rindex + 1) + ')');
                            var _leftcol = $(_leftrow).children('td:nth-child(' + (_cindex) + ')');
                            var _cellfocus = _leftcol.children('input:first').focus();
                            if (_cellfocus.length > 0) {
                                $(this).trigger('change').trigger('blur');
                            }
                            return false;
                        }
                        break;
                    case 38: // up
                        var _uprow = $('table.products tbody').children('tr:nth-child(' + (_rindex) + ')');
                        var _upcol = $(_uprow).children('td:nth-child(' + (_cindex + 1) + ')');
                        var _cellfocus = _upcol.children('input:first').focus();
                        if (_cellfocus.length > 0) {
                            $(this).trigger('change').trigger('blur');
                        }
                        return false;
                        break;
                    case 39: // right
                        if ($(this).is(':checkbox') || !$(this).val() || (!$(this).is(':checkbox') && _post >= _end)) {
                            var _rightrow = $('table.products tbody').children('tr:nth-child(' + (_rindex + 1) + ')');
                            var _rightcol = $(_rightrow).children('td:nth-child(' + (_cindex + 2) + ')');
                            var _cellfocus = _rightcol.children('input:first').focus();
                            if (_cellfocus.length > 0) {
                                $(this).trigger('change').trigger('blur');
                            }
                            return false;
                        }
                        break;
                    case 40: // down
                        var _downrow = $('table.products tbody').children('tr:nth-child(' + (_rindex + 2) + ')');
                        var _downcol = $(_downrow).children('td:nth-child(' + (_cindex + 1) + ')');
                        var _cellfocus = _downcol.children('input:first').focus();
                        if (_cellfocus.length > 0) {
                            $(this).trigger('change').trigger('blur');
                        }
                        return false;
                        break;
                }
            }
        });
    }
    //--- /Thêm điều hướng cho table

    //---xác định vị trí con trỏ chuột --> để làm gì ?
    //new function ($) {
    //    $.fn.getCursorPosition = function () {
    //        var pos = 0;
    //        var el = $(this).get(0);
    //        // IE Support
    //        if (document.selection) {
    //            el.focus();
    //            var Sel = document.selection.createRange();
    //            var SelLength = document.selection.createRange().text.length;
    //            Sel.moveStart('character', -el.value.length);
    //            pos = Sel.text.length - SelLength;
    //        }
    //            // Firefox support
    //        else if (el.selectionStart || el.selectionStart == '0')
    //            pos = el.selectionStart;
    //        return pos;
    //    }
    //}(jQuery);
    //---/xác định vị trí con trỏ chuột

    //--- Validate Check Mã số thuế
    this.checkTaxCode = function () {
        $('#CusTaxCode').blur(function () {
            var _this = $(this);
            $('#errorTaxCode').remove();
            if (_this.val()) {
                $.ajax({
                    type: "POST",
                    url: "/Company/checkMST/",
                    data: {
                        mst: $(this).val()
                    },
                    success: function (data) {
                        if (!data) {
                            _this.addClass('error').parent('.control').append('<label id="errorTaxCode" for="CusTaxCode" generated="true" class="error">Mã số thuế không hợp lệ</label>');
                            $('#CusTaxCode').focus();
                        }
                        else {
                            _this.removeClass('error');
                            $('#CusAddress').addClass("required");
                            $('#lbCusAddress').addClass("imp");
                        }
                    }
                });
            }
            else {
                _this.removeClass('error');
                $('#CusAddress').removeClass("required");
                $('#lbCusAddress').removeClass("imp");
            }
        });
    };
    //--- /Validate Check Mã số thuế
    this.submit = function () {
        //Extra_begin
        var lstDic = new Array();
        $("[id*='Extra_']").each(function (index, element) {
            if (element.type == "checkbox") lstDic.push({ key: element.name, value: element.checked });
            else
                lstDic.push({ key: element.name, value: element.value });
        });

        $("#DicExsource").val(JSON.stringify(lstDic))
        var cusName = $("#CusName").val().trim();
        var buyer = $("#Buyer").val().trim();
        if (cusName == "" && buyer == "") {
            alert("Cần nhập Tên đơn vị mua hoặc Người mua hàng!");
            return false;
        }
        //Extra_end
        var check = 0;
        $("#VatAmount0").val("0");
        $("#VatAmount5").val("0");
        $("#VatAmount10").val("0");
        $("#GrossValue").val("0");
        $("#GrossValue0").val("0");
        $("#GrossValue5").val("0");
        $("#GrossValue10").val("0");
        $("#GrossValue_NonTax").val("0");

        var _totalamount = parseFloat($("#Total").val().FormatNumUK());
        var _vatamount = parseFloat($("#VATAmount").val().FormatNumUK());
        var _vatrate = parseFloat($("#VATRate").val());
        if (_vatrate > 0) {
            if (_vatrate == 10) {
                $("#VatAmount10").val(_vatamount);
                $("#GrossValue10").val(_totalamount)
            }
            if (_vatrate == 5) {
                $("#VatAmount5").val(_vatamount);
                $("#GrossValue5").val(_totalamount)
            }
        } else {
            if (_vatrate == -1) {
                $("#GrossValue").val(_totalamount)
            };
            if (_vatrate == 0) {
                $("#VatAmount0").val("0");
                $("#GrossValue0").val(_totalamount)
            };
            if (_vatrate == -2) {
                $("#GrossValue_NonTax").val(_totalamount)
            };
        }
        //var _valid = $(this).parents("form:first").valid();
        //if (!_valid) {
        //    return false
        //}
        if ($("#errorTaxCode").length > 0) {
            $("#errorTaxCode").show();
            $("#CusTaxCode").addClass("error");
            if (!confirm("Xin lỗi, mã số thuế của khách hàng không đúng.\n- Bạn có muốn tiếp tục lưu hóa đơn không?")) {
                return false
            }
        }
        if ($("#Total").val().indexOf("-") >= 0) {
            alert("Xin lỗi, hóa đơn có giá trị âm [Tổng tiền hóa đơn], chưa thể phát sinh giao dịch.");
            return false
        }
        if ($('#Total').val().FormatNumUK() >= 20000000 && $('#PaymentMethod').val() != 'CK') {
            if (!confirm('Số tiền quá lớn, bạn nên thanh toán chuyển khoản.\n- Bạn có muốn tiếp tục lưu hóa đơn không?')) {
                return false;
            }
        }

        var _products = [];
        $("table.products tbody tr").each(function (i, row) {
            var _product = {};
            var _pExtra1 = $(row).find("input[type=text].extra1");
            var _pExtra2 = $(row).find("input[type=text].extra2");
            var _pName = $(row).find("input[type=text].name");
            var _pUnit = $(row).find("input[type=text].unit");
            var _pQuantity = $(row).find("input[type=text].quantity");
            var _pPrice = $(row).find("input[type=text].price");
            var _pAmount = $(row).find("input[type=text].amount");
            var _pIsSum = $(row).find("input[type=checkbox]:first");
            var _VATRate = $(row).find("input[type=hidden].VATRate:first");
            var _code = $(row).find("input[type=hidden].Code:first");
            if (_pAmount.val() || _pName.val()) {
                _product.ProdType = 1;
                _product.Extra1 = _pExtra1.val() || "";
                _product.Extra2 = _pExtra2.val() || "";
                _product.Name = _pName.val() || "";
                _product.Unit = _pUnit.val() || "";
                _product.Quantity = _pQuantity.val() || 0;
                _product.Price = _pPrice.val() || 0;
                _product.Total = _pAmount.val() || 0;
                _product.IsSum = _pIsSum.is(":checked");
                _product.VATRate = _VATRate.val();
                _product.Code = _code.val();
                if (parseFloat(_product.VATRate) < 0) {
                    _product.VATAmount = 0
                }
                else {
                    _product.VATAmount = (parseFloat(_product.VATRate) * parseFloat(_product.Total.FormatNumUK()) / 100).toFixed(2);
                };
                _product.Amount = (parseFloat(_product.VATAmount) + parseFloat(_product.Total.FormatNumUK())).toFixed(2);

                if (_product.Amount < 0) {
                    _product.Amount = _product.Amount * (-1)
                }
                if (_product.Amount != "" && _product.Name == "") {
                    check = 0;
                    _products.length = 0;
                    //alert("Xin lỗi, danh sách sản phẩm chưa có tên!")
                    return false
                }
                if ((_product.Amount.toString().length > 18 || _product.Amount.toString().indexOf("e") >= 0) || (_product.Price > 0 && (_product.Price.toString().length > 18 || _product.Price.toString().indexOf("e") >= 0)) || (_product.Quantity > 0 && (_product.Quantity.toString().length > 18 || _product.Quantity.toString().indexOf("e") >= 0))) {
                    check = 1;
                    _products.length = 0;
                    //alert("Xin lỗi, giá trị vượt quá 18 số hoặc có chưa kí e!")
                    return false
                }
                // chuyển về định dạng số của VN
                if (_product.VATAmount != 0)
                    _product.VATAmount = _product.VATAmount.FormatNumUK2VN();
                if (_product.Amount != 0)
                    _product.Amount = _product.Amount.FormatNumUK2VN();
                _products.push(_product)
            }
        });
        if (_products.length == 0) {
            if (check == 0) {
                alert("Xin lỗi, danh sách sản phẩm chưa có hoặc thông tin sản phẩm bị thiếu!")
            } else {
                alert("Xin lỗi, danh sách sản phẩm có chứa sản phẩm vượt quá giá trị cho phép của hóa đơn!")
            }
            return false
        }
        $("#PubDatasource").val(JSON.stringify(_products));
        $("input[type=text]._number").each(function (i, item) {
            var _val = $(this).val();
            $(this).val(_val.replaceAll('.', ''))
        });
    }
    /// Sự kiện tải thông tin khách hàng theo CusName
    this.searchCusName = function () {
        $("#CusName").autocomplete({
            focus: function (event, ui) { }, minLength: 1, select: function (event, ui) {
                $("#CusTaxCode").val(ui.item.TaxCode);
                $("#CusAddress").val(ui.item.Address);
                $("#CusPhone").val(ui.item.Phone);
                $("#CusCode").val(ui.item.Code);
                $("#EmailDeliver").val(ui.item.EmailDeliver);
            }, source: function (request, response) {
                $.ajax({
                    data: { searchText: request.term }, dataType: "JSON", success: function (data) {
                        response($.map(data, function (item) {
                            return { id: item.cusid, value: item.cusname, TaxCode: item.TaxCode, Address: item.Address, Phone: item.Phone, Code: item.Code, EmailDeliver: item.EmailDeliver }
                        }))
                    }, type: "POST", url: "/Customer/SeachByName"
                })
            },
            appendTo: "#searchAutocomplete",
            open: function () {
                var position = $(this).position(),
                left = position.left, top = position.top + 20;
                $("#searchAutocomplete > ul").css({
                    left: left + "px",
                    top: top + "px"
                });
            }
        }).change(function () {
            if (!$(this).val()) {
                $("#CusTaxCode").val("");
                $("#CusAddress").val("");
                $("#CusPhone").val("");
                $("#CusCode").val("");
                $("#EmailDeliver").val("");
            }
        });
    };
    this.searchCodeCus = function () {
        /// Sự kiện tải thông tin khách hàng theo CodeCus
        $("#CusCode").autocomplete({
            focus: function (event, ui) { }, minLength: 1, select: function (event, ui) {
                $("#CusTaxCode").val(ui.item.TaxCode);
                $("#CusAddress").val(ui.item.Address);
                $("#CusPhone").val(ui.item.Phone);
                $("#CusName").val(ui.item.cusname);
                $("#EmailDeliver").val(ui.item.EmailDeliver);
            }, source: function (request, response) {
                $.ajax({
                    data: { searchText: request.term }, dataType: "JSON", success: function (data) {
                        response($.map(data, function (item) {
                            return { id: item.cusid, value: item.Code, TaxCode: item.TaxCode, Address: item.Address, Phone: item.Phone, cusname: item.cusname, EmailDeliver: item.EmailDeliver }
                        }))
                    }, type: "POST", url: "/Customer/SeachByCusCode"
                })
            },
            appendTo: "#searchAutocomplete",
            open: function () {
                var position = $(this).position(),
                left = position.left, top = position.top + 20;
                $("#searchAutocomplete > ul").css({
                    left: left + "px",
                    top: top + "px"
                });
            }
        }).change(function () {
            if (!$(this).val()) {
                $("#CusTaxCode").val("");
                $("#CusAddress").val("");
                $("#CusPhone").val("");
                $("#CusName").val("");
                $("#EmailDeliver").val("");
            }
        });
    };
    //--- /Sự kiện tải thông tin khách hàng (auto input TaxCode, CusAddress, CusPhone, CusCode)
    /// Tải lại toàn bộ các sự kiện cho table
    this.bindEvents2Table = function () {

        $('table.products tbody input')
            .unbind() // gỡ các sự kiện
            .removeData(); // gỡ toàn bộ dữ liệu
        //fix version 1.10.2 autocomplete('destroy');
        $('table.products tbody').find("input").autocomplete();
        $('table.products tbody').find("input").autocomplete('destroy');
        formatTagInputNumber(typeCurrency);
        /// Nạp sự kiện xóa dòng cho các dòng
        $('table.products tbody tr').each(function (i, row) {
            var _del = $(row).children('td:first');
            $(_del).unbind().click(function () {
                if ($('table.products tbody tr').length > 2) {
                    if (confirm('Bạn có chắc chắn muốn xóa dòng sản phẩm này?')) {
                        $(row).remove();
                        $('table.products tbody tr').each(function (ii, rr) {
                            $(rr).children('td:nth-child(2)').text(ii + 1);
                        });
                        $('table.products tbody input.amount:first').trigger('change');
                    }
                }
            })
        });
        /// Sự kiện thay đổi số lượng
        //$('table.products tbody .quantity').change(function () {
        //    $(this).parents('tr:first').find('input.amount').trigger('change');
        //});

        /// Sự kiện thay đổi giá tiền
        $('table.products tbody .price').change(function () {
            $(this).parents('tr:first').find('input.amount').trigger('change');
        });

        /// Không tính tiền
        $('table.products tbody input[type=checkbox].issum').change(function () {
            if ($(this).is(':checked')) {
                $(this).parents('tr:first').find('input[type=checkbox].tax').removeAttr('checked').attr('disabled', 'disabled');
            } else {
                $(this).parents('tr:first').find('input[type=checkbox].tax').removeAttr('checked').removeAttr('disabled', 'disabled');
            }
            $(this).parents('tr:first').find('input.amount').trigger('change');
        });

        /// Tính thuế
        $('table.products tbody input[type=checkbox].tax').change(function () {
            $(this).parents('tr:first').find('input.amount').trigger('change');
        });

        /// Sự kiện thay đổi thành tiền
        $('table.products tbody .amount').change(function () {
            var _quantityVal = $(this).parents('tr:first').find('input.quantity').val().FormatNumUK();
            var _priceVal = $(this).parents('tr:first').find('input.price').val().FormatNumUK();
            var _quantity = parseFloat(_quantityVal || 0) || 0;
            var _price = parseFloat(_priceVal || 0) || 0;

            /// Cập nhật thành tiền
            /// Bắt sự kiện thành tiền để cập nhật tổng tiền
            if ((_quantity * _price == 0) && (_quantityVal != "" || _priceVal != "")) {
                $(this).val(0);
            }
            else if (_quantity * _price > 0) {
                $(this).val(parseFloat(_quantity * _price).format(0, 3, typeCurrency));
            }
            var _totalamount = 0;
            $('table.products tbody .amount').each(function (id, item) {
                var _val = $(item).val().FormatNumUK();
                /// Kiểm tra sản phẩm có tính tiền hay không?
                var _isSum = $(item).parents("tr:first").find('input[type=checkbox].issum');
                if (_val && !_isSum.is(':checked')) {
                    _totalamount += parseFloat(_val || 0);
                }
            });
            /// Tổng tiền chưa thuế
            _totalamount = Math.round(_totalamount * 100) / 100;
            $('#Total').val(_totalamount.format(0, 3, typeCurrency));
            /// Bắt sự kiện thay đổi % giá trị thuế
            $('#VATRate').trigger('change');
        });

        /// Tự động điền sản phẩm
        $('table.products tbody input.name')
            .data('autocomplete_on', false)
            .bind('autocompleteopen', function (event, ui) {
                $(this).data('autocomplete_on', true);
            })
            .bind('autocompleteclose', function (event, ui) {
                $(this).data('autocomplete_on', false);
            })
            .autocomplete({
                source: function (request, response) {
                    $.ajax(
                    {
                        type: "POST",
                        url: '/Product/SeachByName',
                        dataType: "JSON",
                        data: {
                            searchText: request.term
                        },
                        success: function (data) {
                            if (data === null) {
                                $(this).parents('tr:first').find('input.Code').val("");
                            }
                            response($.map(data, function (item) {
                                return {
                                    label: item.Name,
                                    Name: item.Name,
                                    Unit: item.Unit,
                                    Price: item.Price,
                                    Code: item.Code,
                                }
                            }));
                        } //,
                        //error: function (XMLHttpRequest, textStatus, errorThrown) {
                        //alert(textStatus);
                        //}
                    });
                },
                minLength: 1,
                select: function (event, ui) {
                    $(this).parents('tr:first').find('input.unit').val(ui.item.Unit);
                    $(this).parents('tr:first').find('input.code').val(ui.item.Code);
                    $(this).parents('tr:first').find('input.price').val(ui.item.Price).trigger('focusout');
                    if (event.which != 9 || event.keyCode != 9) {
                        $(this).parents('tr:first').find('input.quantity').focus();
                    } else {
                        $(this).parents('tr:first').find('input.unit').focus();
                    }
                    $(this).val(ui.item.Name).trigger('change');
                    return false;
                },
                appendTo: "#searchAutocomplete",
                open: function () {
                    var position = $(this).position(),
                    left = position.left, top = position.top + 20;
                    $("#searchAutocomplete > ul").css({
                        left: left + "px",
                        top: top + "px"
                    });
                }
            });
        // thêm điều hướng
        dieuHuong();
        // Nếu là dòng cuối cùng thì thêm dòng mới
        $('table.products tbody input:text').change(function () {
            var _this = $(this);
            var _rowsc = _this.parents('tbody').children('tr').length;
            if (_this.parents('tr:first').children('td:nth-child(2)').text() == _rowsc) {
                var _addable = false;
                _this.parents('tr:first').find('input:text').each(function (i, item) {
                    if ($(item).val()) {
                        _addable = true;
                    }
                });
                if (_addable) {
                    //--- edit CND 20170314
                    var _row = $('<tr><td class="delr"></td><td class="center">' + (_rowsc + 1) + '</td><td><input type="text" class="extra1" maxlength="500" /></td><td><input type="text" class="extra2" maxlength="500" /></td><td><input type="text" class="name" maxlength="200">' +
                                    '</td><td><input type="text" class="unit" maxlength="50"></td><td><input type="text" class="quantity textr _number"></td><td>' +
                                    '<input type="text" class="price textr _number"></td><td><input type="text" class="amount textr _number">' +
                                    '</td><td class="center"><input type="checkbox">' + "<input type='hidden' class='VATRate _number' value=" + $("#VATRate option:selected").text() + " />" + " <input type='hidden' class='code' value='' />" + "</td></tr>");
                    $('table.products tbody').append(_row);
                    // ---/edit CND 20170314
                    /// Bind lại toàn bộ sự kiện
                    bindEvents2Table();
                }
            }
        });
    };
    // ???
    new function ($) {
        $.fn.getCursorPosition = function () {
            var pos = 0;
            var el = $(this).get(0);
            if (document.selection) {
                el.focus();
                var Sel = document.selection.createRange();
                var SelLength = document.selection.createRange().text.length;
                Sel.moveStart("character", -el.value.length);
                pos = Sel.text.length - SelLength
            } else if (el.selectionStart || el.selectionStart == "0") pos = el.selectionStart;
            return pos
        }
    }(jQuery);
    // -- change Rate tax each item
    this.changeVAT = function () {
        $("#VATRate").change(function () {
            var _vatrate = parseInt($(this).val());
            setAmountInWords(_vatrate);
            var vatRate = $("#VATRate option:selected").val();
            for (var i = 0; i < $(".VATRate").length; i++) {
                $(".VATRate")[i].value = vatRate;
            };
            convertAmount();
        });
    };

    this.setAmountInWords = function (_vatrate) {
        if ($("#Total").val()) {
            var _totalamount = Math.round(parseFloat($("#Total").val().FormatNumUK()) * 100) / 100;
            var _vatamount = 0;
            if (typeCurrency == "VND") {
                _vatamount = Math.round(_totalamount / 100 * _vatrate);
            } else {
                if (typeCurrency == "USD") {
                    _vatamount = Math.round(parseFloat(_totalamount / 100 * _vatrate) * 100) / 100;
                }
            }
            var _amount = 0;
            if (_vatrate > 0) {
                $("#VATAmount").val(_vatamount.format(0, 3, typeCurrency));
                _amount = parseFloat(_totalamount + _vatamount)
            } else {
                $("#VATAmount").val("0");
                _amount = _totalamount
            }
            $("#Amount").val(_amount.format(0, 3, typeCurrency)).attr("value", _amount.format(0, 3, typeCurrency));
            $("#AmountInWords").val(parseFloat($('#Amount').val().FormatNumUK()).ReadNumber(typeCurrency));
        } else {
            $("#Amount").val(0).attr("value", 0);
            $("#AmountInWords").val("")
        }
    };
    // ---phần thêm tỷ giá tiền tệ
    this.loadCurrencyUnit = function () {
        var _kieuHd = $("#CurrencyUnit").val();
        if (_kieuHd == "VND") {
            document.getElementById("divTyGia").style.display = "none";
            document.getElementById("divTongTien").style.display = "none";
        } else if (_kieuHd == "USD") {
            document.getElementById("divTyGia").style.display = "block";
            document.getElementById("divTongTien").style.display = "block";
        }
    };
    this.changeCurrencyUnit = function () {
        $("#CurrencyUnit").change(function () {
            if ($(this).val() == "VND") {
                $("#ExchangeRate").val("");
                $("#ConvertedAmount").val("");
                document.getElementById("divTyGia").style.display = "none";
                document.getElementById("divTongTien").style.display = "none";
            } else if ($(this).val() == "USD") {
                document.getElementById("divTyGia").style.display = "block";
                document.getElementById("divTongTien").style.display = "block";
            };
            typeCurrency = $(this).val();
            formatTagInputNumber($(this).val());
            $("#VATRate").trigger("change");
            $("#moneySymbol")[0].innerHTML = $(this).val();
        });
    };
    this.changeExchangeRate = function () {
        $("#ExchangeRate").focusout(function () {
            convertAmount();
        });
    };
    this.convertAmount = function () {
        var _tyGia;
        var strTyGia = $("#ExchangeRate").val().FormatNumUK();
        if (strTyGia) {
            _tyGia = parseFloat(strTyGia);
        } else {
            _tyGia = 0;
        };
        if (($("#Amount").val() !== null) && (_tyGia >= 0) && $("#CurrencyUnit").val() == "USD") {
            var _amount = parseFloat($("#Amount").val().FormatNumUK());
            var _TongSoTien = parseFloat(_amount * _tyGia);
            //$("#TongSoTien").val(_TongSoTien).attr("value", _TongSoTien.format(0, 3));
            $("#ConvertedAmount").val(_TongSoTien.format(0, 3, "USD"));
        };
    };
    this.formatTagInputNumber = function (typeCurrency) {

        $("#ConvertedAmount").InitialMoneyUSD();
        $('table.products tbody input._number').unbind('focusout');
        $("#ExchangeRate").formatOnlyNumber();
        $('table.products tbody input._number')
           .each(function (i, item) {
               fnInitialFormatNumber(this);
               $(this).parents('tr:first').find('input.amount').trigger('change');
           }).ForceNumericOnly()
           .focus(function () {
               var _val = $(this).val();
               $(this).val(_val.replaceAll('.', ''));
           })
           .focusout(function () {
               fnFocusOut(this);
               $(this).parents('tr:first').find('input.amount').trigger('change');
           });
        $('table.list-bin-bottom tbody input._number').unbind('focusout');
        $('.groupTotal')
          .each(function (i, item) {
              fnInitialFormatNumber(this);
          }).ForceNumericOnly()
          .focus(function () {
              var _val = $(this).val();
              $(this).val(_val.replaceAll('.', ''));
          })
          .focusout(function () {
              fnFocusOut(this);
          });
    };

    // ---/phần thêm tỷ giá tiền tệ
    /// Sao chép event
    jQuery.event.copy = function (from, to) {
        from = from.jquery ? from : jQuery(from);
        to = to.jquery ? to : jQuery(to);

        var events = from[0].events || jQuery.data(from[0], "events") || jQuery._data(from[0], "events");
        if (!from.length || !to.length || !events) return;

        return to.each(function () {
            for (var type in events) {
                debugger;
                for (var handler in events[type])
                    jQuery.event.add(this, type, events[type][handler], events[type][handler].data);
            }
        });
    };

    this.readAfterAmountChanged = function () {
        var _totalamount = parseFloat($('#Total').val().FormatNumUK());
        var _vatamount = 0;
        if ($('#VATAmount').val()) {
            _vatamount = parseFloat($('#VATAmount').val().FormatNumUK());
        }
        var _amount = _totalamount + _vatamount;
        $('#Amount').val(_amount.format(2, 3, typeCurrency)).trigger('focusout');
        $('#AmountInWords').val((parseFloat($('#Amount').val().FormatNumUK()).ReadNumber(typeCurrency)));
    };
</script>
<script type="text/javascript">
    $(document).ready(function () {
        $(".ANumber").ForceNumericOnly();
        $(".ANumber").ForceNumericOnly();

        // Sự kiện chọn đường thu
        $('#ResourceCode').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/EInvoice/getResource",
                    type: 'POST',
                    data: {
                        key: request.term
                    },
                    success: function (returnData) {
                        response($.map(returnData, function (item) {
                            return {
                                value: item.Code,
                                label: item.Name
                            };
                        }));
                    }
                });
            },
            minLength: 3,
            select: function (event, ui) {
                $("#ResourceCode").val(ui.item.value);
            },
            appendTo: "#searchAutocompleteResource",
            open: function () {
                var position = $(this).position(),
                    left = position.left, top = position.top + 20;
                $("#searchAutocompleteResource > ul").css({
                    left: left + "px",
                    top: top + "px"
                });
            }

        });




        //        cutbyMaxlength('ComAddress', 200);
        //just remove function format number in input has class _number
        /// File đính kèm
        $('#_txtFile').click(function () {
            $('#_fleAttackment').trigger('click');
        }).keypress(function (e) {
            if (e.keyCode == 13 || e.which == 13) {
                $(this).trigger('click');
                return false;
            }
        });

        /// Hiển thị file đính kèm
        $('#_fleAttackment').change(function () {
            var _file = $(this)[0].files[0];
            if (_file) {
                var _extl = ['doc', 'docx', 'pdf'];
                var _ext = _file.name.substring(_file.name.lastIndexOf('.') + 1);
                if (_extl.indexOf(_ext) > -1) {
                    //5242880
                    if (this.files[0].size > 5242880) {
                        bootbox.alert({
                            buttons: {
                                ok: {
                                    label: 'Đồng ý'
                                }
                            },
                            title: "Thông báo",
                            message: "Dung lượng file phải nhỏ hơn 5MB!",
                            size: 'small',
                        });
                        $('#_txtFile').val('');
                    }
                    else
                    $('#_txtFile').val(_file.name);
                }
                else {
                    $(this).val('');
                    bootbox.alert({
                        buttons: {
                            ok: {
                                label: 'Đồng ý'
                            }
                        },
                        title: "Thông báo",
                        message: "Xin lỗi, định dạng file đính kèm không được chấp nhận.",
                        size: 'small',
                    });
                }

                


            } else {
                $('#_txtFile').val('');
            }
        });

        ///Thay đổi tổng cộng tiền thanh toán
        $('#Amount').change(function () {
            var _amountVal = parseFloat($(this).val().replaceAll('.', '').replaceAll(',', '.'));
            $('#AmountInWords').val(_amountVal.ReadNumber($('#CurrencyUnit option:selected').val()));
        });
        /// Thay đổi số tiền
        //$('#Total').change(function () {
        //    $('#VATAmount').trigger('change');
        //    //ABC
        //});
        //$('input[type=submit]').click(function () {
        //    //Extra_begin
        //    var lstDic = new Array();
        //    $("[id*='Extra_']").each(function (index, element) {
        //        if (element.type == "checkbox") lstDic.push({ key: element.name, value: element.checked });
        //        else
        //            lstDic.push({ key: element.name, value: element.value });
        //    });

        //    $("#DicExsource").val(JSON.stringify(lstDic))
        //    //Extra_end
        //    var cusName = $("#CusName").val().trim();
        //    var buyer = $("#Buyer").val().trim();
        //    if (cusName == "" && buyer == "") {
        //        alert("Cần nhập Tên đơn vị mua hoặc Người mua hàng!");
        //        return false;
        //    }
        //    var check = 0;
        //    $('#VatAmount0').val('0');
        //    $('#VatAmount5').val('0');
        //    $('#VatAmount10').val('0');
        //    $('#GrossValue').val('0');
        //    $('#GrossValue0').val('0');
        //    $('#GrossValue5').val('0');
        //    $('#GrossValue10').val('0');
        //    $("#GrossValueNonTax").val("0");
        //    var _totalamount = parseInt($('#Total').val().replaceAll(',', ''));
        //    var _vatamount = parseInt($('#VATAmount').val().replaceAll(',', ''));
        //    var _vatrate = parseInt($('#VATRate').val());
        //    if (_vatrate > 0) {
        //        if (_vatrate == 10) {
        //            $("#VatAmount10").val(_vatamount);
        //            $('#GrossValue10').val(_totalamount);
        //        }
        //        if (_vatrate == 5) {
        //            $("#VatAmount5").val(_vatamount);
        //            $('#GrossValue5').val(_totalamount);
        //        }
        //    }
        //    else {
        //        if (_vatrate == -1) {
        //            $("#GrossValue").val(_totalamount)
        //        };
        //        if (_vatrate == 0) {
        //            $("#VatAmount0").val("0");
        //            $("#GrossValue0").val(_totalamount)
        //        };
        //        if (_vatrate == -2) {
        //            $("#GrossValueNonTax").val(_totalamount)
        //        };
        //    }
        //    /// Validate form
        //    var _valid = $(this).parents('form:first').valid();
        //    if (!_valid) {
        //        return false;
        //    }

        //    /// Nếu mã số thuế không đúng, không cho submitform
        //    if ($('#errorTaxCode').length > 0) {
        //        $('#errorTaxCode').show();
        //        $('#CusTaxCode').addClass('error');

        //        if (!confirm('Xin lỗi, mã số thuế của khách hàng không chuẩn.\n- Bạn có muốn tiếp tục lưu hóa đơn không?')) {
        //            return false;
        //        }
        //    }
        //    if ($("#Total").val().indexOf("-") >= 0) {
        //        alert("Xin lỗi, hóa đơn có giá trị âm [Tổng tiền hóa đơn], chưa thể phát sinh giao dịch.");
        //        return false
        //    }
        //    if ($('#Total').val().FormatNumUK() >= 20000000 && $('#PaymentMethod').val() != 'CK') {
        //        if (!confirm('Số tiền quá lớn, bạn nên thanh toán chuyển khoản.\n- Bạn có muốn tiếp tục lưu hóa đơn không?')) {
        //            return false;
        //        }
        //    }
        //    var _products = [];

        //    /// Lấy danh sách sản phẩm
        //    $('table.products tbody tr').each(function (i, row) {
        //        var _product = {};

        //        var _pName = $(row).find('input[type=text].name');
        //        var _pUnit = $(row).find('input[type=text].unit');
        //        var _pQuantity = $(row).find('input[type=text].quantity');
        //        var _pPrice = $(row).find('input[type=text].price');
        //        var _pAmount = $(row).find('input[type=text].amount');
        //        var _pIsSum = $(row).find('input[type=checkbox]:first');
        //        var _VATRate = $(row).find("input[type=hidden].VATRate:first");
        //        var _code = $(row).find("input[type=hidden].Code:first");
        //        if (_pAmount.val() || _pName.val()) {
        //            _product.ProdType = 1;
        //            _product.Name = _pName.val() || '';
        //            _product.Unit = _pUnit.val() || '';
        //            _product.Quantity = _pQuantity.val() || 0;
        //            _product.Price = _pPrice.val() || 0;
        //            _product.Total = _pAmount.val() || 0;
        //            _product.IsSum = _pIsSum.is(':checked');
        //            _product.VATRate = _VATRate.val();
        //            _product.Code = _code.val();
        //            if (parseFloat(_product.VATRate) < 0) {
        //                _product.VATAmount = 0
        //            } else {
        //                _product.VATAmount = (parseFloat(_product.VATRate) * parseFloat(_product.Total.FormatNumUK()) / 100).toFixed(2);

        //            };
        //            _product.Amount = (parseFloat(_product.VATAmount) + parseFloat(_product.Total.FormatNumUK())).toFixed(2);
        //            if (_product.Amount < 0) {
        //                _product.Amount = _product.Amount * (-1)
        //            }
        //            if (_product.Amount != "" && _product.Name == "") {
        //                check = 0;
        //                _products.length = 0;
        //                alert("Xin lỗi, danh sách sản phẩm chưa có tên!")
        //                return false
        //            }
        //            if ((_product.Amount.toString().length > 18 || _product.Amount.toString().indexOf("e") >= 0) || (_product.Price > 0 && (_product.Price.toString().length > 18 || _product.Price.toString().indexOf("e") >= 0)) || (_product.Quantity > 0 && (_product.Quantity.toString().length > 18 || _product.Quantity.toString().indexOf("e") >= 0))) {
        //                check = 1;
        //                _products.length = 0;
        //                alert("Xin lỗi, giá trị vượt quá 18 số hoặc có chưa kí e!")
        //                return false
        //            };
        //            // chuyển về định dạng số của VN
        //            if (_product.VATAmount != 0)
        //                _product.VATAmount = _product.VATAmount.FormatNumUK2VN();
        //            if (_product.Amount != 0)
        //                _product.Amount = _product.Amount.FormatNumUK2VN();
        //            _products.push(_product);
        //        }

        //    });
        //    if (_products.length == 0) {
        //        if (check == 0) {
        //            alert("Xin lỗi, danh sách sản phẩm chưa có hoặc thông tin sản phẩm bị thiếu!")
        //        } else {
        //            alert("Xin lỗi, danh sách sản phẩm có chứa sản phẩm vượt quá giá trị cho phép của hóa đơn!")
        //        }
        //        return false
        //    }

        //    //if (!$('#Total').val() || $('#Total').val() == '0') {
        //    //    if (!confirm('Xin lỗi, hóa đơn chưa có giá trị [Tổng tiền hóa đơn].\n- Bạn có muốn tiếp tục lưu hóa đơn không?')) {
        //    //        return false;
        //    //    }
        //    //}

        //    if ($('#VATAmount').val().toString().indexOf('-') >= 0 || $('#Total').val().toString().indexOf('-') >= 0 || $('#Amount').val().toString().indexOf('-') >= 0) {
        //        var r = confirm("Hóa đơn có giá trị [Cộng tiền dịch vụ] hoặc [Tiền thuế] hoặc [Tổng cộng tiền thanh toán] âm , bạn có muốn tiếp tục ?");
        //        if (r == true) {
        //        } else {
        //            return false;
        //        }
        //    }
        //    //Kiểm tra các giá trị âm
        //    if ($('#CusName').val() && $('#PaymentMethod').val()) {
        //        if ($('#VATAmount').val().toString().indexOf('-') >= 0) {
        //            var _vatAmount = $('#VATAmount').val() * (-1);
        //            $('#VATAmount').val(_vatAmount)
        //        }
        //        if ($('#Total').val().toString().indexOf('-') >= 0) {
        //            var _total = $('#Total').val() * (-1);
        //            $('#Total').val(_total)
        //        }
        //        if ($('#Amount').val().toString().indexOf('-') >= 0) {
        //            var _amount = $('#Amount').val() * (-1);
        //            $('#Amount').val(_amount)
        //        }
        //    }
        //    $('#PubDatasource').val(JSON.stringify(_products));
        //    /// Chuyển định dạng số về dạng hệ thống chấp nhận
        //    $('input[type=text]._number').each(function (i, item) {
        //        var _val = $(this).val();
        //        $(this).val(_val.replaceAll('.', ''));
        //    });
        //});
    });
    window.onload = function () {
        var hash = $('#hashValue').val();
        if (hash != "" && hash != undefined) {
            signArrDataAdvanced(hash);
        }
    }
</script>