﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@model IInvoice
@{
    ViewBag.Title = "Điều chỉnh hóa đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">@Resources.Einvoice.MInv_lblInputDetailInfomationInvoice</h3>
                <hr />
            </div>
            <div class="box-body">
                @using (Html.BeginForm("CreateAdJustInvWithToken", "AdJust", FormMethod.Post, new { enctype = "multipart/form-data", id = "myform" }))
                {
                    @Html.Hidden("type", ViewData["type"]);
                    Html.RenderPartial("ACVGTGTShareElement", Model);
                    <div class="box-footer">
                        <div class="row">
                            <center>
                                <input type="submit" class="btn btn-primary btn-flat" value="@Resources.Einvoice.BtnEdit" />
                                <input type="button" class="btn btn-primary btn-flat btn-cancel" value="@Resources.Einvoice.BtnBack" onclick="document.location = '/AdJust/SearchAdJustInv'" />
                            </center>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/Content/js/jquery.blockUI.js"></script>

