﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@model AdjustInvoiceModel
@{
    ViewBag.Title = "Điều chỉnh hóa đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
<script src="/Content/js/main.js"></script>
    }
@section styles{
    <style>
        #MailList {
            text-align: center;
            color: black !important;
        }

        #container th {
            text-align: center;
        }

        h2 {
            font-family: none !important;
        }

        .labelFix {
            font-weight: 700 !important;
            color: black !important;
            font-size: 13px !important;
        }

        .left-align {
            text-align: left;
        }

        #imgCancel {
            width: 100% !important;
            height: 100% !important;
        }

        .input-date {
            border-bottom: none !important;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
    }
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">Danh sách hóa đơn điều chỉnh</h3>
                <hr />
            </div>
            <div class="box-body">
                @using (Html.BeginForm("AdjustInvIndex", "AdJust", FormMethod.Get, new { @name = "searchForm", @class = "form-horizontal", id = "Searchform" }))
                {
                    Html.RenderPartial("IndexShareElement", Model);
                }
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pager row pull-right">
                        @Html.Pager(Model.PageListAdjustSearch.PageSize, Model.PageListAdjustSearch.PageIndex + 1, Model.PageListAdjustSearch.TotalItemCount, new
                       {
                           action = "AdjustInvIndex",
                           controller = "Adjust",
                           Pattern = Model.pattern,
                           Serial = Model.Serial,
                           nameCus = Model.nameCus,
                           code = Model.code,
                           CodeTax = Model.CodeTax,
                           FromDate = Model.FromDate,
                           ToDate = Model.ToDate,
                           InvNo = Model.InvNo,
                       })
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>



