﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@using EInvoice.Core
@model AdjustInvoiceModel
@{
    SelectList opattern = Model.lstPattern;
    SelectList oSerial = Model.lstSerial;
    string labNo=  ViewData["Title1"].ToString();
    labNo = "Số " + labNo.ToLower();
    string typeView = ViewData["TypeView"].ToString();
}
<script src="/Content/js/jquery.bpopup.min.js"></script>
<script type="text/javascript" src="/Content/js/Share.js"></script>
<script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
<script src="/Content/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
<script src="/Content/js/date.js" type="text/javascript"></script>
<script src="/Content/js/BrowserDetectShare.js"></script>
<script src="/Content/js/jquery.pajinate.js"></script>
<script type="text/javascript" src="/Content/js/jquery.PrintArea.js"></script>
<div class="col-sm-5 col-sm-offset-1">
    <div class="form-group">
        <label class="col-sm-5 control-label labelFix" style="text-align: left">@Resources.Einvoice.MInv_LblPattern:</label>
        <div class="col-sm-7">
            @Html.DropDownList("Pattern", opattern, new { @name = "Pattern", @class = "form-control form-control-sm", onchange = "$('form:first').submit()" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-6 control-label labelFix" style="text-align: left; width: 192px">@labNo:</label>
        <div class="col-sm-7">
            @Html.TextBox("InvNo", Model.InvNo, new { @class = "form-control form-control-sm", maxlength = "7", onkeypress = "return keypress(event);" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label labelFix" style="text-align: left">@Resources.Einvoice.MInv_LblFromTo:</label>
        <div class="col-sm-7">
            @Html.TextBox("FromDate", Model.FromDate, new { @style = "width: 83%;", @class = "datepicker vietnameseDate", onchange = "getHiddenValue()" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label labelFix" style="text-align: left">@Resources.Einvoice.MInv_LblCusCode:</label>
        <div class="col-sm-7">
            @Html.TextBox("code", Model.code, new { maxlength = "20", @class = "form-control form-control-sm searchText" })
        </div>
    </div>
</div>
<div class="col-sm-5" style="margin-left: 20px">
    <div class="form-group">
        <label class="col-sm-5 control-label labelFix" style="text-align: left">@Resources.Einvoice.MInv_LblSerial:</label>
        <div class="col-sm-7">
            @Html.DropDownList("Serial", oSerial, new { @name = "Serial", @class = "form-control form-control-sm", @onchange = "document.form.submit();" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label labelFix" style="text-align: left">@Resources.Einvoice.MInv_LblTaxCode:</label>
        <div class="col-sm-7">
            @Html.TextBox("CodeTax", Model.CodeTax, new { maxlength = "20", @class = "form-control form-control-sm searchText" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label labelFix" style="text-align: left">@Resources.Einvoice.MInv_LblToDate:</label>
        <div class="col-sm-7">
            @Html.TextBox("ToDate", Model.ToDate, new { @class = "datepicker vietnameseDate", @style = "width: 83%;", onchange = "getHiddenValue()" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-5 control-label labelFix" style="text-align: left">@Resources.Einvoice.MInv_LblCusName:</label>
        <div class="col-sm-7">
            @Html.TextBox("nameCus", Model.nameCus, new { @class = "form-control form-control-sm searchText", maxlength = "200" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8"></div>
    <div class="col-sm-2" style="padding-right: 0"><input class="btn btn-primary btn-flat pull-right" id="Submit1" type="submit" value="@Resources.Einvoice.BtnSeach" /></div>
    <div class="col-sm-2"></div>
</div>

<div class="statics">
    <table id="MailList" style="width: 100%; margin-top: 15px; min-width: 800px" class="table table-bordered table-hover table-striped table-responsive have-action dataTable textTable">
        <thead>
            <tr>
                <th rowspan="2">
                    @Resources.Einvoice.lblNo
                </th>
                <th colspan="5" style="color: Red">
                    @ViewData["Title1"]
                </th>
                <th colspan="4" style="color: Blue">
                    @ViewData["Title2"]
                </th>
                <th rowspan="2">
                    Văn bản
                </th>
            </tr>
            <tr>
                <th>
                    @Resources.Einvoice.AdjReInv_LblPattern
                </th>
                <th>
                    @Resources.Einvoice.AdjReInv_LblSerial
                </th>
                <th>
                    @Resources.Einvoice.Inv_LblNo
                </th>
                <th>
                    @Resources.Einvoice.AdjReInv_LblDetail
                </th>
                <th>
                    Ghi chú
                </th>
                <th>
                    @Resources.Einvoice.AdjReInv_LblSerial
                </th>
                <th>
                    @Resources.Einvoice.Inv_LblNo
                </th>
                <th>
                    @Resources.Einvoice.AdjReInv_LblDetail
                </th>
                <th>
                    Ghi chú
                </th>
            </tr>
        </thead>

        <tbody>
            @{
                        int i = Model.PageListAdjustSearch.PageIndex * Model.PageListAdjustSearch.PageSize;                       
                        foreach (var item in Model.PageListAdjustSearch)
                        {
                            i++;
                    <tr>
                        <td>
                            @i
                        </td>
                        <td>
                                    @(item.OldPattern)
                                </td>
        
                                <td>
                                    @(item.OldSerial)
                                </td>
        
                                <td>
                                    @item.OldNo.ToString("0000000")
                                </td>
        
                                <td align="center" style="border-right: 1px solid #ccc">
                                    @if (typeView == "1")
                                    {
                                <a href="#" onclick="ajxCall('@AesUtil.Encrypt( new string[] { item.InvId.ToString()})','@(item.OldPattern)');addImg();" title="Detail">
                                    <span class="glyphicon glyphicon-eye-open"></span>
                                </a>
                                    }
                                     else
                                     {
                                         <a href="#" onclick="ajxCall('@AesUtil.Encrypt( new string[] { item.InvId.ToString()})','@(item.OldPattern)');" title="Detail">
                                             <span class="glyphicon glyphicon-eye-open"></span>
                                         </a>
                                     }
                            
                            @*<img alt="" src="/Content/Images/details.png" onclick="ajxCall('@item.InvId','@(item.OldPattern)');" />*@
                        </td>
                        <td align="center">
                            <a href="/EInvoice/WriteNote?id=@(item.InvId)&Pattern=@(item.OldPattern)&TypeView=@(ViewData["TypeView"])
                               "
                               title=" writenote">
                                <img alt="" src="/Content/Images/Note.png" />
                            </a>
                        </td>
                        <td>
                            @(item.NewSerial)
                        </td>
                        <td>
                            @item.NewNo.ToString("0000000")
                        </td>
                        <td style="border-right: 1px solid #ccc; text-align: center">
                            <a href="#" onclick="ajxCall('@AesUtil.Encrypt( new string[] { item.AdjustInvId.ToString()})','@(item.OldPattern)');" title="Detail">
                                <span class="glyphicon glyphicon-eye-open"></span>
                            </a>
                        </td>
                        <td style="text-align: center">
                            <a href="/EInvoice/WriteNote?id=@(item.AdjustInvId)&Pattern=@(item.NewPattern)&TypeView=@(ViewData["TypeView"])
                               "
                               title=" writenote">
                                <img alt="" src="/Content/Images/Note.png" />
                            </a>
                        </td>
                        @{
                            if (string.IsNullOrEmpty(item.Attachefile))
                            {
                                <td>
                                    không có
                                </td>
                            }
                            else
                            {
                                <td style="border-right: 1px solid #ccc; text-align: center">
                                    <a href="/AdJust/DownloadRecordsCancel?id=@item.id" title="Download">
                                        <img src="/Content/Images/download.png" width="30" height="30" />
                                    </a>
                                </td>
                            }
                        }
                    </tr>
                            }
            }
        </tbody>
    </table>

</div>
@section styles{
    <style>
         #imgCancel {
            width: 100% !important;
            height: 100% !important;
        }
         
    </style>
    
}
<script type="text/javascript">

    var flagImg = false;
    $(document).ajaxComplete(function () {
        if (flagImg) {
            $('div.VATTEMP').css({ "position": "absolute", "height": "1010px" });
            $('div.VATTEMP').prepend('<img id="imgCancel" src="/Content/Images/mark.png" />');
            $('#imgCancel').css({ "position": "absolute", "z-index": "3", "width": "790px", "height": "1010px" });
            flagImg = false;
        }

    });
    function addImg() {
        flagImg = true;
    };
    //goi hien thi hoa don thay the
    function Convert() {
        var jsondata = "id=" + $("#id").val() + "&patt=" + $('#Pattern').val();
        $.ajax({
            type: "POST",
            url: "/InvConvertion/" + str,
            data: jsondata,
            success: function (data) {
                //debugger;
                document.getElementById("ViewInvoice").innerHTML = data;
                $(function () {
                    $("#ViewInvoice").dialog({
                        modal: true,
                        height: 650,
                        width: 830,
                        close: function (ev, ui) {
                            ChangePage();
                        }

                    });
                    var printElement = document.getElementById("ViewInvoice");
                    $(printElement).printArea({
                        mode: "iframe",
                        popWd: 900,
                        popHt: 600,
                        popClose: false
                    });
                });
            }
        });
    }
    //dịnh dạng lại datepicker theo tieng viet
    jQuery(function ($) {
        $.datepicker.regional['vi'] = {
            closeText: 'Đóng',
            prevText: '&#x3c;Trước',
            nextText: 'Tiếp&#x3e;',
            currentText: 'Hôm nay',
            monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
        'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
            monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
        'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
            dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
            dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
            dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
            weekHeader: 'Tu',
            dateFormat: 'dd/mm/yy',
            firstDay: 0,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
    });
    $(function ($) {
        $(".vietnameseDate").mask("99/99/9999");
    });
    $(document).ready(function () {
        $.datepicker.setDefaults($.datepicker.regional['vi']);
        $(".datepicker").datepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar.gif",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true
        });
        $('#InvNo').change(function () {
            var val = $('#InvNo').val();
            if (parseInt(val, 10).toString() == "NaN") {
                $('#InvNo').val('');
            }
            checkInvNo();
        });
        checkInvNo();
    });

    function checkInvNo() {
        if ($('#InvNo').val() && $('#InvNo').val() > 0) {
            $('.searchText').attr("disabled", "disabled");
            $(".datepicker").attr("disabled", "disabled");
            $('.ui-datepicker-trigger').hide();
        }
        else {
            $(".searchText").removeAttr("disabled");
            $(".datepicker").datepicker('enable');
            $('.ui-datepicker-trigger').show();
        }
        var str = $('#InvNo').val();
        while (str.length < 7) {
            str = '0' + str;
        }
        if (str == "0000000")
            return $('#InvNo').val("");
        else
            return $('#InvNo').val(str);
    }
    // xử lý chọn ngày tháng datetime
    function getHiddenValue() {
        var stringDate1 = $("#FromDate").val();
        var d1 = Date.parseExact(stringDate1, "d/M/yyyy");
        if (d1 == null && stringDate1 != null) { // nhập không đúng định dạng ngày tháng
            $("#FromDate").val("");
        }
        var stringDate2 = $("#ToDate").val();
        var d2 = Date.parseExact(stringDate2, "d/M/yyyy");
        if (d2 == null && stringDate2 != null) { // nhập d2 không đúng định dạng
            $("#ToDate").val("");
        }
        if (d1 != null && d2 != null && d1 > d2) {
            bootbox.alert({
                buttons: {
                    ok: {
                        label: 'Đồng ý'
                    }
                },
                title: "Thông báo",
                message: "@Html.Raw(Resources.Message.Dec_MesToDateBigBeginDate)",
                size: 'small',
            });
            $("#ToDate").val("");
        }
    }
    // lấy serial trong khi chọn pattern
    function getSerial() {
        var jsd = "Pattern=" + $("#Pattern").val();
        $.ajax({
            type: "POST",
            url: "/EInvoice/GetSerial/",
            data: jsd,
            success: function (data) {
                sl = document.getElementById("Serial");
                while (sl.firstChild) {
                    sl.removeChild(sl.firstChild);
                }
                if (data.pu.length > 0) {
                    for (i = 0; i < data.pu.length; i++) {
                        newOption = new Option(data.pu[i]);
                        document.getElementById("Serial").options.add(newOption);
                    }
                }
                $("form:first").submit();
            }
        });
    }
    //Chỉ nhập số
    function keypress(e) {
        var keypressed = null;
        if (window.event) {
            keypressed = window.event.keyCode; //IE
        }
        else {
            keypressed = e.which; //NON-IE, Standard
        }
        if (keypressed < 48 || keypressed > 57) {
            if (keypressed == 8 || keypressed == 127) {
                return;
            }
            return false;
        }
    }

    // xử lý chọn ngày tháng datetime
    function getHiddenValue() {
        var stringDate1 = $("#FromDate").val();
        var d1 = Date.parseExact(stringDate1, "d/M/yyyy");
        if (d1 == null && stringDate1 != null) { // nhập không đúng định dạng ngày tháng
            $("#FromDate").val("");
        }
        var stringDate2 = $("#ToDate").val();
        var d2 = Date.parseExact(stringDate2, "d/M/yyyy");
        if (d2 == null && stringDate2 != null) { // nhập d2 không đúng định dạng
            $("#ToDate").val("");
        }
        if (d1 != null && d2 != null && d1 > d2) {
            bootbox.alert({
                buttons: {
                    ok: {
                        label: 'Đồng ý'
                    }
                },
                title: "Thông báo",
                message: "@Html.Raw(Resources.Message.Dec_MesToDateBigBeginDate)",
                size: 'small',
            });
            $("#ToDate").val("");
        }
    }
    function printScr(idInvoice, pattern) {
        var jsondata = { idInvoice: idInvoice, pattern: pattern };
        $.ajax({
            type: "POST",
            url: "/EInvoice/getPrintData/",
            data: jsondata,
            success: function (data) {
                var printElement = document.getElementById("container");
                printElement.innerHTML = data;

                $(printElement).printArea({
                    mode: "iframe",
                    popWd: 1000,
                    popHt: 700,
                    popClose: false,
                    tagPrint: "#container"
                })
            }
        });
    }
</script>
