﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@model InvoiceVAT
@{
    Layout = null;
    IInvoice inv = (IInvoice)ViewData["Data"];
    Company oCompany = (Company)ViewData["company"];
    EInvoice.Core.IService.IConfigService _Config = FX.Core.IoC.Resolve<EInvoice.Core.IService.IConfigService>();
    var DicEx = _Config.Query.Where(a => a.ComID == oCompany.id && a.Key.Contains("Extra_"));
    var Listvalue = Model.Extras.ToDictionary(x => x.Key, x => x.Value);
    List<string> taxCode = new List<string>();
    string temp = oCompany.TaxCode + " ";
    for (int i = 0; i < temp.Length; i++)
    {
        taxCode.Add(temp[i].ToString());
    }
    List<string> ser = (List<string>)ViewData["ser"];
    SelectList serSelect = new SelectList(ser);
    string hashValue = (string)ViewData["hashValue"];
}
<link rel="stylesheet" type="text/css" href="/Content/css/SharedFormElements.css" />
<link rel="stylesheet" type="text/css" href="/Content/css/grid.css" />
<link href="/Content/css/styleForm.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    .widget-header {
        margin-top: 3px;
    }

    .label {
        font-weight: normal;
        color: black;
        font-size: 13px;
        text-align: left;
    }

    input, select {
        min-height: 0px;
    }
</style>
@Html.Hidden("id", 0)
@Html.Hidden("ComID", Model.ComID)
@Html.Hidden("ComPhone", oCompany.Phone)
@Html.Hidden("ComBankName", oCompany.BankName)
@Html.Hidden("ComBankNo", oCompany.BankNumber)
@Html.Hidden("ComTaxCode", oCompany.TaxCode)
@Html.Hidden("PubDatasource")
@Html.Hidden("VatAmount0", Model.VatAmount0)
@Html.Hidden("VatAmount5", Model.VatAmount5)
@Html.Hidden("VatAmount10", Model.VatAmount10)
@Html.Hidden("GrossValue", Model.GrossValue)
@Html.Hidden("GrossValue0", Model.GrossValue0)
@Html.Hidden("GrossValue5", Model.GrossValue5)
@Html.Hidden("GrossValue10", Model.GrossValue10)
@Html.Hidden("NoInv", Model.No)
@Html.Hidden("SerialNo", Model.Serial)
@Html.Hidden("ComPhone", oCompany.Phone)
@Html.Hidden("CreateBy", HttpContext.Current.User.Identity.Name)
@Html.Hidden("Pattern", Model.Pattern)
@Html.Hidden("GrossValueNonTax", Model.GrossValueNonTax)
@Html.Hidden("DicExsource")
<input type="hidden" value=@hashValue id="hashValue" name="hashValue" />
<input type="hidden" value="" id="serialCertSign" name="serialCertSign" />
<input type="hidden" value="" id="signValue" name="signValue" />
<div class="frm-header">
    <div class="left">
        <div class="line">
            <div class="label w120">
                @Html.LabelFor(m => m.Name, labelText: Resources.Einvoice.MInv_LblNameInv)
            </div>
            <div class="control">
                @Html.TextBoxFor(m => m.Name, new { @class = "required textc", maxlength = "150" })
            </div>
        </div>
        <div class="line">
            <div class="label w120">
                @Html.LabelFor(m => m.ComTaxCode, Resources.Einvoice.MInv_LblComTaxcode)
            </div>
            <div class="control">
                @{int _taxindex = 0;
                    int[] space = new[] { 2, 10, 13 };
                }
                @foreach (var tax in taxCode)
                {
                    <span class="mst @Html.Raw(space.Contains(_taxindex) ? " ml3" : "nbl")">
                        @Html.Raw(String.IsNullOrEmpty(tax.Trim()) ? "&nbsp" : tax)
                    </span>
                    @*@Html.Raw(String.IsNullOrEmpty(tax.Trim()) ? "&nbsp" : tax)*@
                    _taxindex++;
                }
            </div>
        </div>
        <div class="line">
            <div class="label w120">
                @Html.LabelFor(m => m.ComName, labelText: Resources.Einvoice.MInv_LblComName)
            </div>
            <div class="control">
                @Html.TextBox("ComName", oCompany.Name, new { @readonly = "readonly", @tabindex = -1, maxlength = "200" })
            </div>
        </div>
    </div>
    <div class="right">
        <div class="line">
            <div class="label w90">
                @Html.LabelFor(m => m.Pattern, labelText: Resources.Einvoice.MInv_LblPattern)
            </div>
            <div class="control">
                @Html.TextBox("mPattern", Model.Pattern, new { @readonly = "readonly", @tabindex = -1, maxlength = "50" })
            </div>
        </div>
        <div class="line">
            <div class="label imp w90">
                @Html.LabelFor(m => m.Serial, labelText: Resources.Einvoice.MInv_LblSerial)
            </div>
            <div class="control">
                @Html.DropDownListFor(m => m.Serial, serSelect, "-- Chọn --", new { @class = "required" })
            </div>
        </div>
        <div class="line">
            <div class="label w90">
                @Html.LabelFor(m => m.No, labelText: Resources.Einvoice.MInv_lblNo)
            </div>
            <div class="control">
                @Html.TextBox("No", "0000000", new { @readonly = "readonly", @tabindex = -1, maxlength = "7" })
            </div>
        </div>
    </div>
</div>
@if (WSHelper.Instance.CheckResourceCode(oCompany))
{
    <div class="line">
        <div class="label w120">
            @Html.LabelFor(m => m.ResourceCode, Resources.Einvoice.MInv_LblReSourceCode)
        </div>
        <div class="control">
            @Html.TextBoxFor(m => m.ResourceCode, new { maxlength = "20" })
        </div>
    </div>
}


<div class="line">
    <div class="label w120">
        @Html.LabelFor(m => m.ComAddress, labelText: Resources.Einvoice.MInv_LblAddress)
    </div>
    <div class="control">
        @Html.TextBox("ComAddress", oCompany.Address, new { maxlength = "200", @readonly = "readonly" })
    </div>
</div>
<div class="line">
    <div class="label">
        @Html.LabelFor(m => m.Buyer, labelText: Resources.Einvoice.MInv_LblBuyer)
    </div>
    <div class="control">
        @Html.TextBoxFor(m => m.Buyer, new {maxlength = "240" })
    </div>
</div>
<div class="left w70p">
    <div class="line">
        <div class="label">@Html.LabelFor(m => m.CusName, labelText: Resources.Einvoice.MInv_LblCompanyName) </div>
        <div class="control">@Html.TextBoxFor(m => m.CusName, new { maxlength = "150" })</div>
    </div>
</div>
<div class="right">
    <div class="line">
        <div class="label w80">
            @Html.LabelFor(m => m.CusTaxCode, labelText: Resources.Einvoice.MInv_LblCusTaxCode)
        </div>
        <div class="control">
            @Html.TextBoxFor(m => m.CusTaxCode, new { @maxlength = 14 })
        </div>
    </div>
</div>
<div class="line">
    <div class="label w120">
        @Html.LabelFor(m => m.CusAddress, labelText: Resources.Einvoice.MInv_LblAddress)
    </div>
    <div class="control">
        @Html.TextBoxFor(m => m.CusAddress, new { maxlength = "450" })
    </div>
</div>
<div class="left w50p">
    <div class="line">
        <div class="label w120">
            @Html.LabelFor(m => m.CusPhone, labelText: Resources.Einvoice.MInv_LblPhone)
        </div>
        <div class="control">
            @Html.TextBoxFor(m => m.CusPhone, new { @maxlength = 20 })
        </div>
    </div>
</div>
<div class="right">
    <div class="line">
        <div class="label w80">
            @Html.LabelFor(m => m.CusCode, labelText: Resources.Einvoice.MInv_lblCode)
        </div>
        <div class="control">
            @Html.TextBoxFor(m => m.CusCode, new { @class = "textandnum", maxlength = "100" })
        </div>
    </div>
</div>
<div class="line">
    <div class="label w120 imp">
        @Html.LabelFor(m => m.PaymentMethod, labelText: Resources.Einvoice.MInv_LblPayMethod)
    </div>
    <div class="control">
        @Html.DropDownListFor(m => m.PaymentMethod, new[]
     {
        new SelectListItem{Text=Resources.Einvoice.Minv_txtCashingPay, Value="TM", Selected= (Model.PaymentMethod == "TM")},
        new SelectListItem{Text=Resources.Einvoice.MInv_txtTransferPay, Value="CK",Selected= (Model.PaymentMethod == "CK")},
        new SelectListItem{Text=Resources.Einvoice.Minv_txtCreditCardPay, Value="TTD",Selected= (Model.PaymentMethod == "TTD")},
        new SelectListItem{Text="Hình thức HDDT", Value="HDDT",Selected= (Model.PaymentMethod == "HDDT")},
        new SelectListItem{Text=Resources.Einvoice.MInv_Minv_txtCashingPayAndTransferPay,Value="TM, CK",Selected=(Model.PaymentMethod=="TM, CK")},
        new SelectListItem{Text=Resources.Einvoice.MInv_txtClearingPay,Value="Bù trừ",Selected=(Model.PaymentMethod=="Bù trừ")}
        }, "-- Chọn hình thức thanh toán --", new { @class = "required" })
    </div>
</div>
<div class="line" style="display:none">
    <div class="label w120 imp">
        @Html.LabelFor(m => m.CurrencyUnit, labelText: "Loại tiền tệ  (Types of money)")
    </div>
    <div class="control">
        @Html.DropDownListFor(m => m.CurrencyUnit, new[]
     {
        new SelectListItem
        {
        Text="Việt Nam đồng", Value="VND",Selected= (Model.CurrencyUnit == "VND")
        },
        new SelectListItem
        {
        Text="Đô-la Mỹ", Value="USD",Selected= (Model.CurrencyUnit == "USD")
        }
        })
    </div>
</div>
<div class="left w50p" id="divTyGia">
    <div class="line">
        <div class="label w120" style="font-weight: bold">
            <div class="label w120 tyGia">
                <span>Tỷ giá 1 </span>
                <span id="moneySymbol"></span>
                <span>=:</span>
            </div>
        </div>
        <div class="control">
            @Html.TextBox("ExchangeRate", Model.ExchangeRate.ToString().Replace(",", "."), new { @class = "textr _number", @tabindex = -1, maxlength = "50", style = "width: 89%;" })
            <span style="font-weight: bold">VND.</span>
        </div>
    </div>
</div>
<div class="right" id="divTongTien">
    <div class="line">
        <div class="label w80">
            @Html.LabelFor(m => m.ExchangeRate, labelText: "Tổng tiền")
        </div>
        <div class="control">
            @Html.TextBox("ConvertedAmount", Model.ConvertedAmount.ToString().Replace(",", "."), new { maxlength = "50", @class = "textr _number", @readonly = "readonly" })
        </div>
    </div>
</div>
<div class="line">
    <div class="label">
        @Html.Label("FileUpload", "Biên bản hủy đính kèm")
    </div>
    <div class="control">
        <input type="file" name="FileUpload" id="_fleAttackment" accept=".doc,.docx,.pdf">
        <input type="text" id="_txtFile" maxlength="300" readonly="readonly" placeholder="Nhấn chuột vào đây để đính kèm biên bản hủy (doc, docx, pdf)..." />
    </div>
</div>

@{
    foreach (var item in DicEx)
    {

        var objSon = new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<EInvoice.CAdmin.Models.ExtraModel>(item.Value);
        string caseSwitch = objSon.DesignControl.Type;

        var listItems = new List<System.Web.UI.WebControls.ListItem>();
        string ClassCss = (objSon.DesignControl.Required ? "required " : "") + (objSon.DataType.Contains("decimal") ? "ANumber quantity textr _number" : "");

        switch (caseSwitch)
        {
            case "dropdown":
                string[] dropValues = objSon.DesignControl.Values.Split(',');
                string[] dropTexts = objSon.DesignControl.Texts.Split(',');
                for (int i = 0; i < dropValues.Count(); i++)
                {
                    listItems.Add(new System.Web.UI.WebControls.ListItem { Text = dropTexts[i], Value = dropValues[i] });

                }
                <div class="line">

                    <div class="label w120  @(objSon.DesignControl.Required ? "imp" : string.Empty)">
                        @Html.Label(item.Key, (string)objSon.DesignControl.Caption)
                    </div>
                    <div class="control">
                        @Html.DropDownList(item.Key, new SelectList(listItems, "Value", "Text", Listvalue.ContainsKey(item.Key) ? Listvalue[item.Key] : string.Empty), (string)objSon.DesignControl.DisplayDefault, objSon.DesignControl.Required ? (object)new { @style = "width:327px;", @class = "required" } : new { @style = "width:327px;" })
                    </div>
                </div>
                break;
            case "textbox":
                <div class="line">
                    <div class="label w120  @(objSon.DesignControl.Required ? "imp" : string.Empty)">
                        @Html.Label(item.Key, (string)objSon.DesignControl.Caption)
                    </div>
                    <div class="control">
                        @Html.TextBox(item.Key, Listvalue.ContainsKey(item.Key) ? Listvalue[item.Key] : string.Empty, (object)new { maxlength = "500", @class = ClassCss })
                    </div>
                </div>
                break;
            case "richtext":
                <div class="line">

                    <div class="label w120  @(objSon.DesignControl.Required ? "imp" : string.Empty)">
                        @Html.Label(item.Key, (string)objSon.DesignControl.Caption)
                    </div>
                    <div class="control">

                        @Html.TextArea(item.Key, Listvalue.ContainsKey(item.Key) ? Listvalue[item.Key] : string.Empty, objSon.DesignControl.Required ? (object)new { maxlength = "500", @class = "required" } : new { maxlength = "500" })
                    </div>
                </div>
                break;
            case "checkbox":
                <div class="line">
                    <div class="label @(objSon.DesignControl.Required ? "imp" : Listvalue.ContainsKey(item.Key) ? Listvalue[item.Key] : string.Empty)">
                        @Html.Label(item.Key, (string)objSon.DesignControl.Caption)
                    </div>
                    <div class="control">
                        @Html.CheckBox(item.Key, Listvalue.ContainsKey(item.Key) ? bool.Parse(Listvalue[item.Key]) : false, new { @class = ClassCss })
                    </div>
                </div>
                break;
            default:
                break;
        }
    }
}
<div class="line">
    <table class="products">
        <thead>
            <tr>
                <th style="width: 20px">
                    Xóa
                </th>
                <th style="width: 25px">
                    STT
                </th>
                <th class="np">
                    Tên sản phẩm (Products name)
                </th>
                <th style="width: 90px">
                    Đơn vị tính (Unit)
                </th>
                <th style="width: 70px">
                    Số lượng (Quantity)
                </th>
                <th style="width: 90px">
                    Đơn giá (Price)
                </th>
                <th style="width: 100px">
                    Thành tiền (Amount) VNĐ
                </th>
                <th style="width: 50px">
                    Không tính tiền
                </th>
            </tr>
        </thead>
        <tbody>

            @{int index = 1; }
            @foreach (var product in Model.ProductList)
            {
                <tr>
                    <td class="delr"></td>
                    <td class="center">
                        @index
                    </td>
                    <td>
                        <input type="text" value="@product.Name" class="name" maxlength="500" />
                    </td>
                    <td>
                        <input type="text" value="@product.Unit" class="unit" maxlength="50" />
                    </td>
                    <td>
                        @{
                            var quantity = "";
                            if (product.Quantity == 0)
                            {

                            }
                            else
                            {
                                quantity = product.Quantity.ToString().Replace(".", ",");
                            }

                        }
                        <input type="text" value="@quantity" class="quantity textr _number" maxlength="18" />
                    </td>
                    <td>
                        @{
                            var price = "";
                            if (product.Price != 0)
                            {
                                price = product.Price.ToString().Replace(".", ",");
                            }
                        }
                        <input type="text" value="@price" class="price textr _number" maxlength="18" />
                    </td>
                    <td>
                        <input type="text" value="@product.Total.ToString().Replace(" .", "," )" class="amount textr _number"
                               maxlength="18" />
                    </td>
                    <td class="center">
                        <input type="checkbox" class="issum" value="false" @(product.IsSum == 1 ? "checked=checked" : "") />
                        <input type='hidden' class='VATRate _number' value="@product.VATRate" />
                        <input type='hidden' class='Code' value="@product.Code" />
                    </td>
                </tr>
                                index++;
                            }
            @for (int i = index; i <= 10; i++)
            {
                <tr>
                    <td class="delr"></td>
                    <td class="center">
                        @i
                    </td>
                    <td>
                        <input type="text" class="name" maxlength="500" />
                    </td>
                    <td>
                        <input type="text" class="unit" maxlength="50" />
                    </td>
                    <td>
                        <input type="text" class="quantity textr _number" maxlength="18" />
                    </td>
                    <td>
                        <input type="text" class="price textr _number" maxlength="18" />
                    </td>
                    <td>
                        <input type="text" class="amount textr _number" maxlength="18" />
                    </td>
                    <td class="center">
                        <input type="checkbox" class="issum" />
                        <input type='hidden' class='VATRate _number' value="" />
                        <input type='hidden' class='Code' value="" />
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="left w60p">
    <div class="line null">
    </div>
    <div class="line">
        <div class="label push-60">
            @Html.LabelFor(m => m.VATRate, labelText: Resources.Einvoice.MInv_LblVATRate)
        </div>
        <div class="control">
            @Html.DropDownList("VATRate", new[]
            {
            new SelectListItem{Text=Resources.Einvoice.MInv_TxtNotVATRate, Value="-1",Selected= (Model.GrossValue >0)},
            new SelectListItem{Text="Không kê khai và nộp thuế", Value="-2",Selected= (Model.GrossValueNonTax >0)},
            new SelectListItem{Text="0% ", Value="0", Selected= (Model.GrossValue0>0)},
            new SelectListItem{Text="5%", Value="5",Selected= (Model.GrossValue5>0)},
            new SelectListItem{Text="10%", Value="10",Selected= (Model.GrossValue10>0)},
            }, new { @class = "class", title = "Cần chọn!" })
        </div>
    </div>
    <div class="line null">
    </div>
</div>
<div class="right">
    <div class="line">
        <div class="label w180">
            @Html.LabelFor(m => m.Total, labelText: Resources.Einvoice.MInv_lblTotalService)
        </div>
        <div class="control">
            @Html.TextBox("Total", Model.Total.ToString().Replace(".", ","), new { @class = "textr _number groupTotal", @tabindex = -1 })
        </div>
    </div>
    <div class="line">
        <div class="label w180">
            @Html.LabelFor(m => m.VATAmount, labelText: Resources.Einvoice.MInv_LblVATAmount)
        </div>
        <div class="control">
            @Html.TextBox("VATAmount", Model.VATAmount.ToString().Replace(".", ","), new { @class = "textr _number groupTotal", @tabindex = -1 })
        </div>
    </div>
    <div class="line">
        <div class="label w180">
            @Html.LabelFor(m => m.Amount, labelText: Resources.Einvoice.MInv_Amount)
        </div>
        <div class="control">
            @Html.TextBox("Amount", Model.Amount.ToString().Replace(".", ","), new { @class = "textr _number groupTotal", @tabindex = -1 })
        </div>
    </div>
</div>
<div class="line">
    <div class="label w120">
        @Html.LabelFor(m => m.AmountInWords, Resources.Einvoice.MInv_LblAmountInWords)
    </div>
    <div class="control">
        @Html.TextBoxFor(m => m.AmountInWords, new { @maxlength = "200" })
    </div>
</div>
<div class="line last">
    <div class="label">
        <b style="float: left">Đã thanh toán;còn phải thanh toán: </b>
    </div>
    <div class="control">
        @Html.TextBox("Extra", Model.Extra, new { @style = "width:720px;margin-left:10px ", @maxlength = "50" })
    </div>
</div>
<div id="searchAutocomplete"></div>

<script type="text/javascript" src="/Content/js/Share.js"></script>
<script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
<script src="/Content/js/Common.js" type="text/javascript"></script>
<script src="/Content/js/InvVAT.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {




        $(".ANumber").ForceNumericOnly();
        $(".ANumber").ForceNumericOnly();

        // Sự kiện chọn đường thu
        $('#ResourceCode').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/EInvoice/getResource",
                    type: 'POST',
                    data: {
                        key: request.term
                    },
                    success: function (returnData) {
                        response($.map(returnData, function (item) {
                            return {
                                value: item.Code,
                                label: item.Name
                            };
                        }));
                    }
                });
            },
            minLength: 3,
            select: function (event, ui) {
                $("#ResourceCode").val(ui.item.value);
            },
            appendTo: "#searchAutocompleteResource",
            open: function () {
                var position = $(this).position(),
                    left = position.left, top = position.top + 20;
                $("#searchAutocompleteResource > ul").css({
                    left: left + "px",
                    top: top + "px"
                });
            }

        });




        //        cutbyMaxlength('ComAddress', 200);
        //just remove function format number in input has class _number
        /// File đính kèm
        $('#_txtFile').click(function () {
            $('#_fleAttackment').trigger('click');
        }).keypress(function (e) {
            if (e.keyCode == 13 || e.which == 13) {
                $(this).trigger('click');
                return false;
            }
        });

        /// Hiển thị file đính kèm
        $('#_fleAttackment').change(function () {
            var _file = $(this)[0].files[0];
            if (_file) {
                var _extl = ['doc', 'docx', 'pdf'];
                var _ext = _file.name.substring(_file.name.lastIndexOf('.') + 1);
                if (_extl.indexOf(_ext) > -1) {
                    //5242880
                    if (this.files[0].size > 5242880) {
                        bootbox.alert({
                            buttons: {
                                ok: {
                                    label: 'Đồng ý'
                                }
                            },
                            title: "Thông báo",
                            message: "Dung lượng file phải nhỏ hơn 5MB!",
                            size: 'small',
                        });
                        $('#_txtFile').val('');
                    }
                    else
                    $('#_txtFile').val(_file.name);
                }
                else {
                    $(this).val('');
                    bootbox.alert({
                        buttons: {
                            ok: {
                                label: 'Đồng ý'
                            }
                        },
                        title: "Thông báo",
                        message: "Xin lỗi, định dạng file đính kèm không được chấp nhận.",
                        size: 'small',
                    });
                }

                


            } else {
                $('#_txtFile').val('');
            }
        });

        ///Thay đổi tổng cộng tiền thanh toán
        $('#Amount').change(function () {
            var _amountVal = parseFloat($(this).val().replaceAll('.', '').replaceAll(',', '.'));
            $('#AmountInWords').val(_amountVal.ReadNumber($('#CurrencyUnit option:selected').val()));
        });
        /// Thay đổi số tiền
        //$('#Total').change(function () {
        //    $('#VATAmount').trigger('change');
        //    //ABC
        //});
        $('input[type=submit]').click(function () {
            //Extra_begin
            var lstDic = new Array();
            $("[id*='Extra_']").each(function (index, element) {
                if (element.type == "checkbox") lstDic.push({ key: element.name, value: element.checked });
                else
                    lstDic.push({ key: element.name, value: element.value });
            });

            $("#DicExsource").val(JSON.stringify(lstDic))
            //Extra_end
            var cusName = $("#CusName").val().trim();
            var buyer = $("#Buyer").val().trim();
            if (cusName == "" && buyer == "") {
                alert("Cần nhập Tên đơn vị mua hoặc Người mua hàng!");
                return false;
            }
            var check = 0;
            $('#VatAmount0').val('0');
            $('#VatAmount5').val('0');
            $('#VatAmount10').val('0');
            $('#GrossValue').val('0');
            $('#GrossValue0').val('0');
            $('#GrossValue5').val('0');
            $('#GrossValue10').val('0');
            $("#GrossValueNonTax").val("0");
            var _totalamount = parseInt($('#Total').val().replaceAll(',', ''));
            var _vatamount = parseInt($('#VATAmount').val().replaceAll(',', ''));
            var _vatrate = parseInt($('#VATRate').val());
            if (_vatrate > 0) {
                if (_vatrate == 10) {
                    $("#VatAmount10").val(_vatamount);
                    $('#GrossValue10').val(_totalamount);
                }
                if (_vatrate == 5) {
                    $("#VatAmount5").val(_vatamount);
                    $('#GrossValue5').val(_totalamount);
                }
            }
            else {
                if (_vatrate == -1) {
                    $("#GrossValue").val(_totalamount)
                };
                if (_vatrate == 0) {
                    $("#VatAmount0").val("0");
                    $("#GrossValue0").val(_totalamount)
                };
                if (_vatrate == -2) {
                    $("#GrossValueNonTax").val(_totalamount)
                };
            }
            /// Validate form
            var _valid = $(this).parents('form:first').valid();
            if (!_valid) {
                return false;
            }

            /// Nếu mã số thuế không đúng, không cho submitform
            if ($('#errorTaxCode').length > 0) {
                $('#errorTaxCode').show();
                $('#CusTaxCode').addClass('error');

                if (!confirm('Xin lỗi, mã số thuế của khách hàng không chuẩn.\n- Bạn có muốn tiếp tục lưu hóa đơn không?')) {
                    return false;
                }
            }
            if ($("#Total").val().indexOf("-") >= 0) {
                alert("Xin lỗi, hóa đơn có giá trị âm [Tổng tiền hóa đơn], chưa thể phát sinh giao dịch.");
                return false
            }
            if ($('#Total').val().FormatNumUK() >= 20000000 && $('#PaymentMethod').val() != 'CK') {
                if (!confirm('Số tiền quá lớn, bạn nên thanh toán chuyển khoản.\n- Bạn có muốn tiếp tục lưu hóa đơn không?')) {
                    return false;
                }
            }
            var _products = [];

            /// Lấy danh sách sản phẩm
            $('table.products tbody tr').each(function (i, row) {
                var _product = {};

                var _pName = $(row).find('input[type=text].name');
                var _pUnit = $(row).find('input[type=text].unit');
                var _pQuantity = $(row).find('input[type=text].quantity');
                var _pPrice = $(row).find('input[type=text].price');
                var _pAmount = $(row).find('input[type=text].amount');
                var _pIsSum = $(row).find('input[type=checkbox]:first');
                var _VATRate = $(row).find("input[type=hidden].VATRate:first");
                var _code = $(row).find("input[type=hidden].Code:first");
                if (_pAmount.val() || _pName.val()) {
                    _product.ProdType = 1;
                    _product.Name = _pName.val() || '';
                    _product.Unit = _pUnit.val() || '';
                    _product.Quantity = _pQuantity.val() || 0;
                    _product.Price = _pPrice.val() || 0;
                    _product.Total = _pAmount.val() || 0;
                    _product.IsSum = _pIsSum.is(':checked');
                    _product.VATRate = _VATRate.val();
                    _product.Code = _code.val();
                    if (parseFloat(_product.VATRate) < 0) {
                        _product.VATAmount = 0
                    } else {
                        _product.VATAmount = (parseFloat(_product.VATRate) * parseFloat(_product.Total.FormatNumUK()) / 100).toFixed(2);

                    };
                    _product.Amount = (parseFloat(_product.VATAmount) + parseFloat(_product.Total.FormatNumUK())).toFixed(2);
                    if (_product.Amount < 0) {
                        _product.Amount = _product.Amount * (-1)
                    }
                    if (_product.Amount != "" && _product.Name == "") {
                        check = 0;
                        _products.length = 0;
                        alert("Xin lỗi, danh sách sản phẩm chưa có tên!")
                        return false
                    }
                    if ((_product.Amount.toString().length > 18 || _product.Amount.toString().indexOf("e") >= 0) || (_product.Price > 0 && (_product.Price.toString().length > 18 || _product.Price.toString().indexOf("e") >= 0)) || (_product.Quantity > 0 && (_product.Quantity.toString().length > 18 || _product.Quantity.toString().indexOf("e") >= 0))) {
                        check = 1;
                        _products.length = 0;
                        alert("Xin lỗi, giá trị vượt quá 18 số hoặc có chưa kí e!")
                        return false
                    };
                    // chuyển về định dạng số của VN
                    if (_product.VATAmount != 0)
                        _product.VATAmount = _product.VATAmount.FormatNumUK2VN();
                    if (_product.Amount != 0)
                        _product.Amount = _product.Amount.FormatNumUK2VN();
                    _products.push(_product);
                }

            });
            if (_products.length == 0) {
                if (check == 0) {
                    alert("Xin lỗi, danh sách sản phẩm chưa có hoặc thông tin sản phẩm bị thiếu!")
                } else {
                    alert("Xin lỗi, danh sách sản phẩm có chứa sản phẩm vượt quá giá trị cho phép của hóa đơn!")
                }
                return false
            }

            //if (!$('#Total').val() || $('#Total').val() == '0') {
            //    if (!confirm('Xin lỗi, hóa đơn chưa có giá trị [Tổng tiền hóa đơn].\n- Bạn có muốn tiếp tục lưu hóa đơn không?')) {
            //        return false;
            //    }
            //}

            if ($('#VATAmount').val().toString().indexOf('-') >= 0 || $('#Total').val().toString().indexOf('-') >= 0 || $('#Amount').val().toString().indexOf('-') >= 0) {
                var r = confirm("Hóa đơn có giá trị [Cộng tiền dịch vụ] hoặc [Tiền thuế] hoặc [Tổng cộng tiền thanh toán] âm , bạn có muốn tiếp tục ?");
                if (r == true) {
                } else {
                    return false;
                }
            }
            //Kiểm tra các giá trị âm
            if ($('#CusName').val() && $('#PaymentMethod').val()) {
                if ($('#VATAmount').val().toString().indexOf('-') >= 0) {
                    var _vatAmount = $('#VATAmount').val() * (-1);
                    $('#VATAmount').val(_vatAmount)
                }
                if ($('#Total').val().toString().indexOf('-') >= 0) {
                    var _total = $('#Total').val() * (-1);
                    $('#Total').val(_total)
                }
                if ($('#Amount').val().toString().indexOf('-') >= 0) {
                    var _amount = $('#Amount').val() * (-1);
                    $('#Amount').val(_amount)
                }
            }
            $('#PubDatasource').val(JSON.stringify(_products));
            /// Chuyển định dạng số về dạng hệ thống chấp nhận
            $('input[type=text]._number').each(function (i, item) {
                var _val = $(this).val();
                $(this).val(_val.replaceAll('.', ''));
            });
        });
    });
    window.onload = function () {
        var hash = $('#hashValue').val();
        if (hash != "" && hash != undefined) {
            signArrDataAdvanced(hash);
        }
    }
</script>