﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@model AdjustModel
@{
    ViewBag.Title = "Lập hóa đơn điều chỉnh";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript" src="/Content/js/jquery.blockUI.js"></script>
}
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">@Resources.Einvoice.InvAdj_LblSeach</h3>
                <hr />
            </div>
            <div class="box-body">

                @using (Html.BeginForm("CreateAdJustInv", "AdJust", FormMethod.Get, new { @class = "form-horizontal" }))
                {
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 col-xs-12 control-label" for="pattern">@Resources.Einvoice.ReplaceInv_LblPattern: <span style="color: red">(*)</span></label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                @Html.DropDownList("pattern", Model.lstpattern, "--Chọn mẫu số--", new { @style = "width:200px", onchange = "getserial()", @class = "required form-control", title = Resources.Einvoice.ReplaceInv_ReqPattern })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 col-xs-12 control-label" for="serial">
                                @Resources.Einvoice.ReplaceInv_LblSerial (<i>Serial No</i>): <span style="color: red">(*)</span>
                            </label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                @Html.DropDownList("serial", Model.lstserial, "--Chọn ký hiệu--", new { name = "serial", @style = "width: 200px;height: 31px;", @class = "required form-control", title = Resources.Einvoice.ReplaceInv_ReqSerial })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 col-xs-12 control-label" for="invNo">
                                @Resources.Einvoice.ReplaceInv_LblInvNo (<i>No</i>): <span style="color: red">(*)</span>
                            </label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                @Html.TextBox("invNo", Model.invNo, new { style = "width:200px", @class = "required form-control", MaxLength = "7", @onchange = "pad(this.value,7)", onkeypress = "return keypress(event);", title = Resources.Einvoice.ReplaceInv_ReqInvNo })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 col-sm-5 col-xs-12 control-label" for="type">
                                Kiểu điều chỉnh: <span style="color: red">(*)</span>
                            </label>
                            <div class="col-md-7 col-sm-7 col-xs-12">
                                @Html.DropDownList("type", new[]
                                {
                                new SelectListItem{Text="Hóa đơn điều chỉnh tăng", Value="2", Selected=(Model.type == "2")},
                                new SelectListItem{Text="Hóa đơn điều chỉnh giảm", Value="3", Selected=(Model.type == "3")},
                                new SelectListItem{Text="Hóa đơn điều chỉnh thông tin", Value="4", Selected=(Model.type == "4")},
                                }, new { style = "width:200px", @class = "required form-control", title = "Chọn kiểu điều chỉnh!" })
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-5"></div>
                            <div class="col-sm-2">
                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Create_ajst"))
                                {
                                    <input id="modify" type="submit" class="btn btn-primary btn-flat" value="Điều chỉnh hóa đơn" />
                                }
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
<script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $('form:first').validate();
        });
        // định dạng số hóa đơn
        function pad(number, length) {
            var str = '' + number;
            while (str.length < length) {
                str = '0' + str;
            }
            if (str == "0000000")
                return $("#invNo").val("");
            return $("#invNo").val(str);
        }
        //Định dạng ký tự nhập
        function keypress(e) {
            var keypressed = null;
            if (window.event) {
                keypressed = window.event.keyCode; //IE
            }
            else {
                keypressed = e.which; //NON-IE, Standard
            }
            if (keypressed < 48 || keypressed > 57) {
                if (keypressed == 8 || keypressed == 127) {
                    return;
                }
                return false;
            }
        }
        // lấy ra danh sách serial khi chọn pattern
        function getserial() {

                var jsd = "pattern=" + $('#pattern').val();
                $.ajax({
                    type: "POST",
                    url: "/AdJust/getserial/",
                    data: jsd,

                    beforeSend: function (request) {
                        $.blockUI({
                            //css: {
                            //    border: 'none',
                            //    padding: '15px',
                            //    backgroundColor: '#000',
                            //    '-webkit-border-radius': '10px',
                            //    '-moz-border-radius': '10px',
                            //    opacity: .5,
                            //    color: '#fff'
                            //}
                            message: '<h1><img src="/Content/Images/please_wait.gif" />@Html.Raw(Resources.Message.MPleaseWait)</h1>',
                            fadeIn: 0
                        });
                    },
                    complete: function (request, json) {

                    },
                    success: function (data) {
                        sl = document.getElementById("serial");
                        while (sl.firstChild) {
                            sl.removeChild(sl.firstChild);
                        }
                        newOpt = new Option("--Chọn ký hiệu--", "");
                        document.getElementById("serial").options.add(newOpt);
                        newOpt.selected = true;
                        if (data.q.length > 0) {
                            for (i = 0; i < data.q.length; i++) {
                                newOption = new Option(data.q[i]);
                                document.getElementById("serial").options.add(newOption);
                            }
                        }
                        $.unblockUI();
                        //document.forms['Searchform'].submit();

                    },
                    error: function (jqXHR, exception) {
                        $.unblockUI();
                    }

                })

            //$.ajax({
            //    type: "POST",
            //    url: "/AdJust/getserial/",
            //    data: jsd,
            //    success: function (data) {
            //        sl = document.getElementById("serial");
            //        while (sl.firstChild) {
            //            sl.removeChild(sl.firstChild);
            //        }
            //        if (data.q.length > 0) {
            //            newOpt = new Option("--Chọn ký hiệu--", "");
            //            document.getElementById("serial").options.add(newOpt);
            //            newOpt.selected = true;
            //            for (i = 0; i < data.q.length; i++) {
            //                newOption = new Option(data.q[i]);
            //                document.getElementById("serial").options.add(newOption);
            //            }
            //        }
            //        document.forms['Searchform'].submit();
            //    }
            //});
        }
</script>