﻿    @using EInvoice.CAdmin.Models
    @using EInvoice.Core.Domain
    @using FX.Utils.MvcPaging
    @model EInvoice.CAdmin.Models.TaxAuthorityModel
    @*<link href="/Content/css/grid.css" rel="stylesheet" type="text/css" />*@
    <link href="/Content/css/redmond/jquery-ui-1.8.12.custom.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery-ui-1.8.12.custom.min.js"></script>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <br />
                <div class="box-header" style="text-align:center">
                    <h3 class="box-title"> @Resources.Einvoice.Tax_LblCategory</h3>
                    <hr />
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                        <div class="row">
                            <div class="col-sm-12">
                                <form id="Searchform" method="get" action="/TaxAuthority/Index">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="col-sm-4" style="padding-top:10px">
                                                <b>@Resources.Einvoice.Tax_LblName</b>
                                            </div>
                                            <div class="col-sm-8">
                                                <input id="name" name="name" type="text" class="form-control" value="@Model.name" maxlength="100" />
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="col-sm-6">
                                                <input id="Submit1" type="submit" value="@Resources.Einvoice.BtnSeach" class="btn btn-block btn-primary btn-flat" style="width:100px" />
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-sm-12" id="MailList">
                                <table id="example2" class="table table-bordered table-hover dataTable textTable" role="grid" aria-describedby="example2_info">
                                    <thead class="textThead">
                                        <tr>
                                            <th width="20px">
                                                @Resources.Einvoice.LblStt
                                            </th>
                                            <th width="50px">
                                                @Resources.Einvoice.Tax_LblCode
                                            </th>
                                            <th width="120px">
                                                @Resources.Einvoice.Tax_LblName
                                            </th>
                                            <th width="160px">
                                                @Resources.Einvoice.Tax_LblAddress
                                            </th>
                                            <th width="40px">
                                                @Resources.Einvoice.Tax_LblPhone
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            List<TaxAuthority> taxlst = Model.ListTaxAuthority.ToList();
                                            int i = Model.ListTaxAuthority.PageIndex * Model.ListTaxAuthority.PageSize + 1;
                                            
                                        }
                                        
                                        @foreach (TaxAuthority tax in taxlst)
                                        {
                                            <tr>
                                                <td align="center">
                                                    @i
                                                </td>
                                                <td>
                                                    @tax.Code
                                                </td>
                                                <td>
                                                    @tax.Name
                                                </td>
                                                <td>
                                                    @tax.Address
                                                </td>
                                                <td>
                                                    @tax.Phone
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                        

                                    </tbody>
                                </table>
                            </div>
                        </div>
                     

                    <div class="row">
                        <div class="col-sm-10">
                        </div>
                        <div class="col-sm-2">
                            <div class="pager row pull-right">
                                @Html.Pager(Model.ListTaxAuthority.PageSize, Model.ListTaxAuthority.PageIndex + 1, Model.ListTaxAuthority.TotalItemCount, new
                                    {
                                        action = "index",
                                        controller = "TaxAuthority",
                                        name = Model.name
                                    })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
@section styles{
    <style>
        #MailList {
            text-align: center;
        }

        label {
            font-weight: 700;
        }

        .left-align {
            text-align: left;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}                                                                                      
