﻿@using EInvoice.CAdmin.Models
@model AttachModel
@{
    ViewBag.Title = "Bảng kê đính kèm hàng hóa";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@*<link href="/Content/css/SharedFormElements.css" rel="stylesheet" type="text/css" />*@
<link href="/Content/css/redmond/jquery-ui-1.8.12.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/Content/js/Share.js"></script>

<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">Đính kèm bảng kê</h3>
                <hr />
            </div>
            <div class="box-body">
                <div class="">

                    @using (Html.BeginForm("Upload", "Attach", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div>Mẫu số : @Html.TextBoxFor(Model=> Model.Pattern)</div>
                        <div>Ký hiệu : @Html.TextBoxFor(Model => Model.Serial)</div>
                        <div>Số hóa đơn : @Html.TextBoxFor(Model => Model.No)</div>
                        <label class="col-sm-2" for="FilePath">
                            Chọn tệp:<span style="color: red">(*)</span>
                        </label>

                        @Html.HiddenFor(m => m.InvId);

                        <input type="file" name="file" accept=".xlsx, .xls,.doc,.pdf" required="required" />

                        <input type="submit" value="Đính kèm">




                    }
                </div>
            </div>
        </div>
    </div>
</div>
</div>