﻿@using EInvoice.Core
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@model EInvoice.CAdmin.Models.EInvoiceIndexModel
@{
    ViewBag.Title = "Danh sách hóa đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList oSerial = new SelectList((IList<string>)Model.lstserial);
}
<div class="clear">
</div>
<div class="row" style="padding-top: 0;">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">DANH MỤC HÓA ĐƠN</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--search box-->
                <div class="row">
                    <div class="col-sm-12">
                        @using (Html.BeginForm("Index", "EInvoice", FormMethod.Get, new { @class = "form-horizontal", id = "Searchform", name = "searchForm" }))
                        {
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Pattern, "Mẫu số: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.DropDownListFor(m => m.Pattern, new SelectList(Model.lstpattern, Model.Pattern), new { @class = "form-control dropdownlist" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Status, "Trạng thái hóa đơn: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.DropDownListFor(m => m.Status, new[]
                                    {
                                        new SelectListItem{Text="--Trạng thái--", Value="-1", Selected= (Model.Status== -1)},
                                        new SelectListItem{Text=Resources.Einvoice.MInv_TextCreateStatus, Value="0", Selected= (Model.Status== 0)},
                                        new SelectListItem{Text=Resources.Einvoice.MInv_TextPubInvStatus, Value="1", Selected=  (Model.Status == 1)},
                                        new SelectListItem{Text=Resources.Einvoice.MInv_TextPubInvTaxStatus, Value="2", Selected=  (Model.Status == 2)},
                                        new SelectListItem{Text=Resources.Einvoice.MInv_TextPubInvReplate, Value="3", Selected=  (Model.Status == 3)},
                                        new SelectListItem{Text=Resources.Einvoice.MInv_TextPubInvAdjust, Value="4", Selected=  (Model.Status == 4)},
                                        new SelectListItem{Text="Hóa đơn xóa bỏ", Value="5", Selected=  (Model.Status == 5)},
                                    }, new { onchange = "sel()", @class = "searchText form-control dropdownlist" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FromDate, "Từ ngày HD: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()", style = "width: 85%; display: inline-block;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.nameCus, "Tên khách hàng: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.nameCus, new { @class = "form-control searchText" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.code, "Mã khách hàng: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.code, new { @class = "form-control searchText" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4" style="margin-left: 20px">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Serial, "Ký hiệu: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.DropDownList("Serial", oSerial, "--Ký hiệu--", new { @name = "Serial", @class = "form-control dropdownlist", @onchange = "document.searchForm.submit();" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.InvNo, "Số hóa đơn: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.InvNo, new { @class = "form-control", MaxLength = "7", onkeypress = "return keypress(event);" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ToDate, "Đến ngày HD: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()", style = "width: 85%; display: inline-block;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CodeTax, "Mã số thuế: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.CodeTax, new { @class = "form-control searchText" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.typeInvoice, "Kiểu hóa đơn: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.DropDownListFor(m => m.typeInvoice, new[]
                                        {
                                            new SelectListItem{Text="--Tất cả--", Value="-1", Selected=(Model.typeInvoice == -1)},
                                            new SelectListItem{Text="Hóa đơn thông thường", Value="0", Selected=(Model.typeInvoice == 0)},
                                            new SelectListItem{Text="Hóa đơn thay thế", Value="1", Selected=(Model.typeInvoice == 1)},
                                            new SelectListItem{Text="Hóa đơn điều chỉnh tăng", Value="2", Selected=(Model.typeInvoice ==2)},
                                            new SelectListItem{Text="Hóa đơn điều chỉnh giảm", Value="3", Selected=(Model.typeInvoice == 3)},
                                            new SelectListItem{Text="Hóa đơn điều chỉnh thông tin", Value="4", Selected=(Model.typeInvoice == 4)},
                                        }, new { @class = "searchText form-control dropdownlist required", title = "Chọn kiểu hóa đơn!" })
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    @Html.Label("Resource Code: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBox("resourcecode", ViewData["resourcecode"] as string, new {@class= "form-control searchText", style = "width:186px", maxlength="200",  onfocus="AutoResource()" })
                                    </div>
                                </div>


                                <button class="btn btn-primary btn-flat pull-right" type="submit">Tìm kiếm</button>
                            </div>
                        }
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <button id="crtInvoice" class="btn btn-primary btn-flat pull-right" type="submit"><i class="glyphicon glyphicon-plus"></i> Thêm mới</button>
                    </div>
                </div>
                <br />
                <!--div grid-->
                <form id="danhsachHD" method="post" action="/EInvoice/LaunchChoice">
                    <input type="hidden" value="@Model.serialCert" id="serialCert" name="serialCert" />
                    <input type="hidden" value="@Model.base64Cert" id="base64Cert" name="base64Cert" />
                    <input type="hidden" value="@Model.typeCert" id="typeCert" name="typeCert" />
                    <input type="hidden" value="" id="signValue" name="signValue" />
                    <input type="hidden" value="" id="idInvoice" name="idInvoice" />
                    <input type="hidden" value="" id="serialCertSign" name="serialCertSign" />
                    <input type="hidden" value="" id="base64Hash" name="base64Hash" />
                    <div class="row">
                        <div class="col-sm-12">

                            <table id="MailList" class="table table-bordered table-hover table-striped table-responsive have-action dataTable" role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th width="5%">
                                            STT
                                        </th>
                                        <th width="10%">
                                            Mẫu số
                                        </th>
                                        <th width="5%">
                                            Ký hiệu
                                        </th>
                                        <th width="10%">
                                            Số hóa đơn
                                        </th>
                                        <th width="10%">
                                            Tên khách hàng
                                        </th>
                                        <th width="10%">
                                            Mã khách hàng
                                        </th>
                                        <th width="5%">
                                            Khách hàng xem HĐ
                                        </th>
                                        <th width="5%">
                                            Người phát hành
                                        </th>
                                        <th width="5%">
                                            Ngày phát hành
                                        </th>
                                        <th width="5%">
                                            Trạng thái hóa đơn
                                        </th>
                                        <th width="5%">
                                            Trạng thái thanh toán
                                        </th>
                                        <th width="5%">
                                            Chi tiết
                                        </th>
                                        <th width="5%">
                                            Sửa
                                        </th>
                                        <th width="5%">
                                            Xóa
                                        </th>
                                        <th width="5%">
                                            @Html.Label("ckbAll", Html.Raw(Resources.Einvoice.Pay_LblChoose).ToString(), new { @class = "labelFix" })
                                            @Html.CheckBox("ckbAll")
                                        </th>
                                        <th width="5%">
                                            Ghi chú
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        IList<IInvoice> listInvoices = Model.PageListINV.ToList();
                                        int i = Model.PageListINV.PageIndex * Model.PageListINV.PageSize + 1;
                                        List<string> lst = new List<string> { "10", "20", "30", "40", "50" };
                                        SelectList pages = new SelectList(lst, Model.PageListINV.PageSize);
                                    }
                                    @foreach (var invoice in listInvoices)
                                    {
                                        <tr>
                                            <td>@(i++)</td>
                                            <td>@invoice.Pattern</td>
                                            <td>@invoice.Serial</td>
                                            @if (invoice.Status == InvoiceStatus.NewInv)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td>@invoice.No.ToString("0000000")</td>
                                            }
                                            <td>@invoice.CusName</td>
                                            <td>@(invoice.CusCode == null ? "" : invoice.CusCode)</td>
                                            @if (invoice.CusSignStatus == cusSignStatus.NocusSignStatus || invoice.CusSignStatus == cusSignStatus.NoSignStatus)
                                            {
                                                <td>Chưa xem</td>
                                            }
                                            else if (invoice.CusSignStatus == cusSignStatus.SignStatus || invoice.CusSignStatus == cusSignStatus.ViewNocusSignStatus || invoice.CusSignStatus == cusSignStatus.ViewNoSignStatus)
                                            {
                                                <td>Đã xem</td>
                                            }
                                            <td>@invoice.PublishBy</td>
                                            <td>@(invoice.Status == InvoiceStatus.NewInv ? "" : String.Format("{0:dd/MM/yyyy}", invoice.PublishDate))</td>
                                            @if (invoice.Status == InvoiceStatus.CanceledInv || invoice.Status == InvoiceStatus.ReplacedInv)
                                            {
                                                <td>Hóa đơn xóa bỏ</td>
                                            }
                                            else
                                            {
                                                <td>@Utils.GetNameInvoiceStatus(invoice.Status)</td>
                                            }
                                            <td>@Utils.GetNameInvoicePaymentStatus(invoice.PaymentStatus)</td>
                                            @if (invoice.Status == InvoiceStatus.NewInv)
                                            {
                                                <td>
                                                    <span alt="Chi tiết" style="cursor: pointer" class="glyphicon glyphicon-eye-open fill-color" onclick="ajxCall('@AesUtil.Encrypt( new string[] { invoice.id.ToString()})', '@invoice.Pattern');"></span>
                                                </td>
                                                <td>
                                                    <a href="/EInvoice/Edit/@invoice.id?Pattern=@(invoice.Pattern) " title="Edit">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="#" onclick="OnDelete('@(invoice.Pattern)', '@invoice.id')" title="Delete">
                                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                                    </a>
                                                </td>
                                            }
                                            else
                                            {
                                                if (invoice.Status == InvoiceStatus.CanceledInv || invoice.Status == InvoiceStatus.ReplacedInv)
                                                {
                                                    <td>
                                                        <span alt="Chi tiết" style="cursor: pointer" class="glyphicon glyphicon-eye-open fill-color" onclick="ajxCall('@AesUtil.Encrypt( new string[] { invoice.id.ToString()})', '@(invoice.Pattern)');"></span>
                                                    </td>
                                                    <td>
                                                        <span class="glyphicon glyphicon-lock fill-color"></span>
                                                    </td>
                                                    <td>
                                                        <span class="glyphicon glyphicon-lock fill-color"></span>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <span alt="Chi tiết" style="cursor: pointer" class="glyphicon glyphicon-eye-open fill-color" onclick="ajxCall('@AesUtil.Encrypt( new string[] { invoice.id.ToString()})', '@invoice.Pattern')"></span>
                                                    </td>
                                                    <td>
                                                        <span class="glyphicon glyphicon-lock fill-color"></span>
                                                    </td>
                                                    <td>
                                                        <span class="glyphicon glyphicon-lock fill-color"></span>
                                                    </td>
                                                }
                                            }
                                            <td id="test">
                                                <input name="cbid" id="cbid" type="checkbox" @(invoice.Status == InvoiceStatus.NewInv ? "" : "disabled='disabled'")
                                                       value="@invoice.id" />
                                            </td>
                                            <td>
                                                <a href="/EInvoice/WriteNote/@invoice.id?Pattern=@(invoice.Pattern)&TypeView=0" title="WriteNote">
                                                    <span class="glyphicon glyphicon-list-alt"></span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                @Html.Hidden("hdPattern")
                                @Html.Hidden("Serial")
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pager row pull-left">
                                <b>PageSize</b>@Html.DropDownList("Pagesize", pages, new { onchange = "ChangePage()", @style = "width:40px" })
                            </div>
                            <div class="pager row pull-right">
                                @Html.Pager(Model.PageListINV.PageSize, Model.PageListINV.PageIndex + 1, Model.PageListINV.TotalItemCount, new
                           {
                               action = "index",
                               controller = "EInvoice",
                               nameCus = Model.nameCus,
                               CodeTax = Model.CodeTax,
                               code = Model.code,
                               Pattern = Model.Pattern,
                               Status = Model.Status,
                               FromDate = Model.FromDate,
                               ToDate = Model.ToDate,
                               Serial = Model.Serial,
                               InvNo = Model.InvNo,
                               typeInvoice = Model.typeInvoice,
                               Pagesize = Model.PageListINV.PageSize
                           })
                            </div>
                        </div>
                    </div>
                </form>
                <input type="button" class="btn btn-primary btn-flat" onclick="Publish_clickAll();" value="Phát hành hóa đơn đã chọn" />
            </div>
        </div>
    </div>
</div>
@section styles{
    <style>
        #MailList {
            text-align: center;
        }

        #container th {
            text-align: center;
        }

        h2 {
            font-family: none !important;
        }

        #MailList {
            color: black !important;
        }

        .labelFix {
            font-weight: 700 !important;
            color: black !important;
            font-size: 13px !important;
        }

        .left-align {
            text-align: left;
        }

        #imgCancel {
            width: 100% !important;
            height: 100% !important;
        }

        .input-date {
            border-bottom: none !important;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript" src="/Content/js/jquery.blockUI.js"></script>
    <script src="/Content/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
    <script src="/Content/js/date.js" type="text/javascript"></script>
    <script src="/Content/js/BrowserDetectShare.js"></script>
    <script src="~/Content/js/jquery.bpopup.min.js"></script>
    <script src="/Content/js/main.js"></script>
    <script language="javascript" type="text/javascript">

        var flagImg = false;
        $(document).ajaxComplete(function () {
            if (flagImg) {
                $('div.VATTEMP').prepend('<img id="imgCancel" src="/Content/Images/mark.png" />');
                $('#imgCancel').css({ "position": "absolute", "z-index": "3", "width": "790px", "height": "760px" });
                flagImg = false;
            }

        });
        function addImg() {
            flagImg = true;
        }

        // xử lý chọn ngày tháng datetime
        function getHiddenValue() {
            var stringDate1 = $("#FromDate").val();
            var d1 = Date.parseExact(stringDate1, "d/M/yyyy");
            if (d1 == null && stringDate1 != null) { // nhập không đúng định dạng ngày tháng
                $("#FromDate").val("");
            }
            var stringDate2 = $("#ToDate").val();
            var d2 = Date.parseExact(stringDate2, "d/M/yyyy");
            if (d2 == null && stringDate2 != null) { // nhập d2 không đúng định dạng
                $("#ToDate").val("");
            }
            if (d1 != null && d2 != null && d1 > d2) {
                bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: "@Html.Raw(Resources.Message.Dec_MesToDateBigBeginDate)",
                    size: 'small',
                });
                $("#ToDate").val("");
            }
        }
        //chon id cua hóa đơn để phát hành
        var arr = new Array();
        function YesOrNo() {
            var radios = $('#count').val();
            var j = 0;
            for (var i = 0; i < radios; i++) {

                if (radios[i].checked == true) {
                    arr[j] = radios[i].value;
                    j++;
                }
            }
        }

        //Chỉ nhập số
        function keypress(e) {
            var keypressed = null;
            if (window.event) {
                keypressed = window.event.keyCode; //IE
            }
            else {
                keypressed = e.which; //NON-IE, Standard
            }
            if (keypressed < 48 || keypressed > 57) {
                if (keypressed == 8 || keypressed == 127) {
                    return;
                }
                return false;
            }
        }
        //Thêm vào phân trang
        function ChangePage() {
            var pattern = $('#Pattern').val();
            var status = $('#Status').val();
            var TypeInvoice = $('#typeInvoice').val();
            var serial = $('#Serial').val();
            var code = $("#code").val();
            var CodeTax = $("CodeTax").val();
            document.location = "/EInvoice?Pattern=" + pattern + "&Status=" + status + "&Serial=" + serial + "&InvNo=" + $("#InvNo").val() + "&FromDate=" + $("#FromDate").val() + "&ToDate=" + $("#ToDate").val() + "&code=" + code + "&nameCus=" + $("#nameCus").val() + "&typeInvoice=" + TypeInvoice + "&Pagesize=" + document.getElementById("Pagesize").options[document.getElementById("Pagesize").selectedIndex].text;
        }
        //xóa hóa đơn chưa phát hành
        function OnDelete(Pattern, id) {
            if (!confirm("@Html.Raw(Resources.Message.MInv_MesConfirmDel)"))
                return;
            document.location = "/EInvoice/delete?Pattern=" + Pattern + "&id=" + id;
        }
        //dịnh dạng lại datepicker theo tieng viet
        jQuery(function ($) {
            $.datepicker.regional['vi'] = {
                closeText: 'Đóng',
                prevText: '&#x3c;Trước',
                nextText: 'Tiếp&#x3e;',
                currentText: 'Hôm nay',
                monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
		'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
                monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
		'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
                dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                weekHeader: 'Tu',
                dateFormat: 'dd/mm/yy',
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
        });
        $(function ($) {
            $(".vietnameseDate").mask("99/99/9999");
        });
        $(document).ready(function () {
            $.datepicker.setDefaults($.datepicker.regional['vi']);
            $(".datepicker").datepicker({
                showOn: "button",
                buttonImage: "/Content/images/calendar.gif",
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true
            });

            $('#Pattern').change(function () {
                var jsd = "Pattern=" + $("#Pattern").val();
                $.ajax({
                    type: "POST",
                    url: "/EInvoice/GetSerial/",
                    data: jsd,
                    success: function (data) {
                        sl = document.getElementById("Serial");
                        while (sl.firstChild) {
                            sl.removeChild(sl.firstChild);
                        }
                        newOpt = new Option("--Ký hiệu--", "");
                        document.getElementById("Serial").options.add(newOpt);
                        newOpt.selected = true;
                        if (data.pu.length > 0) {
                            for (i = 0; i < data.pu.length; i++) {
                                newOption = new Option(data.pu[i]);
                                document.getElementById("Serial").options.add(newOption);
                            }
                        }
                        document.searchForm.submit();
                    }
                });
            });

            $('#InvNo').change(function () {
                var val = $('#InvNo').val();
                if (parseInt(val, 10).toString() == "NaN") {
                    $('#InvNo').val('');
                }
                checkInvNo();
            });
            checkInvNo();

            $('#ckbAll').change(function () {
                if ($(this).is(':checked')) {
                    $('input[name=cbid]').not(':disabled').prop('checked', true);
                } else {
                    $('input[name=cbid]').not(':disabled').prop('checked', false);
                }
            });
            $('#crtInvoice').click(function () {
                var pattern = $("#Pattern").val();
                document.location = '/EInvoice/create?Pattern=' + pattern;
            });
            $(function () {
                $('#4plugin').remove();
            });
        });

        function checkInvNo() {
            if ($('#InvNo').val() && $('#InvNo').val() > 0) {
                $('.searchText').attr("disabled", "disabled");
                $(".datepicker").attr("disabled", "disabled");
            }
            else {
                $(".searchText").removeAttr("disabled");
                $(".datepicker").datepicker('enable');
            }
            var str = $('#InvNo').val();
            while (str.length < 7) {
                str = '0' + str;
            }
            if (str == "0000000")
                return $('#InvNo').val("");
            else
                return $('#InvNo').val(str);
        }

        @*//Phát hành hóa đơn
        function Publish_click() {
            var names = [];
            $('#test input:checked').each(function () {
                names.push(this.value);
            });

            if ($("input:checkbox:checked").length > 0 && $('#Pattern').val() != "") {
                $.blockUI({
                    message: '<h1><img src="/Content/Images/please_wait.gif" />@Html.Raw(Resources.Message.MPleaseWait)</h1>', fadeIn: 0,
                    fadeOut: 10, timeout: 3000
                });
                $('#hdPattern').val($('#Pattern').val());
                $('#Serial').val($('#Serial').val());
                document.forms["danhsachHD"].submit();
            }
            else {
                bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: "@Html.Raw(Resources.Message.MInv_MesChooseInvToPublish)",
                    size: 'small',
                });

            }
        }*@
        function htmlEncode(value) {
            return $('<div/>').text(value).html();
        }
        function htmlDecode(value) {
            return $('<div/>').html(value).text();
        }

        //truong hop khi chon trang thai hoa don
        function sel() {
            var status = $('#Status').val();
            if (status != "-1") {
                $("#InvNo").val("");
                $("#InvNo").attr("disabled", "disabled");
            }
            else {
                $("#InvNo").removeAttr("disabled");
            }
        }
        function GetCertInfo(pattern, names) {
            vnpt_plugin.checkPlugin().then(function (data) {
                vnpt_plugin.setLicenseKey(keyPluginv2).then(function (data) {
                    var jsObLicense = JSON.parse(data);
                    if (jsObLicense.code !== 1) {
                        alert("Chưa set license cho plugin ký số!");
                        return;
                    }
                    vnpt_plugin.getCertInfo().then(function (data) {
                        var jsOb = JSON.parse(data);
                        var certificate = jsOb.base64;
                        var serialCert = jsOb.serial;
                        getHashInvoice(pattern, certificate, serialCert, "0", names);
                    }).catch(function (e) {
                        alert(e);
                    });
                }).catch(function (e) {
                    alert("LicenseKey: " + e);
                });
            }).catch(function (e) {
                $('#dialogCheckEx').bPopup({
                    easing: 'easeOutBack', //uses jQuery easing plugin
                    speed: 450,
                    transition: 'slideDown'
                });
            });
        }
        function Publish_click() {
            var names = new Array();
            $('#test input:checked').each(function () {
                names.push(this.value);
            });
            if ($("input:checkbox:checked").length > 0 && $('#Pattern').val() != "") {
                //var idInvoice = $('#test input:checked').val();
                $.blockUI({
                    message: '<h1><img src="/Content/Images/please_wait.gif" />@Html.Raw(Resources.Message.MPleaseWait)</h1>', fadeIn: 0,
                    fadeOut: 10, timeout: 3000
                });

                // ký bằng token

                var serialCert = $('#serialCert').val();
                var base64Cert = $('#base64Cert').val();
                var pattern = $('#Pattern').val();
                if (base64Cert != "" && serialCert != "") {
                    getHashInvoice(pattern, "", serialCert, "1", names);
                }
                else {
                    // lây chung thu
                    GetCertInfo(pattern, names);
                }

            }
            else {
                bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: "@Html.Raw(Resources.Message.MInv_MesChooseInvToPublish)",
                    size: 'small',
                });

            }
        }
        //Phát hành hóa đơn
        function Publish_click2() {
            //var hard = "N34fbINh6mpAAocR9j79c4bcVVU=";
            //signXMLData(hard);
            //return;
            var names = [];
            $('#test input:checked').each(function () {
                names.push(this.value);
            });

            if ($("input:checkbox:checked").length > 0 && $('#Pattern').val() != "") {
                $.blockUI({
                    message: '<h1><img src="/Content/Images/please_wait.gif" />@Html.Raw(Resources.Message.MPleaseWait)</h1>', fadeIn: 0,
                    fadeOut: 10, timeout: 3000
                });
                $('#hdPattern').val($('#Pattern').val());
                $('#Serial').val($('#Serial').val());
                $("#danhsachHD").attr("action", "/EInvoice/LaunchChoice");
                document.forms["danhsachHD"].submit();
            }
            else {
                bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: "@Html.Raw(Resources.Message.MInv_MesChooseInvToPublish)",
                    size: 'small',
                });
            }
        }
        function Publish_clickAll() {
            var typeCert = $('#typeCert').val();
            if (typeCert == 4) Publish_click();
            else Publish_click2();
        }

        function getHashInvoice(pattern, certificate, serialCert, type, idInvoice) {
            var jsondataClient = { pattern: pattern, certinfo: certificate, serialCert: serialCert, type: type, lstIdInvoice: idInvoice };
            $.ajax({
                type: "POST",
                traditional: true,
                url: "/EInvoice/getHashInvoice",
                data: jsondataClient,
                success: function (data) {
                    if (data == "getCertErr") {
                        bootbox.alert({
                            buttons: {
                                ok: {
                                    label: 'Đồng ý'
                                }
                            },
                            title: "Thông báo",
                            message: "Có lỗi trong quá trình lấy chứng thư từ token!",
                            size: 'small',
                        });

                        return;
                    } else if (data == "getCertErr0") {
                        bootbox.alert({
                            buttons: {
                                ok: {
                                    label: 'Đồng ý'
                                }
                            },
                            title: "Thông báo",
                            message: "Công ty chưa đăng ký chứng thư!",
                            size: 'small',
                        });

                        return;
                    } else if (data == "getCertErr1") {
                        bootbox.alert({
                            buttons: {
                                ok: {
                                    label: 'Đồng ý'
                                }
                            },
                            title: "Thông báo",
                            message: "Chứng thư không đúng với chứng thư công ty đăng ký trên hệ thống!",
                            size: 'small',
                        });

                        return;
                    } else if (data == "getCertErr2") {
                        bootbox.alert({
                            buttons: {
                                ok: {
                                    label: 'Đồng ý'
                                }
                            },
                            title: "Thông báo",
                            message: "Chứng thư chưa đến thời gian sử dụng!",
                            size: 'small',
                        });
                        return;
                    } else if (data == "getCertErr3") {
                        bootbox.alert({
                            buttons: {
                                ok: {
                                    label: 'Đồng ý'
                                }
                            },
                            title: "Thông báo",
                            message: "Chứng thư đã hết hạn!",
                            size: 'small',
                        });
                        return;
                    } else if (data == "getCertErr5") {
                        bootbox.alert({
                            buttons: {
                                ok: {
                                    label: 'Đồng ý'
                                }
                            },
                            title: "Thông báo",
                            message: "Các hóa đơn cần phát hành phải cùng một mẫu số và ký hiệu!",
                            size: 'small',
                        });

                        return;
                    } else {
                        if ("0" == type) {
                            bootbox.alert({
                                buttons: {
                                    ok: {
                                        label: 'Đồng ý'
                                    }
                                },
                                title: "Thông báo",
                                message: "Lấy chứng thư thành công! Vui lòng chọn lại chứng thư, để phát hành hóa đơn!",
                                size: 'small',
                            });
                        }
                        signArrDataAdvancedIndex(data);
                    }
                },
                error: function (xhr, error) {
                    bootbox.alert({
                        buttons: {
                            ok: {
                                label: 'Đồng ý'
                            }
                        },
                        title: "Thông báo",
                        message: xhr.responseText,
                        size: 'small',
                    });
                }
            });
        }
    </script>
}
