﻿@using EInvoice.CAdmin.Models
@using FX.Utils.MvcPaging
@model EInvoice.CAdmin.Models.ReportEinv_Adjust
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReportAdjustInv</title>
</head>
<body>
    <link href="/Content/css/redmond/jquery-ui-1.8.12.custom.css" rel="stylesheet" />
    <link href="/Content/css/grid.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/AdminLTECustomize.css" rel="stylesheet" />
    <link href="~/Content/css/SharedFormElements.css" rel="stylesheet" />
    <script type="text/javascript" src="/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/js/FixJquery.js"></script>
    <script src="/Content/js/jquery-ui-1.8.12.custom.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Content/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
    <script src="/Content/js/date.js" type="text/javascript"></script>
    <script src="/Content/js/FXUtils.js" type="text/javascript"></script>
  
    <script type="text/javascript" src="/Content/js/bootbox.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>

    <style>
        body {
            background: none;
            margin: 0 20px;
            height: 100%;
            padding: 0;
            box-sizing: border-box;
        }

        .grid th, .grid td {
            font-size: 12px !important;
        }

        input:focus {
            outline: none;
            border: 1px solid #ddd;
        }

        .ui-datepicker {
            z-index: 99999 !important;
            border: 1px solid #ccc !important;
        }
        #ui-datepicker-div {
            width: 252px;
        }

        .ui-datepicker-header {
            width: 245px;
        }
	  label.error {
    padding: 0 4px;
    position: absolute;
    background-color: #fff;
    line-height: 22px !important;
    font-weight: normal !important;
    border: none;
    border-bottom: 1px dashed #f00;
}
    </style>
    <div style="text-align: center; margin-top: 20px">
        <p style="font-weight: bold;">BẢNG KÊ HÓA ĐƠN ĐIỀU CHỈNH</p>
        <i>Từ ngày:@Model.FromDate Đến ngày:@Model.ToDate</i><br />
        <i>Tổng số hóa đơn trên bảng kê:@ViewData["Tong"] hóa đơn</i>
    </div>
    <!--End div widget-header1-->
    <div style="padding: 10px 5px 10px 5px; float: left; vertical-align: bottom">
        <form id="Searchform" method="get" action="/Reports/ReportAdjust">
            <b>Từ ngày:<span style="color: red;">(*)</span></b>@Html.TextBox("FromDate", Model.FromDate, new { style = "width:90px; margin:0px 5px 0px 0px", @class = "datepicker vietnameseDate", required = "required", onchange = "getHiddenValue()", @autofocus = "autofocus" })
            <b>Đến ngày:<span style="color: red;">(*)</span></b>@Html.TextBox("ToDate", Model.ToDate, new { style = "width:90px;margin: 0 5px 0 0px", @class = "datepicker vietnameseDate", required = "required", onchange = "getHiddenValue()" })
            <b>Người thực hiện:</b>@Html.TextBox("username", Model.username, new { style = "width:90px;margin: 0 5px 0 0px", maxlength = "200" })
            <button class="btn btn-primary btn-flat" type="submit">Tìm Kiếm</button>
        </form>
    </div>

    <div class="clear">
    </div>
    <table style="width: 100%; min-width: 800px" class="grid">
        <thead>
            <tr>
                <th rowspan="3">STT</th>
                <th rowspan="2" colspan="5">Hóa đơn gốc</th>
                <th rowspan="1" colspan="9">Hóa đơn điều chỉnh</th>
                <th rowspan="3">Người thực hiện</th>
                <th rowspan="3">Ghi chú</th>
            </tr>
            <tr>
                <th colspan="5">Hóa đơn</th>
                <th colspan="4">Thông tin khách hàng</th>
            </tr>
            <tr>
                <th width="150px" style="color: red">Mẫu số</th>
                <th width="150px" style="color: red">Ký hiệu </th>
                <th width="100px" style="color: red">Số HD</th>
                <th width="100px" style="color: red">Ngày ký</th>
                <th width="100px" style="color: red">Số tiền</th>

                <th width="150px" style="color: blue">Mẫu số</th>
                <th width="150px" style="color: blue">Ký hiệu</th>
                <th width="100px" style="color: blue">Số HĐ</th>
                <th width="100px" style="color: blue">Ngày ký</th>
                <th width="100px" style="color: blue">Số tiền</th>

                <th width="100px">Tên </th>
                <th width="100px">Địa chỉ</th>
                <th width="100px">Mã </th>
                <th width="100px">Mã số thuế(nếu có)</th>
            </tr>
        </thead>
        <tbody>
            @{
                List<RecordAdjust> lstfile = Model.PageListRecordAdjust.ToList();
                int i = Model.PageListRecordAdjust.PageIndex * Model.PageListRecordAdjust.PageSize + 1;
                foreach (RecordAdjust item in lstfile)
                {
                    if (item == null)
                    {
                        continue;
                    }
                    {
                    <tr>
                        <td>@(i++)</td>
                        <td>@item.patternOlder</td>
                        <td>@item.serialOlder</td>
                        <td>@Convert.ToDecimal(item.noOlder).ToString("0000000")</td>
                        @*<td>@item.publishDateOlder </td>*@
                        <td>@String.Format("{0:dd/MM/yyyy}", DateTime.Parse(item.publishDateOlder))</td>
                        <td>@item.totalMoneyOlder </td>

                        <td>@item.patternNew</td>
                        <td>@item.serialNew</td>
                        <td>@Convert.ToDecimal(item.noNew).ToString("0000000")</td>
                        @*<td>@item.publishDateNew</td>*@
                        <td>@String.Format("{0:dd/MM/yyyy}", DateTime.Parse(item.publishDateNew))</td>
                        <td>@item.totalMoneyNew</td>

                        <td title="@(item.cusnameNew) ">
                            
                            @(item.cusnameNew)
                            
                        </td>
                        <td title="@(item.addressCusNew) ">
                            
                            @(item.addressCusNew)
                            
                        </td>
                        <td title="@(item.cuscodeNew) ">
                            
                            @(item.cuscodeNew)
                            
                        </td>
                        <td>@item.cusTaxcode</td>
                        <td>@item.username</td>
                        <td>@String.Format("{0:dd/MM/yyyy}", DateTime.Parse(item.proccessdate))</td>
                    </tr>
                    }
                }
            }
        </tbody>
    </table>
    <div class="pager">
        @Html.Pager(Model.PageListRecordAdjust.PageSize, Model.PageListRecordAdjust.PageIndex + 1, Model.PageListRecordAdjust.TotalItemCount, new
   {
       action = "ReportAdjust",
       controller = "Reports",
       FromDate = Model.FromDate,
       ToDate = Model.ToDate,
       username = Model.username
   })
    </div>
    <div style="float: right">
        <button id="print_button" class="btn btn-primary btn-flat" onclick="DownloadExcel()" value="">@Resources.Einvoice.BtnDownExcel</button>
        <button class="btn btn-primary btn-flat" onclick="document.location = '/Home/Index'" value="">@Resources.Einvoice.BtnBack</button>
    </div>
    @{
        Html.RenderPartial("_Messages", ViewData["Messages"]);
    }

    <script language="javascript" type="text/javascript">

        function DownloadExcel() {
            var FromDate = $("#FromDate").val();
            var ToDate = $("#ToDate").val();
            var username = $("#username").val();
            document.location = "/Reports/DownloadExcel?FromDate=" + FromDate + "&ToDate=" + ToDate + "&username=" + username + "&status=" + "1";
        }
        // xử lý chọn ngày tháng datetime
        // xử lý chọn ngày tháng datetime
        function getHiddenValue() {
            var stringDate1 = $("#FromDate").val();
            var d1 = Date.parseExact(stringDate1, "d/M/yyyy");
            if (d1 == null && stringDate1 != null) { // nhập không đúng định dạng ngày tháng
                $("#FromDate").val("");
            }
            var stringDate2 = $("#ToDate").val();
            var d2 = Date.parseExact(stringDate2, "d/M/yyyy");
            if (d2 == null && stringDate2 != null) { // nhập d2 không đúng định dạng
                $("#ToDate").val("");
            }

            if (d1 != null && d2 != null && d1 > d2) {
                alert("Đến ngày phải lớn hơn hoặc bằng Từ ngày!");
                $("#ToDate").val("");
            }
        }
        jQuery(function ($) {
            $.datepicker.regional['vi'] = {
                closeText: 'Đóng',
                prevText: '&#x3c;Trước',
                nextText: 'Tiếp&#x3e;',
                currentText: 'Hôm nay',
                monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
		'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
                monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
		'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
                dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                weekHeader: 'Tu',
                dateFormat: 'dd/mm/yy',
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
        });
        $(function ($) {
            $(".vietnameseDate").mask("99/99/9999");
        });
        $(document).ready(function () {
            $.datepicker.setDefaults($.datepicker.regional['vi']);
            $(".datepicker").datepicker({
                showOn: "button",
                buttonImage: "/Content/images/calendar.gif",
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true
            });

        });
        $("button[type=submit]").click(function () {
            if ($("#FromDate").val() == "" || $("#ToDate").val() == "") {
                alert("Cần nhập đầy đủ từ ngày và đến ngày");
                return false;
            }
            var _valid = $('#Searchform').valid();
            if (!_valid) {
                return false;
            }
            return submit();
        });
    </script>

</body>
</html>
