﻿@model EInvoice.CAdmin.Models.ReportsModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">PHỤ LỤC</h3>
                <h4>BẢNG KÊ HOÁ ĐƠN, CHỨNG TỪ HÀNG HOÁ, DỊCH VỤ BÁN RA THEO THÔNG TƯ SỐ 119-TT-BTC</h4>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--search box-->
                <div class="row">
                    <div class="col-sm-12 center-with-header">
                        @using (Html.BeginForm("ReportsMonthArisingDatePrint", "Reports", FormMethod.Post, new { @action = "/Reports/ReportsMonthArisingDatePrint", enctype = "multipart/form-data", @class = "form-horizontal", id = "ReportPrint" }))
                        {
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group">
                                    @Html.Label("Tháng: ", new { @class = "col-sm-2 control-label col-sm-offset-2", style = "text-align: left" })
                                    <div class="col-sm-5">
                                        @Html.DropDownList("Month", Model.lstMonth, new { @class = "form-control dropdownlist required", title = "Chọn tháng!" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4" style="margin-left: 20px">
                                <div class="form-group">
                                    @Html.Label("Năm: ", new { @class = "col-sm-2 control-label", style = "text-align: left" })
                                    <div class="col-sm-5">
                                        @Html.DropDownList("Year", Model.lstYear, new { @class = "form-control dropdownlist required", title = "Chọn năm!" })
                                    </div>
                                </div>


                            </div>
                            <div style="margin-top: 30px" class="col-sm-12 col-sm-offset-5">
                                <button class="btn btn-primary btn-flat pull-left col-sm-1" id="Submit" type="submit">Báo cáo</button>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@{
    Html.RenderPartial("_Messages", ViewData["Messages"]);
}
@section styles{
    <style>
        label {
            font-weight: 700;
        }

        .left-align {
            text-align: left;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript" src="/Content/js/jquery.blockUI.js"></script>
    <script src="/Content/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
}
