﻿@model EInvoice.CAdmin.Models.ReportsPrintModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<meta http-equiv="content-type" content="text/html;charset=UTF-8">*@
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/AdminLTECustomize.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/css/normalize.min.css">
    <script type="text/javascript" src="/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/js/FixJquery.js"></script>
    <script type="text/javascript" src="/Content/js/html5-3.6-respond-1.1.0.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.PrintArea.js"></script>
    <title>ReportsPrint</title>
</head>
<body style="background:none;">
    @Html.Hidden("year", ViewData[" year"])
    @Html.Hidden("month", ViewData["month"])
    <div>
        <div id="print">@Html.Raw(Model.Html.Replace("&lt;br/&gt;", "<br />"))</div>
    </div>
    <div>

        <input class="btn btn-primary btn-flat" type="button" id="print_button" value="In thông báo" onclick="JavaScript: printex('print');" />
        <input class="btn btn-primary btn-flat" type="button" id="Button1" value="Xuất File Xls" onclick="DownloadreportXls()" />
        <input class="btn btn-primary btn-flat" type="button" id="Button3" value="Xuất File xml" onclick="Downloadreportxml()" />
        <input class="btn btn-primary btn-flat" type="button" value="Quay lại" onclick="document.location = '/Reports/ReportsUserMonthArisingDate'" />
    </div>
    <script language="javascript" type="text/javascript">
        function printex(divID) {
            var printElement = document.getElementById(divID);
            $(printElement).printArea({
                mode: "popup",
                popWd: 1000,
                popHt: 900,
                popClose: false,
                tagPrint: printElement
            });
        }
    function DownloadreportXls() {
        var year = $("#year").val();
        var month = $("#month").val();
        document.location = "/Reports/DownloadXls?year=" + year + "&month=" + month + "&statusReport=" + 0;
    }

    function Downloadreportxml() {
        var year = $("#year").val();
        var month = $("#month").val();
        document.location = "/Reports/DownloadReportQuater_xml?year=" + year + "&month=" + month + "&statusReport=" + 0;
    }
    </script>
</body>
</html>
