﻿@using EInvoice.Core
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@model dynamic
@{
    ViewBag.Title = "Báo cáo tình hình sử dung theo quý";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList cl = Model;
}
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">BÁO CÁO TÌNH HÌNH SỬ DỤNG HÓA ĐƠN THEO QUÝ</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--search box-->
                <div class="row">
                    <div class="col-sm-12 center-with-header">
                        @using (Html.BeginForm("ReportsPrint", "Reports", FormMethod.Get, new { @class = "form-horizontal", id = "ReportPrint" }))
                        {
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group">
                                    @Html.Label("Quý: ", new { @class = "col-sm-2 control-label col-sm-offset-2", style = "text-align: left" })
                                    <div class="col-sm-5">
                                        <select class="form-control dropdownlist required" name="quarter" title="Chọn quý!">
                                            <option id="Option2" value="1">
                                                @Resources.Einvoice.ReUse_ReqQuarterOne
                                            </option>
                                            <option id="Option3" value="2">
                                                @Resources.Einvoice.ReUse_ReqQuarterTwo
                                            </option>
                                            <option id="Option4" value="3">
                                                @Resources.Einvoice.ReUse_ReqQuarterThree
                                            </option>
                                            <option id="Option5" value="4">
                                                @Resources.Einvoice.ReUse_ReqQuarterFour
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4" style="margin-left: 20px">
                                <div class="form-group">
                                    @Html.Label("Năm: ", new { @class = "col-sm-2 control-label", style = "text-align: left" })
                                    <div class="col-sm-5">
                                        @Html.DropDownList("year", cl, new { @class = "form-control dropdownlist required", title = "Chọn năm!" })
                                    </div>
                                </div>


                            </div>
                            <div style="margin-top: 30px" class="col-sm-12 col-sm-offset-5">
                                <button class="btn btn-primary btn-flat pull-left col-sm-1" id="Submit" type="submit">Báo cáo</button>
                            </div>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@{
    Html.RenderPartial("_Messages", ViewData["Messages"]);
}
@section styles{
    <style>
        label {
            font-weight: 700;
        }

        .left-align {
            text-align: left;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}

@section scripts{
    <script src="/Content/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="/Content/js/jquery-ui-1.8.12.custom.min.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $('form:first').validate();
        });
    </script>
}
