﻿@model EInvoice.CAdmin.Models.ReportsPrintModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="../../Content/css/reportInv.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/AdminLTECustomize.css" rel="stylesheet" />
    <script type="text/javascript" src="/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.PrintArea.js"></script>
    <script type="text/javascript" src="/Content/js/FixJquery.js"></script>
    <title>Quản trị</title>
</head>
<body style="background:none;">
    @Html.Hidden("Month", ViewData["Month"])
    @Html.Hidden("Year", ViewData["Year"])
    <div>
        <div id="print">
            <div id="print">@Html.Raw(Model.Html.Replace("&lt;br/&gt;", "<br />"))</div>
        </div>
    </div>
    <div style="margin: -50px 0 0 15px">

        <input class="btn btn-primary btn-flat" type="button" id="print_button" value="In thông báo" onclick="JavaScript: printex('print');" />
        <input class="btn btn-primary btn-flat" type="button" value="Quay lại" onclick="document.location = '/Reports/ReportsMonthArisingDate'" />
        <input class="btn btn-primary btn-flat" type="button" id="Button2" value="Xuất File Xls" onclick="Download_Excel()" />
        <input class="btn btn-primary btn-flat" type="button" id="Button3" value="Xuất File xml" onclick="Download_xml()" />
    </div>
    <script language="javascript" type="text/javascript">
        function printex(divID) {
            var printElement = document.getElementById(divID);
            $(printElement).printArea({
                mode: "popup",
                popWd: 1000,
                popHt: 900,
                popClose: false,
                tagPrint: printElement
            });
        }
    function Download_Excel() {
        var Month = $("#Month").val();
        var Year = $("#Year").val();
        document.location = "/Reports/DownloadReportMonth_Excel?month=" + Month + "&year=" + Year;
    }
    function Download_xml() {
        var Month = $("#Month").val();
        var Year = $("#Year").val();
        document.location = "/Reports/DownloadReportMonth_xml?reportName=''&month=" + Month + "&year=" + Year + "&type=rptMonth&quarter=''";
    }
    </script>
</body>
</html>
