﻿@using EInvoice.CAdmin.Models
@using FX.Utils.MvcPaging
@model EInvoice.CAdmin.Models.ReportEinv_Cancel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ReportCancelInv</title>
</head>
<body>
    <link href="/Content/css/grid.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/AdminLTECustomize.css" rel="stylesheet" />
    <link href="/Content/css/redmond/jquery-ui-1.8.12.custom.css" rel="stylesheet" />    
    <link href="~/Content/css/SharedFormElements.css" rel="stylesheet" />
    <script type="text/javascript" src="/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/js/FixJquery.js"></script>
    <script src="/Content/js/jquery-ui-1.8.12.custom.min.js"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Content/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
    <script src="/Content/js/date.js" type="text/javascript"></script>
    <script src="/Content/js/FXUtils.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Content/js/bootbox.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
<style>
    body {
        background: none;
        margin: 0 20px;
        height: 100%;
        padding: 0;
        box-sizing: border-box;
    }

    .grid th, .grid td {
        font-size: 12px !important;
    }
    input:focus {
            outline: none;
            border: 1px solid #ddd;
        }

    .ui-datepicker {
        z-index: 99999 !important;
        border: 1px solid #ccc !important;
    }
    #ui-datepicker-div {
        width: 252px;
    }

    .ui-datepicker-header {
        width: 245px;
    }
     label.error {
    padding: 0 4px;
    position: absolute;
    background-color: #fff;
    line-height: 22px !important;
    font-weight: normal !important;
    border: none;
    border-bottom: 1px dashed #f00;
    }
</style>
    <div style="text-align: center; margin-top: 20px">
        <p style="font-weight: bold;">BẢNG KÊ HÓA ĐƠN XÓA BỎ</p>
        <i>Từ ngày:@Model.FromDate Đến ngày:@Model.ToDate</i><br />
        <i>Tổng số hóa đơn trên bảng kê:@ViewData["Tong"] hóa đơn</i>
    </div>
    <!--End div widget-header1-->
    <div style="padding: 10px 5px 10px 5px; float: left; vertical-align: bottom">
        <form id="Searchform" method="get" action="/Reports/ReportCancelInv">
            <b>Từ ngày:<span style="color: red;">(*)</span></b>@Html.TextBox("FromDate", Model.FromDate, new { style = "width:90px; margin:0px 5px 0px 0px", @class = "datepicker vietnameseDate", required= "required", onchange = "getHiddenValue()", @autofocus = "autofocus" })           
            <b>Đến ngày:<span style="color: red;">(*)</span></b>@Html.TextBox("ToDate", Model.ToDate, new { style = "width:90px;margin: 0 5px 0 0px", @class = "datepicker vietnameseDate", required = "required", onchange = "getHiddenValue()" })
            <b>Người xóa bỏ:</b>@Html.TextBox("username", Model.username, new { style = "width:90px;margin: 0 5px 0 0px", maxlength="200"})
            <button class="btn btn-primary btn-flat" type="submit">Tìm Kiếm</button>
        </form>
    </div>

    <div class="clear">
    </div>
    <table style="width: 100%; min-width: 800px" class="grid">
        <thead>
            <tr>
                <th rowspan="2">STT</th>
                <th colspan="5">Hóa đơn gốc</th>
                <th colspan="4">Thông tin khách hàng</th>
                <th rowspan="2">Người thực hiện</th>
                <th rowspan="2">Ngày thực hiện</th>
                <th rowspan="2"> Ghi Chú</th>
            </tr>
            <tr>
                <th width="150px">Mẫu số</th>
                <th width="150px">Ký hiệu</th>
                <th width="100px">Số HĐ</th>
                <th width="100px">Ngày ký</th>
                <th width="100px">Số tiền</th>

                <th width="100px">Tên </th>
                <th width="100px">Địa chỉ</th>
                <th width="100px">Mã </th>
                <th width="100px">Mã số thuế<br />(nếu có)</th>

            </tr>
        </thead>
        <tbody>
            @{
                List<RecordInvCancel> lstfile = Model.PageListRecordInvCancel.ToList();
                int i = Model.PageListRecordInvCancel.PageIndex*Model.PageListRecordInvCancel.PageSize + 1;
                foreach (RecordInvCancel item in lstfile)
                {
                    <tr>
                        <td>@(i++)</td>

                        <td>@item.pattern</td>
                        <td>@item.serial</td>
                        <td>@item.no</td>
                        <td>@item.publishDate</td>
                        <td>@item.totalAmount</td>

                        <td title="@(item.cusName) ">
                           
                            @(item.cusName)
                            
                        </td>
                        <td title="@(item.addressCus) ">
                            
                            @(item.addressCus)
                            
                        </td>
                        <td title="@(item.cusCode) ">
                            
                            @(item.cusCode)
                            
                        </td>
                        <td>@item.cusTaxCode</td>
                        <td>@item.Username</td>
                        <td>@String.Format("{0:dd/MM/yyyy}", DateTime.Parse(item.DayCancelInv))</td>
                        <td></td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <div class="pager">
        @Html.Pager(Model.PageListRecordInvCancel.PageSize, Model.PageListRecordInvCancel.PageIndex + 1, Model.PageListRecordInvCancel.TotalItemCount, new
        {
        action = "ReportCancelInv",
        controller = "Reports",
        FromDate = Model.FromDate,
        ToDate = Model.ToDate,
        username= Model.username
        })
    </div>
<div style="float: right">
    <button id="print_button" class="btn btn-primary btn-flat" onclick="DownloadExcel()" value="" >@Resources.Einvoice.BtnDownExcel</button>
    <button class="btn btn-primary btn-flat" onclick="document.location = '/Home/Index'" value="" >@Resources.Einvoice.BtnBack</button>
</div>
@{
    Html.RenderPartial("_Messages", ViewData["Messages"]);
}
     
    <script language="javascript" type="text/javascript">

    function DownloadExcel() {
        var FromDate = $("#FromDate").val();
        var ToDate = $("#ToDate").val();
        var username = $("#username").val();
        document.location = "/Reports/DownloadExcelInvCancel?FromDate=" + FromDate + "&ToDate=" + ToDate + "&username=" + username;
    }
    // xử lý chọn ngày tháng datetime
    // xử lý chọn ngày tháng datetime
    function getHiddenValue() {
        var stringDate1 = $("#FromDate").val();
        var d1 = Date.parseExact(stringDate1, "d/M/yyyy");
        if (d1 == null && stringDate1 != null) { // nhập không đúng định dạng ngày tháng
            $("#FromDate").val("");
        }
        var stringDate2 = $("#ToDate").val();
        var d2 = Date.parseExact(stringDate2, "d/M/yyyy");
        if (d2 == null && stringDate2 != null) { // nhập d2 không đúng định dạng
            $("#ToDate").val("");
        }

        if (d1 != null && d2 != null && d1 > d2) {
           alert("Đến ngày phải lớn hơn hoặc bằng Từ ngày!");
                $("#ToDate").val("");
            }
        }
        jQuery(function ($) {
            $.datepicker.regional['vi'] = {
                closeText: 'Đóng',
                prevText: '&#x3c;Trước',
                nextText: 'Tiếp&#x3e;',
                currentText: 'Hôm nay',
                monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
		'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
                monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
		'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
                dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                weekHeader: 'Tu',
                dateFormat: 'dd/mm/yy',
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
        });
        $(function ($) {
            $(".vietnameseDate").mask("99/99/9999");
        });
        $(document).ready(function () {
            $.datepicker.setDefaults($.datepicker.regional['vi']);
            $(".datepicker").datepicker({
                showOn: "button",
                buttonImage: "/Content/images/calendar.gif",
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true
            });
            
        });
  $("button[type=submit]").click(function () {
            if ($("#FromDate").val() == "" || $("#ToDate").val() == "") {
                alert("Cần nhập đầy đủ từ ngày và đến ngày");
                return false;
            }
            var _valid = $('#Searchform').valid();
            if (!_valid) {
                return false;
            }                                       
            return submit();
        });
        
    </script>
    
</body>
</html>
