﻿@model EInvoice.CAdmin.Models.ReportsPrintModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="../../Content/css/reportInv.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/AdminLTECustomize.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/css/normalize.min.css">
    <script type="text/javascript" src="/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/js/FixJquery.js"></script>
    <script type="text/javascript" src="/Content/js/html5-3.6-respond-1.1.0.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.PrintArea.js"></script>
    <title>Quản trị</title>
</head>
<body style="background:none;">
    @Html.Hidden("Month",ViewData["Month"] ) 
    @Html.Hidden("Year",ViewData["Year"])
    <div>
        <div id="print">
            @Html.Raw(Model.Html)
        </div>
    </div>
    <div style="margin: -50px 0 0 15px">
        <input class="btn btn-primary btn-flat" type="button" id="print_button" value="In" onclick="JavaScript: printex('print');" />
        
        <input class="btn btn-primary btn-flat" type="button" id="Button2" value="Kết xuất excel" onclick="Download_Excel()" />
        <input class="btn btn-primary btn-flat" type="button" id="Button3" value="Kết xuất xml" onclick="Download_xml()" />
        <input class="btn btn-primary btn-flat" type="button" value="Quay lại" onclick="document.location = '/Reports/ReportsMonthTT28'" />
    </div>
    <script language="javascript" type="text/javascript">
        function printex(divID) {
            var printElement = document.getElementById(divID);
            $(printElement).printArea({
                mode: "popup",
                popWd: 1000,
                popHt: 900,
                popClose: false,
                tagPrint: printElement
            });
        }
    function Download_Excel() {
        var Month = $("#Month").val();
        var Year = $("#Year").val();
        document.location = "/Reports/DownloadReportMonth_excelThongTu?month=" + Month + "&year=" + Year + "&typeTT=TT28";
    }
    function Download_xml() {
        var Month = $("#Month").val();
        var Year = $("#Year").val();
        document.location = "/Reports/DownloadReportMonth_xml?reportName=TaxTT28&month=" + Month + "&year=" + Year + "&type=rptMonthTT";
    }
    </script>
</body>
</html>
