﻿@using EInvoice.Core.Domain
@model EInvoice.Core.Domain.GroupResource
@{
    ViewBag.Title = "Tạo mới nhóm vùng dữ liệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<link href="~/Content/css/style.css" rel="stylesheet" />
<link href="~/Content/css/SharedFormElements.css" rel="stylesheet" />*@
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                    @using (Html.BeginForm("Create", "GroupResource", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        Html.RenderPartial("GroupResourceShareElement", Model);
                    }
            </div>
        </div>
    </div>
