﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@model FX.Utils.MvcPaging.IPagedList<EInvoice.Core.Domain.GroupResource>
@{
    ViewBag.Title = "Nhóm vùng dữ liệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string str = ViewBag.param;
}
<link href="~/Content/grid.css" rel="stylesheet" />
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">@Resources.Einvoice.MInv_LblListOfGroupResource</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-12">

                            <form id="Searchform" method="get" action="/GroupResource/Index">
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="col-md-2" style="padding-top:5px; padding-left: 0px">
                                            <b>@Resources.Einvoice.Prod_LblName:</b>
                                        </div>
                                        <div class="col-md-10">
                                            @*<input id="name" name="name" type="text" style="width:100%; margin-left:10px; margin-right:10px" value="@(ViewData["name"]) " maxlength="200" class="form-control" />*@

                                            @Html.TextBox("param", value: str, htmlAttributes: new { id = "txtSearch", style = "width:100%; margin-left:10px; margin-right:10px", maxlength = "50", @class = "form-control" })

                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="col-md-6">
                                            <input id="Submit1" type="submit" value="@Resources.Einvoice.BtnSeach" class="btn btn-block btn-primary btn-flat" style="width:100px" />
                                        </div>
                                        <div class="col-md-6 btnCreateList">
                                            @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Edit_user"))
                                            {
                                                <a class="btn btn-block btn-primary btn-flat pull-right" href="/GroupResource/Create/" title="Create" style="width:92px;">
                                                    <i class="glyphicon glyphicon-plus"></i> @Resources.Einvoice.BtnCreate
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example2" class="table table-bordered table-hover table-striped table-responsive have-action dataTable textTable" role="grid" aria-describedby="example2_info">
                                <thead class="textThead">
                                    <tr>
                                        <th width="10px">
                                            @Resources.Einvoice.Prod_LblNo
                                        </th>
                                        <th width="50px">
                                            @Resources.Einvoice.Prod_LblCode
                                        </th>
                                        <th width="150px">
                                            @Resources.Einvoice.Prod_LblName
                                        </th>
                                        <th width="30px">
                                            @Resources.Einvoice.LblDetail
                                        </th>
                                        <th width="30px">
                                            @Resources.Einvoice.LblEdit
                                        </th>
                                        <th width="30px">
                                            @Resources.Einvoice.LblDelete
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var Prolst = Model.ToList();
                                        int i = Model.PageIndex * Model.PageSize + 1;
                                        foreach (var pro in Model)
                                        {

                                            <tr>
                                                <td align="center">@i</td>
                                                <td>@pro.Code</td>
                                                <td>@pro.Name</td>

                                                <td style="text-align:center">
                                                    @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Edit_user"))
                                                    {
                                                        <a href="/GroupResource/Resource/@pro.Id" title="Edit">
                                                            <span class="glyphicon glyphicon-edit"></span>
                                                        </a>
                                                    }
                                                </td>

                                                <td style="text-align:center">
                                                    @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Edit_user"))
                                                    {
                                                        <a href="/GroupResource/Edit/@pro.Id" title="Edit">
                                                            <span class="glyphicon glyphicon-edit"></span>
                                                        </a>
                                                    }
                                                </td>
                                                <td style="text-align:center">
                                                    @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Edit_user"))
                                                    {
                                                        <a href="#" onclick="OnDelete('@pro.Id')" title="Delete">
                                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                                        </a>
                                                    }
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                        </div>
                        <div class="col-sm-2">
                            <div class="pager row pull-right">
                                @Html.Pager(Model.PageSize, Model.PageIndex + 1, Model.TotalItemCount, new
                           {
                               action = "index",
                               controller = "GroupResource",
                               name = ViewData["name"],
                               code = ViewData["code"]
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ID="Content2" ContentPlaceHolderID="MainContent">
        <script language="javascript" type="text/javascript">
            function OnDelete(id) {
                if (!confirm('@Html.Raw(Resources.Message.MInv_MesConfirmDelResource)'))
                    return;
                document.location = "/GroupResource/Delete?id=" + id;
            }
        </script>
    </div>
</div>
