﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@model FX.Utils.MvcPaging.IPagedList<EInvoice.Core.Domain.Resourceareas>
@{
    ViewBag.Title = "Nhóm vùng dữ liệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/grid.css" rel="stylesheet" />
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">@Resources.Einvoice.MInv_LblListOfResourceGroupSelect</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-12">
                            Nhóm:&nbsp;<label class="word_wrap"> @ViewBag.Group.Name</label>

                            @using (Html.BeginForm("Resource", "GroupResource", routeValues: new { id = ViewData["id"] != null ? Html.Encode(ViewData["id"]) : null, page = ViewData["page"] != null ? Html.Encode(ViewData["page"]) : "1" }, method: FormMethod.Post, htmlAttributes: new { style = "padding: 0 10px 10px 10px; text-align: right" }))
                            {
                                @Html.AntiForgeryToken()
                                string codes = "";
                                if (ViewBag.Group != null)
                                {
                                    codes = String.Join(",", (ViewBag.Group as GroupResource).ResourcesAreas.Select(r => r.id));
                                }

                                @*<form id="Searchform" method="post" action="/GroupResource/Resource">*@
                                <div class="row">

                                    <div class="col-md-4">
                                        <div class="col-md-2" style="padding-top: 10px">
                                            <b>@Resources.Einvoice.GroupRes_LblCodeResource </b>
                                        </div>
                                        <div class="col-md-10">
                                            @Html.Hidden("id", ViewData["id"] as string)
                                            <input id="code" name="code" type="text" style="width: 100%; margin-left: 10px; margin-right: 10px" value="@(ViewData["code"])" maxlength="20" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-6">
                                            <input type="button" id="searchBtn" value="@Resources.Einvoice.BtnSeach" class="btn btn-block btn-primary btn-flat" style="width: 100px" />

                                        </div>
                                        <div class="col-md-6 btnCreateList">
                                            <input type="hidden" name="codes" id="codes" value="@codes" />
                                            <input type="hidden" name="isEmpty" id="isEmpty" value="false" />
                                            @Html.Hidden("page", ViewData["page"] as string)
                                            <button type="submit" id="btnSubmitChange" class="btn btn-primary btn-flat"><i class="fa fa-check-square-o margin-r-5"></i>@Resources.Einvoice.BtnSave</button>
                                            @Html.ActionLink("◄ " + Resources.Einvoice.BtnBack, "Index", "GroupResource", routeValues: new { page = ViewData["returnPage"] != null ? Html.Encode(ViewData["returnPage"]) : "1" }, htmlAttributes: new { style = "border: 1px solid #d5d5d5; background-color: #0066B3; padding: 3px 7px; margin-right: 10px", @class = "btn btn-primary btn-flat" })
                                        </div>
                                    </div>
                                </div>
                                @*</form>*@
                            }
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example2" class="table table-bordered table-hover table-striped table-responsive have-action dataTable textTable" role="grid" aria-describedby="example2_info">
                                <thead class="textThead">
                                    <tr>
                                        <th width="10px">
                                            @Resources.Einvoice.Prod_LblNo
                                        </th>
                                        <th width="50px">
                                            @Resources.Einvoice.GroupRes_LblCodeResourceTitleSelect
                                        </th>
                                        <th width="150px">
                                            @Resources.Einvoice.GroupRes_LblNameResourceTitleSelect
                                        </th>
                                        <th width="30px">
                                            @Resources.Einvoice.GroupRes_LblDescripttionResourceTitle
                                        </th>
                                        <th style="width: 37px; text-align: center; padding: 0">
                                            @Html.CheckBox("chkAll")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var Prolst = Model.ToList();
                                        int i = Model.PageIndex * Model.PageSize + 1;
                                        foreach (var pro in Model)
                                        {
                                            <tr>
                                                <td align="center">@i</td>
                                                <td>@pro.Code</td>
                                                <td>@pro.Name</td>

                                                <td title="@pro.Description">
                                                    @if (!string.IsNullOrWhiteSpace(pro.Description) && pro.Description.Length > 60)
                                                    {
                                                        @pro.Description.Substring(0, 55)
                                                    }
                                                    else
                                                    {
                                                        @pro.Description
                                                    }
                                                </td>
                                                <td style="text-align: center; padding: 0">
                                                    @Html.CheckBox("chkOne", htmlAttributes: new { value = pro.id })
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                        </div>
                        <div class="col-sm-2">
                            <div class="pager row pull-right">
                                @Html.Pager(Model.PageSize, Model.PageIndex + 1, Model.TotalItemCount, new
                           {
                               action = "Resource",
                               controller = "GroupResource",
                               id = ViewData["id"] != null ? Html.Encode(ViewData["id"]) : null,
                               name = ViewData["name"],
                               code = ViewData["code"],
                               returnpage = ViewData["returnPage"] != null ? ViewData["returnPage"] : "1"
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ID="Content2" ContentPlaceHolderID="MainContent">
        <script language="javascript" type="text/javascript">
            $(document).ready(function () {
                var account = @ViewData["id"];

                if (localStorage.getItem(account) == undefined || localStorage.getItem(account) == null) {
                    localStorage.setItem(account, $('#codes').val());
                }

                var _checked = localStorage.getItem(account).split(',');
                // Enter key Press
                $("form").keypress(function (event) {
                    if (event.keyCode == "13") {
                        event.preventDefault();
                        if (localStorage.getItem(account) != null)
                            localStorage.removeItem(account);
                        document.location = '/Groupresource/Resource?id=' + $("#id").val() + '&code=' + $('#code').val();
                    }
                });
                // Search button
                $('#searchBtn').click(function () {
                    if (localStorage.getItem(account) != null)
                        localStorage.removeItem(account);
                    document.location = '/Groupresource/Resource?id=' + $("#id").val() + '&code=' + $('#code').val();
                });

                var Flag = false;
                $("input:checkbox[name=chkOne]").each(function (i, input) {
                    if (_checked.indexOf($(input).val()) > -1)
                    { 
                        $(input).prop('checked', 'checked');
                        Flag = true;
                    }
                    else
                        $(input).removeAttr('checked');
                });
                if(Flag) $('#chkAll').prop('checked', true);

                $('input:checkbox[name=chkOne]').change(function () {
              
                    if( $('input:checkbox[name=chkOne]:checked').length > 0) 
                        $('#chkAll').prop('checked', true);
                    else
                        $('#chkAll').prop('checked', false);

                });
                
                
                $('#chkAll').change(function () {
                    var _this = $(this);
                    if (_this.is(':checked')) {
                        $('input:checkbox[name=chkOne]').each(function (index, chkOne) {
                            this.checked = true;
                        });
                    }
                    else {
                        $('input:checkbox[name=chkOne]').each(function (index, chkOne) {
                            this.checked = false;
                        });
                    }
                });

                $('input:checkbox[name=chkOne]').change(function () {
                    var _this = $(this);
                    if (!_this.is(':checked')) {
                        var _arr = localStorage.getItem(account).split(',');
                        if (_arr.indexOf(_this.val()) > -1) {
                            _arr.splice(_arr.indexOf(_this.val()), 1);
                        }
                        localStorage.setItem(account, _arr);
                    }

                    _checked = [];
                    $('input:checkbox[name=chkOne]:checked').each(function () {
                        _checked.push($(this).val());
                    });
                });


                $('.pager a').click(function () {
                    if (localStorage.getItem(account)) {
                        var _arr = localStorage.getItem(account).split(',');
                        $(_arr).each(function (i, item) {
                            if (_checked.indexOf(item) < 0)
                                _checked.push(item);
                        });
                        if (_checked != undefined) {
                            localStorage.setItem(account, _checked);
                        }
                    }
                    else {
                        if (_checked != undefined) {
                            localStorage.setItem(account, _checked);
                        }
                    }
                });

                $('#IsAll').change(function () {
                    var _this = $(this);
                    var _val = $(this).is(':checked');
                    $.ajax({
                        type: "POST",
                        url: "/GroupResource/UpdateAdmin",
                        data: { username: $('#account').val(), isadmin: _val },
                        success: function (msg) {
                            if (msg == true) {
                                alert('Cập nhật thành công!');
                                if (_val) {
                                    $('input[type=checkbox]').not(_this).attr('disabled', 'disabled');
                                }
                                else {
                                    $('input[type=checkbox]').removeAttr('disabled');
                                }
                            } else if (msg == false) {
                                _this.removeAttr('checked');
                                alert('Có lỗi trong quá trình cập nhật!');
                            } else {
                                _this.removeAttr('checked');
                                alert('Tài khoản không tồn tại!');
                            }
                        }
                    });
                });

                $('#btnSubmitChange').click(function () {
                    if ($('#IsAll').is(':checked')) {
                        return false;
                    }
                    if (confirm("Bạn chắc chắn muốn lưu dữ liệu?\n- Mẹo nhỏ: Nhấn Hủy/Cancel, chuyển trang và chọn tiếp nếu muốn!")) {
                        $('input:checkbox[name=chkOne]').trigger('change');

                        if (localStorage.getItem(account)) {
                            var _arr = localStorage.getItem(account).split(',');
                            $(_arr).each(function (i, item) {
                                if (_checked.indexOf(item) < 0)
                                    _checked.push(item);
                            });
                            if (_checked != undefined) {
                                localStorage.setItem(account, _checked);
                            }
                        }
                        else {
                            if (_checked != undefined) {
                                localStorage.setItem(account, _checked);
                            }
                        }
                        $('#codes').val(localStorage.getItem(account));
                        localStorage.removeItem(account);
                        return true;
                    }
                    else {
                        return false;
                    }
                });
            });
        </script>
    </div>
</div>
