﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@model FX.Utils.MvcPaging.IPagedList<EInvoice.Core.Domain.GroupResource>
@{
    ViewBag.Title = "NHÓM PHÂN VÙNG - NHÂN VIÊN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/grid.css" rel="stylesheet" />
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">@Resources.Einvoice.MInv_LblListOfStaffResource</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <div class="row">
                        <div class="col-sm-12">

                            @using (Html.BeginForm(actionName: "StaffGroup", controllerName: "GroupResource", routeValues: new { isEmpty = Request.Params["isEmpty"] != null ? Html.Encode(Request.Params["isEmpty"]) : "false", id = (string)ViewBag.id != null ? (string)Html.Encode(ViewBag.id) : null, returnpage = Request.Params["returnpage"] != null ? Html.Encode(Request.Params["returnpage"]) : "1", page = Request.Params["page"] != null ? Html.Encode(Request.Params["page"]) : "1" }, method: FormMethod.Post, htmlAttributes: new { style = "padding: 0 10px 10px 10px; text-align: right;" }))
                            {
                                @Html.AntiForgeryToken()
                                string codes = "";
                                if (ViewBag.CurrentUser.Resources != null && ViewBag.CurrentUser.Resources.Count > 0)
                                {
                                    codes = String.Join(",", (ViewBag.CurrentUser as EInvoice.Core.Domain.UserResource).Resources.Select(gr => gr.Id));
                                }
                                <input type="hidden" name="codes" id="codes" value="@Html.Encode(codes)" />
                                <input type="hidden" name="isEmpty" id="isEmpty" value="false" />
                                @Html.Hidden("account", (string)ViewBag.CurrentUser.username)

                                <fieldset>
                                    <ol style="text-align:left;">
                                        <li>
                                            <label for="account">Tài khoản:</label>&nbsp;<label class="word_wrap">@Html.Encode(ViewBag.id)</label>
                                        </li>
                                        <li>
                                            <label for="IsAdmin">Quản trị đường thu:</label>
                                            @Html.CheckBox(name: "IsAll", isChecked: ViewBag.CurrentUser.IsAdmin == 2 ? true : false)
                                            <label for="IsAdmin">&nbsp;(Quản lý tất cả đường thu của công ty)</label>
                                        </li>
                                    </ol>
                                </fieldset>

                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="col-md-2" style="padding-top: 10px">
                                            <b>@Resources.Einvoice.GroupRes_LblCodeResource </b>
                                        </div>
                                        <div class="col-md-10">
                                            @Html.TextBox("code", ViewData["code"], new { style = "Width:200px; margin-bottom:4px;" })
                                            @Html.Hidden("id", ViewBag.id as string)
                                            @Html.Hidden("page", ViewBag.ReturnPage as string)
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="col-md-6">
                                            <input type="button" id="searchBtn" value="@Resources.Einvoice.BtnSeach" class="btn btn-block btn-primary btn-flat" />

                                        </div>
                                        <div class="col-md-6 btnCreateList">
                                            <button type="submit" id="btnSubmitChange" class="btn btn-primary btn-flat"><i class="fa fa-check-square-o margin-r-5"></i>@Resources.Einvoice.BtnSave</button>
                                            @Html.ActionLink("◄ " + Resources.Einvoice.BtnBack, "Index", "Staff", routeValues: new { page = ViewData["returnPage"] != null ? Html.Encode(ViewData["returnPage"]) : "1" }, htmlAttributes: new { style = "border: 1px solid #d5d5d5; background-color: #0066B3; padding: 3px 7px; margin-right: 10px", @class = "btn btn-primary btn-flat" })
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example2" class="table table-bordered table-hover table-striped table-responsive have-action dataTable textTable" role="grid" aria-describedby="example2_info">
                                <thead class="textThead">
                                    <tr>
                                        <th width="10px">
                                            @Resources.Einvoice.Prod_LblNo
                                        </th>
                                        <th width="50px">
                                            @Resources.Einvoice.GroupRes_LblCodeResourceTitle
                                        </th>
                                        <th width="150px">
                                            @Resources.Einvoice.GroupRes_LblNameResourceTitle
                                        </th>
                                        <th width="30px">
                                            @Resources.Einvoice.GroupRes_LblDescripttionResourceTitle
                                        </th>
                                        <th style="width: 37px; text-align: center; padding: 0">
                                            @Html.CheckBox("chkAll")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        var Prolst = Model.ToList();
                                        int i = Model.PageIndex * Model.PageSize + 1;
                                        foreach (var pro in Model)
                                        {
                                            <tr>
                                                <td align="center">@i</td>
                                                <td>@pro.Code</td>
                                                <td>@pro.Name</td>

                                                <td title="@pro.Description">
                                                    @if (!string.IsNullOrWhiteSpace(pro.Description) && pro.Description.Length > 60)
                                                    {
                                                        @pro.Description.Substring(0, 55)
                                                    }
                                                    else
                                                    {
                                                        @pro.Description
                                                    }
                                                </td>
                                                <td style="text-align: center; padding: 0">
                                                    @Html.CheckBox("chkOne", htmlAttributes: new { value = pro.Id })
                                                </td>
                                            </tr>
                                            i++;
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                        </div>
                        <div class="col-sm-2">
                            <div class="pager row pull-right">
                                @Html.Pager(Model.PageSize, Model.PageIndex + 1, Model.TotalItemCount, new
                           {
                               action = "StaffGroup",
                               controller = "GroupResource",
                               id = (string)ViewBag.id != null ? (string)ViewBag.id : "null",
                               type = Request.Params["type"] != null ? Request.Params["type"] : "1"
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ID="Content2" ContentPlaceHolderID="MainContent">
        <script type="text/javascript">
                $(document).ready(function () {

                    var account ='@ViewBag.id';
                    if ($('#IsAll').is(':checked')) {
                        $('input[type=checkbox]').not('#IsAll').attr('disabled', 'disabled');
                        //localStorage.removeItem(account);
                    }
                    else {
                        $('input[type=checkbox]').removeAttr('disabled');
                    }
                    if (localStorage.getItem(account) == undefined || localStorage.getItem(account) == null) {
                        localStorage.setItem(account, $('#codes').val());
                    }

                    var _checked = localStorage.getItem(account).split(',');

                    $("input:checkbox[name=chkOne]").each(function (i, input) {
                        if (_checked.indexOf($(input).val()) > -1)
                            $(input).attr('checked', 'checked');
                        else
                            $(input).removeAttr('checked');
                    });
                    // Enter key Press
                    $("form").keypress(function (event) {

                        if (event.keyCode == "13") {
                            event.preventDefault();
                            if (localStorage.getItem(account) != null)
                                localStorage.removeItem(account);
                            document.location = '/Groupresource/StaffGroup?id=' + $("#id").val() + '&code=' + $('#code').val();
                        }
                    });
                    // Search button
                    $('#searchBtn').click(function () {
                        if (localStorage.getItem(account) != null)
                            localStorage.removeItem(account);
                        document.location = '/Groupresource/StaffGroup?id=' + $("#id").val() + '&code=' + $('#code').val();
                    });

                    $('#chkAll').change(function () {
                        var _this = $(this);
                        if (_this.is(':checked')) {
                            $('input:checkbox[name=chkOne]').each(function (index, chkOne) {
                                this.checked = true;
                            });
                        }
                        else {
                            $('input:checkbox[name=chkOne]').each(function (index, chkOne) {
                                this.checked = false;
                            });
                        }
                    });

                    $('input:checkbox[name=chkOne]').change(function () {
                        var _this = $(this);
                        if (!_this.is(':checked')) {
                            var _arr = localStorage.getItem(account).split(',');
                            if (_arr.indexOf(_this.val()) > -1) {
                                _arr.splice(_arr.indexOf(_this.val()), 1);
                            }
                            localStorage.setItem(account, _arr);
                        }

                        _checked = [];
                        $('input:checkbox[name=chkOne]:checked').each(function () {
                            _checked.push($(this).val());
                        });
                    });


                    $('.pager a').click(function () {
                        if (localStorage.getItem(account)) {
                            var _arr = localStorage.getItem(account).split(',');
                            $(_arr).each(function (i, item) {
                                if (_checked.indexOf(item) < 0)
                                    _checked.push(item);
                            });
                            if (_checked != undefined) {
                                localStorage.setItem(account, _checked);
                            }
                        }
                        else {
                            if (_checked != undefined) {
                                localStorage.setItem(account, _checked);
                            }
                        }
                    });

                    $('#IsAll').change(function () {
                        var _this = $(this);
                        var _val = $(this).is(':checked');
                        $.ajax({
                            type: "POST",
                            url: "/GroupResource/UpdateAdmin",
                            data: { username: $('#account').val(), isadmin: _val },
                            success: function (msg) {
                                if (msg == true) {
                                    alert('Cập nhật thành công!');
                                    if (_val) {
                                        $('input[type=checkbox]').not(_this).attr('disabled', 'disabled');
                                    }
                                    else {
                                        $('input[type=checkbox]').removeAttr('disabled');
                                    }
                                } else if (msg == false) {
                                    _this.removeAttr('checked');
                                    alert('Có lỗi trong quá trình cập nhật!');
                                } else {
                                    _this.removeAttr('checked');
                                    alert('Tài khoản không tồn tại!');
                                }
                            }
                        });
                    });

                    $('#btnSubmitChange').click(function () {
                        if ($('#IsAll').is(':checked')) {
                            return false;
                        }
                        if (confirm("Bạn chắc chắn muốn lưu dữ liệu?\n- Mẹo nhỏ: Nhấn Hủy/Cancel, chuyển trang và chọn tiếp nếu muốn!")) {
                            $('input:checkbox[name=chkOne]').trigger('change');

                            if (localStorage.getItem(account)) {
                                var _arr = localStorage.getItem(account).split(',');
                                $(_arr).each(function (i, item) {
                                    if (_checked.indexOf(item) < 0)
                                        _checked.push(item);
                                });
                                if (_checked != undefined) {
                                    localStorage.setItem(account, _checked);
                                }
                            }
                            else {
                                if (_checked != undefined) {
                                    localStorage.setItem(account, _checked);
                                }
                            }

                            $('#codes').val(localStorage.getItem(account));
                            localStorage.removeItem(account);
                            if ($('[name="chkOne"]:checked').length <= 0)
                                $('#isEmpty').val(true);
                            return true;
                        }
                        else {
                            return false;
                        }
                    });
                });
        </script>
    </div>
</div>
