﻿@charset "utf-8";
/* CSS Document */
body {
    font-size: 12px;
    color: #333;
   /* background-color: #F0F0F0; */
    background: url(img/bg_body_top.gif) no-repeat 50% 0 / 100% auto;
}

a {
    color: #0060a3;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

button, input[type="button"], input[type="submit"] {
    cursor: pointer;
}

select, input[type="text"], textarea, input[type="password"] {
    border: 1px solid #ccc;
    padding: 6px 8px;
    font-size: 12px;
    border-radius: 1px;
    -webkit-border-radius: 1px;
    box-shadow: none;
    outline: none;
}
/**/
#wrap {
    min-height: 680px;
    background: url('img/bg_ft.png') no-repeat 50% 100% / 100%;
}

#login {
    width: 400px;
    margin: 80px auto 15px auto;
    background: #fff;
    border: 1px solid #0066B3; /*#eff82f;*/
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

#login-hd {
    background: #E9E9E9; /*#fbfac4;*/
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 110%;
    padding-top: 10px; /*70px;*/
    padding-bottom: 10px;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

    #login-hd h2 {
        color: #0066B3; /*#d1180f;*/
        font-size: 200%;
        font-weight: bold;
        margin: 0;
    }

    #login-hd p {
        margin: 0;
    }

    #login-hd img {
        /*position: absolute;
        top: -60px;
        left: 50%;
        margin-left: -60px;*/
    }

#login-form {
    padding: 15px 30px;
}

    #login-form > div, #login-form form > div {
        margin: 15px 0;
    }

    #login-form label {
        display: block;
        line-height: 16px;
        margin-bottom: 5px;
    }

        #login-form label.username {
            padding-left: 24px;
            background: url(img/icon-user.png) no-repeat 0 50%;
        }

        #login-form label.pass {
            padding-left: 24px;
            background: url(img/icon-pass.png) no-repeat 0 50%;
        }

    #login-form input[type="text"], #login-form input[type="password"] {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 97%;
    }

    #login-form .btn-login, .search .btn-search {
        padding: 10px 20px;
        background: #0066B3; /*#da251c;*/
        color: #fff;
        border: none;
        font-size: 120%;
    }

    #login-form hr {
        border: none;
        border-bottom: 1px solid #ddd;
        margin: 15px 0;
        height: 1px;
    }
/**/
footer {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

    footer img {
        height: 60px;
        margin: 0 5px;
    }
/**/
.contener {
    width: 100%;
    margin: 0 auto;
}

#header {
    padding-top: 15px;
    padding-bottom: 15px;
}

    #header .contener {
        position: relative;
    }

#body .contener {
    background: #fff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.search form {
    padding: 15px 30px;
    border: 1px solid #ddd;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 360px;
    margin: 30px auto;
    overflow: hidden;
}

.search h2 {
    background: #da251c;
    color: #fff;
    text-transform: uppercase;
    font-size: 120%;
    margin: 0;
    padding: 10px;
    font-weight: bold;
    -moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.search form > div {
    margin: 15px 0;
}

.search form label {
    display: block;
    margin-bottom: 5px;
}

.search form input {
    padding-bottom: 8px;
    padding-top: 8px;
}

    .search form input.tax-code {
        width: 98%;
    }

.btn-refresh {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url(img/icon-refresh.gif) no-repeat 50% 50%;
}

#searchlist {
}

    #searchlist td {
        padding: 15px 10px;
        border-bottom: 1px dashed #eee;
    }

    #searchlist thead td {
        background: #fbfac4;
        font-weight: bold;
        text-transform: uppercase;
    }

    #searchlist .bg td {
        background: #f6f6f6;
    }
/**/
#header .contener .log-top {
    position: absolute;
    top: -15px;
    right: 0;
    padding: 5px 15px;
    background: #fff;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

#navbar {
    background: #0066B3; /*#da251c;*/
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    /*-moz-border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;*/
    height: 50px;
    border-bottom: 2px solid #0066B3; /*#bc0f07;*/
    z-index: 9999;
}

    #navbar li {
        list-style: none;
        float: left;
        position: relative;
    }

        #navbar li a {
            display: block;
            line-height: 50px;
            padding: 0 11px;
            color: #fff;
            font-size: 13px;
        }

            #navbar li a:hover, #navbar li:hover > a {
                text-decoration: none;
                background: #0066B3; /*#bc0f07;*/
            }

        #navbar li ul {
            margin: 0;
            padding: 0;
            position: absolute;
            width: 200px;
            top: 50px;
            left: 0;
            background: #fff;
            -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
            display: none;
            z-index: 9999;
        }

        #navbar li li, #navbar li li a {
            float: none;
        }

            #navbar li li a {
                line-height: normal;
                padding: 10px;
                color: #333;
                border-bottom: 1px dashed #ddd;
            }

                #navbar li li a:hover {
                    background: #f2f2f2;
                    color: #0066B3; /*#bc0f07;*/
                }

        #navbar li:hover ul {
            display: block;
        }

/*Buttons*/
.btn {
    border-color: #CCCCCC;
    border-radius: 0;
    -webkit-border-radius: 0;
    outline: none;
    margin-bottom: 5px !important;
    margin-left: 3px;
    font-size: 13px;
    padding: 7px 11px;
}

.btn-default,
.btn-default:focus {
    background-color: #FFFFFF;
    border-color: #CCCCCC;
    color: #5E5E5E;
}

    .btn-default i {
        color: #444;
    }

    .btn-default:active {
        box-shadow: none;
        background: #f5f5f5;
    }

.btn-primary,
.btn-primary:focus {
    background-color: #0066B3; /*#ea6153;*/
    border-color: transparent;
}

    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
        background-color: #0066B3; /*#f46b5d;*/
        border-color: transparent;
    }

    .btn-primary:active {
        box-shadow: none;
        background: #0066B3; /*#6d579d;*/
    }

.btn-success,
.btn-success:focus {
    background-color: #0066B3; /*#19b698;*/
    border-color: transparent;
}

    .btn-success:hover,
    .btn-success:active,
    .btn-success.active,
    .open .dropdown-toggle.btn-success {
        background-color: #0066B3; /*#23c0a2;*/
        border-color: transparent;
    }

    .btn-success:active {
        box-shadow: none;
        background: #0066B3; /*#0fac8e;*/
    }

.btn-info,
.btn-info:focus {
    background-color: #0066B3; /*#4aa3df;*/
    border-color: transparent;
}

    .btn-info:hover,
    .btn-info:active,
    .btn-info.active,
    .open .dropdown-toggle.btn-info {
        background-color: #0066B3; /*#54ade9;*/
        border-color: transparent;
    }

    .btn-info:active {
        box-shadow: none;
        background: #0066B3; /*#4099d5;*/
    }

.btn-warning,
.btn-warning:focus {
    background-color: #0066B3; /*#f16e3f;*/
    border-color: transparent;
}

    .btn-warning:hover,
    .btn-warning:active,
    .btn-warning.active,
    .open .dropdown-toggle.btn-warning {
        background-color: #0066B3; /*#fb7849;*/
        border-color: transparent;
    }

    .btn-warning:active {
        box-shadow: none;
        background: #0066B3; /*#e76435;*/
    }

.btn-danger,
.btn-danger:focus {
    background-color: #0066B3; /*#ea6153;*/
    border-color: transparent;
}

    .btn-danger:hover,
    .btn-danger:active,
    .btn-danger.active,
    .open .dropdown-toggle.btn-danger {
        background-color: #f46b5d;
        border-color: transparent;
    }

    .btn-danger:active {
        box-shadow: none;
        background: #e05749;
    }

.btn-prusia,
.btn-prusia:focus {
    background-color: #3d566d;
    border-color: transparent;
    color: #fff;
}

    .btn-prusia:hover,
    .btn-prusia:active,
    .btn-prusia.active,
    .open .dropdown-toggle.btn-prusia {
        color: #fff;
        background-color: #476077;
        border-color: transparent;
    }

    .btn-prusia:active {
        box-shadow: none;
        background: #334c63;
    }

.btn-dark,
.btn-dark:focus {
    background-color: #23262b;
    border-color: transparent;
    color: #fff;
}

    .btn-dark:hover,
    .btn-dark:active,
    .btn-dark.active,
    .open .dropdown-toggle.btn-dark {
        color: #fff;
        background-color: #2d3035;
        border-color: transparent;
    }

    .btn-dark:active {
        box-shadow: none;
        background: #191c21;
    }

.btn-rad {
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

.btn-group.horizontal > .btn {
    border-color: rgba(0, 0, 0, 0.08);
}

.btn i {
    font-size: 14px;
    margin-right: 2px;
    display: inline-block;
    min-width: 10px;
}

.btn-group-vertical {
    margin: 3px 3px;
}

.btn-block {
    width: 100%;
}

.close {
    text-shadow: none;
    font-size: 32px;
    margin-top: -6px;
}

.widget-header1 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px;
}

.widget-header {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}
 form .form-group {
    margin-bottom: 7px;
}
.validation-summary-errors{
    color:red;
    font-weight: bold;
}