﻿label {
    display: inline-block;
    font-weight: 600;
}

.list-border li {
    display: block;
    border-bottom: 0.5px #EDFFE5 solid;
}

.hidden-border {
    border-bottom: none;
}

.no-border {
    border: none;
}

input, select, textarea {
    margin-top: -2px;
}
