﻿
        table.grid {
            line-height: 1.5em;
            box-sizing: border-box;
            border-collapse: collapse;
            margin-bottom: 3em;
            width: 100%;
            background: #fff;
        }

            table.grid th {
                background-color: #31bc86;
                font-weight: bold;
                color: #fff;
                white-space: nowrap;
                font-size: 11px;
                border-bottom: solid 1px #fff;
            }

            table.grid td {
                border-bottom: 0px;
                font-size: 11px;
            }

            table.grid tbody tr:nth-child(2n-1) {
                background-color: #f5f5f5;
                transition: all .125s ease-in-out;
            }

            table.grid tbody tr:hover {
                background-color: rgba(129,208,177,.3);
            }

        .tableform {
            width: 97%;
            border: 0;
            cellspacing: 0;
            cellpadding: 0;
            border: 1px solid #CCC;
            width: 755px;
            margin-top: 15px;
            height: 219px;
            text-align: left;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 20px;
            line-height: 24px;
        }

            .tableform tr th {
                padding-left: 20px;
            }
