﻿body
{
	/*background:none repeat scroll 0 0 white; */
	font-family: Arial,Helvetica,sans-serif;
	font-size: small;
}

fieldset
{
	border-style: solid none none;
	border-top: 1px solid #EEEEEE;
	margin: 15px 0 5px;
	padding: 0;
}

fieldset legend
{	
	border: none;
    font-size:medium;
	color: #333333;
	font-weight: bold;
	margin: 3px 0;
	padding: 1px 5px;
}

fieldset ol
{
	list-style: none outside none;
	margin-top: 10px;
	padding: 0;
}

fieldset li
{
	border-bottom: 1px solid #EEEEEE;
	clear: left;
	float: left;
	list-style: none outside none;
	margin-left: 2px;
	padding: 3px;
	width: 99%;
}

fieldset label
{
	float: left;
	margin-right: 10px;
	min-width: 150px;
	margin-top:5px;
}

element.style
{
	width: 435px;
}

form .error
 {
 border: 1px solid red;
 }
label.error {
    color: red;
    display: block;
    float: right;
    overflow: hidden;
    padding-top: 2px;
    vertical-align: top;
}

.textc {
        text-align: center;
    }