﻿/*original from VATShare*/
label.error {
    padding: 0 4px;
    position: absolute;
    background-color: #fff;
    line-height: 22px !important;
    font-weight: normal !important;
    border: none;
    border-bottom: 1px dashed #f00;
}

.ui-autocomplete {
    border-radius: 0;
    border: 1px dashed #666;
}

.ui-corner-all {
    border-radius: 0;
}

.ui-menu .ui-menu-item a {
    font-size: .85em;
    line-height: 1.4em;
    padding: 2px .4em;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    color: #000;
    background: #ccc;
    border: 1px solid #666;
}

select {
    min-height: 22px;
}

button,
input[type=reset],
input[type=button],
input[type=submit] {
    min-width: 73px;
    padding: 2px 7px;
    border: 1px solid #ccc;
}

    button:focus,
    input[type=reset]:focus,
    input[type=button]:focus,
    input[type=submit]:focus {
        outline: none;
        border: 1px solid #666;
    }

select,
textarea,
input[type=text] {
    resize: none;
    padding: 0px 5px;
    border: none;
    border-bottom: 1px dashed #ccc;   
}

    select.error,
    textarea.error,
    input[type=text].error {
        border: none;
        border-bottom: 1px dashed #f00;
    }

    select:focus,
    textarea:focus,
    input[type=text]:focus {
        outline: none;
        border: none;
        border-bottom: 1px dashed #000;
    }

input[type=file] {
    display: none;
    visibility: hidden;
}

input[readonly=readonly] {
    cursor: pointer;
}

textarea {
    min-height: 55px;
    background-color: #fee;
     background-color: white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: small;
}

.textr {
    text-align: right;
}

.textc {
    text-align: center;
}

.widget-header {
    margin-top: 10px;
    text-align: center;
    padding-bottom: 7px;
}

.frm-header {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

div.left {
    width: 75%;
    float: left;
}

div.right {
    overflow: hidden;
    padding-left: 10px;
}

div.w80 {
    min-width: 80px;
}

div.w90 {
    min-width: 90px;
}

div.w100 {
    min-width: 100px;
}

div.w120 {
    min-width: 120px;
}

div.w160 {
    min-width: 160px;
}

div.w180 {
    min-width: 180px;
}

div.w50p {
    width: 50%;
}

div.w60p {
    width: 60%;
}

div.w70p {
    width: 70%;
}

div.push-60 {
    padding-left: 60%;
}

div.push-70 {
    padding-left: 70%;
}

div.line {
    padding: 3px 0;
    overflow: hidden;
}

    div.line.null {
        min-height: 22px;
        color: transparent;
        content: 'einvoice';
    }

    div.line.last {
        padding-bottom: 30px;
    }

    div.line > div.label {
        float: left;
    }

div.right > div.line > div.label {
    width: 70px;
}

div.line label {
    font-weight: bold;
    line-height: 22px;
}

div.line > div.control span.mst {
    float: left;
    padding: 0px 6px !important;
    border: 1px solid #ccc !important;
}

div.line > div.control span.ml3 {
    margin-left: 3px;
}

div.line > div.control span.nbl:not(:first-child) {
    border-left: none !important;
}

div.line > div.label label:after {
    content: ':';
}

div.line > div.imp label::after {
    content: ' (*):';
    color: #f00;
}

div.line > div.control {
    overflow: hidden;
    padding-left: 7px;
}

    div.line > div.control input,
    div.line > div.control select,
    div.line > div.control textarea {
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

table.products {
    width: 100%;
    border-collapse: collapse;
}

    table.products td,
    table.products th {
        font-size: 0.95em;
        border: 1px solid #666;
        padding: 3px 7px 2px 7px;
    }

    table.products td {
        padding: 0;
        margin: 0;
        line-height: 20px;
    }

    table.products th {
        text-align: center;
        background-color: #ccc;
        color: #000;
    }

        table.products th.np {
            padding: 0;
        }

    table.products input[type=text] {
        position:relative;
        width: 100%;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border: 1px solid transparent;
    }

    table.products th input[type=text] {
        border: 1px dashed #ccc;
    }

    table.products input[type=text]:focus {
        border: 1px dashed #666;
    }

    table.products td.center {
        text-align: center;
    }

    table.products td.delr {
        background: url('/Content/Images/no.png') center no-repeat #fff;
    }

    table.products input[type=checkbox] {
        min-height: 0px;
    }

    table.products tr.alt td {
        color: #000;
        background-color: #EAF2D3;
    }
