﻿@model EInvoice.CAdmin.Models.PublishModel
<link href="/Content/css/SharedFormElements.css" rel="stylesheet" type="text/css" />
<link href="/Content/css/grid.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/DetailsEditStyle.css" rel="stylesheet" />
<link href="/Content/css/select2.min.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    fieldset label {
        min-width: 220px !important;
    }

    #hide td {
        border-bottom: 1px solid #cccccc;
        padding-left: 10px;
    }
</style>
<script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
<script src="/Content/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
<script src="/Content/js/date.js" type="text/javascript"></script>
<script type="text/javascript" src="/Content/js/jquery.PrintArea.js"></script>
<script type="text/javascript" src="/Content/js/Share.js"></script>
<script type="text/javascript" src="/Content/js/select2.js"></script>
<div style="padding: 10px 5px 10px 5px; float: none; vertical-align: bottom">
    <form id="MainForm" name="MainForm" class="box-body form-horizontal" method="post" action="">
        @Html.AntiForgeryToken()
        @Html.Hidden("id", Model.id)
        @Html.Hidden("ComID",Model.ComID)
        @Html.Hidden("PubInvoiceList",Model.PubInvoiceList)
        @Html.Hidden("tempname")
        @Html.Hidden("ComFax", ViewData["Fax"])
        @Html.Hidden("ComBankNumber", ViewData["BankNumber"])
        <ul class="list-border">
            <li class="row"><legend class="col-sm-12">@Resources.Einvoice.Pub_LblCreateTitle</legend></li>
            <li class="row">
                <label class="col-sm-4">Tên tổ chức khởi tạo hóa đơn:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ComName, new { @class = "required no-border col-sm-10 required ", @readonly = "readonly", title = Resources.Einvoice.Pub_ReqComName })
                </div>
            </li>
            <li class="row">
                <label class="col-sm-4">Mã số thuế:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ComTaxCode, new { @class = "required no-border col-sm-10", @readonly = "readonly", title = "Mã số thuế của đơn vị!", @maxlength = "15" })
                </div>
            </li>
            <li class="row">
                <label class="col-sm-4">Địa chỉ trụ sở chính:<span style="color: red;">(*)</span></label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ComAddress, new { @class = "required  col-sm-10",title = Resources.Einvoice.Pub_ReqComAddress, @maxlength = "300", @autofocus = "autofocus" })
                </div>
            </li>
            <li class="row">
                <label class="col-sm-4">Số điện thoại:</label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.ComPhone, new { @class = "col-sm-10",@maxlength = "20" })
                </div>
            </li>
            <li class="row">
                <label class="col-sm-4">Người đại diện:<span style="color: red;">(*)</span></label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.RepresentPerson, new { @class = "required col-sm-10", @maxlength = "100", title = Resources.Einvoice.Pub_lblRepresentPerson })
                </div>
            </li>
            <li class="row">
                <label class="col-sm-4">Tên cơ quan thuế chấp nhận thông báo:<span style="color: red;">(*)</span></label>
                <div class="col-sm-4" style="padding-bottom: 6px;">
                    @Html.DropDownList("TaxAuthorityCode", Model.TaxList, "[Lựa chọn]", new { @class = "required js-example-basic-single",  style= "width:100%;" })
                </div>
            </li>
            <li class="row">
                <label class="col-sm-4">Thành phố:<span style="color: red;">(*)</span></label>
                <div class="col-sm-8">
                    @Html.TextBoxFor(m => m.City, new { @class = "required col-sm-10",@maxlength = "50", title = "Nơi lập thông báo!" })
                </div>
            </li>
            <li class="row">
                <label class="col-sm-4">Dấu phân cách sử dụng:</label>
                <div class="col-sm-6">
                    @Html.TextAreaFor(m => m.Delimiter,4,10, new { @class = "form-control", @maxlength = "250" })
                </div>
            </li>
            <li>
                <div class="col-sm-12" style="padding: 10px 5px 5px 5px">
                    @Html.TextBox("f", "", new  {@class="required",title="Phải chọn danh sách hóa đơn!",style= "display: none;position: relative;z-index: -99;" })
                    <table id="grid" class="table table-bordered table-hover table-striped table-responsive">
                        <thead>
                            <tr>
                                <th width="20%">
                                    @Resources.Einvoice.Pub_LblPattern
                                </th>
                                <th width="10%">
                                    @Resources.Einvoice.Pub_LblSerial
                                </th>
                                <th width="10%">
                                    @Resources.Einvoice.Pub_LblCount
                                </th>
                                <th width="5%">
                                    @Resources.Einvoice.Pub_LblFromNo
                                </th>
                                <th width="5%">
                                    @Resources.Einvoice.Pub_LblToNo
                                </th>
                                <th width="15%">
                                    @Resources.Einvoice.Pub_lblBeginUsingDate
                                </th>
                                <th width="5%" align="center">
                                    @Resources.Einvoice.LblEdit
                                </th>
                                <th width="5%" style="border-right-color: #EEE">
                                    @Resources.Einvoice.LblDelete
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tbody13">
@*                            set noi dung o day bang javascript--*@
                        </tbody>
                    </table>
                    <input type="button" class="btn btn-primary btn-flat" id="Create" value="Tạo mới" style="float: right; margin: 5px 18px" />
                </div>
            </li>
        </ul>
    </form>
    <div class="dialog" id="dialog" title="Đăng ký mẫu hóa đơn phát hành" style="display: none; min-width: 300px; min-height: 400px;background: url(/Content/css/redmond/images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x #fff;">
        @Html.Hidden("count", Model.RegTempList.Count())
        <form id="DialogForm" name="DialogForm" action="">
            <table id="hide">
                <tr>
                    <td style="width: 120px; text-align: right">
                        <label for="RegisterName">
                            @Resources.Einvoice.Pub_LblPattern: <span style="color: red">(*)</span>
                        </label>
                    </td>
                    <td colspan="3" style="width: 200px">
                        @Html.DropDownList("RegisterName", Model.RegTempList, "--Chọn mẫu--", new { style = "width:150px", onchange = "get()", @class = "required", title = "Chọn mẫu!" })
                        <a href="#" onclick="viewTemp()" style="display: none" title="Preview" id="pre" name="pre">
                            <input type="button" value="Xem chi tiết" />
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        <label for="InvSerialPrefix">
                            @Resources.Einvoice.Pub_LblSerial: <span style="color: red">(*)</span>
                        </label>
                    </td>
                    <td colspan="3" style="width: 200px">
                        @Html.TextBox("InvSerialPrefix", "", new { name = "InvSerialPrefix", onchange = "get()", style = "width:30px", @class = "required", @minlength = "2", @maxlength = "2", title = "Nhập 2 ký tự ", onkeypress = "return char(event);" })/
                        @Html.TextBox("InvSerialSuffix", "", new { name = "InvSerialSuffix", onchange = "get()", style = "width:30px", @class = "required", @minlength = "2", @maxlength = "2", title = "Nhập 2 ký tự", onkeypress = "return keypress(event);" })E
                    </td>
                </tr>
                <tr>
                    <td style="width: 120px; text-align: right">
                        <label for="Quantity">
                            @Resources.Einvoice.Pub_LblCount: <span style="color: red">(*)</span>
                        </label>
                    </td>
                    <td colspan="3" style="width: 200px">
                        @Html.TextBox("Quantity", "", new { style = "width:100px", onchange = "Sum();", @maxlength = "7", onkeypress = "return keypress(event);", @class = "required onlynum", title = "Nhập liệu!" })
                    </td>
                </tr>
                <tr>
                    <td style="width: 100px; text-align: right">
                        <label for="FromNo">
                            @Resources.Einvoice.Pub_LblFromNo:
                        </label>
                    </td>
                    <td style="width: 200px">
                        @Html.TextBox("FromNo", "", new { @class="onlynum" ,style = "width:100px;color:red;background:#F5F5F5" , onkeypress = "return keypress(event);", @readonly = "readonly", @maxlength="30" })
                    </td>
                    <td style="width: 100px; text-align: right">
                        <label for="ToNo">
                            @Resources.Einvoice.Pub_LblToNo:
                        </label>
                    </td>
                    <td>
                        @Html.TextBox("ToNo", "", new { @class="onlynum" ,style = "width:100px;color:red", onkeypress = "return keypress(event);", onchange = "quan();", @maxlength="30" })
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        <label for="StartDate">
                            @Resources.Einvoice.Pub_lblBeginUsingDate:
                        </label>
                    </td>
                    <td colspan="3">
                        @Html.TextBox("StartDate", "", new { style = "width:90px", title = "Nhập liệu!", @class = "datepicker vietnameseDate", onchange = "checkDate()", @readonly = "readonly",@maxlength="30" })
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        <label for="ComName">
                            Tên công ty:
                        </label>
                    </td>
                    <td colspan="3">
                        @Html.TextBox("ComNameM", "", new { style = "width:290px", @maxlength="100"})
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        <label for="ComTaxCode">
                            Mã số thuế:
                        </label>
                    </td>
                    <td colspan="3">
                        @Html.TextBox("ComTaxCodeM", "", new { style = "width:290px", @maxlength="20", @readonly="readonly"})
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        <label for="ComAddress">
                            Địa chỉ:
                        </label>
                    </td>
                    <td colspan="3">
                        @Html.TextBox("ComAddressM","", new { style = "width:290px", @maxlength="250"})
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        <label for="ComPhone">
                            Điện thoại:
                        </label>
                    </td>
                    <td colspan="3">
                        @Html.TextBox("ComPhoneM", "", new {style = "width:290px", @maxlength="20"})
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        <label for="ComName">
                            Fax:
                        </label>
                    </td>  
                    <td colspan="3">
                        @Html.TextBox("ComFaxM", "", new { style = "width:290px", @maxlength="20"})
                    </td>
                </tr>
                <tr>
                    <td style="text-align: right">
                        <label for="ComName">
                            Số tài khoản:
                        </label>
                    </td>
                    <td colspan="3">
                        @Html.TextBox("ComBankNumberM", "", new {style = "width:290px", @maxlength="20"})
                    </td>
                </tr>
            </table>
            <div style="margin-top: 15px">
                <input type="button" value="@Resources.Einvoice.BtnBack" class="button btn btn-primary btn-flat" onclick="btCancel_click()" />
                <input class="Save button btn btn-primary btn-flat" id="Save" type="button" value="@Resources.Einvoice.BtnSave" onclick="btUpdate_click()" />
                <input class="Save button btn btn-primary btn-flat" id="SaveAndCreate" type="button" value="@Resources.Einvoice.BtnSaveAndCreate" onclick="btSave_Create()" />
                
            </div>
            <div id="src" style="display: none;">
                <div id="invData"></div>
                <div id="inbt"></div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">

    var arrRegis = new Array();
    var c = $("#count").val();
    function checkDate() {
        var flag = false;
        var startDate = Date.parseExact($("#StartDate").val(), "d/M/yyyy");
        var today = new Date();
        var strStartDate = startDate.toString("yyyy/MM/dd");
        var strToday = today.toString("yyyy/MM/dd");
        if (strStartDate >= strToday)
            return true;
        else {
            bootbox.alert({
                buttons: {
                    ok: {
                        label: 'Đồng ý'
                    }
                },
                title: "Thông báo",
                message: "Ngày bắt đầu sử dụng không được nhỏ hơn ngày hiện tại",
                size: 'small',
            });
            var now = today.toString("dd/MM/yyyy");
            $("#StartDate").val(now);
            return false
        }
    }
    function get() {
        var jsondata = "Id=" + $("#RegisterName").val() + "&InvSerialPrefix=" + $("#InvSerialPrefix").val() + "&InvSerialSuffix=" + $("#InvSerialSuffix").val();
        if ($("#RegisterName").val() == "" || $("#RegisterName").val() == "Select one") {
            document.getElementById("pre").style.display = "none";
            return
        }
        $.ajax({
            data   : jsondata,
            success: function (data) {
                var i = data.ic;
                $("#FromNo").val(pad(data.ic + 1, 7));
                Sum();
                $("#tempname").val(data.tempname)
            },
            type   : "POST",
            url    : "/Publish/ajx/"
        });
        regId                                        = $("#RegisterName").val();
        regname                                      = $("#RegisterName :selected").text();
        document.getElementById("pre").style.display = "inline"
    }
    function ajxCallPriview() {
        viewTemp();
    }
    function viewTemp() {
        var jsondata = {
            serialNo     : $("#InvSerialPrefix").val() + "/" + $("#InvSerialSuffix").val() + "E",
            tempid       : $("#RegisterName").val()
        };

        $.ajax({
            data   : jsondata,
            type   : "POST",
            url    : "/Publish/AjxPreviewPubInv/",
            success: function (data) {
                document.getElementById("invData").innerHTML = data;
                $(function () {
                    $("#src").bPopup({
                        easing    : "easeOutBack",
                        speed     : 450,
                        transition: "slideDown"
                    })
                })
            }
        })
    }
    function pad(number, length) {
        var str = "" + number;
        while (str.length < length) {
            str = "0" + str
        }
        return str
    }
    function keypress(e) {
        var keypressed = null;
        if (window.event) {
            keypressed = window.event.keyCode;
        } else {
            keypressed = e.which;
        }
        if (keypressed < 48 || keypressed > 57) {
            if (keypressed == 8 || keypressed == 127) {
                return
            }
            return false
        }
    }
    function char(e) {
        var char = null;
        if (window.event) {
            char = window.event.keyCode;
        } else {
            char = e.which;
        }
        if (char < 65 || char > 122) {
            if (char == 8 || char == 127) {
                return
            }
            return false
        }
    }
    var currentRow = null;
    $("#Create").click(function () {
        //chọn cơ quan thuế trước rồi mới chọn tạo mới
        if($("#TaxAuthorityCode").val() == ""){
            alert("Cần chọn Tên cơ quan thuế!");
            return false;
        }
        //end
        var date = $("#StartDate").val();
        $("#RegisterName").val("");
        currentRow = null;
        if (arrRegis.length >= parseInt(c, 10))
            bootbox.alert({
                buttons: {
                    ok: {
                        label: 'Đồng ý'
                    }
                },
                title: "Thông báo",
                message: "@Html.Raw(Resources.Message.AdjReInv_MesNoRTemp)",
                size: 'small',
            });
        else {
            var objSelect = document.getElementById("RegisterName");
            for (var i = 0; i < arrRegis.length; i++)
                for (var j = 0; j < objSelect.options.length; j++) {
                    if (objSelect.options[j].text == arrRegis[i])
                        objSelect.remove(j);
                }
            bindDataToForm(currentRow);
            document.getElementById("SaveAndCreate").style.display = "inline";
            $("#dialog").dialog("open")
            $($('.ui-dialog')[0]).css("top", "25%");
            $($('.ui-dialog')[0]).css("left", "25%");
        }
    });
    var PubDatasource = [];
    var regId = 0;
    var regname = null;
    function AddRegis(regId, regisname) {
        var objSelect = document.getElementById("RegisterName");
        for (var i = 0; i < objSelect.options.length; i++) {
            if (objSelect.options[i].text == regisname) {
                objSelect.remove(i)
            }
        }
        var optn = document.createElement("option");
        optn.text  = regisname;
        optn.value = regId;
        objSelect.add(optn)
    }
    function AddValue(regId, regisname) {
        var objSelect = document.getElementById("RegisterName");
        for (var i = 0; i < arrRegis.length; i++)
            for (var j = 0; j < objSelect.options.length; j++) {
                if (objSelect.options[j].text == arrRegis[i])
                    objSelect.remove(j);
            }
        var optn = document.createElement("option");
        optn.text  = regisname;
        optn.value = regId;
        objSelect.add(optn)
    }
    function DelSelected() {
        var objSelect = document.getElementById("RegisterName");
        for (var i = 0; i < objSelect.options.length; i++) {
            if (objSelect.options[i].value == regId) {
                objSelect.remove(i)
            }
        }
    }
    function PubViewDatasource() {
        $("#grid tbody tr").remove();
        if (PubDatasource == null || PubDatasource == undefined)
            return;
        for (var i = 0; i < PubDatasource.length; i++) {
            var jsonRow =PubDatasource[i];
            addRow("grid", jsonRow.RegisterName, jsonRow.RegisterID, jsonRow.InvSerialPrefix, jsonRow.InvSerialSuffix, jsonRow.Quantity, jsonRow.FromNo, jsonRow.ToNo, jsonRow.StartDate);
            arrRegis[i] = jsonRow.RegisterName
        }
        $("#grid tbody tr:odd").addClass("oddtr");
        $("#grid tbody tr").mouseover(function () {
            $(this).addClass("trover")
        }).mouseout(function () {
            $(this).removeClass("trover")
        });
        $("#grid tbody tr td img.Delete").click(function () {
            if (confirm("Bạn có muốn xóa dòng này không?")) {
                var RegisterName = $(this).parent().parent().find("td").eq(0).html();
                var RegId = $(this).parent().parent().find("td").eq(1).html();
                if (RegisterName != null && RegisterName != undefined) {
                    for (var i = 0; i < PubDatasource.length; i++) {
                        if (PubDatasource[i].RegisterName == RegisterName) {
                            PubDatasource.splice(i, 1);
                            arrRegis.splice(i, 1)
                        }
                    }
                    $(this).parent().parent().remove();
                    AddRegis(RegId, RegisterName)
                }
            }
            if (PubDatasource.length == 0) {
                $("#f").val("");
                nextFocus("f")
            }
        });
        $("#grid tbody tr td img.Edit").click(function () {
            document.getElementById("pre").style.display = "inline";
            if (PubDatasource == null || PubDatasource == undefined)
                return [];
            var RegisterName = $(this).parent().parent().find("td").eq(0).html();
            var RegId = $(this).parent().parent().find("td").eq(1).html();
            var RetSearch = $.grep(PubDatasource, function (item, index) {
                return item.RegisterName == RegisterName
            });
            if (RetSearch.length > 0)
                currentRow = RetSearch[0];
            else
                currentRow = null;
            AddValue(RegId, RegisterName);
            bindDataToForm(currentRow);
            document.getElementById("SaveAndCreate").style.display = "none";
            $("#dialog").dialog("open");
            $($('.ui-dialog')[0]).css("top", "25%");
            $($('.ui-dialog')[0]).css("left", "25%");
        })
    }
    function addRow(GridID, nameregis, regisId, kihieutt, kihieuht, soluong, tuso, denso, ngaybd) {
        kihieuht += "E";
        var newrow = "<tr>";
        newrow += "<td>" + nameregis + "</td>";
        newrow += "<td style='visibility:hidden;display:none'>" + regisId + "</td>";
        newrow += "<td>" + kihieutt.toUpperCase() + "/" + kihieuht + "</td>";
        newrow += "<td>" + soluong + "</td>";
        newrow += "<td>" + pad(tuso, 7) + "</td>";
        newrow += "<td>" + pad(denso, 7) + "</td>";
        newrow += "<td>" + ngaybd + "</td>";
        newrow += "<td align='center'><img src='/Content/Images/im-edit.jpg' alt='Sua' title='Edit' class='Edit' /></td>";
        newrow += "<td align='center'><img src='/Content/Images/no.png' alt='Xoa' title ='Delete' class ='Delete' /></td>";
        newrow += "</tr>";
        $("#" + GridID + " tbody").append(newrow)
    }
    function btSave_Create() {
        if (!$("#Quantity").val() || $("#InvSerialPrefix").val().length != 2 || $("#InvSerialSuffix").val().length != 2) {
            $("#DialogForm").valid()
        } else if (!$("#StartDate").val()) {
            bootbox.alert({
                buttons: {
                    ok: {
                        label: 'Đồng ý'
                    }
                },
                title: "Thông báo",
                message: "@Html.Raw(Resources.Message.Dec_MesErrSelectDate)",
                size: 'small',
            });
            $("#DialogFrom").valid()
        } else {
            var dateArr = $("#StartDate").val().split("/");
            var myDate = new Date(dateArr[2], (dateArr[1] - 1), dateArr[0]);
            if (currentRow == null) {
                currentRow = {
                    FromNo         : $("#FromNo").val(),
                    id             : 0,
                    InvSerialPrefix: $("#InvSerialPrefix").val().toUpperCase(),
                    InvSerialSuffix: $("#InvSerialSuffix").val(),
                    PubTemp        : [
                        {
                            ComAddress   : $("#ComAddressM").val(),
                            ComBankNumber: $("#ComBankNumberM").val(),
                            ComFax       : $("#ComFaxM").val(),
                            ComName      : $("#ComNameM").val(),
                            ComPhone     : $("#ComPhoneM").val(),
                            ComTaxCode   : $("#ComTaxCodeM").val(),
                            id           : 0,
                            PublishInvID : 0
                        }
                    ],
                    Quantity       : $("#Quantity").val(),
                    RegisterID     : $("#RegisterName").val(),
                    RegisterName   : $("#RegisterName :selected").text(),
                    StartDate      : myDate.toString("dd/MM/yyyy"),
                    ToNo           : $("#ToNo").val()
                };
                PubDatasource.push(currentRow)
            } else {
                currentRow.RegisterID               = $("#RegisterName").val();
                currentRow.RegisterName             = $("#RegisterName :selected").text();
                currentRow.InvSerialPrefix          = $("#InvSerialPrefix").val().toUpperCase();
                currentRow.InvSerialSuffix          = $("#InvSerialSuffix").val();
                currentRow.Quantity                 = $("#Quantity").val();
                currentRow.FromNo                   = $("#FromNo").val();
                currentRow.ToNo                     = $("#ToNo").val();
                currentRow.StartDate                = myDate.toString("dd/MM/yyyy");
                currentRow.PubTemp[0].ComName       = $("#ComNameM").val();
                currentRow.PubTemp[0].ComAddress    = $("#ComAddressM").val();
                currentRow.PubTemp[0].ComPhone      = $("#ComPhoneM").val();
                currentRow.PubTemp[0].ComFax        = $("#ComFaxM").val();
                currentRow.PubTemp[0].ComBankNumber = $("#ComBankNumberM").val();
                currentRow.PubTemp[0].ComTaxCode    = $("#ComTaxCodeM").val()
            }
            PubViewDatasource();
            DelSelected()
        }
    $("#RegisterName").val("");
    $("#InvSerialPrefix").val("");
    $("#InvSerialSuffix").val("");
    $("#Quantity").val("");
    $("#FromNo").val("");
    $("#ToNo").val("");
    $("#StartDate").val("");
    currentRow = null;
    $("#f").val("ok");
    nextFocus("f")
}
function btUpdate_click() {
    if (!$("#Quantity").val() || $("#InvSerialPrefix").val().length != 2 || $("#InvSerialSuffix").val().length != 2 || $("#RegisterName").val() == "") {
        $("#DialogForm").valid()
    } else if (!$("#StartDate").val()) {
        bootbox.alert({
            buttons: {
                ok: {
                    label: 'Đồng ý'
                }
            },
            title: "Thông báo",
            message: "@Html.Raw(Resources.Message.Dec_MesErrSelectDate)",
            size: 'small',
        });
        $("#DialogFrom").valid()
    } else {
        var dateArr = $("#StartDate").val().split("/");
        var myDate = new Date(dateArr[2], (dateArr[1] - 1), dateArr[0]);
        if (currentRow == null) {
            currentRow = {
                FromNo         : $("#FromNo").val(),
                id             : 0,
                InvSerialPrefix: $("#InvSerialPrefix").val().toUpperCase(),
                InvSerialSuffix: $("#InvSerialSuffix").val(),
                PubTemp        : [
                    {
                        ComAddress   : $("#ComAddressM").val(),
                        ComBankNumber: $("#ComBankNumberM").val(),
                        ComFax       : $("#ComFaxM").val(),
                        ComName      : $("#ComNameM").val(),
                        ComPhone     : $("#ComPhoneM").val(),
                        ComTaxCode   : $("#ComTaxCodeM").val(),
                        id           : 0,
                        PublishInvID : 0
                    }
                ],
                Quantity       : $("#Quantity").val(),
                RegisterID     : $("#RegisterName").val(),
                RegisterName   : $("#RegisterName :selected").text(),
                StartDate      : myDate.toString("dd/MM/yyyy"),
                ToNo           : $("#ToNo").val()
            };
            PubDatasource.push(currentRow)
        } else {
            currentRow.RegisterID               = $("#RegisterName").val();
            currentRow.RegisterName             = $("#RegisterName :selected").text();
            currentRow.InvSerialPrefix          = $("#InvSerialPrefix").val().toUpperCase();
            currentRow.InvSerialSuffix          = $("#InvSerialSuffix").val();
            currentRow.Quantity                 = $("#Quantity").val();
            currentRow.FromNo                   = $("#FromNo").val();
            currentRow.ToNo                     = $("#ToNo").val();
            currentRow.StartDate                = myDate.toString("dd/MM/yyyy");
            currentRow.PubTemp[0].ComName       = $("#ComNameM").val();
            currentRow.PubTemp[0].ComAddress    = $("#ComAddressM").val();
            currentRow.PubTemp[0].ComPhone      = $("#ComPhoneM").val();
            currentRow.PubTemp[0].ComFax        = $("#ComFaxM").val();
            currentRow.PubTemp[0].ComBankNumber = $("#ComBankNumberM").val();
            currentRow.PubTemp[0].ComTaxCode    = $("#ComTaxCodeM").val()
        }
        PubViewDatasource();
        $("#dialog").dialog("close");
        DelSelected()
    }
    $("#f").val("ok");
    nextFocus("f")
}
function btCancel_click() {
    $("#dialog").dialog("close");
    nextFocus("f")
}
function bindDataToForm(JsonObject) {
    if (JsonObject == null || JsonObject == undefined) {
        var year = new Date().getFullYear().toString();
        var yearSu = year.substring(2, 4);
        $("#InvSerialPrefix").val("");
        $("#InvSerialSuffix").val("");
        $("#Quantity").val("");
        $("#FromNo").val("");
        $("#ToNo").val("");
        $("#StartDate").val("");
        $("#ComNameM").val($("#ComName").val());
        $("#ComAddressM").val($("#ComAddress").val());
        $("#ComPhoneM").val($("#ComPhone").val());
        $("#ComFaxM").val($("#ComFax").val());
        $("#ComTaxCodeM").val($("#ComTaxCode").val());
        $("#ComBankNumberM").val($("#ComBankNumber").val());
        $("#InvSerialSuffix").val(yearSu);
    } else {
        $("#RegisterName").val(JsonObject.RegisterID);
        $("#InvSerialPrefix").val(JsonObject.InvSerialPrefix);
        $("#InvSerialSuffix").val(JsonObject.InvSerialSuffix);
        $("#Quantity").val(JsonObject.Quantity);
        $("#FromNo").val(pad(JsonObject.FromNo, 7));
        $("#ToNo").val(pad(JsonObject.ToNo, 7));
        $("#StartDate").val(JsonObject.StartDate);
        $("#ComNameM").val(JsonObject.PubTemp[0].ComName);
        $("#ComAddressM").val(JsonObject.PubTemp[0].ComAddress);
        $("#ComPhoneM").val(JsonObject.PubTemp[0].ComPhone);
        $("#ComFaxM").val(JsonObject.PubTemp[0].ComFax);
        $("#ComTaxCodeM").val(JsonObject.PubTemp[0].ComTaxCode);
        $("#ComBankNumberM").val(JsonObject.PubTemp[0].ComBankNumber)
    }
}
PubDatasource = @Html.Raw(Model.PubInvoiceList);
function Sum() {
    var Quantity,
        FromNo,
        sum = new Number();
    var c = new String();
    c        = $("#FromNo").val();
    FromNo   = parseInt(c, 10);
    c        = $("#Quantity").val();
    Quantity = parseInt(c, 10);
    if (Quantity == 0) {
        bootbox.alert({
            buttons: {
                ok: {
                    label: 'Đồng ý'
                }
            },
            title: "Thông báo",
            message: "Nhập giá trị lớn hơn 0!",
            size: 'small',
        });
        $("#Quantity").val("");
        $("#ToNo").val("")
    }
    sum = Quantity + FromNo - 1;
    if (sum.toString().length > 7) {
        $("#Quantity").val("");
        $("#ToNo").val("")
    } else {
        if (FromNo && Quantity) {
            $("#ToNo").val(pad(sum, 7));
            $("#FromNo").val(pad($("#FromNo").val(), 7))
        }
    }
}
function quan() {
    var ToNo,
        FromNo,
        h = new Number();
    var c = new String();
    c      = $("#ToNo").val();
    ToNo   = parseInt(c, 10);
    c      = $("#FromNo").val();
    FromNo = parseInt(c, 10);
    h      = ToNo - FromNo + 1;
    if (ToNo && FromNo) {
        $("#Quantity").val(h);
        $("#ToNo").val(pad($("#ToNo").val(), 7))
    }
    if ($("#ToNo").val() < $("#FromNo").val()) {
        bootbox.alert({
            buttons: {
                ok: {
                    label: 'Đồng ý'
                }
            },
            title: "Thông báo",
            message: "@Html.Raw(Resources.Einvoice.Pub_ReqFromNumLessToNum)",
            size: 'small',
        });
        $("#Quantity").val("");
        $("#ToNo").val("")
    }
}
function printInvoice() {
    $("#inbt").css("display", "none");
    var printElement = document.getElementById("invData");
    $(printElement).printArea({
        mode    : "iframe",
        popClose: false,
        popHt   : 900,
        popWd   : 1000
    });
    $("#inbt").css("display", "block");
    return (false)
}
jQuery(function ($) {
    $.datepicker.regional["vi"] = {
        closeText         : "Đóng",
        currentText       : "Hôm nay",
        dateFormat        : "dd/mm/yy",
        dayNames          : [
            "Chủ Nhật", "Thứ Hai", "Thứ Ba", "Thứ Tư", "Thứ Năm", "Thứ Sáu", "Thứ Bảy"
        ],
        dayNamesMin       : [
            "CN", "T2", "T3", "T4", "T5", "T6", "T7"
        ],
        dayNamesShort     : [
            "CN", "T2", "T3", "T4", "T5", "T6", "T7"
        ],
        firstDay          : 0,
        isRTL             : false,
        monthNames        : [
            "Tháng Một", "Tháng Hai", "Tháng Ba", "Tháng Tư", "Tháng Năm", "Tháng Sáu", "Tháng Bảy", "Tháng Tám", "Tháng Chín", "Tháng Mười", "Tháng Mười Một", "Tháng Mười Hai"
        ],
        monthNamesShort   : [
            "Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"
        ],
        nextText          : "Tiếp&#x3e;",
        prevText          : "&#x3c;Trước",
        showMonthAfterYear: false,
        weekHeader        : "Tu",
        yearSuffix        : ""
    }
});
$(function ($) {
    $(".vietnameseDate").mask("99/99/9999")
});
$(document).ready(function () {
    $(".js-example-basic-single").select2();
    $(document).ready(function () {
        $("form:first").validate();
        $("#DialogForm").validate({
            messages: {
                StartDate: {
                    required: "@Resources.Message.Dec_MesErrSelectDate"
                }
            },
            rules   : {
                StartDate: {
                    required: true
                }
            }
        });
        $.datepicker.setDefaults($.datepicker.regional["vi"]);
        $(".datepicker").datepicker({
            buttonImage    : "/Content/images/calendar.gif",
            buttonImageOnly: true,
            changeMonth    : true,
            changeYear     : true,
            showOn         : "button"
        })
    });
    $("#dialog").dialog({
        autoOpen: false,
        height  : 450,
        modal   : true,
        width   : 700
    });
    $("#InvName").val($("#InvCateName").val());
    PubViewDatasource();
    $("#InvCateName").val($("#InvName").val());
    $("#InvSerialPrefix").change(function () {
        $(this).val($(this).val().toUpperCase())
    })
});
    $("#MainForm").submit(function () {
        //chọn cơ quan thuế trước rồi mới commit
        if ($("#TaxAuthorityCode").val() == "") {
            alert("Cần chọn Tên cơ quan thuế!");
            return false;
        }
        //end
        $("input[type='text']").each(function (i) {
            checkTextMaxLength(this);
        });
        if (PubDatasource.toString() == "") {
            $("#f").val("");
            return false
        } else {
            $("#f").val("ok");
            if(!$("#ComAddress").val() || !$('#City').val() || !$('#RepresentPerson').val())
                return false;
            for (z = 0; z < PubDatasource.length; z++) {
                var j = PubDatasource[z].StartDate.split("/");
                PubDatasource[z].StartDate = j[1] + "/" + j[0] + "/" + j[2];
                if (parseInt(j[1]) > 12)
                    PubDatasource[z].StartDate = j[0] + "/" + j[1] + "/" + j[2];
            }
            $("#PubInvoiceList").val(JSON.stringify(PubDatasource))
        }
    });
</script>