﻿@model EInvoice.CAdmin.Models.PublishModel

@{
    ViewBag.Title = "Tạo thông báo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <!--search box-->
               
                    @{
                        Html.RenderPartial("_RPublishShareElement",Model);
                    }
                </div>
                <div class="box-footer">
                    <div class="row" style="margin-left:32px">
                        <input type="button" value="@Resources.Einvoice.BtnSave" class="btn btn-primary btn-flat" onclick="Save_Click()" />
                        <input type="button" value="@Resources.Einvoice.BtnBack" class="btn btn-primary btn-flat btn-cancel"  onclick="document.location = '/Publish/Index'" />
                        
                    </div>
                </div>
                <!--div grid-->
               
            </div>
        </div>
    </div>
</div>
@section styles{
    
}

@section scripts{
    <script type="text/javascript">
        function Save_Click() {
            //chọn cơ quan thuế trước rồi mới commit
            if ($("#TaxAuthorityCode").val() == "") {
                alert("Cần chọn Tên cơ quan thuế!");
                return false;
            }
            //end
            if ($('#f').val() == "") {
                alert("Phải nhập danh sách dải hóa đơn");
            }
            $("#MainForm").attr("action", "/Publish/CreateRPublish");
            $("#MainForm").submit();
        }
        $("#Delimiter").val("Đăng ký sử dụng dấu phân cách là dấu chấm(.) sau chữ số hàng nghìn, triệu, tỷ, nghìn tỷ, triệu tỷ, tỷ tỷ và sử dụng dấu phẩy(,) sau chữ số hàng đơn vị để ghi chữ số sau chữ số hàng đơn vị");
</script>
}
