﻿@using EInvoice.CAdmin.Models
@model DecisionModels
@{
    Layout =null;
    string date = DateTime.Now.ToString("dd/MM/yyyy");
    int count = Model.RegTempList.Count();
}

<link href="/Content/css/SharedFormElements.css" rel="stylesheet" type="text/css">
<link href="/Content/css/grid.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
<script src="/Content/js/date.js" type="text/javascript"></script>
<script type="text/javascript" src="/Content/js/Share.js"></script>
@{ Html.EnableClientValidation(); }

<div class="box-header" style="text-align:center">
    <h3 class="box-title">@Resources.Einvoice.Dec_LblDecisionTitle</h3>
    <hr />
</div>
<div class="box-body">
    <form id="MainForm" name="MainForm" method="post" action="">
        @Html.AntiForgeryToken()
        @Html.Hidden("id", Model.id)
        @Html.Hidden("ComID", Model.ComID)
        @Html.Hidden("ComAddress", Model.ComAddress)
        @Html.Hidden("DecDatasource",Model.DecDatasource)
        @Html.Hidden("ComName",Model.ComName)
        <fieldset>
            <legend> </legend>
            <ol>
                <li>
                    <label for="ComName">
                        @Resources.Einvoice.Dec_LblComName
                    </label>
                    @Html.TextBox("ParentCompany", Model.ParentCompany, new { @style = "width:400px",@maxlength="1000",  title = "Tên đơn vị chủ quản." })
                </li>
                <li>
                    <label for="TaxCode">
                        @Resources.Einvoice.Dec_LblTaxCode
                    </label>
                    @Html.TextBox("TaxCode", Model.TaxCode, new { @style = "width:150px", @readonly = "true",@maxlength="16", @class = "required", title = "Mã số thuế đơn vị chủ quản." })
                </li>
                <li>
                    <label for="DecisionNo">
                        @Resources.Einvoice.Dec_LblNumberDecisions<span style="color: red">(*)</span>
                    </label>
                    @Html.TextBox("DecisionNo", Model.DecisionNo, new { @style = "width:150px",@Smaxlength="40", @class = "required", title = "Số quyết định." })
                </li>
                <li>
                    <label for="Director">
                        @Resources.Einvoice.Dec_LblDirector<span style="color: red">(*)</span>
                    </label>
                    @Html.TextBox("Director", Model.Director, new { @style = "width:200px",@maxlength="200",@class = "required", title = "Giám đốc" })
                </li>
                <li>
                    <label for="Requester"><b>@Resources.Einvoice.Dec_LblRequester</b><span style="color: red">(*)</span></label>
                </li>
                @if (Model.id > 0)
                {
                <li>
                    @Html.TextArea("Requester",Model.Requester, new { @class = "editor form-control" ,@maxlength="500"})
                </li>
                }
                else
                {
                <li>
                    @Html.TextArea("Requester", "-Căn cứ Thông tư số 32/2011/TT-BTC ngày 14/3/2011 của Bộ Tài chính hướng dẫn về khởi tạo, phát hành và sử dụng hoá đơn điện tử bán hàng hóa, cung ứng dịch vụ." + Model.Requester, new { @class = "editor form-control" ,maxlength="500"})
                </li>
                }
                <li>
                    <label for="Description">
                        <b>@Resources.Einvoice.Dec_LblArticle1:</b>Hệ thống thiết bị:
                    </label>
                </li>
                <li>
                    @Html.TextArea("SystemName", Model.SystemName, new { @class = "editor form-control", @maxlength="500" })
                </li>
                <li>
                    <label for="SoftApplication">
                        @Resources.Einvoice.Dec_LblSoftwareApp:
                    </label>
                </li>
                <li>
                    @Html.TextArea("SoftApplication", Model.SoftApplication, new { @maxlength="300", @class= "form-control" })
                </li>

                <li>
                    <label for="TechDepartment">@Resources.Einvoice.Dec_LblTechDepartment  </label>
                </li>
                <li>
                    @Html.TextArea("TechDepartment", Model.TechDepartment, new { @maxlength="300", @class="editor form-control"})
                </li>
                <li>
                    <label><b>@Resources.Einvoice.Dec_LblArticle2 :</b>@Resources.Einvoice.Dec_LblListInvType</label>
                </li>
                <li>
                    <div style="padding: 10px 5px 5px 5px">
                        <b>@Resources.Einvoice.Dec_LblChoosePattern<span style="color: red">(*)</span></b>
                        @Html.TextBox("Article2", "", new  {@class="required",title="Phải chọn điều 2",@style="display:none" })
                        <table id="grid" style="width: 100%; min-width: 800px; margin-top: 7px" class="grid">
                            <thead>
                                <tr>
                                    <th width="50px">
                                        @Resources.Einvoice.Dec_Pattern
                                    </th>
                                    <th width="200px">
                                        @Resources.Einvoice.Dec_LblListInvType 
                                    </th>
                                    <th width="450px">
                                        @Resources.Einvoice.Dec_LblPurpose 
                                    </th>
                                    <th width="30px">
                                        @Resources.Einvoice.LblEdit 
                                    </th>
                                    <th width="30px">
                                        @Resources.Einvoice.LblDelete 
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="tbody13"></tbody>
                        </table>
                        <input type="button" class="Create button btn btn-primary btn-flat" id="Create" value="Thêm" style="float: right; margin-top: 5px" />
                    </div>
                </li>
                <li>
                    <label for="Workflow">
                        <b>@Resources.Einvoice.Dec_LblArticle3:</b> @Resources.Einvoice.Dec_Workflow
                    </label>
                </li>
                <li>
                    @Html.TextArea("Workflow", Model.Workflow, new { @maxlength="300", @class="editor form-control"})
                </li>
                <li>
                    <label for="Responsibility">
                        <b>@Resources.Einvoice.Dec_LblArticle4:</b>@Resources.Einvoice.Dec_LblResponsibility
                    </label>
                </li>
                <li>
                    @Html.TextArea("Responsibility", Model.Responsibility, new { @maxlength="300", @class= "editor form-control" })
                </li>
                <li>
                    <label for="EffectiveDate">
                        <b>@Resources.Einvoice.Dec_LblArticle5:</b>@Resources.Einvoice.Dec_LblEffectDate:
                    </label>
                </li>
                <li>
                    @Html.TextArea("EffectiveDate", Model.EffectiveDate, new { @maxlength="300", @class= "editor form-control" })
                </li>
                <li>
                    <label>Nơi nhận:</label>
                </li>
                <li>
                    @Html.TextArea("Destination", Model.Destination, new { @maxlength="300", @class= "editor form-control" })
                </li>
                <li>
                    <label for="city">@Resources.Einvoice.Dec_LblCity</label>
                    @Html.TextBox("City", Model.City, new {maxlength="50", style="width: 200px; margin-left: -40px", @class = "form-control" })
                </li>
            </ol>
        </fieldset>
    </form>
</div>

<div class="dialog" id="dialog" title="Đăng ký loại hóa đơn phát hành" style="display: none">
    @Html.Hidden("count", count)
    <form id="DialogForm" name="DialogForm" action="">
        <table>
            <tr>
                <td>
                    <label for="InvPattern" style="padding-left: 50px">
                        @Resources.Einvoice.Dec_Pattern: <span style="color: red">(*)</span>
                    </label>
                </td>
                <td>
                    @Html.DropDownList("InvPattern", Model.RegTempList, "--Mẫu số--", new { style = "width:150px", onchange = "get()", @class = "required", title = "Chọn mẫu!" })
                </td>
            </tr>
            <tr>
                <td>
                    <label for="InvCateName" style="padding-left: 50px">
                        @Resources.Einvoice.Dec_InvCateName:
                    </label>
                </td>
                <td>
                    @Html.TextBox("InvCateName", "" ,new { style = "width:200px",@readonly="readonly", @maxlength="200" })
                </td>
            </tr>
            <tr>
                <td>
                    <label for="Mucdich" style="padding-left: 50px">
                        @Resources.Einvoice.Dec_LblPurpose: <span style="color: red">(*)</span>
                    </label>
                </td>
                <td>
                    @Html.TextArea("Mucdich", "", new {@maxlength="200", style = "width:400px", @class = "required form-control", title = "Mục đích!" })
                </td>
            </tr>
        </table>
        <div style="margin-top: 15px">
            <input type="button" class="button btn btn-primary btn-flat" value="@Resources.Einvoice.BtnBack" onclick="btCancel_click()" />
            <input class="Save button btn btn-primary btn-flat" id="Save" type="button" value="@Resources.Einvoice.BtnSave" onclick="btUpdate_click()" />
            <input class="Save button btn btn-primary btn-flat" id="SaveAndCreate" type="button" value="@Resources.Einvoice.BtnSaveAndCreate" onclick="btSave_Create()" />          
        </div>
    </form>
</div>
<script type="text/javascript">
    function checkDate() {
        var d1 = Date.parseExact($("#EffectiveDate").val(), "d/M/yyyy");
        var d2 = new Date.parseExact("@date", "d/M/yyyy");
    if (d1 < d2) {
        bootbox.alert({
            buttons: {
                ok: {
                    label: 'Đồng ý'
                }
            },
            title: "Thông báo",
            message: "@Html.Raw(Resources.Message.Dec_MesEffectiveDateBigToday)",
            size: 'small',
        });
        var now = new Date().toString("dd/MM/yyyy");
        $("#EffectiveDate").val(now);
        return false
    }
    return true
}
var arrPattern = new Array();
var c = "";
var currentRow = null;
$("#Create").click(function () {
    $("#InvPattern").val("");
    currentRow = null;
    if (arrPattern.length >= parseInt(c, 10))
        bootbox.alert({
            buttons: {
                ok: {
                    label: 'Đồng ý'
                }
            },
            title: "Thông báo",
            message: "Cần đăng ký mẫu hóa đơn!",
            size: 'small',
        });
    else {
        var objSelect = document.getElementById("InvPattern");
        for (var i = 0; i < arrPattern.length; i++)
            for (var j = 0; j < objSelect.options.length; j++) {
                if (objSelect.options[j].value == arrPattern[i])
                    objSelect.remove(j)
            }
        bindDataToForm(currentRow);
        document.getElementById("SaveAndCreate").style.display = "inline";
        $("#dialog").dialog("open");
        $($('.ui-dialog')[0]).css("top", "25%");
        $($('.ui-dialog')[0]).css("left", "25%");
    }
});
var DecDatasource = [];
function DecViewDatasource() {
    $("#dialog").dialog({
        autoOpen: false,
        height: 230,
        modal: true,
        width: 680
    });
    $("#grid tbody tr").remove();
    if (DecDatasource == null || DecDatasource == undefined)
        return;
    for (var i = 0; i < DecDatasource.length; i++) {
        var jsonRow = DecDatasource[i];
        addRow("grid", jsonRow.InvPattern, jsonRow.InvCateName, jsonRow.Mucdich);
        arrPattern[i] = jsonRow.InvPattern
    }
    $("#grid tbody tr:odd").addClass("oddtr");
    $("#grid tbody tr").mouseover(function () {
        $(this).addClass("trover")
    }).mouseout(function () {
        $(this).removeClass("trover")
    });
    $("#grid tbody tr td img.Delete").click(function () {
        if (confirm("Bạn có chắc chắn muốn xóa dòng này không?")) {
            var InvPattern = $(this).parent().parent().find("td").eq(0).html();
            if (InvPattern != null && InvPattern != undefined) {
                for (var i = 0; i < DecDatasource.length; i++) {
                    if (DecDatasource[i].InvPattern == InvPattern) {
                        DecDatasource.splice(i, 1);
                        arrPattern.splice(i, 1)
                    }
                }
                $(this).parent().parent().remove()
            }
            AddPattern(InvPattern)
        }
        if (DecDatasource.length == 0) {
            $("#Article2").val("");
            nextFocus("Article2")
        }
    });
    $("#grid tbody tr td img.Edit").click(function () {
        if (DecDatasource == null || DecDatasource == undefined)
            return [];
        var InvPattern = $(this).parent().parent().find("td").eq(0).html();
        var RetSearch = $.grep(DecDatasource, function (item, index) {
            return item.InvPattern == InvPattern
        });
        if (RetSearch.length > 0)
            currentRow = RetSearch[0];
        else
            currentRow = null;
        AddValue(InvPattern);
        bindDataToForm(currentRow);
        document.getElementById("SaveAndCreate").style.display = "none";
        $("#dialog").dialog("open")
    })
}
function bindDataToForm(JsonObject) {
    if (JsonObject == null || JsonObject == undefined) {
        $("#InvCateName").val("");
        $("#Mucdich").val("")
    } else {
        $("#InvPattern").val(JsonObject.InvPattern);
        $("#InvCateName").val(JsonObject.InvCateName);
        $("#Mucdich").val(JsonObject.Mucdich)
    }
}
function addRow(GridID, nameregis, invname, mucdich) {
    var newrow = "<tr>";
    newrow += "<td>" + nameregis + "</td>";
    newrow += "<td>" + htmlEntities(invname) + "</td>";
    newrow += "<td>" + htmlEntities(mucdich) + "</td>";
    newrow += "<td align='center'><img src='/Content/Images/im-edit.jpg' alt='Sua' title='Edit'" +
            " class='Edit' /></td>";
    newrow += "<td align='center'><img src='/Content/Images/no.png' alt='Xoa' title ='Delete' c" +
            "lass ='Delete' /></td>";
    newrow += "</tr>";
    $("#" + GridID + " tbody").append(newrow)
}
function htmlEntities(str) {
    return String(str).replace(/&/g, "&amp;").replace(/</g, "&lt;").replace(/>/g, "&gt;").replace(/"/g, "&quot;")
}
function btSave_Create() {
    if (!$("#Mucdich").val().trim()) {
        $("#DialogForm").valid()
    } else {
        if (sc()) {
            DecViewDatasource();
            DelSelected()
        }
    }
    $("#InvPattern").val("");
    $("#InvCateName").val("");
    $("#Mucdich").val("");
    currentRow = null;
    $("#Article2").val("ok");
    nextFocus("Article2")
}
function resetPattern() {
    currentRow = null;
    $("#InvPattern").val("")
}
function btUpdate_click() {
    if (!$("#Mucdich").val().trim() || !$("#InvPattern").val()) {
        $("#DialogForm").valid()
    } else {
        if (sc()) {
            DecViewDatasource();
            $("#dialog").dialog("close");
            DelSelected()
        }
    }
    $("#Article2").val("ok");
    nextFocus("Article2")
}
function sc() {
    if (currentRow == null) {
        currentRow = {
            InvCateName: $("#InvCateName").val(),
            InvPattern: $("#InvPattern").val(),
            Mucdich: $("#Mucdich").val()
        };
        DecDatasource.push(currentRow)
    } else {
        currentRow.InvPattern = $("#InvPattern").val();
        currentRow.InvCateName = $("#InvCateName").val();
        currentRow.Mucdich = $("#Mucdich").val();
    }
    return true
}
    var tempSource =@Html.Raw(Model.DecDatasource) != null ? @Html.Raw(Model.DecDatasource) : "null";
    if (tempSource === null) {
        DecDatasource = [];
    }else{
        DecDatasource = tempSource;
    };
function get() {
    var jsd = "pattern=" + $("#InvPattern").val();
    if ($("#InvPattern").val() == "")
        return;
    $.ajax({
        data: jsd,
        success: function (data) {
            $("#InvCateName").val(data.invcate)
        },
        type: "POST",
        url: "/Publish/getInv/"
    });
    pattern = $("#InvPattern").val()
}
function AddPattern(Pattern) {
    var objSelect = document.getElementById("InvPattern");
    for (var i = 0; i < objSelect.options.length; i++) {
        if (objSelect.options[i].value == Pattern) {
            objSelect.remove(i);
            break
        }
    }
    var optn = document.createElement("option");
    optn.text = Pattern;
    optn.value = Pattern;
    objSelect.add(optn)
}
function AddValue(Pattern) {
    var objSelect = document.getElementById("InvPattern");
    for (var i = 0; i < arrPattern.length; i++)
        for (var j = 0; j < objSelect.options.length; j++) {
            if (objSelect.options[j].value == arrPattern[i])
                objSelect.remove(j)
        }
    var optn = document.createElement("option");
    optn.text = Pattern;
    optn.value = Pattern;
    objSelect.add(optn)
}
function DelSelected() {
    var objSelect = document.getElementById("InvPattern");
    for (var i = 0; i < objSelect.options.length; i++) {
        if (objSelect.options[i].value == pattern) {
            objSelect.remove(i);
            break
        }
    }
}
var pattern = null;
function btCancel_click() {
    $("#dialog").dialog("close");
    nextFocus("Article2")
}

jQuery(function ($) {
    $.datepicker.regional["vi"] = {
        closeText: "Đóng",
        currentText: "Hôm nay",
        dateFormat: "dd/mm/yy",
        dayNames: [
            "Chủ Nhật", "Thứ Hai", "Thứ Ba", "Thứ Tư", "Thứ Năm", "Thứ Sáu", "Thứ Bảy"
        ],
        dayNamesMin: [
            "CN", "T2", "T3", "T4", "T5", "T6", "T7"
        ],
        dayNamesShort: [
            "CN", "T2", "T3", "T4", "T5", "T6", "T7"
        ],
        firstDay: 0,
        isRTL: false,
        monthNames: [
            "Tháng Một", "Tháng Hai", "Tháng Ba", "Tháng Tư", "Tháng Năm", "Tháng Sáu", "Tháng Bảy", "Tháng Tám", "Tháng Chín", "Tháng Mười", "Tháng Mười Một", "Tháng Mười Hai"
        ],
        monthNamesShort: [
            "Tháng 1", "Tháng 2", "Tháng 3", "Tháng 4", "Tháng 5", "Tháng 6", "Tháng 7", "Tháng 8", "Tháng 9", "Tháng 10", "Tháng 11", "Tháng 12"
        ],
        nextText: "Tiếp&#x3e;",
        prevText: "&#x3c;Trước",
        showMonthAfterYear: false,
        weekHeader: "Tu",
        yearSuffix: ""
    }
});
$(document).ready(function () {
    $("form:first").validate();
    $.datepicker.setDefaults($.datepicker.regional["vi"]);
    $(".datepicker").datepicker({
        buttonImage: "/Content/images/calendar.gif",
        buttonImageOnly: true,
        changeMonth: true,
        changeYear: true,
        showOn: "button"
    });
    $("#dialog").dialog({
        autoOpen: false,
        height: 280,
        modal: true,
        width: 680
    });
    DecViewDatasource();
    c = $("#count").val();
    //LoadEditor()
});
$("#MainForm").submit(function () {
    $("input[type='text']").each(function (i) {
        checkTextMaxLength(this);
    });
    $("input[type='textarea']").each(function (i) {
        checkTextMaxLength(this);
    });
    if (DecDatasource.toString() == "") {
        $("#Article2").val("");
        return false
    } else {
        $("#Article2").val("ok");
        $("#DecDatasource").val(JSON.stringify(DecDatasource))
    }
});
</script>