﻿@using EInvoice.CAdmin.Models
@model DecisionModels
@{
    ViewBag.Title = "Sửa quyết định";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            @{
                Html.RenderPartial("DecisionShareElement", Model);
            }
            <div class="box-footer">
                <button type="button" class="button btn btn-primary btn-flat" style="margin-right:5px;" onclick="Save_Click()"><i class="fa fa-check-square-o margin-r-5"></i>@Resources.Einvoice.BtnSave</button>
                <button type="button" class="button btn btn-primary btn-flat" onclick="document.location = '/Publish/ListDecision'"><i class="fa fa-arrow-left margin-r-5"></i>@Resources.Einvoice.BtnBack</button>
            </div>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
    function Save_Click() {
        $("#MainForm").attr("action", "/Publish/EditDecision");
        $("#MainForm").submit();
    }
</script>


