﻿@using EInvoice.Core.Domain
@model Staff
@{
    ViewBag.Title = "Sửa thông báo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                @using (Html.BeginForm("Update", "Publish", FormMethod.Post, new { @id = "accForm" }))
            {
                Html.RenderPartial("SetPublishInvoiceShareElement", Model);
                    <div class="box-footer">
                        <div class="col-sm-5">
                        </div>
                        <div class="col-sm-7">
                            <input type="submit" class="btn btn-primary btn-flat" value="@Resources.Einvoice.BtnSave" id="save" />
                            <input type="button" class="btn btn-primary btn-flat btn-cancel" value="@Resources.Einvoice.BtnBack" onclick="document.location = '/Publish/SetPublishInvoiceIndex'" />
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>