﻿@using EInvoice.Core.Domain
@using EInvoice.CAdmin.Models
@model PublishModel
@{
    ViewBag.Title = "Sửa thông báo phát hành";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                @{
                    Html.RenderPartial("_RPublishShareElement", Model);
                }
            </div>
            <div class="box-footer">
                <div class="row" style="margin-left:32px">
                    <input type="button" value="@Resources.Einvoice.BtnSave" class="button btn btn-primary btn-flat" onclick="Save_Click()" />
                    <input type="button" value="@Resources.Einvoice.BtnBack" class="button btn btn-primary btn-flat btn-cancel" onclick="document.location = '/Publish/Index'" />  
                </div>
            </div>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
    function Save_Click() {
        if ($('#f').val() == "") {
            alert("Phải nhập danh sách dải hóa đơn");
        }
          $("#MainForm").attr("action", "/Publish/EditRPublish");
          $("#MainForm").submit();
    }
    $(document).ready(function () {
        $('#f').val("ok");
    });
</script>
