﻿@using EInvoice.Core
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@using Microsoft.Ajax.Utilities
@model EInvoice.CAdmin.Models.PubIndexModels
@{
    ViewBag.Title = "Thông báo phát hành";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int pstatus = -1;
}
<div class="clear">
</div>
<div class="row" style="padding-top: 0;">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">THÔNG BÁO PHÁT HÀNH</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--search box-->
                @using (Html.BeginForm("Index", "Publish", FormMethod.Get, new { @class = "form-inline" }))
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-2" style="width: 20%; padding-left: 0">
                                @Html.LabelFor(m => m.fromdate, "Từ ngày: ")
                                @Html.TextBoxFor(m => m.fromdate, new { @class = "form-control datepicker vietnameseDate", @style = "width:100px", onchange = "getHiddenValue()" })
                            </div>
                            <div class="form-group col-sm-2" style="width: 22%;">
                                @Html.LabelFor(m => m.todate, "Đến ngày: ")
                                @Html.TextBoxFor(m => m.todate, new { @class = "form-control datepicker vietnameseDate", @style = "width:100px", onchange = "getHiddenValue()" })
                            </div>
                            <div class="form-group col-sm-3" style="width: 28%;">
                                @Html.LabelFor(m => m.status, "Trạng thái: ")
                                @Html.DropDownListFor(m => m.status, new List<SelectListItem>
                                    {
                                        new SelectListItem{Text=Resources.Einvoice.Pub_TxtNewPub, Value="0", Selected= (pstatus == 0)},
                                        //new SelectListItem{Text=Resources.Einvoice.Pub_TxtSendedPub, Value="1", Selected= (pstatus == 1)},
                                        new SelectListItem{Text=Resources.Einvoice.Pub_txtAcceptedPub, Value="2", Selected= (pstatus == 2)},
                                    }, "--Trạng thái--", new { @class = "form-control dropdownlist", @style = "width:200px" })
                            </div>
                            <div class="form-group col-sm-2">
                                <button class="btn btn-primary btn-flat" type="submit">@Resources.Einvoice.BtnSeach</button>
                            </div>
                            <div class="form-group col-sm-1" style="padding-right: 0; width: 13%; margin-left: 3px;">
                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Add_pub"))
                                {
                                    <a href="/Publish/CreateRPublish/" class="btn btn-primary btn-flat pull-right" title="Create">
                                        <i class="glyphicon glyphicon-plus"></i> Tạo mới
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                }
                <br />
                <!--div grid-->
                <div class="row">
                    <div class="col-sm-12">
                        <table id="PublishList" class="table table-bordered table-hover table-striped table-responsive have-action dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th width="5%">
                                        STT
                                    </th>
                                    <th width="23%">
                                        Tên đơn vị
                                    </th>
                                    <th width="15%">
                                        Cơ quan thuế nhận thông báo
                                    </th>
                                    <th width="5%">
                                        Ngày lập
                                    </th>
                                    <th width="9%">
                                        Trạng thái
                                    </th>
                                    <th width="5%">
                                        Chi tiết
                                    </th>
                                    <th width="4%">
                                        Sửa
                                    </th>
                                    <th width="5%">
                                        Xóa
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = Model.PageListPUB.PageIndex * Model.PageListPUB.PageSize + 1;
                                }
                                @foreach (var item in Model.PageListPUB)
                                {
                                    <tr>
                                        <td style="align-content: center">@(i++)</td>
                                        <td>@item.ComName</td>
                                        <td style="text-align:left">@item.TaxAuthorityName</td>
                                        <td>@item.CreateDate.ToString("dd/MM/yyyy")</td>
                                        <td>@Utils.GetNamePublishStatus(item.Status)</td>
                                        <td>
                                            @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Detail_pub"))
                                            {
                                                <a href="/Publish/DetailRPublish/@item.id" title="Details"><span class="glyphicon glyphicon-eye-open"></span></a>
                                            }
                                        </td>
                                        @if (item.Status == PublishStatus.Newpub)
                                        {
                                            <td>
                                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Edit_pub"))
                                                {
                                                    <a href="/Publish/EditRPublish/@item.id" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                                }
                                            </td>
                                            <td>
                                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Del_pub"))
                                                {
                                                    <a href="#" onclick="OnDelete('@item.id')" title="Delete"><span class="glyphicon glyphicon-remove-circle"></span></a>
                                                }
                                            </td>
                                        }
                                        else if (item.Status == PublishStatus.Waiting)
                                        {
                                            <td>
                                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Edit_pub"))
                                                {
                                                    <a href="/Publish/EditRPublish/@item.id" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                                                }
                                            </td>
                                            <td>
                                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Del_pub"))
                                                {
                                                    <span class="glyphicon glyphicon-lock fill-color"></span>
                                                }
                                            </td>
                                        }
                                        else if (item.Status == PublishStatus.InUse)
                                        {
                                            <td>
                                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Edit_pub"))
                                                {
                                                    <span class="glyphicon glyphicon-lock fill-color"></span>
                                                }
                                            </td>
                                            <td>
                                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Del_pub"))
                                            {
                                                <span class="glyphicon glyphicon-lock fill-color"></span>
                                            }
                                        </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-2">
                        <div class="pager row pull-right">
                            @Html.Pager(Model.PageListPUB.PageSize, Model.PageListPUB.PageIndex + 1, Model.PageListPUB.TotalItemCount, new
                       {
                           action = "index",
                           controller = "Publish",
                           fromdate = Model.fromdate,
                           todate = Model.todate,
                           status = Model.status
                       })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section styles{
    <style>
        #PublishList {
            text-align: center;
        }

        label {
            font-weight: 700;
        }

        .left-align {
            text-align: left;
        }

        .pushed-from-top {
            margin-top: 22px;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}

@section scripts{
    <script src="/Content/js/date.js" type="text/javascript"></script>
    <script src="/Content/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
        //xóa thông báo phát hành
        function OnDelete(id) {
            if (!confirm('@Html.Raw(Resources.Message.Pub_MesConfirmDel)'))
                return;
            document.location = "/Publish/DeleteRPublish?id=" + id;
        }
        // Định dang datetime
        jQuery(function ($) {
            $.datepicker.regional['vi'] = {
                closeText: 'Đóng',
                prevText: '&#x3c;Trước',
                nextText: 'Tiếp&#x3e;',
                currentText: 'Hôm nay',
                monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
       'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
                monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
       'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
                dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                weekHeader: 'Tu',
                dateFormat: 'dd/mm/yy',
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
        });
        $(function ($) {
            $(".vietnameseDate").mask("99/99/9999");
        });
        //Định dạng control nhâp datetime
        function getHiddenValue() {
            var stringDate1 = $("#fromdate").val();
            var d1 = Date.parseExact(stringDate1, "d/M/yyyy");
            if (d1 == null && stringDate1 != null) { // nhập không đúng định dạng ngày tháng
                $("#fromdate").val("");
            }
            var stringDate2 = $("#todate").val();
            var d2 = Date.parseExact(stringDate2, "d/M/yyyy");
            if (d2 == null && stringDate2 != null) { // nhập d2 không đúng định dạng
                $("#todate").val("");
            }
            if (d1 != null && d2 != null && d1 > d2) {
                bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: "@Html.Raw(Resources.Einvoice.Pay_ReqToDateGreaterStartDate)",
                    size: 'small',
                });
                $("#todate").val("");
            }
        }
        //Định dạng hình ảnh hiển thi giao diện chọn datepicker
        $(document).ready(function () {
            $.datepicker.setDefaults($.datepicker.regional['vi']);
            $(".datepicker").datepicker({
                showOn: "button",
                buttonImage: "/Content/images/calendar.gif",
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true
            });
        });
    </script>
}
