﻿@using EInvoice.Core
@using FX.Utils.MvcPaging
@using NHibernate.Hql.Ast.ANTLR
@model EInvoice.CAdmin.Models.DecIndexModels
@{
    ViewBag.Title = "Quyết định phát hành";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">QUYẾT ĐỊNH PHÁT HÀNH HÓA ĐƠN ĐIỆN TỬ</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--search box-->
                <div class="row">
                    <div class="col-sm-12">
                        @using (Html.BeginForm("ListDecision", "Publish", FormMethod.Get, new { @class = "form-inline" }))
                        {
                            <div class="form-group">
                                @Html.LabelFor(d => d.status, "Trạng thái quyết định: ")
                                @Html.DropDownListFor(d => d.status, new List<SelectListItem>
                                {
                                    new SelectListItem {Text = Resources.Einvoice.Dec_TxtNewDecision, Value = "0"},
                                    new SelectListItem {Text = Resources.Einvoice.Dec_TxtSendDecision, Value = "1"},
                                    new SelectListItem {Text = Resources.Einvoice.Dec_TxtAcceptDecision, Value = "2"}
                                }, "-- Tất cả --", new { @class = "form-control dropdownlist", onchange = "this.form.submit();" })
                            </div>
                            <div class="form-group pull-right">
                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Add_dec"))
                                {
                                    <a class="btn btn-primary btn-flat pull-right" href="/Publish/CreateDecision/">
                                        <i class="glyphicon glyphicon-plus"></i> Tạo mới
                                    </a>
                                }
                            </div>
                        }
                    </div>
                </div>
                <br />
                <!--div grid-->
                <div class="row">
                    <div class="col-sm-12">
                        <table id="ListDecision" class="table table-bordered table-hover table-striped table-responsive have-action dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th width="5%">
                                        STT
                                    </th>
                                    <th width="20%">
                                        Tên đơn vị
                                    </th>
                                    <th width="20%">
                                        Địa chỉ
                                    </th>
                                    <th width="10%">
                                        Số quyết định
                                    </th>
                                    <th width="15%">
                                        Giám đốc
                                    </th>
                                    <th width="8%">
                                        Thông tin quyết định
                                    </th>
                                    <th width="7%">
                                        Chi tiết
                                    </th>
                                    <th width="5%">
                                        Sửa
                                    </th>
                                    <th width="5%">
                                        Xóa
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = Model.PageListDEC.PageIndex * Model.PageListDEC.PageSize + 1;
                                }
                                @foreach (var decision in Model.PageListDEC)
                                {
                                    <tr>
                                        <td style="align-content: center">@(i++)</td>
                                        <td>@decision.ComName</td>
                                        <td style="text-align: left">@decision.ComAddress</td>
                                        <td style="text-align: left">@decision.DecisionNo</td>
                                        <td style="text-align: left">@decision.Director</td>
                                        <td>@Utils.GetNameStatusDec(decision.Status)</td>
                                        <td>
                                            @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Detail_dec"))
                                            {
                                                <a href="/Publish/DetailsDecision/@decision.id" title="Details">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                </a>
                                            }
                                        </td>
                                        @if (decision.Status == 0)
                                        {
                                            <td>
                                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Edit_dec"))
                                                {
                                                    <a href="/Publish/EditDecision/@decision.id" title="Edit">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </a>
                                                }
                                            </td>
                                            <td>
                                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Del_dec"))
                                                {
                                                    <a href="#" onclick="OnDelete('@decision.id')" title="Delete">
                                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                                    </a>
                                                }
                                            </td>
                                        }
                                        else if (decision.Status == 1)
                                        {
                                            <td>
                                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Del_dec"))
                                                {
                                                    <a href="/Publish/EditDecision/@decision.id" title="Edit">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </a>
                                                }
                                            </td>
                                                <td>
                                                    @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Del_dec"))
                                                    {
                                                        <span class="glyphicon glyphicon-lock fill-color"></span>

                                                    }
                                                </td>
                                        }
                                        else if (decision.Status == 2)
                                        {
                                            <td>
                                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Del_dec"))
                                                {
                                                    <span class="glyphicon glyphicon-lock fill-color"></span>

                                                }
                                            </td>
                                            <td>
                                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Del_dec"))
                                                {
                                                    <span class="glyphicon glyphicon-lock fill-color"></span>

                                                }
                                            </td>
                                        }
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-2">
                        <div class="pager row pull-right">
                            @Html.Pager(Model.PageListDEC.PageSize, Model.PageListDEC.PageIndex + 1, Model.PageListDEC.TotalItemCount, new
                       {
                           action = "ListDecision",
                           controller = "Publish",
                           name = Model.status
                       })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <style>
        #ListDecision {
            text-align: center;
        }

        label {
            font-weight: 700;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}
<script language="javascript" type="text/javascript">
        function OnDelete(id) {
            if (!confirm("@Html.Raw(Resources.Message.Dec_MesConfirmDel)"))
                return;
            document.location = "/Publish/deletedecision?id=" + id;
        }
        jQuery(function ($) {
            $.datepicker.regional['vi'] = {
                closeText: 'Đóng',
                prevText: '&#x3c;Trước',
                nextText: 'Tiếp&#x3e;',
                currentText: 'Hôm nay',
                monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
		'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
                monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
		'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
                dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                weekHeader: 'Tu',
                dateFormat: 'dd/mm/yy',
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
        });
        $(document).ready(function () {
            $.datepicker.setDefaults($.datepicker.regional['vi']);
            $(".date").datepicker({
                showOn: "button",
                buttonImage: "/content/images/calendar.gif",
                buttonImageOnly: true
            });
        });
</script>
