﻿@using EInvoice.CAdmin.Models;
@using EInvoice.Core.Domain;
@using FX.Utils.MvcPaging;
@model EInvoice.CAdmin.Models.PublishInvModel
@{
    ViewBag.Title = "Quản lý thông báo phát hành";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList opattern = new SelectList((IList<string>)Model.lstpattern);
    SelectList oSerial = new SelectList((IList<string>)Model.lstserial);
}
<link href="~/Content/css/grid.css" rel="stylesheet" type="text/css" />
<script src="~/Content/js/date.js" type="text/javascript"></script>
<script src="~/Content/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
<script type="text/javascript" src="~/Content/js/jquery.PrintArea.js"></script>
<script src="~/Content/js/jquery.bpopup.min.js"></script>
<div class="clear">
</div>
<div class="row" style="padding-top: 0;">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">THÔNG BÁO PHÁT HÀNH</h3>
                <hr />
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-sm-12">
                        @using (Html.BeginForm("ManagePublishInv", "Publish", FormMethod.Get, new { @class = "form-horizontal", id = "searchForm", name = "searchForm" }))
                        {
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Pattern, "Mẫu số: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.DropDownListFor(m => m.Pattern, new SelectList(Model.lstpattern, Model.Pattern), new { @class = "form-control dropdownlist" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.FromDate, "Từ ngày: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()", style = "width: 85%; display: inline-block;" })
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-4" style="margin-left: 20px">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Serial, "Ký hiệu: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.DropDownList("Serial", oSerial, "--Ký hiệu--", new { @name = "Serial", @class = "form-control dropdownlist", @onchange = "document.searchForm.submit();" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.ToDate, "Đến ngày: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()", style = "width: 85%; display: inline-block;" })
                                    </div>
                                </div>

                                <button class="btn btn-primary btn-flat pull-right" type="submit">Tìm kiếm</button>
                            </div>
                        }
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <table id="MailList" class="table table-bordered table-hover table-striped table-responsive have-action dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th width="5%">
                                        STT
                                    </th>
                                    <th width="10%">
                                        Mẫu số
                                    </th>
                                    <th width="5%">
                                        Ký hiệu
                                    </th>
                                    <th width="10%">
                                        Số lượng
                                    </th>
                                    <th width="10%">
                                        Từ số
                                    </th>
                                    <th width="10%">
                                        Đến số
                                    </th>
                                    <th width="5%">
                                        Số hóa đơn hiện tại
                                    </th>
                                    <th width="5%">
                                        Số còn lại
                                    </th>
                                    <th width="5%">
                                        Ngày bắt đầu sử dụng
                                    </th>
                                    <th width="5%">
                                        Trạng thái sử dụng
                                    </th>
                                    <th width="5%">
                                        Xem mẫu
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    IList<PublishInvoice> lstpubInv = Model.PageListPubInv.ToList();
                                    int i = Model.PageListPubInv.PageIndex * Model.PageListPubInv.PageSize + 1;
                                }
                                @foreach (PublishInvoice pubinv in lstpubInv)
                                {
                                    <tr>
                                        <td>@(i)</td>
                                        <td>@pubinv.RegisterTemplate.InvPattern</td>
                                        <td>@pubinv.InvSerial</td>
                                        <td>@(pubinv.ToNo - pubinv.FromNo + 1)</td>
                                        <td>@pubinv.FromNo.ToString("0000000")</td>
                                        <td>@pubinv.ToNo.ToString("0000000")</td>
                                        <td>@pubinv.CurrentNo.ToString("0000000")</td>
                                        <td>@(pubinv.ToNo - pubinv.CurrentNo)</td>
                                        <td>@pubinv.StartDate.ToString("dd'/'MM'/'yyyy")</td>
                                        @if (pubinv.Status == 1)
                                        {
                                            <td>Chưa sử dụng</td>
                                        }
                                        else if (pubinv.Status == 2)
                                        {
                                            <td>Đang sử dụng</td>
                                        }
                                        else if (pubinv.Status == 3 && pubinv.CurrentNo < pubinv.ToNo)
                                        {
                                            <td>Đã hủy</td>
                                        }
                                        else if (pubinv.CurrentNo == pubinv.ToNo)
                                        {
                                            <td>Đã sử dụng hết</td>
                                        }
                                        @if (pubinv.PubTemp.Count() > 0)
                                        {
                                            <td>
                                                <span alt="Chi tiết" style="cursor: pointer" class="glyphicon glyphicon-eye-open fill-color"
                                                      onclick="viewTemp('@pubinv.RegisterTemplate.Id','@pubinv.PubTemp[0].ComName)','@pubinv.PubTemp[0].ComAddress)','@pubinv.PubTemp[0].ComPhone)','@pubinv.PubTemp[0].ComFax)','@pubinv.PubTemp[0].ComTaxCode','@pubinv.PubTemp[0].ComBankNumber','@pubinv.InvSerial')"></span>
                                            </td>
                                        }
                                        else
                                        {
                                            <td></td>
                                        }

                                    </tr>
                                    i++;
                                }
                            </tbody>
                            @Html.Hidden("hdPattern")
                            @Html.Hidden("Serial")
                        </table>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-2">
                        <div class="pager">
                            @Html.Pager(Model.PageListPubInv.PageSize, Model.PageListPubInv.PageIndex + 1, Model.PageListPubInv.TotalItemCount, new
                       {
                           action = "ManagePublishInv",
                           controller = "Publish",
                           FromDate = Model.FromDate,
                           ToDate = Model.ToDate,
                           Pattern = Model.Pattern,
                           Serial = Model.Serial
                       })
                        </div>
                    </div>
                </div>
                <div id="src" style="display: none;">
                    <div id="invData"></div>
                    <div id="inbt"></div>
                </div>


            </div>

        </div>
    </div>
</div>
@section styles{
    <link href="~/Content/grid.css" rel="stylesheet" />
}
<script language="javascript" type="text/javascript">
    // Định dang datetime
    jQuery(function ($) {
        $.datepicker.regional['vi'] = {
            closeText: 'Đóng',
            prevText: '&#x3c;Trước',
            nextText: 'Tiếp&#x3e;',
            currentText: 'Hôm nay',
            monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
            monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
            dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
            dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
            dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
            weekHeader: 'Tu',
            dateFormat: 'dd/mm/yy',
            firstDay: 0,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
    });
    $(function ($) {
        $(".vietnameseDate").mask("99/99/9999");
    });
    //Định dạng control nhâp datetime
    function getHiddenValue() {
        var stringDate1 = $("#FromDate").val();
        var d1 = Date.parseExact(stringDate1, "d/M/yyyy");
        if (d1 == null && stringDate1 != null) { // nhập không đúng định dạng ngày tháng
            $("#FromDate").val("");
        }
        var stringDate2 = $("#ToDate").val();
        var d2 = Date.parseExact(stringDate2, "d/M/yyyy");
        if (d2 == null && stringDate2 != null) { // nhập d2 không đúng định dạng
            $("#ToDate").val("");
        }
        if (d1 != null && d2 != null && d1 > d2) {
            bootbox.alert({
                buttons: {
                    ok: {
                        label: 'Đồng ý'
                    }
                },
                title: "Thông báo",
                message: "@Html.Raw(Resources.Einvoice.Pay_ReqToDateGreaterStartDate)",
                size: 'small',
            });

            $("#ToDate").val("");
        }
    }
    //xem view mau phat hanh
    function viewTemp(tempid, ComNameM, ComAddressM, ComPhoneM, ComFaxM, ComTaxCodeM, ComBankNumberM, serialNo) {
        var jsondata = "tempid=" + tempid + "&comName=" + ComNameM + "&comAddress=" + ComAddressM + "&comPhone=" + ComPhoneM + "&comFax" + ComFaxM + "&comTaxCode=" + ComTaxCodeM + "&comBankNumber=" + ComBankNumberM + "&serialNo=" + serialNo;
        $.ajax({
            type: "POST",
            url: "/Publish/AjxPreviewPubInv/",
            data: jsondata,
            success: function (data) {
                document.getElementById("invData").innerHTML = data;
                document.getElementById("inbt").innerHTML = "<button value='Print' class='button'  name='Print' onclick=\"printInvoice();\">In mẫu hóa đơn</button>";
                $(function () {
                    $('#src').bPopup({
                        easing: 'easeOutBack', //uses jQuery easing plugin
                        speed: 450,
                        transition: 'slideDown'
                    });
                });
            }
        });
    }
    //in mau
    function printInvoice() {
        $("#inbt").css("display", "none");
        var printElement = document.getElementById("invData");
        $(printElement).printArea({
            mode: "iframe",
            popWd: 1000,
            popHt: 900,
            popClose: false,
            tagPrint: "#invData"
        });
        $("#inbt").css("display", "block");
        return (false);
    }

    //Định dạng hình ảnh hiển thi giao diện chọn datepicker
    $(document).ready(function () {
        $.datepicker.setDefaults($.datepicker.regional['vi']);
        $(".datepicker").datepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar.gif",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true
        });

        $('#Pattern').change(function () {
            var jsd = "Pattern=" + $("#Pattern").val();
            $.ajax({
                type: "POST",
                url: "/EInvoice/GetSerial/",
                data: jsd,
                success: function (data) {
                    sl = document.getElementById("Serial");
                    while (sl.firstChild) {
                        sl.removeChild(sl.firstChild);
                    }
                    if (data.pu.length > 0) {
                        newOpt = new Option("--Ký hiệu--", "");
                        document.getElementById("Serial").options.add(newOpt);
                        newOpt.selected = true;
                        for (i = 0; i < data.pu.length; i++) {
                            newOption = new Option(data.pu[i]);
                            document.getElementById("Serial").options.add(newOption);
                        }
                    }
                    document.searchForm.submit();
                }
            });
        });
    });
</script>

