﻿@using FX.Utils.MvcPaging
@using EInvoice.Core.Domain
@using EInvoice.CAdmin.Models
@model StaffModel
@{
    ViewBag.Title = "Danh sách tài khoản kế toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">DANH SÁCH TÀI KHOẢN KẾ TOÁN</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--div grid-->
                <div class="row">
                    <div class="col-sm-12">
                        <table id="listStaff" class="table table-bordered table-hover table-striped table-responsive have-action dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th width="5%">
                                        @Resources.Einvoice.lblNo
                                    </th>
                                    <th width="15%">
                                        @Resources.Einvoice.Staff_LblName
                                    </th>
                                    <th width="10%">
                                        @Resources.Einvoice.Staff_LblAccountName
                                    </th>
                                    <th width="15%">
                                        @Resources.Einvoice.Staff_LblDivision
                                    </th>
                                    <th width="20%">
                                        Địa chỉ
                                    </th>
                                    <th width="5%">
                                        SĐT
                                    </th>
                                    <th width="10%">
                                        @Resources.Einvoice.Staff_LblEmail
                                    </th>
                                    <th width="5%">
                                        @Resources.Einvoice.LblEdit
                                    </th>
                                    <th width="5%">
                                        @Resources.Einvoice.LblDelete
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    List<Staff> stalst = Model.PageListStaff.ToList();
                                    int i = Model.PageListStaff.PageIndex * Model.PageListStaff.PageSize + 1;
                                }
                                @foreach (var item in stalst)
                                {
                                    <tr>
                                        <td align="center">@i</td>
                                        <td title="@item.FullName">
                                            @if (!string.IsNullOrWhiteSpace(item.FullName) && item.FullName.Length > 18)
                                            {
                                                 string.Format("{0}...", item.FullName.Substring(0, 15));
                                            }
                                            else
                                            {
                                                @item.FullName;
                                            }
                                        </td>
                                        <td title="@item.AccountName">
                                            @if (!string.IsNullOrWhiteSpace(item.AccountName) && item.AccountName.Length > 18)
                                            {
                                                string.Format("{0}...", item.AccountName.Substring(0,15));
                                            }
                                            else
                                            {
                                                @item.AccountName;
                                            }
                                        </td>
                                        <td title="@item.Division">
                                            @if (!string.IsNullOrWhiteSpace(item.Division) && item.Division.Length > 18)
                                            {
                                                string.Format("{0}...", item.Division.Substring(0, 15));
                                            }
                                            else
                                            {
                                                @item.Division;
                                            }
                                        </td>
                                        <td title="@item.Address">
                                            @if (!string.IsNullOrWhiteSpace(item.Address) && item.Address.Length > 18)
                                            {
                                                string.Format("{0}...", item.Address.Substring(0,15));
                                            }
                                            else
                                            {
                                                @item.Address;
                                            }
                                        </td>
                                        <td title="@item.Mobile)">
                                            @if (!string.IsNullOrWhiteSpace(item.Mobile) && item.Mobile.Length > 13)
                                            {
                                                string.Format("{0}...", item.Mobile.Substring(0, 11));
                                            }
                                            else
                                            {
                                                @item.Mobile;
                                            }
                                        </td>
                                        <td title="@item.Email)">
                                            @if (!string.IsNullOrWhiteSpace(item.Email) && item.Email.Length > 18)
                                            {
                                                string.Format("{0}...", item.Email.Substring(0, 15));
                                            }
                                            else
                                            {
                                                @item.Email;
                                            }
                                        </td>
                                        <td style="text-align: center">
                                            <a href="/Publish/EditSetPublishInvoice/@item.ID" title="Edit">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a>
                                        </td>
                                        <td style="text-align: center">
                                            <a href="#" onclick="OnDelete('@item.ID')" title="Delete">
                                                <span class="glyphicon glyphicon-remove-circle"></span>
                                            </a>
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-10">
                            </div>
                            <div class="col-sm-2">
                                <div class="pager row pull-right">
                                    @Html.Pager(Model.PageListStaff.PageSize, Model.PageListStaff.PageIndex + 1, Model.PageListStaff.TotalItemCount, new
                               {
                                   action = "SetPublishInvoiceIndex",
                                   controller = "Publish",
                                   fullname = Model.fullname,
                                   division = Model.division
                               })
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section styles{
    <style>
        #listStaff {
            text-align: center;
        }

        label {
            font-weight: 700;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}

@section scripts{
    <script language="javascript" type="text/javascript">
        function OnDelete(id) {
            if (!confirm("@Html.Raw(Resources.Message.Staff_MessDeleteStaff)"))
                return;
            document.location = "/Staff/delete?id=" + id;
        }
</script> 
}
