﻿@using EInvoice.Core.Domain
@using EInvoice.CAdmin.Models
@model Staff
@{
    ViewBag.Title = "Sửa phân quyền ký hiệu hóa đơn";
    Layout = null;
}
<link href="/Content/css/SharedFormElements.css" rel="stylesheet" type="text/css" />
<style type="text/css">
    .tt {
        border: 1px solid #ccc;
        height: 150px;
        width: 700px;
        margin: 10px 0px 20px 0px;
        padding: 10px 0px 10px 15px;
    }

    #strengthPass {
        margin-left: 5px;
    }

    .short {
        color: #FF0000;
    }

    .weak {
        color: #E66C2C;
    }

    .good {
        color: #2D98F3;
    }

    .strong {
        color: #66FF33;
    }
</style>

<div class="clear">
</div>
<div class="row">
    @Html.Hidden("ID", Model.ID)
    <div class="col-xs-12">
        <div class="box-header " style="text-align:center">
            <h3 class="box-title">Phân quyền ký hiệu hóa đơn</h3>
            <hr />
        </div>
       
            <div class="row">
                <div class="col-sm-2">
                    <label for="FullName">Tên nhân viên:</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBox("FullName", Model.FullName, new { @class = "form-control", @id = "FullName" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="FullName">Tài khoản:</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBox("FullName", Model.AccountName, new { @class = "form-control", @id = "AccountName" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="FullName">Email:</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBox("FullName", Model.Email, new { @class = "form-control", @id = "Email" })
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2">
                    <label for="FullName">SĐT:</label>
                </div>
                <div class="col-sm-8">
                    @Html.TextBox("FullName", Model.Mobile, new { @class = "form-control", @id = "Mobile" })
                </div>
            </div>
            <div class="row">
                @*permission info*@
                <div><b>Quyển sử dụng ký hiệu</b></div>
                <div>
                    <table>
                        @{
                        var arrPubInv = ViewBag.lstPubInv as string[];
                        int rowcount = arrPubInv.Length / 3;
                        int odd = arrPubInv.Length % 3;
                        for (int i = 0; i < rowcount; i++)
                        {
                    <tr>
                        <td>
                        @{
                            if (Model.Description != null)
                            {
                                <input type="checkbox" name="UserRoles" value="@arrPubInv[i * 3]" @FX.Utils.Web.UI.GetChecked(Model.Description.Split('|').Contains(arrPubInv[i * 3])) />
                                @arrPubInv[i * 3]
                            }
                            else
                            {
                                <input type="checkbox" name="UserRoles" value="@arrPubInv[i * 3]" />
                                @arrPubInv[i * 3]
                            }
                        }
                           
                        </td>
                        <td>
                            @{
                                        if (Model.Description != null)
                                        {
                                    <input type="checkbox" name="UserRoles" value="@arrPubInv[i * 3 + 1].ToString().Trim()" @FX.Utils.Web.UI.GetChecked(Model.Description.Split('|').Contains(arrPubInv[i * 3 + 1])) />
                                    @arrPubInv[i * 3 + 1]
                                        }
                                        else
                                        {
                                    <input type="checkbox" name="UserRoles" value="@arrPubInv[i * 3 + 1].ToString().Trim()" />
                                    @arrPubInv[i * 3 + 1]
                                        }
                            }
                        </td>
                        <td>
                            @{
                                        if (Model.Description != null)
                                        {
                                    <input type="checkbox" name="UserRoles" value="@arrPubInv[i * 3 + 2].ToString().Trim()" @FX.Utils.Web.UI.GetChecked(Model.Description.Split('|').Contains(arrPubInv[i * 3 + 2])) />
                                    @arrPubInv[i * 3 + 2]
                                        }
                                        else
                                        {
                                    <input type="checkbox" name="UserRoles" value="@arrPubInv[i * 3 + 2]" />
                                    @arrPubInv[i * 3 + 2]
                                        }
                            }
                        </td>
                    </tr>
                                        }
                                        if (odd != 0)
                                        {
                    <tr>
                        <td>
                            @{
                                                        if (Model.Description != null)
                                                        {
                                                    <input type="checkbox" name="UserRoles" value="@arrPubInv[rowcount * 3].ToString().Trim()" @FX.Utils.Web.UI.GetChecked(Model.Description.Split('|').Contains(arrPubInv[rowcount * 3])) />
                                                    @arrPubInv[rowcount * 3].ToString().Trim()
                                                        }
                                                        else
                                                        {
                                                    <input type="checkbox" name="UserRoles" value="@arrPubInv[rowcount * 3]" />
                                                    @arrPubInv[rowcount * 3].ToString().Trim()
                                                        }
                            }
                        </td>
                        <td>

                            @{
                                if (odd > 1)
                                {
                                    if (Model.Description != null)
                                    {
                                        <input type="checkbox" name="UserRoles" value="@arrPubInv[rowcount * 3 + 1].ToString().Trim()" @FX.Utils.Web.UI.GetChecked(Model.Description.Split('|').Contains(arrPubInv[rowcount * 3 + 1])) />
                                        @arrPubInv[rowcount * 3 + 1].ToString().Trim()
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="UserRoles" value="@arrPubInv[rowcount * 3 + 1]" />
                                        @arrPubInv[rowcount * 3 + 1].ToString().Trim()
                                    }
                                }
                            }

                        </td>
                        <td>
                            @if (odd > 2)
                            {
                                if (Model.Description != null)
                                {
                                    <input type="checkbox" name="UserRoles" value="@arrPubInv[rowcount * 3+2].ToString().Trim()" @FX.Utils.Web.UI.GetChecked(Model.Description.Split('|').Contains(arrPubInv[rowcount * 3 + 2])) />
                                    @arrPubInv[rowcount * 3 + 2].ToString().Trim()
                                }
                                else
                                {
                                    <input type="checkbox" name="UserRoles" value="@arrPubInv[rowcount * 3+2]" />
                                    @arrPubInv[rowcount * 3 + 2].ToString().Trim()
                                }

                            }
                        </td>
                    </tr>
                    }
                        }
                    </table>
                </div>
            </div>
    </div>
</div>

