﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@model FX.Utils.MvcPaging.IPagedList<Products>
@{
    ViewBag.Title = "Danh sách sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/grid.css" rel="stylesheet" />
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">QUẢN LÝ SẢN PHẨM</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <form id="Searchform" method="get" action="/product/Index" class="form-inline">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-md-3" style="padding-left: 0">
                                <b>@Resources.Einvoice.Prod_LblCode:</b>
                                <input id="code" name="code" type="text" class="form-control" value="@ViewData["code"]" maxlength="200" style="width: 85%;" />
                            </div>
                            <div class="form-group col-md-3">
                                <b>@Resources.Einvoice.Prod_LblName:</b>
                                <input id="name" name="name" type="text" value="@(ViewData["name"]) " maxlength="200" class="form-control" style="width: 85%;" />
                            </div>
                            <div class="form-group col-md-6" style="padding-left: 0; padding-right: 0">
                                <div class="col-md-6">
                                    <input id="Submit1" type="submit" value="Tìm Kiếm" class="btn btn-block btn-primary btn-flat" style="width:100px" />
                                </div>
                                <div class="col-md-6 btnCreateList">
                                    @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Add_prod"))
                                    {
                                        <a class="btn btn-block btn-primary btn-flat pull-right" href="/Product/Create/" title="Create" style="width:92px;">
                                            <i class="glyphicon glyphicon-plus"></i> Tạo mới
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example2" class="table table-bordered table-hover table-striped table-responsive have-action dataTable textTable" role="grid" aria-describedby="example2_info">
                            <thead class="textThead">
                                <tr>
                                    <th width="10px">
                                        @Resources.Einvoice.Prod_LblNo
                                    </th>
                                    <th width="50px">
                                        @Resources.Einvoice.Prod_LblCode
                                    </th>
                                    <th width="150px">
                                        @Resources.Einvoice.Prod_LblName
                                    </th>
                                    <th width="50px">
                                        @Resources.Einvoice.Prod_LblCost
                                    </th>
                                    <th width="50px">
                                        @Resources.Einvoice.Prod_LblUnit
                                    </th>
                                    <th width="50px">
                                        Mô tả
                                    </th>
                                    <th width="30px">
                                        @Resources.Einvoice.LblEdit
                                    </th>
                                    <th width="30px">
                                        @Resources.Einvoice.LblDelete
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var Prolst = Model.ToList();
                                    int i = Model.PageIndex * Model.PageSize + 1;
                                    foreach (Products pro in Prolst)
                                    {

                                        <tr>
                                            <td align="center">@i</td>
                                            <td>@pro.Code</td>
                                            <td>@pro.NameProduct</td>
                                            <td>@pro.Price.ToString("#,###") </td>
                                            <td>@pro.Unit</td>
                                            <td>@pro.Description</td>
                                            <td style="text-align:center">
                                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Edit_prod"))
                                                {
                                                    <a href="/Product/Edit/@pro.Id" title="Edit">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </a>
                                                }
                                            </td>
                                            <td style="text-align:center">
                                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Del_prod"))
                                                {
                                                    <a href="#" onclick="OnDelete('@pro.Id')" title="Delete">
                                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                                    </a>
                                                }
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-2">
                        <div class="pager row pull-right">
                            @Html.Pager(Model.PageSize, Model.PageIndex + 1, Model.TotalItemCount, new
                       {
                           action = "index",
                           controller = "Product",
                           name = ViewData["name"],
                           code = ViewData["code"]
                       })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ID="Content2" ContentPlaceHolderID="MainContent">
    <script language="javascript" type="text/javascript">
        function OnDelete(id) {
            if (!confirm('@Html.Raw(Resources.Message.Prod_MesConfirmDel)'))
                return;
            document.location = "/Product/delete?id=" + id;
        }
    </script>
</div>