﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@model FX.Utils.MvcPaging.IPagedList<Products>

@*<div ID="Content2" ContentPlaceHolderID="MainContent">
</div>*@
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <br />
            <div class="box-header" style="text-align:center">
                <h3 class="box-title"> UPLOAD DỮ LIỆU SẢN PHẨM</h3>
                <hr />
            </div>
            <div class="box-body">
                <div class="jumbotron set-height" style="text-align: center">
                    <p class="center-jumbo">File .xls upload lên hệ thống, dung lượng file không vượt quá 10MB!</p><br />
                </div>
                
                <div class="row">
                    <form method="post" action="/Product/Upload" id="uploadForm" name="Upload" enctype="multipart/form-data">   
                        @Html.AntiForgeryToken()
                        <fieldset>
                            <ol class="ListUpload list-border">
                                <li>
                                    <label>UPLOAD DỮ LIỆU SẢN PHẨM</label>
                                </li>
                                <li>
                                    <label>
                                        Tải file mẫu:
                                    </label>
                                    <a style="float: left;" href="/Product/DownloadFileProductPattern" title="Tải File mẫu danh sách sản phẩm">
                                        <span class="glyphicon glyphicon-download-alt"></span>
                                    </a>
                                </li>
                                <li>
                                    <label>
                                        Chọn file:<span style="color: red">(*)</span>
                                    </label>
                                    <input id="file" type="file" name="file" style="float: left" />
                                </li>
                            </ol> @*onclick="SaveUpload()"*@
                        </fieldset>
                        <input id="uploadBtn" type="button"  style="margin-left: 30px" name="phathanh" class="required btn-flat col-sm-2 btn btn-primary"
                               value="UPLOAD FILE DỮ LIỆU" />
                    </form>
                </div>
            </div>
        </div>
        
    </div>
</div>



@section styles{
    <link href="~/Content/css/DetailsEditStyle.css" rel="stylesheet" />
<style>
    .set-height {
        height: 80px;
        padding: 0;
        margin: 0;
    }

    .center-jumbo {
        padding-top: 20px;
    }

    .ListUpload li {
        margin: 15px 0px;
    }
</style>
<link href="~/Content/grid.css" rel="stylesheet" />
}



<script type="text/javascript">
    $(document).ready(function () {
        //Ckeck file upload
        $('#file').change(function () {
            var _file = $(this)[0].files[0];
            if (_file) {
                var _extl = ['xls', 'xlsx'];
                var _ext = _file.name.substring(_file.name.lastIndexOf('.') + 1);
                if (_extl.indexOf(_ext) > -1) {
                    if (_file.size > 10485760) {
                        bootbox.alert({
                            buttons: {
                                ok: {
                                    label: 'Đồng ý'
                                }
                            },
                            title: "Thông báo",
                            message: "Dung lượng file phải nhỏ hơn 10MB!",
                            size: 'small',
                        }); 
                        $('#file').val('');
                    } else {
                        //$('#file').val(_file.name)
                    }
                }
                else {
                    $('#file').val('');
                    bootbox.alert({
                        buttons: {
                            ok: {
                                label: 'Đồng ý'
                            }
                        },
                        title: "Thông báo",
                        message: "Xin lỗi, định dạng file đính kèm không được chấp nhận.",
                        size: 'small',
                    });
                    
                }
            };
        });
        $("#uploadBtn").click(function () {
            var _file = $('#file').val();
            if (_file) {
                $("#uploadForm").submit();
            } else {
                bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: "Chưa đính kèm file upload.",
                    size: 'small',
                });
                
            };
        });
    });
</script>


