﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core
@model LogSystemModels
@{
    ViewBag.Title = "Log hệ thống";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="/Content/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
<script src="/Content/js/date.js" type="text/javascript"></script>

<div class="clear">
</div>
<div class="row" style="padding-top: 0;">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">DANH SÁCH LOG HỆ THỐNG</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--search box-->
                @using (Html.BeginForm("Index", "LogManager", FormMethod.Get, new { @class = "form-inline", id = "Searchform" }))
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-3" style="padding-left: 0">
                                @Html.LabelFor(m => m.DateModify, "Ngày cập nhật:", new { style = "font-weight: bold;" })
                                @Html.TextBox("DateModify", Model.DateModify, new { style = "width: 100px ;", @class = "datepicker vietnameseDate form-control", @id = "DateModify", onchange = "getHiddenValue()" })
                            </div>
                            <div class="form-group col-sm-4">
                                @Html.LabelFor(m => m.Keysearch, "Từ khóa:", new { style = "font-weight: bold;" })
                                @Html.TextBox("Keysearch", Model.Keysearch, new { @class = "form-control", @id = "Keysearch", style = "width: 82%;" })
                            </div>
                            <div class="form-group col-sm-4">
                                <input type="submit" class="btn btn-primary btn-flat" value="@Resources.Einvoice.BtnSeach" id="save" />
                            </div>
                        </div>
                    </div>
                }
                <br />
                <!--div grid-->
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example2" class="table table-bordered table-hover table-striped table-responsive have-action dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th width="20px">
                                        @Resources.Einvoice.LblStt
                                    </th>
                                    <th width="150px">
                                        Tên
                                    </th>
                                    <th width="80px">
                                        Cập nhật cuối
                                    </th>
                                    <th width="80px">
                                        Dung lượng
                                    </th>
                                    <th width="30px">
                                        Chi tiết
                                    </th>
                                </tr>
                                @*<tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Rendering engine: activate to sort column descending">Số tt</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending">Browser</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">Platform(s)</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">Engine version</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">CSS grade</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">CSS grade</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">CSS grade</th><th class="sorting" tabindex="0" aria-controls="example2" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending">CSS grade</th></tr>*@
                            </thead>
                            <tbody>
                                @{
                                    List<FileInfo> cuslst = Model.LogsInfo.ToList();
                                    int i = 1;
                                }
                                @foreach (var cus in cuslst)
                                {
                                    if (cus.Name == ".CurrentLog") { continue; }
                                    <tr>
                                        <td align="center">@i</td>
                                        <td>@cus.Name</td>
                                        <td>@cus.LastWriteTime.ToString("dd/MM/yyyy")</td>
                                        <td>@cus.Length</td>
                                        <td align="center">
                                            @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("View_Log"))
                                            {
                                                <a href="#" onclick="detailsDialog('@AesUtil.Encrypt(new string[] { @cus.Name.Replace("log.txt", "@") })')">
                                                    <img alt="Tải về" src="/Content/Images/detail1.png" />
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="dialog" id="details" title="Thông tin log" style="display: none;width:900px!important;height:500px!important">
</div>

<script language="javascript" type="text/javascript">
    $(function () {
        $("#details").dialog({
            autoOpen: false,
            height: 350,
            width: 600,
            modal: true
        });
    });

    function detailsDialog(name) {
        $("#details").load("/LogManager/Details?name=" + name);
        $("#details").dialog('open');
        $($('.ui-dialog')[0]).css("top", "25%");
        $($('.ui-dialog')[0]).css("left", "25%");
    }
    // xử lý chọn ngày tháng datetime
    function getHiddenValue() {
        var stringDate1 = $("#DateModify").val();
        var d1 = Date.parseExact(stringDate1, "d/M/yyyy");
        if (d1 == null && stringDate1 != null) { // nhập không đúng định dạng ngày tháng
            $("#DateModify").val("");
        }
    }
    jQuery(function ($) {
        $.datepicker.regional['vi'] = {
            closeText: 'Đóng',
            prevText: '&#x3c;Trước',
            nextText: 'Tiếp&#x3e;',
            currentText: 'Hôm nay',
            monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
                'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
            monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
                'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
            dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
            dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
            dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
            weekHeader: 'Tu',
            dateFormat: 'dd/mm/yy',
            firstDay: 0,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
    });
    $(function ($) {
        $(".vietnameseDate").mask("99/99/9999");
    });
    $(document).ready(function () {
        $.datepicker.setDefaults($.datepicker.regional['vi']);
        $(".datepicker").datepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar.gif",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true
        });

    });

</script>

