﻿@using EInvoice.Core.Domain
@model EInvoice.Core.Domain.InvoiceVAT
@{
    ViewBag.Title = "Tạo lại email";
    string EmailDeliver = ViewData["EmailDeliver"] != null ? (string)ViewData["EmailDeliver"] : "";
    string hdPattern = ViewData["hdPattern"] != null ? (string)ViewData["hdPattern"] : "";
    string Serial = ViewData["Serial"] != null ? (string)ViewData["Serial"] : "";
    string idInvoice = ViewData["idInvoice"] != null ? (string)ViewData["idInvoice"] : "";
}

<div class="clear">
</div>
<section class="content form-horizontal">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">Thông tin gửi lại mail</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            @using (Html.BeginForm("CreateAgainEmail", "SendMail", FormMethod.Post, new { id = "formDetail" }))
            {
                @Html.AntiForgeryToken()
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Mẫu số</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Pattern, Model.Pattern, new { @class = "form-control col-md-8", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Ký hiệu</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Serial, Model.Serial, new { @class = "form-control col-md-8", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Số hóa đơn</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.No, Model.No.ToString("0000000"), new { @class = "form-control col-md-8", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Tên khách hàng</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.CusName, Model.CusName, new { @class = "form-control col-md-8", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Mã số thuế của khách hàng</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.CusTaxCode, Model.CusTaxCode, new { @class = "form-control col-md-8", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Mã khách hàng</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.CusCode, Model.CusCode, new { @class = "form-control col-md-8", @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Địa chỉ email người nhận</label>
                            <div class="col-md-8">
                                @Html.TextBox("EmailDeliver", EmailDeliver, new { @class = "form-control col-md-8 multiemail required", @maxlength = 300 })
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" value="@hdPattern" id="hdPattern" name="hdPattern" />
                <input type="hidden" value="@Serial" id="Serial" name="Serial" />
                <input type="hidden" value="@idInvoice" id="idInvoice" name="idInvoice" />
                @*<input type="hidden" value="0" id="type" name="type" />*@
                <div class="col-md-12 box-footer">
                    <div class="col-md-4"></div>
                    <div class="col-md-8">
                        <a href="/SendMail/ListAgainEmail" class="btn btn-primary btn-flat"><i class="fa fa-arrow-left margin-r-5"></i>@Resources.Einvoice.BtnBack</a>
                        @*<button type="submit" onclick="add();" class="btn btn-primary btn-flat"><i class="fa fa-refresh margin-r-5"></i>Tạo email</button>*@
                        <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-refresh margin-r-5"></i>Tạo và gửi lại email</button>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
@section styles{

    <link href="~/Content/css/DetailsEditStyle.css" rel="stylesheet" />
    <link href="~/Content/grid.css" rel="stylesheet" />
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
}

@section scripts{
    <script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            //validate multiemail
            jQuery.validator.addMethod("multiemail", function (value, element) {
                if (this.optional(element)) {
                    return true;
                }
                var emails = value.split(','),
            valid = true;
                for (var i = 0, limit = emails.length; i < limit; i++) {
                    value = emails[i];
                    valid = valid && jQuery.validator.methods.email.call(this, value, element);
                }
                return valid;
            }, "email không hợp lệ: vui lòng sử dụng dấu , để ngăn cách giữa các địa chỉ email.");
            $('form:first').validate();
        });
        //function add() {
        //    $('#type').val(1);
        //    if (!$('#EmailDeliver').val() || $('#EmailDeliver').val() != "" || $('#EmailDeliver').val() != undefined) {
        //        return false;
        //    };
        //    if (!validateEmail($('#EmailDeliver').val())) {
        //        return false;
        //    }
        //    $('#hdPattern').val($('#Pattern').val());
        //    $('#Serial').val($('#Serial').val());
        //    $('#idInvoice').val($('#idInvoice').val());
        //    document.forms["formDetail"].submit();
        //}
        //function validateEmail(email) {
        //    var re = /^[a-z0-9\.\_%+-]+@@[a-z0-9\.\-]+\.[a-z]{2,4}$/i;
        //    return re.test(String(email).toLowerCase());
        //}
    </script>
}
