﻿@model EInvoice.Core.Domain.SendMail

@{
    ViewBag.Title = "Thông tin email";
}

<div class="clear">
</div>
<section class="content form-horizontal">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">Thông tin mail</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            @using (Html.BeginForm("SendAgain", "SendMail", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="panel-body">
                    <div class="col-md-12">

                        <div class="form-group">
                            <label class="col-md-2 control-label">Chủ đề</label>
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.Subject, new { @class = "form-control col-md-8" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Địa chỉ người gửi</label>
                            <div class="col-md-8 ">
                                @Html.TextBoxFor(m => m.EmailFrom, new { @class = "form-control col-md-8 multiemail required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Địa chỉ người nhận</label>
                            <div class="col-md-8 ">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control col-md-8 multiemail required" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Nội dung</label>
                            <div class="col-md-8">
                                @Html.Raw(Model.Body)
                            </div>
                        </div>
                        @Html.HiddenFor(m => m.id)
                    </div>
                </div>
                <div class="box-footer">
                    @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("SendAgain_Email"))
                    {
                        <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-refresh margin-r-5"></i>Gửi lại email cho khách hàng</button>
                    }
                    <a href="/SendMail/Index" class="btn btn-primary btn-flat"><i class="fa fa-arrow-left margin-r-5"></i>@Resources.Einvoice.BtnBack</a>
                    @*<button class="btn btn-primary btn-flat" onclick="document.location.host = '/SendMail/Index'"><i class="fa fa-arrow-left margin-r-5"></i>Quay lại</button>*@

                </div>
            }
        </div>
    </div>
</section>
@section styles{

    <link href="~/Content/css/DetailsEditStyle.css" rel="stylesheet" />
    <link href="~/Content/grid.css" rel="stylesheet" />
    <style type="text/css">
        .error {
            color: red;
        }
    </style>
}

@section scripts{
    <script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            //validate multiemail
            jQuery.validator.addMethod("multiemail", function (value, element) {
                if (this.optional(element)) {
                    return true;
                }
                var emails = value.split(','),
                    valid = true;
                for (var i = 0, limit = emails.length; i < limit; i++) {
                    value = emails[i];
                    valid = valid && jQuery.validator.methods.email.call(this, value, element);
                }
                return valid;
            }, "email không hợp lệ: vui lòng sử dụng dấu , để ngăn cách giữa các địa chỉ email.");
            $('form:first').validate();
        });
    </script>
}
