﻿@using EInvoice.Core
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@model EInvoice.CAdmin.Models.MailsIndexModel
@{
    ViewBag.Title = "Danh sách gửi email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="clear">
</div>
<div class="row" style="padding-top: 0;">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">QUẢN TRỊ MAIL</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--search box-->
                <div class="row">
                    <div class="col-sm-12">
                        @using (Html.BeginForm("Index", "SendMail", FormMethod.Get, new { @class = "form-horizontal", id = "Searchform" }))
                        {
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Subject, "Chủ đề: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.Subject, new { @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FromSendedDate, "Từ ngày: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.FromSendedDate, new { @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()", style = "width: 85%; display: inline-block;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.EmailTo, "Mail người nhận: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.EmailTo, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Status, "Trạng thái: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.DropDownListFor(m => m.Status, new List<SelectListItem>
                                    {
                                        new SelectListItem{Text="--Tất cả--", Value="-1", Selected=(Model.Status == -1)},
                                        new SelectListItem{Text="Chưa gửi", Value="0", Selected=(Model.Status == 0)},
                                        new SelectListItem{Text="Đã gửi", Value="1", Selected=(Model.Status == 1)},
                                        new SelectListItem{Text="Gửi email lỗi", Value="2", Selected=(Model.Status == 2)},
                                        new SelectListItem{Text="Đang chờ để hệ thống gửi lại", Value="3", Selected=(Model.Status == 3)}
                                    }, new { @class = "form-control dropdownlist" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ToSendedDate, "Đến ngày: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.ToSendedDate, new { @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()", style = "width: 85%; display: inline-block;" })
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-flat pull-right" type="submit">Tìm kiếm</button>
                            </div>
                        }
                    </div>
                </div>
                <!--div grid-->
                <form id="danhsachHD" method="post" action="/SendMail/SelectSendAgain">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="MailList" class="table table-bordered table-hover table-striped table-responsive have-action dataTable" role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th width="5%">
                                            Stt
                                        </th>
                                        <th width="20%">
                                            Mail người nhận
                                        </th>
                                        <th width="20%">
                                            Chủ đề
                                        </th>
                                        <th width="10%">
                                            Ngày gửi
                                        </th>
                                        <th width="15%">
                                            Trạng thái
                                        </th>
                                        <th width="7%">
                                            @Resources.Einvoice.LblDetail
                                        </th>
                                        <th width="10%">
                                            Sửa và Gửi lại
                                        </th>
                                        <th width="5%">
                                            Xóa
                                        </th>
                                        <th width="5%">
                                            @Html.Label("ckbAll", Html.Raw(Resources.Einvoice.Pay_LblChoose).ToString(), new { @class = "labelFix" })
                                            @Html.CheckBox("ckbAll")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        int i = Model.PageListMail.PageIndex * Model.PageListMail.PageSize + 1;
                                        List<string> lst = new List<string> { "10", "20", "30", "40", "50" };
                                        SelectList pages = new SelectList(lst, Model.PageListMail.PageSize);
                                    }
                                    @foreach (var item in Model.PageListMail)
                                    {
                                        
                                        <tr>
                                            <td style="align-content: center">@(i++)</td>
                                            <td style="word-wrap: break-word;word-break:break-all;">@item.Email</td>
                                            <td style="text-align: left">@item.Subject</td>
                                            @{
                                                string sendDate = item.SendedDate.Date != Enumerations.MinDate.Date ? item.SendedDate.ToString("dd/MM/yyyy") : "";
                                            }
                                            <td>@sendDate</td>
                                            @if (item.Status == 1 && !string.IsNullOrEmpty(item.Note))
                                            {
                                                <td>@item.Note</td>
                                            }
                                            else if (item.Status == 1 && string.IsNullOrEmpty(item.Note))
                                            {
                                                <td>Đã gửi</td>
                                            }
                                            else if (item.Status == 2 && !string.IsNullOrEmpty(item.Note))
                                            {
                                                int errCode = 0;
                                                string[] c = item.Note.Split('|');
                                                if (c.Count() > 1)
                                                { errCode = int.Parse(c[0]); }
                                                if (item.Status == -99)
                                                {
                                                    <td>Lỗi cấu hình xml mail</td>
                                                }
                                                else if (errCode == -98)
                                                {
                                                    <td>Gửi email lỗi lần 3</td>
                                                }
                                                else if (errCode == -97)
                                                {
                                                    <td>Gửi email lỗi lần 2</td>
                                                }
                                                else if (errCode == -96)
                                                {
                                                    <td>Gửi email lỗi lần 1</td>
                                                }
                                                else if (errCode == -10)
                                                {
                                                    <td>Không đúng định dạng email gửi</td>
                                                }
                                                else if (errCode == -11)
                                                {
                                                    <td>Không tìm thấy cấu hình mail server gửi</td>
                                                }
                                                else if (errCode == -20)
                                                {
                                                    <td>Không đúng định dạng email nhận</td>
                                                }
                                                else
                                                {
                                                    <td>Gửi email lỗi</td>
                                                }
                                            }
                                            else if (item.Status == 2 && string.IsNullOrEmpty(item.Note))
                                            {
                                                <td>Gửi email lỗi</td>
                                            }
                                            else if (item.Status == 3)
                                            {
                                                <td>Đang chờ để hệ thống gửi lại</td>
                                            }
                                            else if (item.Status == 0)
                                            {
                                                <td>Chưa gửi</td>
                                            }
                                            else
                                            {
                                                <td>Trạng thái khác</td>
                                            }
                                            <td>
                                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Detail_email"))
                                                {
                                                    <a title="View Detail">
                                                        <img onclick="ajxCallDetail('@AesUtil.Encrypt(new string[] { item.id.ToString() })')" src="/Content/Images/details.png" alt="" />
                                                    </a>
                                                }
                                            </td>
                                            <td>
                                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Edit_Email"))
                                                {
                                                    <a href="/SendMail/Edit/@item.id"><span class="glyphicon glyphicon-edit"></span></a>
                                                }
                                            </td>
                                            <td>
                                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Del_Email"))
                                                {
                                                    <a href="#" onclick="OnDelete('@item.id')" title="Delete"><span class="glyphicon glyphicon-remove-circle"></span></a>
                                                }
                                            </td>
                                            <td><input name="cbid" type="checkbox" value="@item.id" /></td>
                                        </tr>
                                                }
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-sm-10">
                            <div class="pager row pull-left">
                                <b>PageSize</b>@Html.DropDownList("Pagesize", pages, new { onchange = "ChangePage()", @style = "width:40px" })
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="pager row pull-right">
                                @Html.Pager(Model.PageListMail.PageSize, Model.PageListMail.PageIndex + 1, Model.PageListMail.TotalItemCount, new
                           {
                               action = "Index",
                               controller = "SendMail",
                               Subject = Model.Subject,
                               EmailTo = Model.EmailTo,
                               Status = Model.Status,
                               FromSendedDate = Model.FromSendedDate,
                               ToSendedDate = Model.ToSendedDate,
                               Pagesize = Model.PageListMail.PageSize
                           })
                            </div>
                        </div>
                    </div>
                    @if (Model.PageListMail.Count > 0)
                    {
                        @*<button type="button" class="btn btn-primary btn-flat" id="sendmailId" value="Chọn tất cả mail" onclick="SelectMail()">Chọn tất cả mail</button>
                            <button type="button" class="btn btn-primary btn-flat" id="sendmailId2" value="Bỏ chọn tất cả mail" onclick="NonSelectMail()" style="display:none">Bỏ chọn tất cả mail</button>*@
                        if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("SendAgain_ListEmail"))
                        {
                            <button class="btn btn-primary btn-flat" value="Gửi lại Mail" type="button" onclick="SubmitForm();">Gửi lại mail</button>
                        }
                        if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("DownExcel_Email"))
                        {
                            <button type="button" class="btn btn-primary btn-flat" value="Tải file Excel" onclick="document.location = '/SendMail/DownloadExcelMail?Subject=' + '@Model.Subject' + '&Status=' + '@Model.Status' + '&FromSendedDate=' + '@Model.FromSendedDate' + '&ToSendedDate=' + '@Model.ToSendedDate' + '&EmailTo=' + '@Model.EmailTo'">
                                Tải file Excel
                            </button>
                        }
                    }
                </form>
            </div>
        </div>
    </div>
</div>
@section styles{
    <style>
        #MailList {
            text-align: center;
        }

        label {
            font-weight: 700;
        }

        .left-align {
            text-align: left;
        }

        #ViewEmail {
            background-color: #FFF;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 0 0 25px 5px #999;
            color: #111;
            display: none;
            width: 661px;
            height: 386px;
            min-width: 450px;
            min-height: 250px;
            max-width: 900px;
            max-height: 500px;
            padding: 25px;
            overflow: auto;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/Content/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
    <script src="~/Content/js/date.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
        //function SelectMail() {
        //    // set selected toi tat ca cac checkbox ten cbid
        //    if ($("#sendmailId").val() == 'Chọn tất cả mail') {
        //        $('input[name=cbid]').attr('checked', true);
        //        document.getElementById("sendmailId").value = "Bỏ chọn tất cả mail";
        //    }
        //    else {
        //        $('input[name = cbid]').attr('checked', false);
        //        document.getElementById("sendmailId").value = "Chọn tất cả mail";
        //    }
        //}
        //function SelectMail() {
        //    $('input[name=cbid]').prop('checked', true);
        //    document.getElementById("sendmailId").style.display = "none";
        //    document.getElementById("sendmailId2").style.display = "";
        //}
        //function NonSelectMail() {
        //    $('input[name = cbid]').prop('checked', false);
        //    document.getElementById("sendmailId").style.display = "";
        //    document.getElementById("sendmailId2").style.display = "none";
        //}
        function OnDelete(id) {
            if (!confirm("Bạn có xóa mail này không"))
                return;
            document.location = "/SendMail/delete?id=" + id;
        }

        function create(htmlStr) {
            var frag = document.createDocumentFragment(),
                temp = document.createElement('div');
            temp.innerHTML = htmlStr;
            while (temp.firstChild) {
                frag.appendChild(temp.firstChild);
            }
            return frag;
        }
        $(function () {
            fragment = create('<div id="ViewEmail"><div id="containerEmail"></div></div>')
            if ($("#ViewEmail").length == 0)
                document.body.insertBefore(fragment, document.body.childNodes[0]);
        })
        function ajxCallDetail(idEmail) {
            var jsondata = { idEmail: idEmail };
            $.ajax({
                type: "POST",
                url: "/SendMail/ajxPreviewEmailDetail",
                data: jsondata,
                success: function (data) {
                    $("#containerEmail").html(data);
                    $('#ViewEmail').bPopup({
                        easing: 'easeOutBack', //uses jQuery easing plugin
                        //speed: 450,
                        transition: 'slideDown'
                    });
                }
            });
        }

        // xử lý chọn ngày tháng datetime
        function getHiddenValue() {
            var stringDate1 = $("#FromSendedDate").val();
            var d1 = Date.parseExact(stringDate1, "d/M/yyyy");
            if (d1 == null && stringDate1 != null) { // nhập không đúng định dạng ngày tháng
                $("#FromSendedDate").val("");
            }
            var stringDate2 = $("#ToSendedDate").val();
            var d2 = Date.parseExact(stringDate2, "d/M/yyyy");
            if (d2 == null && stringDate2 != null) { // nhập d2 không đúng định dạng
                $("#ToSendedDate").val("");
            }
            if (d1 != null && d2 != null && d1 > d2) {
                bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: "Đến ngày HĐ phải lớn hơn hoặc bằng Từ ngày HĐ!",
                    size: 'small',
                });
                $("#ToSendedDate").val("");
            }
        }
        //dịnh dạng lại datepicker theo tieng viet
        jQuery(function ($) {
            $.datepicker.regional['vi'] = {
                closeText: 'Đóng',
                prevText: '&#x3c;Trước',
                nextText: 'Tiếp&#x3e;',
                currentText: 'Hôm nay',
                monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
                    'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
                monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
                    'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
                dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                weekHeader: 'Tu',
                dateFormat: 'dd/mm/yy',
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
        });
        $(function ($) {
            $(".vietnameseDate").mask("99/99/9999");
        });
        $(document).ready(function () {
            $.datepicker.setDefaults($.datepicker.regional['vi']);
            $(".datepicker").datepicker({
                showOn: "button",
                buttonImage: "/Content/images/calendar.gif",
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true
            });

        });
        $('#ckbAll').change(function () {
            if ($(this).is(':checked')) {
                $('input[name=cbid]').not(':disabled').prop('checked', true);
            } else {
                $('input[name=cbid]').not(':disabled').prop('checked', false);
            }
        });
        //Thêm vào phân trang
        function ChangePage() {
            var subject = $('#Subject').val();
            var status = $('#Status').val();
            var emailTo = $('#EmailTo').val();
            document.location = "/SendMail?Subject=" + subject + "&Status=" + status + "&EmailTo=" + emailTo + "&FromSendedDate=" + $("#FromSendedDate").val() + "&ToSendedDate=" + $("#ToSendedDate").val() + "&Pagesize=" + document.getElementById("Pagesize").options[document.getElementById("Pagesize").selectedIndex].text;
        }

        // submit gui lai
        function SubmitForm() {
            if ($("input:checkbox:checked").length > 0) {
                $("#danhsachHD").submit();
            }
            else alert("Hãy chọn email cần gửi lại!");
        }
    </script>
}
