﻿@using EInvoice.Core
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@model EInvoice.CAdmin.Models.EInvoiceIndexModel
@{
    ViewBag.Title = "Danh sách hóa đơn tạo và gửi lại email";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList oSerial = new SelectList((IList<string>)Model.lstserial);
}
<div class="clear">
</div>
<div class="row" style="padding-top: 0;">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">DANH SÁCH TẠO VÀ GỬI LẠI EMAIL HÓA ĐƠN</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--search box-->
                <div class="row">
                    <div class="col-sm-12">
                        @using (Html.BeginForm("ListAgainEmail", "SendMail", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal", id = "Searchform", name = "searchForm" }))
                        {
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Pattern, "Mẫu số: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.DropDownListFor(m => m.Pattern, new SelectList(Model.lstpattern, Model.Pattern), new { @class = "form-control dropdownlist", @autofocus = "autofocus" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.typeInvoice, "Kiểu hóa đơn: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.DropDownListFor(m => m.typeInvoice, new[]
                                        {
                                            new SelectListItem{Text="--Tất cả--", Value="-1", Selected=(Model.typeInvoice == -1)},
                                            new SelectListItem{Text="Hóa đơn thông thường", Value="0", Selected=(Model.typeInvoice == 0)},
                                            new SelectListItem{Text="Hóa đơn thay thế", Value="1", Selected=(Model.typeInvoice == 1)},
                                            new SelectListItem{Text="Hóa đơn điều chỉnh tăng", Value="2", Selected=(Model.typeInvoice ==2)},
                                            new SelectListItem{Text="Hóa đơn điều chỉnh giảm", Value="3", Selected=(Model.typeInvoice == 3)},
                                            new SelectListItem{Text="Hóa đơn điều chỉnh thông tin", Value="4", Selected=(Model.typeInvoice == 4)},
                                        }, new { @class = "searchText form-control dropdownlist required", title = "Chọn kiểu hóa đơn!" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FromDate, "Từ ngày HD: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()", style = "width: 85%; display: inline-block;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.nameCus, "Tên khách hàng: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.nameCus, new { @class = "form-control searchText" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4" style="margin-left: 20px">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Serial, "Ký hiệu: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.DropDownList("Serial", oSerial, "--Ký hiệu--", new { @name = "Serial", @class = "form-control dropdownlist", @onchange = "document.searchForm.submit();" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.InvNo, "Số hóa đơn: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.InvNo, new { @class = "form-control", MaxLength = "7", onkeypress = "return keypress(event);" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ToDate, "Đến ngày HD: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()", style = "width: 85%; display: inline-block;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CodeTax, "Mã số thuế: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.CodeTax, new { @class = "form-control searchText" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.code, "Mã khách hàng: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.code, new { @class = "form-control searchText" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-7"></div>
                                </div>
                                <button class="btn btn-primary btn-flat pull-right" type="submit">Tìm kiếm</button>
                            </div>
                        }
                    </div>
                </div>
                <br />
                <!--div grid-->
                <form id="danhsachHD" method="post" action="/SendMail/SendAgainEmail">
                    <div class="row">
                        <div class="col-sm-12">

                            <table id="MailList" class="table table-bordered table-hover table-striped table-responsive have-action dataTable" role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th width="5%">
                                            Stt
                                        </th>
                                        <th width="10%">
                                            Mẫu số
                                        </th>
                                        <th width="7%">
                                            Ký hiệu
                                        </th>
                                        <th width="10%">
                                            Số hóa đơn
                                        </th>
                                        <th width="15%">
                                            Tên khách hàng
                                        </th>
                                        <th width="10%">
                                            Mã khách hàng
                                        </th>
                                        <th width="10%">
                                            Ngày phát hành
                                        </th>
                                        <th width="7%">
                                            Trạng thái hóa đơn
                                        </th>
                                        <th width="5%">
                                            Chi tiết
                                        </th>
                                        <th width="5%">
                                            Tạo email
                                        </th>
                                        <th width="5%">
                                            @Html.Label("ckbAll", Html.Raw(Resources.Einvoice.Pay_LblChoose).ToString(), new { @class = "labelFix" })
                                            @Html.CheckBox("ckbAll")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        IList<IInvoice> listInvoices = Model.PageListINV.ToList();
                                        int i = Model.PageListINV.PageIndex * Model.PageListINV.PageSize + 1;
                                        List<string> lst = new List<string> { "10", "20", "30", "40", "50" };
                                        SelectList pages = new SelectList(lst, Model.PageListINV.PageSize);
                                    }
                                    @foreach (var invoice in listInvoices)
                                    {
                                        <tr>
                                            <td>@(i++)</td>
                                            <td>@invoice.Pattern</td>
                                            <td>@invoice.Serial</td>
                                            <td>@invoice.No.ToString("0000000")</td>
                                            <td>@invoice.CusName</td>
                                            <td>@(invoice.CusCode == null ? "" : invoice.CusCode)</td>
                                            <td>@invoice.PublishDate.ToString("dd/MM/yyyy")</td>
                                            @if (invoice.Status == InvoiceStatus.CanceledInv || invoice.Status == InvoiceStatus.ReplacedInv)
                                            {
                                                <td>Hóa đơn xóa bỏ</td>
                                            }
                                            else
                                            {
                                                <td>@Utils.GetNameInvoiceStatus(invoice.Status)</td>
                                            }
                                            <td>
                                                <span alt="Chi tiết" style="cursor: pointer" class="glyphicon glyphicon-eye-open fill-color" onclick="ajxCall('@AesUtil.Encrypt( new string[] { invoice.id.ToString()})', '@(invoice.Pattern)');"></span>
                                            </td>
                                            <td>
                                                <a href="/SendMail/CreateAgainEmail?idInvoice=@HttpContext.Current.Server.UrlEncode(AesUtil.Encrypt( new string[] { invoice.id.ToString()}))&&hdPattern=@(invoice.Pattern)&&Serial=@(invoice.Serial)" title="Edit">
                                                    <span alt="Tạo và gửi lại email" class="glyphicon glyphicon-edit fill-color"></span>
                                                </a>
                                            </td>
                                            @{
                                                string displayCheckbox = string.Empty;
                                                if (!string.IsNullOrEmpty(invoice.CusCode) || !string.IsNullOrEmpty(invoice.EmailDeliver))
                                                {
                                                    displayCheckbox = "";
                                                }
                                                else
                                                {
                                                    displayCheckbox = "disabled='disabled'";
                                                }
                                            }
                                            <td id="test">
                                                <input name="idInvoice" id="idInvoice" type="checkbox" @displayCheckbox value="@AesUtil.Encrypt(new string[] { invoice.id.ToString() })" />
                                            </td>
                                        </tr>
                                                }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @Html.Hidden("hdPattern")
                    @Html.Hidden("Serial")
                    @Html.Hidden("EmailDeliver")

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pager row pull-left">
                                <b>PageSize</b>@Html.DropDownList("Pagesize", pages, new { onchange = "ChangePage()", @style = "width:40px" })
                            </div>
                            <div class="pager row pull-right">
                                @Html.Pager(Model.PageListINV.PageSize, Model.PageListINV.PageIndex + 1, Model.PageListINV.TotalItemCount, new
                           {
                               action = "ListAgainEmail",
                               controller = "SendMail",
                               nameCus = Model.nameCus,
                               CodeTax = Model.CodeTax,
                               code = Model.code,
                               Pattern = Model.Pattern,
                               Status = Model.Status,
                               FromDate = Model.FromDate,
                               ToDate = Model.ToDate,
                               Serial = Model.Serial,
                               InvNo = Model.InvNo,
                               typeInvoice = Model.typeInvoice,
                               Pagesize = Model.PageListINV.PageSize
                           })
                            </div>
                        </div>
                    </div>
                </form>
                <input type="button" class="btn btn-primary btn-flat" onclick="Publish_clickAll();" value="Tạo và gửi email hóa đơn đã chọn" />
            </div>
        </div>
    </div>
</div>
<div class="clear">
</div>
@*PopupConfirmEmail*@
<div class="md-modal colored-header custom-width md-effect-9" id="form-confirm-mail">
    <div class="md-content">
        <div class="modal-header" style="background-color: #0066b3; border-bottom-color: #0066b3">
            <h4 style="float: left;">Thông tin gửi lại email</h4>
            <button type="button" class="close md-cancel" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body form" style="background-color: white; color: black;">
            @Html.CheckBox("IsConfirmEmail")
            @Html.Label("", "Bạn có muốn gửi chung toàn bộ hóa đơn cho một email mới?")
            <div id="ConfirmForm" style="width: 100%; display: none;">
                @Html.Label("", "Địa chỉ email người nhận :", new { @style = "float: left; line-height: 30px; width: 40%;" })
                @Html.TextBox("EmailConfirm", "", new { @class = "form-control", @style = "width: 60%;" })
                <label style="color: red;" id="msgResult"></label>
            </div>
        </div>
        <div class="modal-footer" style="background-color: white; color: black;">
            <button type="button" class="btn btn-primary btn-flat md-close" data-dismiss="modal" id="btnSend">Gửi email</button>
            <button type="button" class="btn btn-primary btn-flat md-cancel" data-dismiss="modal">Hủy</button>
        </div>
    </div>
</div>
<div class="md-overlay"></div>

@section styles{
    <style>
        #MailList {
            text-align: center;
        }

        #container th {
            text-align: center;
        }

        h2 {
            font-family: none !important;
        }

        #MailList {
            color: black !important;
        }

        .labelFix {
            font-weight: 700 !important;
            color: black !important;
            font-size: 13px !important;
        }

        .left-align {
            text-align: left;
        }

        #imgCancel {
            width: 100% !important;
            height: 100% !important;
        }

        .input-date {
            border-bottom: none !important;
        }

        .md-modal {
            position: fixed;
            top: 50%;
            left: 50%;
            width: 50%;
            max-width: 630px;
            min-width: 320px;
            height: auto;
            z-index: 2000;
            visibility: hidden;
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
            -webkit-transform: translateX(-50%) translateY(-100%);
            -moz-transform: translateX(-50%) translateY(-100%);
            -ms-transform: translateX(-50%) translateY(-100%);
            transform: translateX(-50%) translateY(-100%);
        }

        .md-show {
            visibility: visible;
        }

        .md-overlay {
            position: fixed;
            width: 100%;
            height: 100%;
            visibility: hidden;
            top: 0;
            left: 0;
            z-index: 1000;
            opacity: 0;
            background: rgba(0,0,0,0.5);
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }

        .md-show ~ .md-overlay {
            opacity: 1;
            visibility: visible;
        }

        .md-content {
            color: #fff;
            background: #e74c3c;
            position: relative;
            border-radius: 3px;
            margin: 0 auto;
        }

            .md-content > div {
                margin: 0;
                font-weight: 300;
                font-size: 1.15em;
            }

        #IsConfirmEmail {
            padding-top: 5px;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript" src="/Content/js/jquery.blockUI.js"></script>
    <script src="/Content/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
    <script src="/Content/js/date.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.bpopup.min.js"></script>
    <script src="/Content/js/main.js"></script>
    <script language="javascript" type="text/javascript">

        // xử lý chọn ngày tháng datetime
        function getHiddenValue() {
            var stringDate1 = $("#FromDate").val();
            var d1 = Date.parseExact(stringDate1, "d/M/yyyy");
            if (d1 == null && stringDate1 != null) { // nhập không đúng định dạng ngày tháng
                $("#FromDate").val("");
            }
            var stringDate2 = $("#ToDate").val();
            var d2 = Date.parseExact(stringDate2, "d/M/yyyy");
            if (d2 == null && stringDate2 != null) { // nhập d2 không đúng định dạng
                $("#ToDate").val("");
            }
            if (d1 != null && d2 != null && d1 > d2) {
                bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: "@Html.Raw(Resources.Message.Dec_MesToDateBigBeginDate)",
                    size: 'small',
                });
                $("#ToDate").val("");
            }
        }

        //Chỉ nhập số
        function keypress(e) {
            var keypressed = null;
            if (window.event) {
                keypressed = window.event.keyCode; //IE
            }
            else {
                keypressed = e.which; //NON-IE, Standard
            }
            if (keypressed < 48 || keypressed > 57) {
                if (keypressed == 8 || keypressed == 127) {
                    return;
                }
                return false;
            }
        }
        //Thêm vào phân trang
        function ChangePage() {
            var pattern = $('#Pattern').val();
            var TypeInvoice = $('#typeInvoice').val();
            var serial = $('#Serial').val();
            var code = $("#code").val();
            var CodeTax = $("CodeTax").val();
            document.location = "/SendMail/ListAgainEmail?Pattern=" + pattern + "&Serial=" + serial + "&InvNo=" + $("#InvNo").val() + "&FromDate=" + $("#FromDate").val() + "&ToDate=" + $("#ToDate").val() + "&code=" + code + "&nameCus=" + $("#nameCus").val() + "&typeInvoice=" + TypeInvoice + "&Pagesize=" + document.getElementById("Pagesize").options[document.getElementById("Pagesize").selectedIndex].text;
        }
        //dịnh dạng lại datepicker theo tieng viet
        jQuery(function ($) {
            $.datepicker.regional['vi'] = {
                closeText: 'Đóng',
                prevText: '&#x3c;Trước',
                nextText: 'Tiếp&#x3e;',
                currentText: 'Hôm nay',
                monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
		'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
                monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
		'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
                dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                weekHeader: 'Tu',
                dateFormat: 'dd/mm/yy',
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
        });
        $(function ($) {
            $(".vietnameseDate").mask("99/99/9999");
        });
        $(document).ready(function () {
            $.datepicker.setDefaults($.datepicker.regional['vi']);
            $(".datepicker").datepicker({
                showOn: "button",
                buttonImage: "/Content/images/calendar.gif",
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true
            });

            $('#Pattern').change(function () {
                var jsd = "Pattern=" + $("#Pattern").val();
                $.ajax({
                    type: "POST",
                    url: "/EInvoice/GetSerial/",
                    data: jsd,
                    success: function (data) {
                        sl = document.getElementById("Serial");
                        while (sl.firstChild) {
                            sl.removeChild(sl.firstChild);
                        }
                        newOpt = new Option("--Ký hiệu--", "");
                        document.getElementById("Serial").options.add(newOpt);
                        newOpt.selected = true;
                        if (data.pu.length > 0) {
                            for (i = 0; i < data.pu.length; i++) {
                                newOption = new Option(data.pu[i]);
                                document.getElementById("Serial").options.add(newOption);
                            }
                        }
                        document.searchForm.submit();
                    }
                });
            });

            $('#InvNo').change(function () {
                var val = $('#InvNo').val();
                if (parseInt(val, 10).toString() == "NaN") {
                    $('#InvNo').val('');
                }
                checkInvNo();
            });
            checkInvNo();

            $('#ckbAll').change(function () {
                if ($(this).is(':checked')) {
                    $('input[name=cbid]').not(':disabled').prop('checked', true);
                } else {
                    $('input[name=cbid]').not(':disabled').prop('checked', false);
                }
            });
            $(function () {
                $('#4plugin').remove();
            });
        });

        function checkInvNo() {
            if ($('#InvNo').val() && $('#InvNo').val() > 0) {
                $('.searchText').attr("disabled", "disabled");
                $(".datepicker").attr("disabled", "disabled");
            }
            else {
                $(".searchText").removeAttr("disabled");
                $(".datepicker").datepicker('enable');
            }
            var str = $('#InvNo').val();
            while (str.length < 7) {
                str = '0' + str;
            }
            if (str == "0000000")
                return $('#InvNo').val("");
            else
                return $('#InvNo').val(str);
        }
        //truong hop khi chon trang thai hoa don
        function sel() {
            var status = $('#Status').val();
            if (status != "-1") {
                $("#InvNo").val("");
                $("#InvNo").attr("disabled", "disabled");
            }
            else {
                $("#InvNo").removeAttr("disabled");
            }
        }
        $('#ckbAll').change(function () {
            if ($(this).is(':checked')) {
                $('input[name=idInvoice]').not(':disabled').prop('checked', true);
            } else {
                $('input[name=idInvoice]').not(':disabled').prop('checked', false);
            }
        });

        function Publish_clickAll() {
            var names = new Array();
            $('#test input:checked').each(function () {
                names.push(this.value);
            });
            if ($("input:checkbox:checked").length > 0 && $('#Pattern').val() != "") {
                showDetailInv();
            }
            else {
                bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: "Vui lòng chọn hóa đơn để tạo và gửi lại email!",
                    size: 'small',
                });
            }
        }

        $("#IsConfirmEmail").change(function () {
            if ($(this).is(':checked')) {
                $("#ConfirmForm").attr("style", "display:'';");
            } else {
                $("#ConfirmForm").attr("style", "display:none;");
            }
        });

        function showDetailInv() {
            $("#form-confirm-mail").addClass("md-show");
            $('#txtEmail').val('');
            $('#msgResult').html('');
        }

        $(document).ready(function () {
            $(".md-cancel").on('click', function () {
                $("#form-confirm-mail").removeClass("md-show");
            });
            $("#btnSend").on("click", function () {
                var check = $("#IsConfirmEmail").is(':checked');
                if (check) {
                    var email = $('#EmailConfirm').val();
                    if (email == null || email == "" || email == undefined) {
                        $('#msgResult').html("Nhập email hóa đơn để gửi!");
                        return false;
                    }
                    if (!validateEmail(email)) {
                        $('#msgResult').html("Email không hợp lệ: vui lòng sử dụng dấu , để ngăn cách giữa các địa chỉ email.");
                        return false;
                    }
                }
                $.blockUI({
                    message: '<h1><img src="/Content/Images/please_wait.gif" />@Html.Raw(Resources.Message.MPleaseWait)</h1>', fadeIn: 0,
                    fadeOut: 10, timeout: 3000
                });
                $('#hdPattern').val($('#Pattern').val());
                $('#Serial').val($('#Serial').val());
                $('#EmailDeliver').val($('#EmailConfirm').val());
                $("#danhsachHD").attr("action", "/SendMail/SendAgainEmail");
                document.forms["danhsachHD"].submit();
            });
        });

        function validateEmail(email) {
            var re = /^[a-z0-9\.\_%+-]+@@[a-z0-9\.\-]+\.[a-z]{2,4}$/i;
            return re.test(String(email).toLowerCase());
        }
    </script>
}
