﻿@using EInvoice.CAdmin.Models;
@using EInvoice.Core.Domain;
@using FX.Utils.MvcPaging;
@using Microsoft.Ajax.Utilities;
@using FX.Core;
@using FX.Utils;
@using EInvoice.Core;
@model EInvoice.CAdmin.Models.PaymentModel
@{
    ViewBag.Title = "Thanh toán đối soát";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList opattern = Model.PatternList;
    SelectList oSerial = Model.SerialList;
    int PaymentStatus = Model.PaymentStatus;
    var currentCom = ((EInvoiceContext)FXContext.Current).CurrentCompany;
}

<div class="clear">
</div>
<div class="row" style="padding-top: 0;">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">@Resources.Einvoice.Pay_Title</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--search box-->
                <div class="row">
                    <div class="col-sm-12">
                        @using (Html.BeginForm("Index", "Payment", FormMethod.Get, new { @class = "form-horizontal", id = "Searchform", name = "Searchform" }))
                        {
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Pattern, @Resources.Einvoice.Pay_LblPattern, new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.DropDownList("Pattern", opattern, new { @name = "Pattern", onchange = "getSerial()", @class = "form-control dropdownlist" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.PaymentStatus, "Trạng thái", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.DropDownList("PaymentStatus", new[] {
                                    new SelectListItem{Text = "--Trạng thái--", Value = "-1", Selected=(PaymentStatus==-1)},
                                    new SelectListItem{Text=Resources.Einvoice.Pay_TxtNoPayStatus, Value="0", Selected=(PaymentStatus == 0)},
                                    new SelectListItem{Text=Resources.Einvoice.Pay_TxtPayedStatus, Value="1", Selected=(PaymentStatus == 1)},
                                    }, new { style = "width:190px", onchange = "sel()", title = "Chọn tình trạng thanh toán!", @class = "searchText searchText form-control dropdownlist" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FromDate, @Resources.Einvoice.Pay_LblFromDate, new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()", style = "width: 85%; display: inline-block;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.nameCus, @Resources.Einvoice.MInv_LblCusName, new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.nameCus, new { @class = "form-control searchText" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4" style="margin-left: 20px">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Serial, @Resources.Einvoice.Pay_LblSerial, new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.DropDownList("Serial", oSerial, "--Ký hiệu--", new { @name = "Serial", @class = "form-control dropdownlist", @onchange = "document.searchForm.submit();" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.InvNo, @Resources.Einvoice.ReSigCus_LblInvNo, new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.InvNo, new { @class = "form-control", MaxLength = "7", onkeypress = "return keypress(event);" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ToDate, @Resources.Einvoice.Pay_LblToDate, new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()", style = "width: 85%; display: inline-block;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.code, @Resources.Einvoice.MInv_LblCusCode, new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.code, new { @class = "form-control searchText" })
                                    </div>
                                </div>
                              
                                @if (WSHelper.Instance.CheckResourceCode(currentCom))
                                {
                                <div class="form-group">
                                    @Html.Label("Resource Code: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBox("resourcecode", ViewData["resourcecode"] as string, new { @class = "form-control searchText", style = "width:186px", maxlength = "200", onfocus = "AutoResource()" })
                                    </div>
                                </div>
                                 }
                                <button class="btn btn-primary btn-flat pull-right" type="submit">Tìm kiếm</button>
                            </div>
                        }
                    </div>
                </div>
                <br />
                <form id="danhsachHD" method="post" action="/Payment/PaymentInvoice" onsubmit="getPattern();">
                    @Html.AntiForgeryToken()
                    <!--div grid-->
                    <div class="row">
                        <div class="col-sm-12">

                            <table id="MailList" class="table table-bordered table-hover table-striped table-responsive have-action dataTable" role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th width="5%">
                                            #
                                        </th>
                                        <th width="10%">
                                            @Resources.Einvoice.Pay_LblPattern
                                        </th>
                                        <th width="5%">
                                            @Resources.Einvoice.Pay_LblSerial
                                        </th>
                                        <th width="10%">
                                            @Resources.Einvoice.Inv_LblNo
                                        </th>
                                        <th width="10%">
                                            @Resources.Einvoice.Pay_LblCusName
                                        </th>
                                        <th width="10%">
                                            @Resources.Einvoice.Pay_lblPubDate
                                        </th>
                                        <th width="5%">
                                            @Resources.Einvoice.Pay_LblStatus
                                        </th>
                                        <th width="5%">
                                            @Resources.Einvoice.LblDetail
                                        </th>
                                        <th width="5%">
                                            @Html.CheckBox("ckbAll")
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        IList<IInvoice> lstInv = Model.PageListINV.ToList();
                                        int i = Model.PageListINV.PageIndex * Model.PageListINV.PageSize + 1;
                                        List<string> lst = new List<string> { "10", "20", "30", "40", "50" };
                                        SelectList pages = new SelectList(lst, Model.PageListINV.PageSize);
                                    }
                                    @foreach (IInvoice invoice in lstInv)
                                    {
                                        <tr>
                                            <td>@(i++)</td>
                                            <td>@invoice.Pattern</td>
                                            <td>@invoice.Serial</td>
                                            @if (invoice.Status == InvoiceStatus.NewInv)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td>@invoice.No.ToString("0000000")</td>
                                            }
                                            <td>@invoice.CusName</td>
                                            <td>@String.Format("{0:dd/MM/yyyy}", invoice.PublishDate)</td>
                                            <td>@Utils.GetNameInvoicePaymentStatus(invoice.PaymentStatus)</td>
                                            <td>
                                                <a onclick="ajxCall('@AesUtil.Encrypt( new string[] { invoice.id.ToString()})','@invoice.Pattern')"><span class="glyphicon glyphicon-eye-open"></span></a>
                                            </td>
                                            @if (invoice.PaymentStatus == Payment.Unpaid)
                                            {
                                                <td><input name="cbid" type="checkbox" value="@invoice.id" /></td>
                                            }
                                            else
                                            {
                                                <td></td>
                                            }
                                        </tr>
                                    }
                                </tbody>
                                @Html.Hidden("hdPattern")
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pager row pull-left">
                                <b>PageSize</b>@Html.DropDownList("Pagesize", pages, new { onchange = "ChangePage()", @style = "width:40px" })
                            </div>
                            <div class="pager row pull-right">
                                @Html.Pager(Model.PageListINV.PageSize, Model.PageListINV.PageIndex + 1, Model.PageListINV.TotalItemCount, new
                           {
                               action = "Index",
                               controller = "Payment",
                               Pattern = Model.Pattern,
                               Serial = Model.Serial,
                               PaymentStatus = Model.PaymentStatus,
                               FromDate = Model.FromDate,
                               ToDate = Model.ToDate,
                               nameCus = Model.nameCus,
                               code = Model.code,
                               Pagesize = Model.PageListINV.PageSize
                           })
                            </div>
                        </div>
                    </div>
                    <input type="button" class="btn btn-primary btn-flat" onclick="Publish_click();" value="Đối soát hóa đơn thanh toán" />
                </form>
            </div>
        </div>
    </div>
</div>
@section styles{
    <style>
        #MailList {
            text-align: center;
        }

        label {
            font-weight: 700;
        }

        .left-align {
            text-align: left;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript" src="/Content/js/jquery.blockUI.js"></script>
    <script src="/Content/js/date.js" type="text/javascript"></script>
    <script src="/Content/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
    <script src="/Content/js/BrowserDetectShare.js" type="text/javascript"></script>
    <script src="/Content/js/main.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
        function ChangePage() {
            //debugger;
            var pattern = $('#Pattern').val();
            var serial = $('#Serial').val();
            var paymentStatus = $('#PaymentStatus').val();
            document.location = "/Payment/Index?Pattern=" + pattern + "&Serial=" + serial + "&PaymentStatus=" + paymentStatus + "&InvNo=" + $("#InvNo").val() + "&FromDate=" + $("#FromDate").val() + "&ToDate=" + $("#ToDate").val() + "&Pagesize=" + document.getElementById("Pagesize").options[document.getElementById("Pagesize").selectedIndex].text;
        }
        jQuery(function ($) {
            $.datepicker.regional['vi'] = {
                closeText: 'Đóng',
                prevText: '&#x3c;Trước',
                nextText: 'Tiếp&#x3e;',
                currentText: 'Hôm nay',
                monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
		'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
                monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
		'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
                dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                weekHeader: 'Tu',
                dateFormat: 'dd/mm/yy',
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
        });
        $(function ($) {
            $(".vietnameseDate").mask("99/99/9999");
        });
        $(document).ready(function () {
            // $('form:first').validate();
            $.datepicker.setDefaults($.datepicker.regional['vi']);
            $(".datepicker").datepicker({
                showOn: "button",
                buttonImage: "/Content/images/calendar.gif",
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true
            });
            $('#ckbAll').change(function () {
                if ($(this).is(':checked')) {
                    $('input[name=cbid]').not(':disabled').prop('checked', true);
                } else {
                    $('input[name=cbid]').not(':disabled').prop('checked', false);
                }
            });
            $('#InvNo').change(function () {
                var val = $('#InvNo').val();
                if (parseInt(val, 10).toString() == "NaN") {
                    $('#InvNo').val('');
                }
                checkInvNo();
            });
            checkInvNo();
        });

        // xử lý chọn ngày tháng datetime
        function getHiddenValue() {
            var stringDate1 = $("#FromDate").val();
            var d1 = Date.parseExact(stringDate1, "d/M/yyyy");
            if (d1 == null && stringDate1 != null) { // nhập không đúng định dạng ngày tháng
                $("#FromDate").val("");
            }
            var stringDate2 = $("#ToDate").val();
            var d2 = Date.parseExact(stringDate2, "d/M/yyyy");
            if (d2 == null && stringDate2 != null) { // nhập d2 không đúng định dạng
                $("#ToDate").val("");
            }
            if (d1 != null && d2 != null && d1 > d2) {
                bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: "@Html.Raw(Resources.Message.Dec_MesToDateBigBeginDate)",
                    size: 'small',
                });
                $("#ToDate").val("");
            }
        }

        function checkInvNo() {
            if ($('#InvNo').val() && $('#InvNo').val() > 0) {
                $('.searchText').attr("disabled", "disabled");
                $(".datepicker").attr("disabled", "disabled");
            }
            else {
                $(".searchText").removeAttr("disabled");
                $(".datepicker").datepicker('enable');
            }
            var str = $('#InvNo').val();
            while (str.length < 7) {
                str = '0' + str;
            }
            if (str == "0000000")
                return $('#InvNo').val("");
            else
                return $('#InvNo').val(str);
        }
        function Publish_click() {
            if ($("input:checkbox:checked").length > 0 && $('#pattern').val != "") {
                if (!confirm("@Html.Raw(Resources.Message.Pay_MesConfirm)")) return;
                $.blockUI({
                    message: '<h1><img src="/Content/Images/please_wait.gif" />@Html.Raw(Resources.Message.MPleaseWait)</h1>', fadeIn: 0,
                    fadeOut: 10
                });
                $('#hdPattern').val($('#Pattern').val());
                document.forms["danhsachHD"].submit();
            } else
                bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: "@Html.Raw(Resources.Message.Pay_MesSelectInv)",
                    size: 'small',
                });
        }

        function sel() {
            var PaymentStatus = $('#PaymentStatus').val();
            if ($('#PaymentStatus').val() != "") {
                if ($('#PaymentStatus').val() != "-1") {
                    $("#InvNo").val("");
                    $("#InvNo").attr("disabled", "disabled");
                }
                else {
                    $("#InvNo").removeAttr("disabled");
                }
            }
            else {
                $("#InvNo").removeAttr("disabled");
            }
        }

        function checkTextAreaMaxLength(textBox, e, length) {
            textBox.value = textBox.value.toUpperCase().replace(/([^0-9A-Z])/g, "");
            var mLen = textBox["MaxLength"];
            if (null == mLen)
                mLen = length;

            var maxLength = parseInt(mLen);
            if (!checkSpecialKeys(e)) {
                if (textBox.value.length > maxLength - 1) {
                    if (window.event)//IE
                        e.returnValue = false;
                    else//Firefox
                        e.preventDefault();
                }
            }
        }
        //Định dạng ký tự nhập
        function keypress(e) {
            var keypressed = null;
            if (window.event) {
                keypressed = window.event.keyCode; //IE
            }
            else {
                keypressed = e.which; //NON-IE, Standard
            }
            if (keypressed < 48 || keypressed > 57) {
                if (keypressed == 8 || keypressed == 127) {
                    return;
                }
                return false;
            }
        }
    </script>
}