﻿@using EInvoice.Core.Domain
@model Company
@{
    ViewBag.Title = "Thông tin công ty";
    IList<TaxAuthority> lsttax = (IList<TaxAuthority>)ViewData["tax"];
    SelectList selectax = new SelectList(lsttax, "Code", "Name");

}
<link href="~/Content/css/SharedFormElements.css" rel="stylesheet" />
<div class="box-header " style="text-align:center">
    <h3 class="box-title">@Resources.Einvoice.Com_LblTitleEdit</h3>
    <hr />
</div>
@Html.Hidden("id", Model.id)
@Html.Hidden("flag", "0")
<section class="content form-horizontal">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="col-md-12 col-xs-12 col-sm-12">
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Resources.Einvoice.Com_LblName  <span style='color:red'>(*)</span>
                    </label>
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Name, Model.Name, htmlAttributes: new { @class = "control-label" })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger required" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Resources.Einvoice.Com_LblTaxCode  <span style='color:red'>(*)</span>
                    </label>
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.TaxCode, Model.TaxCode, htmlAttributes: new { @class = "control-label" })
                        @Html.ValidationMessageFor(model => model.TaxCode, "", new { @class = "text-danger required" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Resources.Einvoice.Com_LblAddress  <span style='color:red'>(*)</span>
                    </label>
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Address, Model.Address, htmlAttributes: new { @class = "control-label" })
                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger required" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Phone, Resources.Einvoice.Com_LblPhone, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Phone, new { @class = "form-control", @maxlength = "20", @autofocus = "autofocus" })
                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Fax, Resources.Einvoice.Com_LblFax, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Fax, new { @class = "form-control", @maxlength = "20" })
                        @Html.ValidationMessageFor(model => model.Fax, "", new { @class = "text-danger"  })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Resources.Einvoice.Com_LblEMail  <span style='color:red'>(*)</span>
                    </label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control required email" , @maxlength = "50" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.ContactPerson, Resources.Einvoice.Com_LblContactPerson, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.ContactPerson, new { @class = "form-control", @maxlength = "100" })
                        @Html.ValidationMessageFor(model => model.ContactPerson, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Resources.Einvoice.Com_lblRepresentPerson  <span style='color:red'>(*)</span>
                    </label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.RepresentPerson, new { @class = "form-control required", @maxlength = "100" })
                        @Html.ValidationMessageFor(model => model.RepresentPerson, "", new { @class = "text-danger required"})
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BankNumber, Resources.Einvoice.Com_LblBankNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.BankNumber, new { @class = "form-control", @maxlength = "40" })
                        @Html.ValidationMessageFor(model => model.BankNumber, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.BankAccountName, Resources.Einvoice.Com_LblBankAccount, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.BankAccountName, new { @class = "form-control", @maxlength = "190" })
                        @Html.ValidationMessageFor(model => model.BankAccountName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.BankName, Resources.Einvoice.Com_LblBankName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.BankName, new { @class = "form-control", @maxlength = "140" })
                        @Html.ValidationMessageFor(model => model.BankName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">
                        @Resources.Einvoice.Com_LblTaxName  <span style='color:red'>(*)</span>
                    </label>
                    <div class="col-md-10">
                        @Html.DropDownList("TaxAuthorityCode", selectax, "--Cơ quan thuế--", new { @class = "js-example-basic-single", @Styles = "with:100%" })
                        @Html.ValidationMessage("TaxAuthorityCode", "", new { @class = "text-danger required",  })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Descriptions, Resources.Einvoice.Com_LblDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.Descriptions, new { @class = "form-control", @rows = "5", @maxlength = "280" })
                        @Html.ValidationMessageFor(model => model.Descriptions, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Domain, "Tên miền", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.LabelFor(model => model.Domain, Model.Domain, htmlAttributes: new { @class = "control-label" })
                        @Html.ValidationMessageFor(model => model.Domain, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="col-sm-5">
        </div>
        <div class="col-sm-7">
            <button type="submit" class="btn btn-primary btn-flat" id="save"><i class="fa fa-check-square-o margin-r-5"></i>@Resources.Einvoice.BtnSave</button>
            <button type="button" class="btn btn-primary btn-flat" onclick="document.location = '/Company/DetailCurrent'">@Resources.Einvoice.BtnBack</button>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $(".js-example-basic-single").select2();
        $('form:first').validate({ onfocusin: false });
    });
</script>
