﻿@using EInvoice.Core.Domain
@model Company
@{
    ViewBag.Title = "Thông tin công ty";
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <br />
            <div class="box-header " style="text-align:center">
                <h3 class="box-title">@Resources.Einvoice.Com_LblTitle</h3>
                <hr />
            </div>
            @Html.Hidden("id", Model.id)
            @Html.Hidden("SignatureImage", Model.SignatureImage)
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <h4>@Model.Name</h4>
                        <p class="co-address"><i class="fa fa-file-text-o" style="margin: 0px 10px 0px 0px;"></i>Mã số thuế: <b>@Model.TaxCode</b></p>
                        <p class="co-address"><i class="fa fa-industry" style="margin: 0px 10px 0px 0px;"></i>Địa chỉ: <b>@Model.Address</b></p>
                        <p class="co-address"><i class="fa  fa-user" style="margin: 0px 10px 0px 0px;"></i>Đại diện pháp luật: <b>@Model.RepresentPerson</b></p>
                        <hr/>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-md-7 col-xs-7 col-sm-7">
                        <h5 style="margin: 0px 0px 18px 0px; font-weight: bold; color: #666;">Thông tin chung</h5>
                        
                            <p><i class="fa fa-globe c-gray-light p-r-10" style="margin: 0px 10px 0px 0px;"></i><b>@Model.Name</b></p>
                       
                            <p><i class="glyphicon" style="margin: 0px 10px 0px 0px;"></i>Số điện thoại liên hệ: <b>@Model.Phone</b></p>
                       
                            <p><i class="fa fa-fax c-gray-light" style="margin: 0px 10px 0px 0px;"></i>Số fax: <b>@Model.Fax</b></p>
                        
                            <p><i class="fa fa-bank" style="margin: 0px 10px 0px 0px;"></i>Ngân hàng : <b>@Model.BankName</b></p>
                       
                            <p><i class="fa fa-user-secret" style="margin: 0px 10px 0px 0px;"></i>Chủ tài khoản : <b>@Model.BankAccountName</b></p>
                       
                            <p><i class="fa fa-money" style="margin: 0px 10px 0px 0px;"></i>Số tài khoản : <b>@Model.BankNumber</b></p>
                        
                            <p><i class="fa fa-envelope c-gray-light" style="margin: 0px 10px 0px 0px;"></i> Email:<a href="mailto:@Model.Email"> @Model.Email</a></p>
                        
                        <p><i class="fa  fa-user-md" style="margin: 0px 10px 0px 0px;"></i>Người liên hệ: <b> @Model.ContactPerson</b></p>
                        <p><i class="fa  fa-building" style="margin: 0px 10px 0px 0px;"></i> Tên cơ quan thuế: <b>@ViewData["taxname"]</b></p>
                        <p><i class="fa  fa-pencil-square-o" style="margin: 0px 10px 0px 0px;"></i> Mô tả: <b>@Model.Descriptions</b></p>
                        <p><i class="fa  fa-link" style="margin: 0px 10px 0px 0px;"></i> Tên miền: <b>@Model.Domain</b></p>

                    </div>
                    <div class="col-md-5 col-xs-5 col-sm-5">
                        <h5 style="margin: 0px 0px 18px 0px; font-weight: bold; color: #666;">Chứng thư số:</h5>
                        @if (ViewData["SerialCert"] == null )
                        {
                            <p>Công ty chưa cấu hình chứng thư số</p>
                        }
                        else
                        {
                            <p><i class="fa fa-certificate" style="margin: 0px 10px 0px 0px;"></i>@ViewData["OwnCA"]</p>
                            <p><i class="fa  fa-building" style="margin: 0px 10px 0px 0px;"></i>Tên tổ chức sở hữu: <b>@ViewData["OrganizationCA"]</b></p>
                            <p><i class="fa  fa-file-text-o" style="margin: 0px 10px 0px 0px;"></i>Serial chứng thư: <b>@ViewData["SerialCert"]</b></p>
                            <p><i class="fa  fa-calendar-o" style="margin: 0px 10px 0px 0px;"></i>Ngày có hiệu lực: <b>@ViewData["ValidFrom"]</b></p>
                            <p><i class="fa  fa-calendar-o" style="margin: 0px 10px 0px 0px;"></i>Ngày hết hạn: <b>@ViewData["ValidTo"]</b></p>
                        }                     
                    </div>
                </div>             
                <br />
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Edit_com"))
                            {
                            <button type="button" class="btn btn-primary btn-flat" onclick="Edit_Onclick(@Model.id)"><i class="fa fa-fw fa-pencil margin-r-5"></i>@Resources.Einvoice.BtnEdit</button>
                            }
                        </div>
                        <div class="col-sm-4"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script language="javascript" type="text/javascript">
    function Back_Onclick() {
        document.location = "/Home/index";
    }
    function Edit_Onclick(id) {
        document.location = "/Company/Edit?id=" + id;
    }
</script>
