﻿@using EInvoice.Core.Domain
@model Company
@{
    ViewBag.Title = "Sửa thông tin công ty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            @using (Html.BeginForm("Update", "Company", FormMethod.Post))
            {
                Html.RenderPartial("CompanyShareElement", Model);             
            }
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
        function Onclick(id) {
            document.location = "/Company/DetailCurrent?id=" + id;
        }
</script>