﻿@using EInvoice.Core.IService;
@using EInvoice.Core.Domain;
@using IdentityManagement.Domain;
@using IdentityManagement.Service;
@using FX.Core;
@using FX.Utils;
@using EInvoice.Core;
@model IList<Menu>
@{
    ViewBag.Title = "MenuBycomp";
    Layout = null;
}
<ul class="nav navbar-nav">
    @{ 
        var currentCom = ((EInvoiceContext)FXContext.Current).CurrentCompany;
        bool flag = true;
        if (!string.IsNullOrEmpty(Util.IsOnlyUser) && Util.IsOnlyUser.Equals("1"))
        {


            var UserSrv = IoC.Resolve<IuserService>();
            var User = UserSrv.Query.Where(o => o.GroupName == currentCom.id.ToString() && o.username == HttpContext.Current.User.Identity.Name).FirstOrDefault();
            if (User == null)
            {
                flag = false;
            }
        }
        foreach (EInvoice.Core.Domain.Menu it in Model)
        {
            <li class="dropdown">
                @if (string.IsNullOrWhiteSpace(it.PermissionCode) || ((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission(it.PermissionCode))
                {
                    <a href="@it.NavigateUrl" class="dropdown-toggle">@it.Name</a>
                    var childs = it.ChildMenus;
                    if (childs.Count > 0)
                    {
                    <ul class="dropdown-menu" role="menu">
                        @foreach (var c in it.ChildMenus.OrderBy(p => p.Priority).ToList())
                        {
                            if (string.IsNullOrWhiteSpace(c.PermissionCode) || ((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission(c.PermissionCode))
                            {

                                if (c.NavigateUrl.Contains("Resource/index") || c.NavigateUrl.Contains("GroupResource/index"))
                                {
                                    if (WSHelper.Instance.CheckResourceCode(currentCom))
                                    {
                                        <li>
                                            <a href="@c.NavigateUrl">
                                                @c.Name
                                            </a>
                                        </li>
                                        <li class="divider"></li>
                                    }


                                }
                                else
                                {
                                    if ((c.NavigateUrl.Contains("Product/UploadIndex") || c.NavigateUrl.Contains("Product/Index")))
                                    {
                                        if (!(currentCom.Config.ContainsKey("mPro") && currentCom.Config["mPro"].ToString() != currentCom.id.ToString()) )
                                        {  <li>
                                                <a href="@c.NavigateUrl">
                                                    @c.Name
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                        }

                                       

                                    }
                                    else
                                    {
                                    <li>
                                        <a href="@c.NavigateUrl">
                                            @c.Name
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    }
                                }

                            }
                        }
                    </ul>
                    }
                }
            </li>
            }
    }
    @{
        if (HttpContext.Current.User.Identity.IsAuthenticated)
        {
            <li class="dropdown">

                <a href="#"  class="dropdown-toggle" data-toggle="dropdown">Phân quyền</a>
                <ul class="dropdown-menu" role="menu">
                    @if (HttpContext.Current.User.IsInRole("Admin"))
                    {
                        if (flag)
                        {
                            <li><a href="/IDManager/Index"  class="dropdown-toggle" >Phân quyền người dùng</a></li>
                        }
                    
                            <li class="divider"></li>
                            <li><a href="/Account/ServiceRoleIndex"  class="dropdown-toggle">Tài khoản RoleService</a></li>
                            <li class="divider"></li>
                        }
                            <li><a href="/Account/ChangePassword"  class="dropdown-toggle">Thay đổi mật khẩu</a></li>
                            @*<li class="divider"></li>*@
                    @*<li>
                        @{
                            if (HttpContext.Current.User.Identity.IsAuthenticated)
                            {
                                <a class="dropdown-toggle" data-toggle="dropdown"><span>@HttpContext.Current.User.Identity.Name</span></a>
                            }
                        }
                    </li>
                    <li class="divider"></li>*@
                    @*<li>
                        <a href="/Account/Logout"  class="dropdown-toggle" data-toggle="dropdown">Đăng xuất</a>
                    </li>*@
                </ul>
            </li>
        }
    }
</ul>
<script>
    $(".dropdown").unbind('click');
</script>

