﻿@{
    ViewBag.Title = "Thông tin chứng thư";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using EInvoice.Core.Domain
@model Certificate
@{
    ViewBag.Title = "HĐĐT | Thông tin chứng thư số";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int typeCert = int.Parse(ViewData["typeKeyStores"].ToString());
}

<div class="clear">
</div>
<div class="row" style="padding-top: 0;">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header " style="text-align:center">
                <h3 class="box-title">@Resources.Einvoice.Key_LblKeyStoreInfo</h3>
                <hr />
            </div>
            <div class="box-body">
                @if (!string.IsNullOrEmpty(Model.Cert))
                {
                    <div class="row">
                        <div class="col-sm-6" style="margin-left: 33%">
                            <p><i class="fa fa-certificate" style="margin: 0px 10px 0px 0px;"></i>@Model.OwnCA</p>
                            <p><i class="fa  fa-building" style="margin: 0px 10px 0px 0px;"></i>Tên tổ chức sở hữu: <b>@Model.OrganizationCA</b></p>
                            <p><i class="fa  fa-file-text-o" style="margin: 0px 10px 0px 0px;"></i>Serial chứng thư: <b>@Model.SerialCert</b></p>
                            <p><i class="fa  fa-calendar-o" style="margin: 0px 10px 0px 0px;"></i>Ngày có hiệu lực: <b>@Model.ValidFrom.ToString()</b></p>
                            <p><i class="fa  fa-calendar-o" style="margin: 0px 10px 0px 0px;"></i>Ngày hết hạn: <b>@Model.ValidTo.ToString()</b></p>
                        </div>
                    </div>
                }
                else
                {

                    <div class="row">
                        <div class="col-sm-6" style="margin-left: 33%">
                            @if (typeCert == 4)
                            {
                                <p><i class="fa  fa-building" style="margin: 0px 10px 0px 0px;"></i>Loại chứng thư: Token</p>
                            }
                            else if (typeCert == 2)
                            {
                                <p><i class="fa  fa-building" style="margin: 0px 10px 0px 0px;"></i>Loại chứng thư: HSM</p>
                            }
                            else if (typeCert == 0)
                            {
                                <p><i class="fa  fa-building" style="margin: 0px 10px 0px 0px;"></i>Loại chứng thư: P12</p>
                            }
                            else if (typeCert == 1)
                            {
                                <p><i class="fa  fa-building" style="margin: 0px 10px 0px 0px;"></i>Loại chứng thư: JKS KeyStore</p>
                            }
                            else if (typeCert == 3)
                            {
                                <p><i class="fa  fa-building" style="margin: 0px 10px 0px 0px;"></i>Loại chứng thư: PKI Token</p>
                            }
                            else
                            {
                                <p><i class="fa  fa-building" style="margin: 0px 10px 0px 0px;"></i>Loại chứng thư: Khác</p>
                            }
                            <p><i class="fa  fa-file-text-o" style="margin: 0px 10px 0px 0px;"></i>Serial chứng thư: <b>@Model.SerialCert</b></p>
                        </div>
                    </div>
                }
                @if (typeCert == 4)
                {
                    <div class="row">
                        <div class="col-sm-11" align="center">
                            @*@if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Update_cert"))
                            {*@
                                <button class="btn btn-primary" id="Submit" type="button" onclick="GetCertInfo();">Cập Nhật</button>
                            @*  }*@
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

<script language="javascript" type="text/javascript">
    function Back_Onclick() {
        document.location = "/Home/index";
    }
    function Edit_Onclick(id) {
        document.location = "/Company/Edit?id=" + id;
    }
</script>


<script type="text/javascript">
    function GetCertInfo() {
        vnpt_plugin.checkPlugin().then(function (data) {
            vnpt_plugin.setLicenseKey(keyPluginv2).then(function (data) {
                var jsObLicense = JSON.parse(data);
                if (jsObLicense.code !== 1) {
                    alert("Chưa set license cho plugin ký số!");
                    return;
                }
                vnpt_plugin.getCertInfo().then(function (data) {
                    var jsOb = JSON.parse(data);
                    var certificate = jsOb.base64;
                    var serialCert = jsOb.serial;
                    updateCertByToken(serialCert, certificate);
                }).catch(function (e) {
                    alert("getCertInfo: " + e);
                });
            }).catch(function (e) {
                alert("LicenseKey: " + e);
            });
        }).catch(function (e) {
            $('#dialogCheckEx').bPopup({
                easing: 'easeOutBack', //uses jQuery easing plugin
                speed: 450,
                transition: 'slideDown'
            });
        });
    }
    function updateCertByToken(serialCert, certificate) {
        var jsondataClient = { certinfo: certificate, serialCert: serialCert };
        $.ajax({
            type: "POST",
            url: "/Company/updateCertByToken",
            data: jsondataClient,
            success: function (data) {
                if (data == "getCertErr") {
                    alert("Có lỗi trong quá trình lấy chứng thư từ token!");
                    return;
                } else if (data == "getCertErr0") {
                    alert("Công ty chưa đăng ký chứng thư!");
                    return;
                } else if (data == "getCertErr4") {
                    alert("Chứng thư trùng chứng thư công ty đang dùng trên hệ thống không cần cập nhật!");
                    return;
                } else if (data == "getCertErr2") {
                    alert("Chứng thư chưa đến thời gian sử dụng!");
                    return;
                } else if (data == "getCertErr3") {
                    alert("Chứng thư đã hết hạn!");
                    return;
                } else if (data == "getCertErr5") {
                    alert("Chứng thư gửi lên thuế có lỗi!");
                    return;
                } else if (data = "OK") {
                    alert("Cập nhật chứng thư thành công!");
                    location.reload();
                } else {
                    alert("Có lỗi trong quá trình lấy chứng thư từ token!");
                    return;
                }
            },
            error: function (xhr, error) {
                alert(xhr.responseText);
            }
        });
    }
</script>





