﻿@using EInvoice.Core.Domain
@model EInvoice.Core.Domain.Staff
@{
    ViewBag.Title = "Tạo mới nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div ID="Content2" ContentPlaceHolderID="MainContent">
                @using (Html.BeginForm("Create", "Staff", FormMethod.Post))
                        {
                     @Html.AntiForgeryToken()
                    Html.RenderPartial("staffShareElement", Model);
                }
            </div>
        </div>
    </div>
</div>
