﻿@using EInvoice.Core.Domain
@model EInvoice.Core.Domain.Staff
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            @using (Html.BeginForm("Update", "Staff", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                Html.RenderPartial("staffShareElement", Model);
            }
        </div>
    </div>
</div>
