﻿@using EInvoice.CAdmin.Models
@using FX.Utils.MvcPaging
@using EInvoice.Core.IService;
@using EInvoice.Core.Domain;
@using FX.Core;
@using FX.Utils;
@using EInvoice.Core;
@model EInvoice.CAdmin.Models.StaffModel
@{
    ViewBag.Title = "Danh sách nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/grid.css" rel="stylesheet" />
@{int isResource = (int)ViewData["IsResource"];}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">QUẢN LÝ NHÂN VIÊN</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <div id="example2_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                    <form id="Searchform" method="get" action="/Staff/Index" class="form-inline">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group col-sm-3" style="padding-left: 0">
                                    <b>@Resources.Einvoice.Staff_LblName:</b>
                                    <input id="fullname" name="fullname" type="text" class="form-control" value="@Model.fullname" maxlength="200" style="width: 60%;" />
                                </div>
                                <div class="form-group col-sm-3">
                                    <b>@Resources.Einvoice.Staff_LblDivision:</b>
                                    <input id="division" name="division" type="text" value="@Model.division" maxlength="200" class="form-control" style="width: 65%;" />
                                </div>
                                <div class="form-group col-sm-3">
                                    <b>Tài khoản:</b>
                                    <input id="account" name="account" type="text" maxlength="50" value="@Model.account" class="form-control" style="width: 68%;" />
                                </div>
                                <div class="form-group col-sm-1">
                                    <input id="Submit1" type="submit" value="Tìm Kiếm" class="btn btn-block btn-primary btn-flat" style="width:100px" />
                                </div>
                                <div class="form-group col-sm-2 btnCreateList">
                                    @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Add_Staff"))
                                    {
                                        <a class="btn btn-block btn-primary btn-flat pull-right" href="/Staff/Create/" title="Create" style="width:92px;">
                                            <i class="glyphicon glyphicon-plus"></i> Tạo mới
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    </form>
                    <br />
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="example2" class="table table-bordered table-hover table-striped table-responsive have-action dataTable textTable" role="grid" aria-describedby="example2_info">
                                <thead class="textThead">
                                    <tr>
                                        <th width="20px">
                                            @Resources.Einvoice.lblNo
                                        </th>
                                        <th width="150px">
                                            @Resources.Einvoice.Staff_LblName
                                        </th>
                                        <th width="100px">
                                            @Resources.Einvoice.Staff_LblAccountName
                                        </th>
                                        <th width="150px">
                                            @Resources.Einvoice.Staff_LblDivision
                                        </th>
                                        <th width="300px">
                                            @Resources.Einvoice.Staff_LblAddress
                                        </th>
                                        <th width="100px">
                                            @Resources.Einvoice.Staff_LblPhone
                                        </th>
                                        <th width="100px">
                                            @Resources.Einvoice.Staff_LblEmail
                                        </th>

                                        @if (isResource != 1 && ((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Edit_user"))
                                        {
                                            <th width="80px">
                                                Đường thu
                                            </th>
                                        }


                                        <th width="30px">
                                            @Resources.Einvoice.LblEdit
                                        </th>
                                        <th style="border-right-color: #EEE; width: 25px;">
                                            @Resources.Einvoice.LblDelete
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{

                                        var stalst = Model.PageListStaff.ToList();
                                        int i = Model.PageListStaff.PageIndex * Model.PageListStaff.PageSize + 1;
                                    }

                                    @foreach (Staff item in stalst)
                                    {
                                        <tr>
                                            <td align="center">@i</td>
                                            <td>@item.FullName</td>
                                            <td align="left">@item.AccountName</td>
                                            <td>@item.Division</td>
                                            <td>@item.Address</td>
                                            <td>@item.Mobile</td>
                                            <td title="@item.Email">@item.Email</td>

                                            @if (isResource != 1 && ((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Edit_user"))
                                            {
                                                <td><a href="/GroupResource/StaffGroup?id=@Html.Encode(item.AccountName)&p=1" title="Quản lý đường thu">Đường thu</a></td>
                                            }


                                            <td style="text-align: center">
                                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Edit_Staff"))
                                                {
                                                    <a href="/Staff/Edit/@item.ID" title="Sửa">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </a>
                                                }
                                            </td>
                                            <td style="text-align: center">
                                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Del_Staff"))
                                                {
                                                    <a href="#" onclick="OnDelete('@item.ID')" title="Xóa">
                                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                                    </a>
                                                }
                                            </td>
                                        </tr>
                                        i++;
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-10">
                        </div>
                        <div class="col-sm-2">
                            <div class="pager row pull-right">
                                @Html.Pager(Model.PageListStaff.PageSize, Model.PageListStaff.PageIndex + 1, Model.PageListStaff.TotalItemCount, new
                           {
                               action = "Index",
                               controller = "Staff",
                               fullname = Model.fullname,
                               division = Model.division,
                               account = Model.account
                           })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
    function OnDelete(id) {
        if (!confirm("@Html.Raw(Resources.Message.Staff_MessDeleteStaff)"))
            return;
        document.location = "/Staff/delete?id=" + id;
    }
</script>
