﻿@using EInvoice.Core.Domain
@model EInvoice.Core.Domain.Staff
@Html.Hidden("ID", Model.ID)
@Html.Hidden("ComID", Model.ComID)
<script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
<style type="text/css">
    .error {
        color: red;
    }
</style>

<div class="box-header" style="text-align:center">
    <h3 class="box-title">
        @if (Model.ID > 0)
        {
            @Resources.Einvoice.Staff_EditTitle
        }
        else
        {
            @Resources.Einvoice.Staff_CreateTitle
        }
    </h3>
    <hr />
</div>
@{string MobileOther = (string)ViewData["MobileOther"];}
<section class="content form-horizontal">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            @Resources.Einvoice.Staff_LblName
                            <span style='color:red'>(*)</span>
                        </label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.FullName, new { @class = "form-control required", @placeholder = Resources.Einvoice.Staff_ReqName, @maxlength = "200" })
                            @Html.ValidationMessageFor(model => model.FullName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            @Resources.Einvoice.Staff_lblAccountInSystem
                            <span style='color:red'>(*)</span>
                        </label>
                        <div class="col-md-6">
                            @if (Model.ID > 0)
                            {
                                @Html.LabelFor(model => model.AccountName, Model.AccountName, htmlAttributes: new { @class = "control-label col-md-4" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.AccountName, new { @class = "form-control required", @maxlength = "20", onchange = "CheckAccountName()", @placeholder = Resources.Einvoice.Staff_ReqAccount })
                            }
                            @Html.ValidationMessageFor(model => model.AccountName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Division, Resources.Einvoice.Staff_LblDivision, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Division, new { @class = "form-control", @maxlength = "200" })
                            @Html.ValidationMessageFor(model => model.Division, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            @Resources.Einvoice.Staff_LblAddress
                            <span style='color:red'>(*)</span>
                        </label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Address, new { @class = "form-control required", @placeholder = Resources.Einvoice.Staff_LblAddress, @maxlength = "200" })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Mobile, Resources.Einvoice.Staff_LblPhone, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Mobile, new { @class = "form-control", @maxlength = "20" })
                            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Mobile, "Số máy lẻ", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            <input type="text" name="MobileOther" value="@MobileOther" class="textandnum form-control" onkeypress="return keypress(event);" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            @Resources.Einvoice.Staff_LblEmail
                            <span style='color:red'>(*)</span>
                        </label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Email, new { @class = "form-control multiemail required", @placeholder = Resources.Einvoice.Staff_ReqCorrectEmail, @maxlength = "300" })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="form-group">
            <div class="col-sm-5">
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-check-square-o margin-r-5"></i>@Resources.Einvoice.BtnSave</button>
                <a href="/Staff/index" class="btn btn-primary btn-flat"><i class="fa fa-arrow-left margin-r-5"></i>@Resources.Einvoice.BtnBack</a>
            </div>
        </div>
    </div>
</section>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        jQuery.validator.addMethod("multiemail", function (value, element) {
            if (this.optional(element)) {
                return true;
            }
            var emails = value.split(','),
                valid = true;
            for (var i = 0, limit = emails.length; i < limit; i++) {
                value = emails[i];
                valid = valid && jQuery.validator.methods.email.call(this, value, element);
            }
            return valid;
        }, "email không hợp lệ: vui lòng sử dụng dấu , để ngăn cách giữa các địa chỉ email.");

        $('form:first').submit(function () {
            if (!$('#FullName').val() && !$('#AccountName').val()) {
                $('form:first').valid();
            }
        });

        $('form:first').validate({ onfocusin: false });
        //$("#AccountName").keyup(function (event) {
        //    if ($(this).val().indexOf(' ') >= 0) {
        //        alert('Tên tài khoản không có dấu cách');
        //        $(this).val('');
        //        return false;
        //    }
        //    if (!/^\w+$/i.test($(this).val())) {
        //        alert('Tài khoản không chứa ký tự lạ hoặc ký tự có dấu');
        //        $(this).val('');
        //        return false;
        //    }
        //});

    });
    function AutoSucGetAcc() {
        {
            $('#AccountName').autocomplete(
                {
                    minLength: 1,
                    source: function (request, response) {
                        $.ajax(
                            {
                                type: "POST",
                                url: '/Staff/SearchByAccountName?searchText=' + $('#AccountName').attr("value"),
                                dataType: "json",
                                data: { term: "" },
                                success: function (data) {
                                    response($.map(data, function (u) {
                                        return {
                                            label: u.username,
                                            value: u.username
                                        }
                                    }));
                                }
                            });
                    },
                    focus: function (event, ui) {
                        $("#AccountName").val(ui.item.value);
                        return false;
                    },
                    select: function (event, ui) {
                        $("#AccountName").val(ui.item.value);
                        return false;
                    },
                });
        }
    }
    //Chi cho nhap so
    function keypress(e) {
        var keypressed = null;
        if (window.event) {//IE
            keypressed = window.event.keyCode;
            if (keypressed < 48 || keypressed > 57) {
                return false;
            }
        }
        else {
            keypressed = e.which; //NON-IE, Standard
            if (keypressed < 48 || keypressed > 57) {
                if (e.charCode == 0) {// không phải kí tự
                    return;
                }
                return false;
            }
        }
    }
    function CheckAccountName() {
        if ($("#AccountName").val().indexOf(' ') >= 0) {
            alert('Tên tài khoản không có dấu cách');
            $("#AccountName").val('');
            return false;
        }
        if (!/^\w+$/i.test($("#AccountName").val())) {
            alert('Tài khoản không chứa ký tự lạ hoặc ký tự có dấu');
            $("#AccountName").val('');
            return false;
        }
    };
</script>
