﻿@*<%@ Page Title="" Language="C#" MasterPageFile="~/Views/Shared/Site.Master" Inherits="System.Web.Mvc.ViewPage<CustomerModel>
    " %>
    <%@ Import Namespace="EInvoice.CAdmin.Models" %>*@
@using EInvoice.CAdmin.Models
@model EInvoice.CAdmin.Models.CustomerModel
@{
    ViewBag.Title = "Tạo mới khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<asp:Content ID="Content1" ContentPlaceHolderID="TitleContent" runat="server">
    </asp:Content>*@
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            @using (Html.BeginForm("Create", "Customer", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                Html.RenderPartial("CtmShareElement", Model);
            }
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">
    function test() {
        if ($("form:first").valid()) {
            if ($('#tmpCustomer_TaxCode').val() != "") {
                checkMST($('#tmpCustomer_TaxCode').val(), 'save');
            }
            else document.forms[0].submit();
        }
    }
</script>

