﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@using Resources
@model EInvoice.CAdmin.Models.CustomerModel
@Html.Hidden("id", Model.tmpCustomer.id)
@Html.Hidden("ComID", Model.tmpCustomer.ComID)
@{Html.EnableClientValidation(); }
<div class="box-header" style="text-align:center">
    <h3 class="box-title">
        @{int CusType = -1; }
        @if (Model.tmpCustomer.id > 0)
        {
            @Resources.Einvoice.Cus_lblTitleEdit
        }
        else
        {
            @Resources.Einvoice.Cus_lblEnterCusInfo
        }
    </h3>
    <hr />
</div>
<!-- /.box-header -->
<section class="content form-horizontal">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            @Resources.Einvoice.Cus_LblCusCode  <span style='color:red'>(*)</span>
                        </label>
                        <div class="col-md-6">
                            @if (Model.tmpCustomer.id > 0)
                            {
                                @Html.LabelFor(model => model.tmpCustomer.Code, Model.tmpCustomer.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.tmpCustomer.Code, new { @class = "form-control required textandnum", @maxlength = "20", @placeholder = "Nhập không quá 20 ký tự", @style = "text-transform: uppercase;" })
                            }
                            @Html.ValidationMessageFor(model => model.tmpCustomer.Code, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">

                        @Html.LabelFor(model => model.tmpCustomer.TaxCode, Resources.Einvoice.Cus_LblTaxCode, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @*@onkeypress = "return checkCusCode(event);"*@
                            @Html.TextBoxFor(model => model.tmpCustomer.TaxCode, new { @class = "form-control", @maxlength = "20" })                        <a href="#TaxCode" onclick="check()">@Resources.Einvoice.Cus_LblCheckTaxCode </a>
                            @Html.ValidationMessageFor(model => model.tmpCustomer.TaxCode, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            @Resources.Einvoice.Cus_LblCusName  <span style='color:red'>(*)</span>
                        </label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.tmpCustomer.Name, new { @class = "form-control required", @maxlength = "200" })
                            @Html.ValidationMessageFor(model => model.tmpCustomer.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            Tài khoản khách hàng
                            <span style='color:red'>(*)</span>
                        </label>
                        <div class="col-md-6">
                            @if (Model.tmpCustomer.id > 0)
                            {
                                @Html.LabelFor(model => model.tmpCustomer.AccountName, Model.tmpCustomer.AccountName, htmlAttributes: new { @class = "control-label col-md-2" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.tmpCustomer.AccountName, new { @class = "form-control required", @maxlength = "20", onchange = "CheckAccountName()", @placeholder = "Nhập tài khoản cho khách hàng" })
                            }
                            @Html.ValidationMessageFor(model => model.tmpCustomer.AccountName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            @Resources.Einvoice.Cus_LblAddress
                            <span style='color:red'>(*)</span>
                        </label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.tmpCustomer.Address, new { @class = "form-control required", @maxlength = "290" })
                            @Html.ValidationMessageFor(model => model.tmpCustomer.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.tmpCustomer.Address, "Chọn cách phân phối hóa đơn", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @if (Model.tmpCustomer.DeliverMethod == -1)
                            {
                                <label>
                                    Gửi hóa đơn qua Mail <input class="deliverMail" name="DeliverMethod" id="Checkbox" type="checkbox" value="0">,
                                    Gửi hóa đơn qua SMS <input class="DeliverSMS" name="DeliverMethod" id="Checkbox0" type="checkbox" value="1" onclick="checkSMS()" />
                                </label>
                            }
                            else if (Model.tmpCustomer.DeliverMethod == 0)
                            {
                                <label>
                                    Gửi hóa đơn qua Mail<input class="deliverMail" name="DeliverMethod" id="Checkbox1" type="checkbox" checked="checked" value="0">,
                                    Gửi hóa đơn qua SMS<input class="DeliverSMS" name="DeliverMethod" id="Checkbox2" type="checkbox" value="1" onclick="checkSMS()" />
                                </label>
                            }
                            else if (Model.tmpCustomer.DeliverMethod == 1)
                            {
                                <label>
                                    Gửi hóa đơn qua Mail<input class="deliverMail" name="DeliverMethod" id="Checkbox3" type="checkbox" value="0">,
                                    Gửi hóa đơn qua SMS<input class="DeliverSMS" name="DeliverMethod" id="Checkbox4" type="checkbox" checked="checked" value="1" onclick="checkSMS()" />
                                </label>
                            }
                            else if (Model.tmpCustomer.DeliverMethod == 2)
                            {
                                <label>
                                    Gửi hóa đơn qua Mail<input class="deliverMail" name="DeliverMethod" id="Checkbox5" type="checkbox" checked="checked" value="0">,
                                    Gửi hóa đơn qua SMS<input class="DeliverSMS" name="DeliverMethod" id="Checkbox6" type="checkbox" checked="checked" value="1" onclick="checkSMS()" />
                                </label>
                            }
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            @Resources.Einvoice.Cus_LblPhone
                            <span id="lblPhone" style='color:red;display: none'>(*)</span>
                        </label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.tmpCustomer.Phone, new { @class = "form-control", @maxlength = "290", @placeholder = "Nhập số điện thoại" })
                            @Html.ValidationMessageFor(model => model.tmpCustomer.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.tmpCustomer.Fax, Resources.Einvoice.Cus_lblFax, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.tmpCustomer.Fax, new { @class = "form-control", @maxlength = "30" })
                            @Html.ValidationMessageFor(model => model.tmpCustomer.Fax, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">
                            @Resources.Einvoice.Cus_LblEmail
                            <span style='color:red'>(*)</span>
                        </label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.tmpCustomer.Email, new { @class = "form-control required multiemail", @maxlength = "300", @placeholder = Resources.Einvoice.Cus_ReqEmail })
                            @Html.ValidationMessageFor(model => model.tmpCustomer.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.tmpCustomer.RepresentPerson, Resources.Einvoice.Cus_LblRepPerson, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.tmpCustomer.RepresentPerson, new { @class = "form-control", @maxlength = "140" })
                            @Html.ValidationMessageFor(model => model.tmpCustomer.RepresentPerson, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.tmpCustomer.ContactPerson, Resources.Einvoice.Cus_LblContactPerson, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.tmpCustomer.ContactPerson, new { @class = "form-control", @maxlength = "250" })
                            @Html.ValidationMessageFor(model => model.tmpCustomer.ContactPerson, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.tmpCustomer.BankNumber, Resources.Einvoice.Cus_LblBankNumber, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.tmpCustomer.BankNumber, new { @class = "form-control", @maxlength = "40" })
                            @Html.ValidationMessageFor(model => model.tmpCustomer.BankNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.tmpCustomer.BankAccountName, Resources.Einvoice.Cus_LblBankAccont, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.tmpCustomer.BankAccountName, new { @class = "form-control", @maxlength = "180" })
                            @Html.ValidationMessageFor(model => model.tmpCustomer.BankAccountName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.tmpCustomer.BankName, Resources.Einvoice.Cus_LblBankName, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.tmpCustomer.BankName, new { @class = "form-control", @maxlength = "180" })
                            @Html.ValidationMessageFor(model => model.tmpCustomer.BankName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.tmpCustomer.Descriptions, Resources.Einvoice.Cus_LblDescription, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.TextAreaFor(model => model.tmpCustomer.Descriptions, new { @class = "form-control", @maxlength = "180", @rows = "10" })
                            @Html.ValidationMessageFor(model => model.tmpCustomer.Descriptions, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.tmpCustomer.CusType, Resources.Einvoice.Cus_LblType, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6">
                            @Html.DropDownList("tmpCustomer.CusType", new[]
                                 {
                                    new SelectListItem{Text=Resources.Einvoice.Cus_lblNotAccountingCus , Value="0", Selected= (CusType == 0)},
                                     new SelectListItem{Text=Resources.Einvoice.Cus_lblAccountingCus , Value="1", Selected=  (CusType == 1)}
                                 }, new { style = "width:300px", title = Resources.Einvoice.Cus_ReqInvStatus, onchange = "return cc()", @class = "required form-control" })
                            @Html.ValidationMessageFor(model => model.tmpCustomer.CusType, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group" style="display:none" id="serial">
                        <label class="control-label col-md-4">
                            @Resources.Einvoice.Cus_SerialCert
                            <span style='color:red'>(*)</span>
                        </label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.tmpCustomer.SerialCert, new { @class = "form-control", @maxlength = "180" })
                            @Html.ValidationMessageFor(model => model.tmpCustomer.SerialCert, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="form-group">
            <button type="button" class="btn btn-primary btn-flat" onclick="test()"><i class="fa fa-check-square-o margin-r-5"></i>@Resources.Einvoice.BtnSave</button>
                @*@Html.ActionLink("THAY ĐỔI MẬT KHẨU", "ChangePasswordCustomer", "Account", new { username = Model.tmpCustomer.AccountName ,@class= "btn btn-default btn-flat" })*@
            <a href="/Account/ChangePasswordCustomer?username=@Model.tmpCustomer.AccountName" class="btn btn-primary btn-flat"><i class="fa fa-arrow-left margin-r-5"></i>Đổi mật khẩu</a>
            <a href="/Customer/index" class="btn btn-primary btn-flat"><i class="fa fa-arrow-left margin-r-5"></i>@Resources.Einvoice.BtnBack</a>
            
        </div>
    </div>
</section>
<link href="/Content/css/SharedFormElements.css" rel="stylesheet" type="text/css" />
<link href="/Content/css/redmond/jquery-ui-1.8.12.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/Content/js/Share.js"></script>
<script>
    $(document).ready(function () {
        //validate multiemail
        jQuery.validator.addMethod("multiemail", function (value, element) {
            if (this.optional(element)) {
                return true;
            }
            var emails = value.split(','),
        valid = true;
            for (var i = 0, limit = emails.length; i < limit; i++) {
                value = emails[i];
                valid = valid && jQuery.validator.methods.email.call(this, value, element);
            }
            return valid;
        }, "email không hợp lệ: vui lòng sử dụng dấu , để ngăn cách giữa các địa chỉ email.");

        $('form:first').submit(function () {
            if (!$('#tmpCustomer_Code').val() && !$('#tmpCustomer_Name').val()) {
                $('form:first').valid();
            }
        });
        $('form:first').validate({ onfocusin: false });
        //$("#tmpCustomer_AccountName").keyup(function (event) {
        //    if ($(this).val().indexOf(' ') >= 0) {
        //        alert('Tên tài khoản không có dấu cách');
        //        $(this).val('');
        //        return false;
        //    }
        //    if (!/^\w+$/i.test($(this).val())) {
        //        alert('Tài khoản không chứa ký tự lạ hoặc ký tự có dấu');
        //        $(this).val('');
        //        return false;
        //    }
        //});
        cc();
    });
    function cc() {
        if ($("#tmpCustomer_CusType").val() == 0) {
            document.getElementById("tmpCustomer_TaxCode").className = 'form-control';
            document.getElementById("serial").style.display = 'none';
            document.getElementById("tmpCustomer_SerialCert").className = '';
            // document.getElementById("code").style.display = 'none';
            $('#tmpCustomer_Code').attr({ title: '' });
            $("#tmpCustomer_SerialCert").val("");
            $("#Cer").val("");
            $("#OwnCA").val("");
            $("#OrganizationCA").val("");
            $("#ValidForm").val("");
            $("#ValidTo").val("");
        }
        else {
            //document.getElementById("code").style.display = 'block';
            document.getElementById("tmpCustomer_TaxCode").className = 'form-control required';
            $('#tmpCustomer_TaxCode').attr("title", '@Html.Raw(Resources.Einvoice.Cus_ReqTaxCode)');
            document.getElementById("serial").style.display = 'block';
            document.getElementById("tmpCustomer_SerialCert").className = 'form-control required';
        }
        if ($('input:checkbox:checked.DeliverSMS').val() == "1") {
            document.getElementById("tmpCustomer_Phone").style.display = 'block';
            document.getElementById("tmpCustomer_Phone").className = 'form-control required';
        }
        else {
            //document.getElementById("tmpCustomer_Phone").style.display = 'none';
            document.getElementById("tmpCustomer_Phone").className = "form-control";
        }
    }
    //1.select deliverMethod need:
    //+ deliverMethod=0:required Email,
    //+ deliverMethod=1:required TelephoneNumber
    function checkSMS() {
        if ($('input:checkbox:checked.DeliverSMS').val() == "1") {
            document.getElementById("lblPhone").style.display = 'block';
            document.getElementById("tmpCustomer_Phone").className = 'form-control required';
            document.getElementById("tmpCustomer_Phone").style.display = 'block';
        }
        else {
            //document.getElementById("tmpCustomer_Phone").style.display = 'none';
            document.getElementById("tmpCustomer_Phone").className = "form-control";
            document.getElementById("lblPhone").style.display = 'none';
        }
    }
    function AutoSucGetAcc(accid) {
        {
            $('#' + accid).autocomplete(
            {
                minLength: 1,
                source: function (request, response) {
                    $.ajax(
                    {
                        type: "POST",
                        url: '/Customer/SearchByAccountName?searchText=' + $('#' + accid).attr("value"),
                        dataType: "json",
                        data: { term: "" },
                        success: function (data) {
                            response($.map(data, function (u) {
                                return {
                                    label: u.username,
                                    value: u.username
                                }
                            }));
                        }
                    });
                }
            });
        }
    }
    function check() {
        if ($("#tmpCustomer_TaxCode").val() != "")
            checkMST($('#tmpCustomer_TaxCode').val(), '');
    }
    //Chỉ cho phép nhập số
    function keypress(e) {
        var keypressed = null;
        if (window.event) { //IE
            keypressed = window.event.keyCode;
            if (keypressed < 48 || keypressed > 57) {
                return false;
            }
        }
        else {
            keypressed = e.which; //NON-IE, Standard
            if (keypressed < 48 || keypressed > 57) {
                if (e.charCode == 0) {// không phải kí tự
                    return;
                }
                return false;
            }
        }
    }
    //$('#tmpCustomer_Code').blur(function () {
    //    $('#tmpCustomer_Code').val($('#tmpCustomer_Code').val().toUpperCase().replace(' ',''));
    //});
    function CheckAccountName() {
        if ($("#tmpCustomer_AccountName").val().indexOf(' ') >= 0) {
            alert('Tên tài khoản không có dấu cách');
            $("#tmpCustomer_AccountName").val('');
            return false;
        }
        if (!/^\w+$/i.test($("#tmpCustomer_AccountName").val())) {
            alert('Tài khoản không chứa ký tự lạ hoặc ký tự có dấu');
            $("#tmpCustomer_AccountName").val('');
            return false;
        }
    };
</script>
