﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@model EInvoice.CAdmin.Models.CusIndexModel
@{
    ViewBag.Title = "Danh sách khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">QUẢN LÝ KHÁCH HÀNG</h3>
                <hr />
            </div>
            <div class="box-body">
                <!-- /.box-header -->
                <form id="Searchform" method="get" action="/Customer/Index" class="form-inline">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-md-3" style="padding-left: 0">
                                <label style="font-weight: bold">@Resources.Einvoice.Cus_LblCusName:</label>
                                <input id="name" name="name" type="text" value="@Model.name" maxlength="200" class="form-control" style="width: 85%;" />
                            </div>
                            <div class="form-group col-md-3">
                                <label style="font-weight: bold">@Resources.Einvoice.Cus_LblCusCode:</label>
                                <input id="code" name="code" class="form-control" type="text" value="@Model.code" maxlength="20" style="width: 88%;" />
                            </div>
                            <div class="form-group col-md-3">
                                <button id="Submit1" type="submit" class="btn btn-primary btn-flat"><i class="glyphicon glyphicon-search"></i> Tìm kiếm</button>
                            </div>
                            <div class="form-group col-md-3" style="padding-right: 0">
                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Add_cus"))
                                {
                                    <a class="btn btn-primary btn-flat pull-right" href="/Customer/Create/" title="Create">
                                        <i class="glyphicon glyphicon-plus"></i> Tạo mới
                                    </a>
                                }
                            </div>
                        </div>
                    </div>
                </form>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <table id="example2" class="table table-bordered table-hover table-striped table-responsive have-action dataTable textTable" role="grid" aria-describedby="example2_info">
                            <thead class="textThead">
                                <tr role="row">
                                    <th width="20px">
                                        STT
                                    </th>
                                    <th width="150px">
                                        @Resources.Einvoice.Cus_LblCusName
                                    </th>
                                    <th width="100px">
                                        @Resources.Einvoice.Cus_LblCusCode
                                    </th>
                                    <th width="250px">
                                        @Resources.Einvoice.Cus_LblAddress
                                    </th>
                                    <th width="100px">
                                        @Resources.Einvoice.Cus_LblPhone
                                    </th>
                                    <th width="180px">
                                        @Resources.Einvoice.Cus_LblEmail
                                    </th>
                                    <th width="120px">
                                        @Resources.Einvoice.Cus_LblAccountName
                                    </th>
                                    <th width="25px">
                                        @Resources.Einvoice.LblEdit
                                    </th>
                                    <th style="border-right-color: #EEE; width: 25px;">
                                        @Resources.Einvoice.LblDelete
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var cuslst = Model.PagedListCUS.ToList();
                                    int i = Model.PagedListCUS.PageIndex * Model.PagedListCUS.PageSize + 1;
                                }
                                @foreach (Customer cus in cuslst)
                                {
                                    <tr>
                                        <td align="center">@i</td>
                                        <td>@cus.Name</td>
                                        <td>@cus.Code</td>
                                        <td>@cus.Address</td>
                                        <td>@cus.Phone</td>
                                        <td style="word-break: break-word;">@cus.Email</td>
                                        <td style="text-align: left">@cus.AccountName</td>
                                        <td style="text-align: center">
                                            @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Edit_cus"))
                                            {
                                                <a href="/Customer/Edit/@cus.id" title="Edit">
                                                    <span class="glyphicon glyphicon-edit"></span>
                                                </a>
                                            }
                                        </td>
                                        <td style="text-align: center">
                                            @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Del_cus"))
                                            {
                                                <a href="#" onclick="OnDelete(@cus.id)" title="Delete">
                                                    <span class="glyphicon glyphicon-remove-circle"></span>
                                                </a>
                                            }
                                        </td>
                                    </tr>
                                    i++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-2">
                        <div class="pager row pull-right">
                            @Html.Pager(Model.PagedListCUS.PageSize, Model.PagedListCUS.PageIndex + 1, Model.PagedListCUS.TotalItemCount, new
                       {
                           action = "index",
                           controller = "Customer",
                           name = Model.name,
                           code = Model.code
                       })
                        </div>
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <!-- /.col -->
</div>

<div id="Content2" contentplaceholderid="MainContent">
    <script language="javascript" type="text/javascript">
        function OnDelete(id) {
            if (!confirm("Bạn có chắc chắn xóa khách hàng này không?"))
                return;
            document.location = "/Customer/delete?id=" + id;
        }
    </script>
</div>
<link href="~/Content/grid.css" rel="stylesheet" />
