﻿@using EInvoice.Core
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@model EInvoice.CAdmin.Models.LaunchModel
@{
    ViewBag.Title = "PHÁT HÀNH HÓA ĐƠN THEO LÔ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clear">
</div>
<div class="row" style="padding-top: 0;">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">PHÁT HÀNH LÔ HÓA ĐƠN</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--search box-->
                <div class="row">
                    <div class="col-sm-12 form-horizontal">
                        <div class="col-sm-4 col-sm-offset-2">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Pattern, @Resources.Einvoice.PLInv_LblPattern, new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                <div class="col-sm-7">
                                    @Html.DropDownList("Pattern", Model.Listpattern, "--Mẫu số--", new { @id = "Pattern", @onchange = "GetDataSerial()", @class = "form-control dropdownlist", title = "Mẫu hóa đơn" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.FromDate, "Từ ngày: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(m => m.FromDate, Model.FromDate, new { @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()", style = "width: 85%; display: inline-block;" })
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Serial, @Resources.Einvoice.PLInv_LblSerial, new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                <div class="col-sm-7">
                                    @Html.DropDownList("Serial", Model.Listserial, "--Ký hiệu--", new { @id = "Serial", @name = "Serial", @class = "form-control dropdownlist" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ToDate, "Đến ngày: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(m => m.ToDate, Model.ToDate, new { @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()", style = "width: 85%; display: inline-block;" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <input type="button" id="btnId" class="btn btn-primary btn-flat" onclick="LaunchInvoice();" value="Phát hành lô hóa đơn" />
                        <p id="noteP"> @Resources.Einvoice.PLInv_NotePleaseWaitToPublish </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
@section styles{
    <style>
        #MailList {
            text-align: center;
        }

        label {
            font-weight: 700;
        }

        .left-align {
            text-align: left;
        }

        #btnId {
            margin-left: 41%;
        }

        #noteP {
            margin-left: 10%;
            margin-top: 2%;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript" src="/Content/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
    <script src="/Content/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
    <script src="/Content/js/date.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
        //phát hành theo lô hoas đơn
        function LaunchInvoice() {
            if (!confirm("Bạn có chắc chắn thực hiện phát hành lô hóa đơn không?"))
                return;
            var pattern = $("#Pattern option:selected").text();
            var patternId = $("#Pattern").val();
            var serial = $("#Serial").val();
            var fromDate = $("#FromDate").val();
            var toDate = $("#ToDate").val();
            if (patternId == "" || serial == "" || fromDate == "" || toDate == "") {
                bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: "@Html.Raw(Resources.Message.MInv_MesReqInformation)",
                    size: 'small',
                });
                return false;
            }
            $.blockUI({
                message: '<h1><img src="../../Content/Images/please_wait.gif" />Xin vui lòng đợi!</h1>', fadeIn: 0,
                fadeOut: 10, timeout: 240000
            });
            var jsondata = "FromDate=" + fromDate + "&ToDate=" + toDate + "&pattern=" + pattern + "&serial=" + serial;
            $.ajax({
                type: "POST",
                url: "/EInvoiceAirPort/LaunchCollectInvoice/",
                data: jsondata,
                success: function (data) {
                    if (data == "True") {
                        $.unblockUI();
                        FanxiMessage("@Resources.Message.PInv_Msuccess");
                        document.location = '/EInvoiceAirPort/Index';
                    }
                    else {
                        $.unblockUI();
                        location.reload();
                    }
                }
            });
        }

        //lấy ra danh sách serial khi chọn pattern
        function GetDataSerial() {
            var jsondata = "opattern=" + $("#Pattern").val();
            $.ajax({
                type: "POST",
                url: "/EInvoice/GetSerialByPatter/",
                data: jsondata,
                success: function (data) {
                    sl = document.getElementById("Serial");
                    while (sl.firstChild) {
                        sl.removeChild(sl.firstChild);
                    }
                    if (data.pu.length > 0) {
                        newOpt = new Option("--Ký hiệu--", "");
                        document.getElementById("Serial").options.add(newOpt);
                        newOpt.selected = true;
                        for (i = 0; i < data.pu.length; i++) {
                            newOption = new Option(data.pu[i]);
                            document.getElementById("Serial").options.add(newOption);
                        }
                        var objSelect = document.getElementById("Serial");
                        for (var i = 0; i < objSelect.options.length; i++) {
                            if (objSelect.options[i].value == document.getElementById("Serial").value) {
                                objSelect.options[i].selected = true;
                                break;
                            }
                        }
                    }
                }
            });
        }
        function htmlEncode(value) {
            return $('<div/>').text(value).html();
        }
        function htmlDecode(value) {
            return $('<div/>').html(value).text();
        }
        //định dạng datepicker
        jQuery(function ($) {
            $.datepicker.regional['vi'] = {
                closeText: 'Đóng',
                prevText: '&#x3c;Trước',
                nextText: 'Tiếp&#x3e;',
                currentText: 'Hôm nay',
                monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
		'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
                monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
		'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
                dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                weekHeader: 'Tu',
                dateFormat: 'dd/mm/yy',
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
        });
        $(function ($) {
            $(".vietnameseDate").mask("99/99/9999");
        });

        //Định dạng ngày tháng khi nhập
        function getHiddenValue() {
            var stringDate1 = $("#FromDate").val();
            var d1 = Date.parseExact(stringDate1, "d/M/yyyy");
            if (d1 == null && stringDate1 != null) { // nhập không đúng định dạng ngày tháng
                $("#FromDate").val("");
            }
            var stringDate2 = $("#ToDate").val();
            var d2 = Date.parseExact(stringDate2, "d/M/yyyy");
            if (d2 == null && stringDate2 != null) { // nhập d2 không đúng định dạng
                $("#ToDate").val("");
            }
            if (d1 != null && d2 != null && d1 > d2) {
                bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: "@Html.Raw(Resources.Message.Dec_MesToDateBigBeginDate)",
                    size: 'small',
                });
                $("#ToDate").val("");
            }
        }

        $(document).ready(function () {
            $(document).ready(function () {
                $.datepicker.setDefaults($.datepicker.regional['vi']);
                $(".datepicker").datepicker({
                    showOn: "button",
                    buttonImage: "/Content/images/calendar.gif",
                    buttonImageOnly: true,
                    changeMonth: true,
                    changeYear: true
                });
            });
            $('form:first').validate();
        });
    </script>
}



