﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@model WriteNoteModel
@{
    ViewBag.Title = "Thêm thông tin ghi chú";
    Layout = "~/Views/Shared/_Layout.cshtml";

}


@*<link href="/Content/css/SharedFormElements.css" rel="stylesheet" type="text/css" />*@
<link href="/Content/css/redmond/jquery-ui-1.8.12.custom.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/Content/js/Share.js"></script>

<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">Thêm thông tin ghi chú</h3>
                <hr />
                </div>
                <div class="box-body">
                    <div class="">
                        
                        @using (Html.BeginForm("WriteNote", "EInvoiceAirPort", FormMethod.Post))
                        {
                            @Html.Hidden("id",Model.id)
                            @Html.Hidden("pattern", Model.pattern)
                            @Html.Hidden("TypeView", Model.TypeView)
                            <div class="row">
                                <div class="col-sm-2">
                                    Ghi chú hóa đơn:<span style="color:red">(*)</span>
                                </div>
                                <div class="col-sm-10">
                                    @Html.TextArea("Note", Model.Note, new { style = "width:100%;height:150px", @class = "required", @readonly = "readonly", title = "Thêm vào ghi chú!" })
                                </div>
                            </div>
                            <div class="row">
                                <center>
                                    <div class="col-sm-12">
                                        @{
                                            if (Model.TypeView == "0")
                                            {
                                                <input type="button" class="btn btn-primary btn-flat btn-cancel" value="@Resources.Einvoice.BtnBack" onclick="window.history.back();" />
                                            }
                                            else
                                            {
                                                <input type="button" class="btn btn-primary btn-flat btn-cancel" value="@Resources.Einvoice.BtnBack" onclick='window.history.back()' />
                                            }
                                        }
                                    </div>
                                </center>
                            </div>
                                
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>