﻿@using EInvoice.Core.Domain
@model EInvoice.Core.Domain.Resourceareas
@{
    ViewBag.Title = "Sửa thông tin vùng dữ liệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
@*<link href="~/Content/css/SharedFormElements.css" rel="stylesheet" />*@
<div ID="Content2" ContentPlaceHolderID="MainContent">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                @using (Html.BeginForm("Edit", "Resource", FormMethod.Post))
            {
                    @Html.AntiForgeryToken()
                    Html.RenderPartial("ResourceShareElement", Model);
                }
            </div>
        </div>
    </div>
</div>



