﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@model EInvoice.Core.Domain.Resourceareas
<link href="~/Content/css/SharedFormElements.css" rel="stylesheet" />
<script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
@Html.HiddenFor(m => m.id)
@Html.HiddenFor(m => m.ComID)
@{Html.EnableClientValidation(); }
<div class="box-header" style="text-align:center">
    <h3 class="box-title">
        @if (Model.id > 0)
        {
            @Resources.Einvoice.ResArea_LblEditTitle
        }
        else
        {
            @Resources.Einvoice.ResArea_LblCreateTitle
        }
    </h3>
    <hr />
</div>
<!-- /.box-header -->
<section class="content form-horizontal">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            @Resources.Einvoice.Prod_LblCode
                            <span style='color:red'>(*)</span>
                        </label>
                        <div class="col-md-6">
                            @if (Model.id > 0)
                            {
                                @Html.LabelFor(model => model.Code, Model.Code, htmlAttributes: new { @class = "control-label col-md-2" })
                            }
                            else
                            {
                                @Html.TextBoxFor(model => model.Code, new { @class = "form-control required textandnum", @maxlength = "20", @placeholder = "Nhập không quá 20 ký tự" })
                            }
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">
                            @Resources.Einvoice.Prod_LblName
                            <span style='color:red'>(*)</span>
                        </label>
                        <div class="col-md-6">
                            @Html.TextBoxFor(model => model.Name, new { @class = "form-control required", @maxlength = "200" })
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>
                    </div>
             
                    <div class="form-group">
                        @Html.LabelFor(model => model.Description, Resources.Einvoice.Prod_LblDescription, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.TextAreaFor(model => model.Description, new { @class = "form-control", @rows = "10", @maxlength = "190" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-flat"><i class="fa fa-check-square-o margin-r-5"></i>@Resources.Einvoice.BtnSave</button>
            <a href="/Resource/index" class="btn btn-primary btn-flat"><i class="fa fa-arrow-left margin-r-5"></i>@Resources.Einvoice.BtnBack</a>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $('form:first')
            .submit(function () {
                var _price = $('#Price').val();
                $('#Price').val(String(_price).replaceAll(',', ''));
            }).validate();
        $('#Price').keydown(function (e) {
            debugger;
            $(this).val($(this).val().toUpperCase().replace(/([^0-9A-Z])/g, ""));
            var mLen = $(this)["maxlength"];
            if (null == mLen)
                mLen = length;

            var maxLength = parseInt(mLen);
            //if (!checkSpecialKeys(e)) {
            //    if ($(this).val().length > maxLength - 1) {
            //        if (window.event)//IE
            //            e.returnValue = false;
            //        else//Firefox
            //            e.preventDefault();
            //    }
            //}
        });
        $('#Price').ForceNumericOnly()
            .focus(function () {
                var _val = $(this).val();
                $(this).val(_val.replaceAll(',', ''));
            })
            .focusout(function () {
                var _val = $(this).val();
                if (_val) {
                    var _fr = _val.indexOf('.') > -1 ? parseFloat(_val).format(2, 3) : parseInt(_val).format(0, 3);
                    $(this).val(_fr || '').trigger('change');
                }
            }).trigger('focusout');
    });

    /// Chỉ cho nhập số vào textbox
    jQuery.fn.ForceNumericOnly = function () {
        return this.each(function () {
            $(this).keydown(function (e) {
                var key = e.charCode || e.keyCode || 0;
                var comma = $(this).hasClass('comma');
                /// One . key press
                if (comma && comma == true && $(this).val().indexOf('.') > -1 && key == 110) {
                    return false;
                }
                // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
                // home, end, period, and numpad decimal
                return (
                    key == 8 ||
                    key == 9 ||
                    key == 13 ||
                    key == 46 ||
                    (key == 110 ? (comma && comma == true) ? true : false : false) ||
                    key == 190 ||
                    (key >= 35 && key <= 40) ||
                    (key >= 48 && key <= 57) ||
                    (key >= 96 && key <= 105) ||
                    (key >= 112 && key <= 123));
            });
        });
    };

    /// Format số tiền
    Number.prototype.format = function (n, x) {
        var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
        return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$&,');
    };

    String.prototype.replaceAll = function (strTarget, strSubString) {
        var _text = this;
        var intIndexOfMatch = _text.indexOf(strTarget);

        while (intIndexOfMatch != -1) {
            _text = _text.replace(strTarget, strSubString)
            intIndexOfMatch = _text.indexOf(strTarget);
        }
        return (_text);
    }
    //Chỉ cho phép nhập số
    function keypress(e) {
        var keypressed = null;
        if (window.event) { //IE
            keypressed = window.event.keyCode;
            if (keypressed < 48 || keypressed > 57) {
                return false;
            }
        }
        else {
            keypressed = e.which; //NON-IE, Standard
            if (keypressed < 48 || keypressed > 57) {
                if (e.charCode == 0) {// không phải kí tự
                    return;
                }
                return false;
            }
        }
    }
</script>

