﻿@using EInvoice.Core.Domain
@model EInvoice.Core.Domain.InvoiceVAT

@{
    Layout = null;
    List<string> ser = (List<string>)ViewData["ser"];
    SelectList serSelect = new SelectList(ser);
    Company oCompany = (Company)ViewData["company"];
    EInvoice.Core.IService.IConfigService _Config = FX.Core.IoC.Resolve<EInvoice.Core.IService.IConfigService>();
    var DicEx = _Config.Query.Where(a => a.ComID == oCompany.id && a.Key.Contains("Extra_"));
    var Listvalue = new Dictionary<string, string>();

    try
    {
        Listvalue = Model.Extras.ToDictionary(x => x.Key, x => x.Value);
    }
    catch (Exception)
    {
    }
    
    List<string> taxCode = new List<string>();
    string temp = oCompany.TaxCode + " ";
    for (int i = 0; i < temp.Length; i++)
    {
        taxCode.Add(temp[i].ToString());
    }
}

@*them moi*@
<link href="~/Content/css/style.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/SharedFormElements.css" rel="stylesheet" />
<link href="~/Content/css/grid.css" rel="stylesheet" />
<link href="~/Content/css/styleForm.css" rel="stylesheet" />
<style type="text/css">
    .widget-header {
        margin-top: 3px;
    }

    input, select {
        min-height: 0px;
    }

    .label {
        font-weight: normal;
        color: black;
        font-size: 13px;
        text-align: left;
    }
</style>

@Html.Hidden("id", Model.id)
@Html.Hidden("ComID", Model.ComID)
@Html.Hidden("ComPhone", oCompany.Phone)
@Html.Hidden("ComBankName", oCompany.BankName)
@Html.Hidden("ComBankNo", oCompany.BankNumber)
@Html.Hidden("ComTaxCode", oCompany.TaxCode)
@Html.Hidden("PubDatasource")
@Html.Hidden("VatAmount0", Model.VatAmount0)
@Html.Hidden("VatAmount5", Model.VatAmount5)
@Html.Hidden("VatAmount10", Model.VatAmount10)
@Html.Hidden("GrossValue", Model.GrossValue)
@Html.Hidden("GrossValue0", Model.GrossValue0)
@Html.Hidden("GrossValue5", Model.GrossValue5)
@Html.Hidden("GrossValue10", Model.GrossValue10)
@Html.Hidden("GrossValueNonTax", Model.GrossValueNonTax)
@Html.Hidden("NumberBehindComma", ViewData["NumberBehindComma"])
@Html.Hidden("DicExsource")
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box-header" style="text-align:center">
            <h3 class="box-title">@Resources.Einvoice.MInv_lblInputDetailInfomationInvoice</h3>
            <hr />
        </div>
        <div class="">
            <div class="frm-header" id="formHeader">
                <div class="left">
                    <div class="line">
                        <div class="label w120">@Html.LabelFor(m => m.Name, labelText: Resources.Einvoice.MInv_LblNameInv)</div>
                        <div class="control">@Html.TextBox("Name", Model.Name, new { @class = "required textc", maxlength = "150" })</div>
                    </div>
                    <div class="line">
                        <div class="label w120">@Html.LabelFor(m => m.ComTaxCode, Resources.Einvoice.MInv_LblComTaxcode)</div>
                        <div class="control">
                            @{
                                int _taxindex = 0;
                                int[] space = new[] { 2, 10, 13 };
                                foreach (var tax in taxCode)
                                {
                                    <span class="mst @Html.Raw( space.Contains(_taxindex) ? "ml3" : "nbl"  )"> @Html.Raw(String.IsNullOrEmpty(tax.Trim()) ? "&nbsp" : tax)</span>
                                    _taxindex++;
                                }
                            }
                        </div>
                    </div>
                    <div class="line">
                        <div class="label w120">
                            @Html.LabelFor(m => m.ComName, labelText: Resources.Einvoice.MInv_LblComName)
                        </div>
                        <div class="control">
                            @Html.TextBox("ComName", oCompany.Name, new { @readonly = "readonly", @tabindex = -1, maxlength = "200" })
                        </div>
                    </div>
                </div>
                <div class="line">
                    <div class="label w90">
                        @Html.LabelFor(m => m.Pattern, labelText: Resources.Einvoice.MInv_LblPattern)
                    </div>
                    <div class="control">
                        @Html.TextBoxFor(m => m.Pattern, new { @readonly = "readonly", @tabindex = -1 })
                    </div>
                </div>
                <div class="line">
                    <div class="label imp w90">
                        @Html.LabelFor(m => m.Serial, labelText: Resources.Einvoice.MInv_LblSerial)
                    </div>
                    <div class="control">
                        @Html.DropDownListFor(m => m.Serial, serSelect, "-- Chọn --", new { @class = "required", @autofocus = "autofocus" })
                    </div>
                </div>
                <div class="line">
                    <div class="label w90">
                        @Html.LabelFor(m => m.No, labelText: Resources.Einvoice.MInv_lblNo)
                    </div>
                    <div class="control">
                        @Html.TextBox("No", "0000000", new { @readonly = "readonly", @tabindex = -1, maxlength = "7" })
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="label w120">@Html.LabelFor(m => m.ComAddress, labelText: Resources.Einvoice.MInv_LblAddress)</div>
                <div class="control">@Html.TextBox("ComAddress", oCompany.Address, new { maxlength = "290", @readonly = "readonly" })</div>
            </div>
            <div class="line">
                <div class="label">
                    @Html.LabelFor(m => m.Buyer, labelText: Resources.Einvoice.MInv_LblBuyer)
                </div>
                <div class="control">
                    @Html.TextBoxFor(m => m.Buyer, new { maxlength = "240" })
                </div>
            </div>
            <div class="left w70p">
                <div class="line">
                    <div class="label">@Html.LabelFor(m => m.CusName, labelText: Resources.Einvoice.MInv_LblCompanyName)</div>
                    <div class="control">@Html.TextBoxFor(m => m.CusName, new { maxlength = "150" })</div>
                </div>
            </div>
            <div class="right">
                <div class="line">
                    <div class="label w80" >
                    @Html.LabelFor(m => m.CusTaxCode, labelText: Resources.Einvoice.MInv_LblCusTaxCode)</div>
                    <div class="control">
                        @Html.TextBox("CusTaxCode", Model.CusTaxCode, new { @maxlength = 14, @class = "formatTaxCode" })
                    </div>
                </div>
            </div>
            @if (WSHelper.Instance.CheckResourceCode(oCompany))
            {
                <div class="line">
                    <div class="label w120">
                        @Html.LabelFor(m => m.ResourceCode, Resources.Einvoice.MInv_LblReSourceCode)
                    </div>
                    <div class="control">
                        @Html.TextBoxFor(m => m.ResourceCode, new { maxlength = "20" })
                    </div>
                </div>
            }
            <div class="line">
                <div class="label w120" id="lbCusAddress">
                    @Html.LabelFor(m => m.CusAddress, labelText: Resources.Einvoice.MInv_LblAddress)
                </div>
                <div class="control">
                    @Html.TextBox("CusAddress", Model.CusAddress, new { maxlength = "290" })
                </div>
            </div>
            <div class="left w50p" style="width: 25% !important">
                <div class="line">
                    <div class="label w120">
                        @Html.LabelFor(m => m.CusPhone, labelText: Resources.Einvoice.MInv_LblPhone)
                    </div>
                    <div class="control">
                        @Html.TextBox("CusPhone", Model.CusPhone, new { @maxlength = 20 })
                    </div>
                </div>
            </div>
            <div class="left w50p">
                <div class="line">
                    <div class="label w80">
                        @Html.LabelFor(m => m.EmailDeliver, labelText: Resources.Einvoice.MInv_LblEmailDeliver)
                    </div>
                    <div class="control">
                        @Html.TextBoxFor(m => m.EmailDeliver, new { @maxlength = 300 })
                    </div>
                </div>
            </div>
            <div class="right" style="width: 25% !important">
                <div class="line">
                    <div class="label w80">
                        @Html.LabelFor(m => m.CusCode, labelText: Resources.Einvoice.MInv_lblCode)
                    </div>
                    <div class="control">
                        @Html.TextBoxFor(m => m.CusCode, new { maxlength = "50" })
                    </div>
                </div>
            </div>
            <div class="line">
                <div class="label w120 imp">
                    @Html.LabelFor(m => m.PaymentMethod, labelText: Resources.Einvoice.MInv_LblPayMethod)
                </div>
                <div class="control">
                    @Html.DropDownListFor(m => m.PaymentMethod, new[]
                {
                new SelectListItem{Text=Resources.Einvoice.Minv_txtCashingPay, Value="TM", Selected= (Model.PaymentMethod == "TM")},
                new SelectListItem{Text=Resources.Einvoice.MInv_txtTransferPay, Value="CK",Selected= (Model.PaymentMethod == "CK")},
                new SelectListItem{Text=Resources.Einvoice.Minv_txtCreditCardPay, Value="TTD",Selected= (Model.PaymentMethod == "TTD")},
                new SelectListItem{Text="Hình thức HDDT", Value="HDDT",Selected= (Model.PaymentMethod == "HDDT")},
                new SelectListItem{Text=Resources.Einvoice.MInv_Minv_txtCashingPayAndTransferPay,Value="TM, CK",Selected=(Model.PaymentMethod=="TM, CK")},
                new SelectListItem{Text=Resources.Einvoice.MInv_txtClearingPay,Value="Bù trừ",Selected=(Model.PaymentMethod=="Bù trừ")}
                }, "-- Chọn hình thức thanh toán --", new { @class = "required" })
                </div>
            </div>
            <div class="line" style="display:none">
                <div class="label w120 imp">
                    @Html.LabelFor(m => m.CurrencyUnit, labelText: "Loại tiền tệ  (Types of Money)")
                </div>
                <div class="control">
                    @Html.DropDownListFor(m => m.CurrencyUnit, new[]
                {
                new SelectListItem
                {
                Text="Việt Nam đồng", Value="VND",Selected= (Model.CurrencyUnit == "VND")
                },
                new SelectListItem
                {
                Text="Đô-la Mỹ", Value="USD",Selected= (Model.CurrencyUnit == "USD")
                }
                })
                </div>
            </div>
            <div class="left w50p" id="divTyGia">
                <div class="line">
                    <div class="label w120" style="font-weight: bold">
                        <div class="label w120 tyGia" style="font-weight: bold">
                            <span>Tỷ giá 1 </span>
                            <span id="moneySymbol"></span>
                            <span>=:</span>
                        </div>
                    </div>
                    <div class="control">
                        @Html.TextBox("ExchangeRate", Model.ExchangeRate.ToString().Replace(",", "."), new { @class = "textr _number", @tabindex = -1, maxlength = "50", style = "width: 89%;" })
                        <span style="font-weight: bold">VND.</span>
                    </div>
                </div>
            </div>
            <div class="right" id="divTongTien">
                <div class="line">
                    <div class="label w80">
                        @Html.LabelFor(m => m.ConvertedAmount, labelText: "Tổng tiền")
                    </div>
                    <div class="control">
                        @Html.TextBox("ConvertedAmount", Model.ConvertedAmount.ToString().Replace(",", "."), new { maxlength = "50", @class = "textr _number", @readonly = "readonly", Style = "pointer-events: none;" })
                    </div>
                </div>
            </div>

            @{
                foreach (var item in DicEx)
                {

                    var objSon = new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<EInvoice.CAdmin.Models.ExtraModel>(item.Value);
                    string caseSwitch = objSon.DesignControl.Type;

                    var listItems = new List<System.Web.UI.WebControls.ListItem>();
                    string ClassCss = (objSon.DesignControl.Required ? "required " : "") + (objSon.DataType.Contains("decimal") ? "ANumber quantity textr _number" : "");

                    switch (caseSwitch)
                    {
                        case "dropdown":
                            string[] dropValues = objSon.DesignControl.Values.Split(',');
                            string[] dropTexts = objSon.DesignControl.Texts.Split(',');
                            for (int i = 0; i < dropValues.Count(); i++)
                            {
                                listItems.Add(new System.Web.UI.WebControls.ListItem { Text = dropTexts[i], Value = dropValues[i] });

                            }
                            <div class="line">

                                <div class="label w120  @(objSon.DesignControl.Required ? "imp" : string.Empty)">
                                    @Html.Label(item.Key, (string)objSon.DesignControl.Caption)
                                </div>
                                <div class="control">
                                    @Html.DropDownList(item.Key, new SelectList(listItems, "Value", "Text", Listvalue.ContainsKey(item.Key) ? Listvalue[item.Key] : string.Empty), (string)objSon.DesignControl.DisplayDefault, objSon.DesignControl.Required ? (object)new { @style = "width:327px;", @class = "required" } : new { @style = "width:327px;" })
                                </div>
                            </div>
                            break;
                        case "textbox":
                            <div class="line">
                                <div class="label w120  @(objSon.DesignControl.Required ? "imp" : string.Empty)">
                                    @Html.Label(item.Key, (string)objSon.DesignControl.Caption)
                                </div>
                                <div class="control">
                                    @Html.TextBox(item.Key, Listvalue.ContainsKey(item.Key) ? Listvalue[item.Key] : string.Empty, (object)new { maxlength = "500", @class = ClassCss })
                                </div>
                            </div>
                            break;
                        case "richtext":
                            <div class="line">

                                <div class="label w120  @(objSon.DesignControl.Required ? "imp" : string.Empty)">
                                    @Html.Label(item.Key, (string)objSon.DesignControl.Caption)
                                </div>
                                <div class="control">

                                    @Html.TextArea(item.Key, Listvalue.ContainsKey(item.Key) ? Listvalue[item.Key] : string.Empty, objSon.DesignControl.Required ? (object)new { maxlength = "500", @class = "required" } : new { maxlength = "500" })
                                </div>
                            </div>
                            break;
                        case "checkbox":
                            <div class="line">
                                <div class="label @(objSon.DesignControl.Required ? "imp" : Listvalue.ContainsKey(item.Key) ? Listvalue[item.Key] : string.Empty)">
                                    @Html.Label(item.Key, (string)objSon.DesignControl.Caption)
                                </div>
                                <div class="control">
                                    @Html.CheckBox(item.Key, Listvalue.ContainsKey(item.Key) ? bool.Parse(Listvalue[item.Key]) : false, new { @class = ClassCss })
                                </div>
                            </div>
                            break;
                        default:
                            break;
                    }
                }
            }


            <div class="line">
                <table class="products">
                    <thead>
                        <tr>
                            <th style="width: 20px">Xóa</th>
                            <th style="width: 25px">STT</th>
                            <th class="np">
                                Tên sản phẩm (Products name)
                            </th>
                            <th style="width: 90px">Đơn vị tính (Unit)</th>
                            <th style="width: 70px">Số lượng (Quantity)</th>
                            <th style="width: 90px">Đơn giá (Price)</th>
                            <th style="width: 100px">Thành tiền (Amount) VNĐ</th>
                            <th style="width: 50px">Không tính tiền</th>
                        </tr>
                    </thead>
                    <tbody id="bodyTblProduct">
                        @{int index = 1;}
                        @foreach (var product in Model.ProductList)
                        {
                            <tr>
                                <td class="delr"></td>
                                <td class="center">@index</td>
                                <td>
                                    <input type="text" value="@(product.Name)" class="name" maxlength="500" />
                                </td>
                                <td>
                                    <input type="text" value="@(product.Unit)" class="unit" maxlength="50" />
                                </td>
                                <td>
                                    <input type="text" value="@if (product.Quantity == 0)
                { }
                else
                { @(product.Quantity.ToString().Replace(" .", "," ))} "
                                           class=" quantity textr _number" maxlength="18" />
                                </td>
                                <td>
                                    <input type="text" value="@if (product.Price == 0)
                { }
                else
                {@(product.Price.ToString().Replace(" .", "," ))}"
                                           class="price textr _number" maxlength="18" />
                                </td>
                                <td>
                                    <input type="text" value="@(product.Total.ToString().Replace(" .", "," ))" class="amount textr _number" maxlength="18" />
                                </td>
                                <td class="center">
                                    @{var ischeck = product.IsSum == 1 ? "checked=checked" : "";}
                                    <input type="checkbox" class="issum" value="false" @ischeck />
                                    <input type='hidden' class='VATRate _number' value="@(product.VATRate)" />
                                    <input type='hidden' class='code' value="@(product.Code)" />
                                </td>
                            </tr>
                                            index++;
                                        }
                        @for (int i = index; i <= 10; i++)
                        {
                            <tr>
                                <td class="delr"></td>
                                <td class="center">@i</td>
                                <td>
                                    <input type="text" class="name" maxlength="500" />
                                </td>
                                <td>
                                    <input type="text" class="unit" maxlength="50" />
                                </td>
                                <td>
                                    <input type="text" class="quantity textr _number" maxlength="18" />
                                </td>
                                <td>
                                    <input type="text" class="price textr _number" maxlength="18" />
                                </td>
                                <td>
                                    <input type="text" class="amount textr _number" maxlength="18" />
                                    <input type='hidden' class='VATRate _number' value="" />
                                    <input type='hidden' class='code' value="" />
                                </td>
                                <td class="center">
                                    <input type="checkbox" class="issum" />
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="left w60p">
                <div class="line null"></div>
                <div class="line">
                    <div class="label push-60">
                        <label>Thuế GTGT</label>
                    </div>
                    <div class="control">
                        @Html.DropDownList("VATRate", new[]
                        {
                        new SelectListItem{Text=Resources.Einvoice.MInv_TxtNotVATRate, Value="-1",Selected= (Model.GrossValue >0)},
                        new SelectListItem{Text="Không kê khai và nộp thuế", Value="-2",Selected= (Model.GrossValueNonTax >0)},
                        new SelectListItem{Text="0% ", Value="0", Selected= (Model.GrossValue0>0)},
                        new SelectListItem{Text="5%", Value="5",Selected= (Model.GrossValue5>0)},
                        new SelectListItem{Text="10%", Value="10",Selected= (Model.GrossValue10>0)},


                        }, new { @class = "required", title = "Cần chọn!" })
                    </div>
                </div>
                <div class="line null"></div>
            </div>
            <div class="right">
                <div class="line">
                    <div class="label w180">
                        @Html.LabelFor(m => m.Total, labelText: Resources.Einvoice.MInv_lblTotalService)
                    </div>
                    <div class="control">
                        @Html.TextBox("Total", Model.Total.ToString().Replace(".", ","), new { @class = "textr _number groupTotal", @tabindex = -1 })
                    </div>
                </div>
                <div class="line">
                    <div class="label w180">
                        @Html.LabelFor(m => m.VATAmount, labelText: Resources.Einvoice.MInv_LblVATAmount)
                    </div>
                    <div class="control">
                        @Html.TextBox("VATAmount", Model.VATAmount.ToString().Replace(".", ","), new { @class = "textr _number groupTotal", @tabindex = -1 })
                    </div>
                </div>
                <div class="line">
                    <div class="label w180">
                        @Html.LabelFor(m => m.Amount, labelText: Resources.Einvoice.MInv_Amount)
                    </div>
                    <div class="control">
                        @Html.TextBox("Amount", Model.Amount.ToString().Replace(".", ","), new { @class = "textr _number groupTotal", @tabindex = -1 })
                    </div>
                </div>
            </div>
            <div class="line last">
                <div class="label">
                    @Html.LabelFor(m => m.AmountInWords, Resources.Einvoice.MInv_LblAmountInWords)
                </div>
                <div class="control">
                    @Html.TextArea("AmountInWords", Model.AmountInWords, new { @readonly = "readonly", @tabindex = -1 })
                </div>
            </div>
            <div id="searchAutocomplete"></div>
            <div id="searchAutocompleteResource"></div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/Content/js/Share.js"></script>
<script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/Content/js/Common.js"></script>
<script src="/Content/js/InvVAT.js" type="text/javascript"></script>

<script type="text/javascript">
    $(document).ready(function () {

        $(".ANumber").ForceNumericOnly();
        $(".ANumber").ForceNumericOnly();

        // Sự kiện chọn đường thu
        $('#ResourceCode').autocomplete({
            source: function (request, response) {
                $.ajax({
                    url: "/EInvoice/getResource",
                    type: 'POST',
                    data: {
                        key: request.term
                    },
                    success: function (returnData) {
                        response($.map(returnData, function (item) {
                            return {
                                value: item.Code,
                                label: item.Name
                            };
                        }));
                    }
                });
            },
            minLength: 3,
            select: function (event, ui) {
                $("#ResourceCode").val(ui.item.value);
            },
            appendTo: "#searchAutocompleteResource",
            open: function () {
                var position = $(this).position(),
                    left = position.left, top = position.top + 20;
                $("#searchAutocompleteResource > ul").css({
                    left: left + "px",
                    top: top + "px"
                });
            }

        });

        //$("#Total").change(function () {
        //    $("#VATRate").trigger("change")
        //});

        //$("#Total").change(function () {
        //    var _vatrate = $("#VATRate option:selected").val();
        //    setAmountInWords(_vatrate);
        //});

        $("input[type=submit]").click(function () {
            var _valid = $(this).parents('form:first').valid();
            if (!_valid) {
                return false;
            }
            return submit();
        });
    });
</script>

