﻿@using EInvoice.Core.Domain
@model EInvoice.Core.Domain.IInvoice
    @{
        ViewBag.Title = "Tạo mới hóa đơn";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                @using (Html.BeginForm("Create", "EInvoice", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    Html.RenderPartial("SATRAGROUPSELLERShare", Model);
                    <div class="box-footer">
                        <div class="row">
                            <div class="col-sm-5">
                            </div>
                            <div class="col-sm-4">
                                <input type="submit" class="btn btn-primary btn-flat" value="@Resources.Einvoice.BtnCreate" />
                                <input type="reset" class="btn btn-primary btn-flat" value="@Resources.Einvoice.BtnReset" />
                                <input type="button" class="btn btn-primary btn-flat btn-cancel" value="@Resources.Einvoice.BtnBack" onclick="document.location = '/EInvoice/Index'" />
                            </div>
                            <div class="col-sm-4">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
            function disableSmt() {
                $('input[type="submit"], input[type="button"], button').disable(true);
            }
</script>

