﻿@using EInvoice.Core.Domain
@model  SELLERINVOICE


@*
	PHUONGVT - IT2/GP1 - 20190711
	- Tự sinh mã tra cứu khi nhập xuất hoá đơn bằng tay
	- ...
*@
@using System.Text.RegularExpressions;
@{
	ViewBag.Title = "Chi tiết hóa đơn";
	Layout = null;
	List<string> ser = (List<string>)ViewData["ser"];
	SelectList serSelect = new SelectList(ser);
	Company oCompany = (Company)ViewData["company"];
	int numberBehindComma = 2;
	var config = oCompany.Config.Where(c => c.Key.Equals("NumberBehindComma")).FirstOrDefault();

	if (config.Key != null)
	{
		numberBehindComma = Int32.Parse(config.Value);
	}
	EInvoice.Core.IService.IConfigService _Config = FX.Core.IoC.Resolve<EInvoice.Core.IService.IConfigService>();
	var DicEx = _Config.Query.Where(a => a.ComID == oCompany.id && a.Key.Contains("Extra_"));
	var Listvalue = Model.Extras.ToDictionary(x => x.Key, x => x.Value);
	List<string> taxCode = new List<string>();
	string temp = oCompany.TaxCode + " ";
	// string date = ViewData["date"] != null ? ViewData["date"].ToString() : "";
	string date = DateTime.Now.ToString("dd/MM/yyyy");
	for (int i = 0; i < temp.Length; i++)
	{
		taxCode.Add(temp[i].ToString());
	}

	//Automatically Generate Fkey
	string _fkey = string.Empty;
	if (string.IsNullOrEmpty(Model.Fkey))
	{
		Guid newGuid = Guid.NewGuid();
		//Get random string 16 characters
		_fkey = Regex.Replace(newGuid.ToString().Substring(0, 15).ToUpper(), @"[^0-9a-zA-Z]+", "");
	}
	else
	{
		_fkey = Model.Fkey;
	}
}
@Html.Hidden("id", Model.id)
@Html.Hidden("ComID", Model.ComID)
@Html.Hidden("ComPhone", oCompany.Phone)
@Html.Hidden("ComBankName", oCompany.BankName)
@Html.Hidden("ComBankNo", oCompany.BankNumber)
@Html.Hidden("ComTaxCode", oCompany.TaxCode)
@Html.Hidden("PubDatasource")
@Html.Hidden("DicExsource")
@Html.Hidden("NumberBehindComma", numberBehindComma)
<link href="/Content/css/SharedFormElements.css" rel="stylesheet" type="text/css" />
<link href="/Content/css/grid.css" rel="stylesheet" type="text/css" />
<link href="/Content/css/styleForm.css" rel="stylesheet" type="text/css" />
<style type="text/css">
	.label {
		font-weight: normal;
		color: black;
		font-size: 13px;
		text-align: left;
	}

	.widget-header {
		margin-top: 3px;
	}

	input, select {
		min-height: 0px;
	}
</style>
<div class="box-header" style="text-align:center">
	<h3 class="box-title">@Resources.Einvoice.MInv_lblInputDetailInfomationInvoice</h3>
	<hr />
</div>
<div class="frm-header">
	<div class="left">
		<div class="line">
			<div class="label w120">
				@Html.LabelFor(m => m.Name, labelText: Resources.Einvoice.MInv_LblNameInv)
			</div>
			<div class="control">
				@Html.TextBoxFor(m => m.Name, new { @class = "required textc", maxlength = "200", @title = "Không nhập quá 200 ký tự !", @readonly = "readonly" })
			</div>
		</div>
		<div class="line">
			<div class="label w120">
				@Html.LabelFor(m => m.ComTaxCode, Resources.Einvoice.MInv_LblComTaxcode)
			</div>
			<div class="control">
				@{
					int _taxindex = 0;
					int[] space = new[] { 2, 10, 13 };
					foreach (var tax in taxCode)
					{

						<span class="mst @Html.Raw(space.Contains(_taxindex) ? " ml3" : "nbl")">
							@Html.Raw(String.IsNullOrEmpty(tax.Trim()) ? "&nbsp" : tax)
						</span>
						_taxindex++;
					}
				}
			</div>
		</div>
		<div class="line">
			<div class="label w120">
				@Html.LabelFor(m => m.ComName, labelText: Resources.Einvoice.MInv_LblComName)
			</div>
			<div class="control">
				@Html.TextBox("ComName", oCompany.Name, new { @readonly = "readonly", @tabindex = -1, maxlength = "200" })
			</div>
		</div>
		<div class="line">
			<div class="label w120">
				@Html.LabelFor(m => m.ComAddress, labelText: Resources.Einvoice.MInv_LblAddress)
			</div>
			<div class="control">
				@Html.TextBox("ComAddress", oCompany.Address, new { maxlength = "150", @readonly = "readonly" })
			</div>
		</div>
	</div>
	<div class="right">
		<div class="line">
			<div class="label w90">
				@Html.LabelFor(m => m.Pattern, labelText: Resources.Einvoice.MInv_LblPattern)
			</div>
			<div class="control">
				@Html.TextBoxFor(m => m.Pattern, new { @readonly = "readonly", @tabindex = -1, maxlength = "50" })
			</div>
		</div>
		<div class="line">
			<div class="label imp w90">
				@Html.LabelFor(m => m.Serial, labelText: Resources.Einvoice.MInv_LblSerial)
			</div>
			<div class="control">
				@Html.DropDownListFor(m => m.Serial, serSelect, "-- Chọn --", new { @class = "required", @autofocus = "autofocus" })
			</div>
		</div>
		<div class="line">
			<div class="label w90">
				@Html.LabelFor(m => m.No, labelText: Resources.Einvoice.MInv_lblNo)
			</div>
			<div class="control">
				@Html.TextBox("No", "0000000", new { @readonly = "readonly", @tabindex = -1, maxlength = "7" })
			</div>
		</div>
		<div class="line">
			<div class="label w90">
				@Html.LabelFor(m => m.ArisingDate, labelText: "Ngày hóa đơn")
			</div>
			<div class="control">
				@Html.TextBox("ArisingDate", (Model.ArisingDate.Year == 1957) ? DateTime.Today.ToString("dd/MM/yyyy", null) : Model.ArisingDate.ToString("dd/MM/yyyy", null), new { @style = "width:90px;margin-right:3px; z-index:1000;", @class = "datepicker vietnameseDate", onchange = "getHiddenValue()" })
			</div>
		</div>
	</div>
</div>
<div class="line">
	<div class="label w120">
		@Html.LabelFor(m => m.Fkey, labelText: "Mã tra cứu")
	</div>
	<div class="control">
		@Html.TextBox("Fkey", _fkey, new { maxlength = "20", @style = "font-weight: bold" })
	</div>
</div>
<div class="line">
	<div class="label">
		@Html.LabelFor(m => m.Buyer, labelText: Resources.Einvoice.MInv_LblCompanyName)
	</div>
	<div class="control">
		@Html.TextBoxFor(m => m.Buyer, new { maxlength = "240" })
	</div>
</div>
<div class="left w70p">
	<div class="line">
		<div class="label">
			@Html.LabelFor(m => m.CusName, labelText: Resources.Einvoice.MInv_LblBuyer)
		</div>
		<div class="control">
			@Html.TextBoxFor(m => m.CusName, new { maxlength = "200", @title = "Xin vui lòng nhập tên khách hàng !" })
		</div>
	</div>
</div>
<div class="right">
	<div class="line">
		<div class="label w80">
			@Html.LabelFor(m => m.CusTaxCode, labelText: Resources.Einvoice.MInv_LblCusTaxCode)
		</div>
		<div class="control">
			@Html.TextBoxFor(m => m.CusTaxCode, new { @maxlength = 14, @class = "onlynumTaxcode formatTaxCode", @title = "Không nhập quá 14 ký tự !", @autocomplete = "off", @onblur = "return activeAddress();" })
		</div>
	</div>
</div>
@if (WSHelper.Instance.CheckResourceCode(oCompany))
{
	<div class="line">
		<div class="label w120">
			@Html.LabelFor(m => m.ResourceCode, Resources.Einvoice.MInv_LblReSourceCode)
		</div>
		<div class="control">
			@Html.TextBoxFor(m => m.ResourceCode, new { maxlength = "20" })
		</div>
	</div>
}
<div class="line">
	<div class="label w120">
		@Html.LabelFor(m => m.CusAddress, labelText: Resources.Einvoice.MInv_LblAddress)
	</div>
	<div class="control">
		@Html.TextBoxFor(m => m.CusAddress, new { maxlength = "150", @title = "Xin vui lòng nhập địa chỉ khách hàng!", @autocomplete = "off" })
	</div>
</div>
<div class="left w50p" style="width: 25% !important">
	<div class="line">
		<div class="label w120">
			@Html.LabelFor(m => m.CusPhone, labelText: Resources.Einvoice.MInv_LblPhone)
		</div>
		<div class="control">
			@Html.TextBoxFor(m => m.CusPhone, new { @maxlength = 30, @title = "Không nhập quá 30 ký tự !", @autocomplete = "off" })
		</div>
	</div>
</div>
<div class="left w50p">
	<div class="line">
		<div class="label w80">
			@Html.LabelFor(m => m.EmailDeliver, labelText: Resources.Einvoice.MInv_LblEmailDeliver)
		</div>
		<div class="control">
			@Html.TextBoxFor(m => m.EmailDeliver, new { @maxlength = 300 })
		</div>
	</div>
</div>
<div class="right" style="width: 25% !important">
	<div class="line">
		<div class="label w120" style="width: 120px">
			@Html.LabelFor(m => m.CusCode, labelText: Resources.Einvoice.MInv_lblCodeCus)
		</div>
		<div class="control">
			@Html.TextBoxFor(m => m.CusCode, new { maxlength = "50", @class = "textandnum", @title = "Không nhập quá 50 ký tự !", @autocomplete = "off" })
		</div>
	</div>
</div>
<div class="line">
	<div class="label w120 imp">
		@Html.LabelFor(m => m.PaymentMethod, labelText: Resources.Einvoice.MInv_LblPayMethod)
	</div>
	<div class="control">
		@Html.DropDownListFor(m => m.PaymentMethod, new[]
     {
        new SelectListItem{Text=Resources.Einvoice.Minv_txtCashingPay, Value="TM", Selected= (Model.PaymentMethod == "TM")},
        new SelectListItem{Text=Resources.Einvoice.MInv_txtTransferPay, Value="CK",Selected= (Model.PaymentMethod == "CK")},
        new SelectListItem{Text=Resources.Einvoice.Minv_txtCreditCardPay, Value="TTD",Selected= (Model.PaymentMethod == "TTD")},
        new SelectListItem{Text="Hình thức HDDT", Value="HDDT",Selected= (Model.PaymentMethod == "HDDT")},
        new SelectListItem{Text=Resources.Einvoice.MInv_Minv_txtCashingPayAndTransferPay,Value="TM/CK",Selected=(Model.PaymentMethod=="TM/CK")},
        new SelectListItem{Text=Resources.Einvoice.MInv_txtClearingPay,Value="BT",Selected=(Model.PaymentMethod=="BT")}
        }, "-- Chọn hình thức thanh toán --", new { @class = "required" })
	</div>
</div>
<div class="line">
	<div class="label w120 imp">
		@Html.LabelFor(m => m.CurrencyUnit, labelText: "Loại tiền tệ  (Types of money)")
	</div>
	<div class="control">
		@Html.DropDownListFor(m => m.CurrencyUnit, new[]
     {
        new SelectListItem
        {
        Text="Việt Nam đồng", Value="VND",Selected= (Model.CurrencyUnit == "VND")
        },
        new SelectListItem
        {
        Text="Đô-la Mỹ", Value="USD",Selected= (Model.CurrencyUnit == "USD")
        }
        })
	</div>
</div>
<div class="left w50p" id="divTyGia">
	<div class="line">
		<div class="label w120">
			<div class="label w120 tyGia" style="font-weight: bold">
				<span>Tỷ giá 1 </span>
				<span id="moneySymbol"></span>
				<span>=:</span>
			</div>
		</div>
		<div class="control">
			@Html.TextBox("ExchangeRate", Model.ExchangeRate.ToString().Replace(".", ","), new { @class = "textr _number", @tabindex = -1, maxlength = "50", style = "width: 89%;" })
			<span style="font-weight: bold">VND.</span>
		</div>
	</div>
</div>
<div class="right" id="divTongTien">
	<div class="line">
		<div class="label w80">
			@Html.LabelFor(m => m.ConvertedAmount, labelText: "Tổng tiền")
		</div>
		<div class="control">
			@Html.TextBox("ConvertedAmount", Model.ConvertedAmount.ToString().Replace(".", ","), new { maxlength = "50", @class = "textr _number", @readonly = "readonly" })
		</div>
	</div>
</div>

@{
	foreach (var item in DicEx)
	{

		var objSon = new System.Web.Script.Serialization.JavaScriptSerializer().Deserialize<EInvoice.CAdmin.Models.ExtraModel>(item.Value);
		string caseSwitch = objSon.DesignControl.Type;

		var listItems = new List<System.Web.UI.WebControls.ListItem>();
		string ClassCss = (objSon.DesignControl.Required ? "required " : "") + (objSon.DataType.Contains("decimal") ? "ANumber quantity textr _number" : "");

		switch (caseSwitch)
		{
			case "dropdown":
				string[] dropValues = objSon.DesignControl.Values.Split(',');
				string[] dropTexts = objSon.DesignControl.Texts.Split(',');
				for (int i = 0; i < dropValues.Count(); i++)
				{
					listItems.Add(new System.Web.UI.WebControls.ListItem { Text = dropTexts[i], Value = dropValues[i] });

				}
				<div class="line">

					<div class="label w120  @(objSon.DesignControl.Required ? "imp" : string.Empty)">
						@Html.Label(item.Key, (string)objSon.DesignControl.Caption)
					</div>
					<div class="control">
						@Html.DropDownList(item.Key, new SelectList(listItems, "Value", "Text", Listvalue.ContainsKey(item.Key) ? Listvalue[item.Key] : string.Empty), (string)objSon.DesignControl.DisplayDefault, objSon.DesignControl.Required ? (object)new { @style = "width:327px;", @class = "required" } : new { @style = "width:327px;" })
					</div>
				</div>
				break;
			case "textbox":
				<div class="line">
					<div class="label w120  @(objSon.DesignControl.Required ? "imp" : string.Empty)">
						@Html.Label(item.Key, (string)objSon.DesignControl.Caption)
					</div>
					<div class="control">
						@Html.TextBox(item.Key, Listvalue.ContainsKey(item.Key) ? Listvalue[item.Key] : string.Empty, (object)new { maxlength = "500", @class = ClassCss })
					</div>
				</div>
				break;
			case "richtext":
				<div class="line">

					<div class="label w120  @(objSon.DesignControl.Required ? "imp" : string.Empty)">
						@Html.Label(item.Key, (string)objSon.DesignControl.Caption)
					</div>
					<div class="control">

						@Html.TextArea(item.Key, Listvalue.ContainsKey(item.Key) ? Listvalue[item.Key] : string.Empty, objSon.DesignControl.Required ? (object)new { maxlength = "500", @class = "required" } : new { maxlength = "500" })
					</div>
				</div>
				break;
			case "checkbox":
				<div class="line">
					<div class="label @(objSon.DesignControl.Required ? "imp" : Listvalue.ContainsKey(item.Key) ? Listvalue[item.Key] : string.Empty)">
						@Html.Label(item.Key, (string)objSon.DesignControl.Caption)
					</div>
					<div class="control">
						@Html.CheckBox(item.Key, Listvalue.ContainsKey(item.Key) ? bool.Parse(Listvalue[item.Key]) : false, new { @class = ClassCss })
					</div>
				</div>
				break;
			default:
				break;
		}
	}
}
<div class="line">
	<table class="products">
		<thead>
			<tr>
				<th style="width: 20px">
					@Resources.Einvoice.LblDelete
				</th>
				<th style="width: 5px">
					STT<br />
					<span>No</span>
				</th>
				<th style="width: 5px">
					Mã số<br />
					<span>Code</span>
				</th>
				<th style="width: 200px">
					Tên sản phẩm<br />
					<span>(Products name)</span>
				</th>
				<th style="width: 50px">
					ĐVT<br />
					<span>(Unit)</span>
				</th>
				<th style="width: 100px">
					Số lượng<br />
					<span>(Quantity)</span>
				</th>
				<th style="width: 100px">
					Đơn giá<br />
					<span>(Unit price)</span>
				</th>
				<th style="width: 150px">
					Thành tiền<br />
					<span>(Gross amount)</span>
				</th>
				<th style="width: 50px">
					Thuế suất<br />
					<span>(VAT rate %)</span>
				</th>
				<th style="width: 150px">
					Tiền thuế GTGT<br />
					<span>(VAT amount)</span>
				</th>
				<th style="width: 150px">
					Cộng<br />
					<span>(Amount icl VAT)</span>
				</th>
				<th style="width: 50px">
					@Resources.Einvoice.MInv_LblNotMoney
				</th>
			</tr>
			<tr>
				<th></th>
				<th>
					A
				</th>
				<th>
					B
				</th>
				<th>
					C
				</th>
				<th>D</th>
				<th>
					1
				</th>
				<th>
					2
				</th>
				<th>
					3=(1x2)
				</th>
				<th>
					4
				</th>
				<th>
					5=(3x4)
				</th>
				<th>
					6=(3+5)
				</th>
				<th style="width: 50px"></th>
			</tr>
		</thead>
		<tbody>
			@{
				int index = 1;
				foreach (var product in Model.ProductList)
				{
					<tr>
						<td class="delr"></td>
						<td class="center">
							@index
						</td>
						<td>
							<input type="text" class="code" value="@product.Code" />
						</td>
						<td>
							<input type="text" class="name" value="@product.Name" />
						</td>
						<td>
							<input type="text" class="unit" value="@product.Unit" />
						</td>
						<td>
							<input type="text" value="@product.Quantity.ToString().Replace(" .", ",")" class="quantity textr _number" />
						</td>
						<td>
							<input type="text" value="@product.Price.ToString().Replace(" .", ",")" class="price textr _number" />
						</td>
						<td>
							<input type="text" value="@product.Total.ToString().Replace(" .", ",")" class="Total textr _number" />
						</td>
						<td>
							<select class="VATRate" name="VATRateItem">
								<option value=""> Chọn </option>
								<option value="-1" @((int)product.VATRate == -1 ? "selected" : "")>Không chịu thuế</option>
								<option value="-2" @((int)product.VATRate == -2 ? "selected" : "")>Không kê khai và nộp thuế</option>
								<option value="0" @((int)product.VATRate == 0 ? "selected" : "")>0%</option>
								<option value="5" @((int)product.VATRate == 5 ? "selected" : "")>5%</option>
								<option value="10" @((int)product.VATRate == 10 ? "selected" : "")>10%</option>
							</select>
						</td>
						<td>
							<input type="text" value="@(product.VATRate == -1 ? " " : product.VATAmount.ToString().Replace('.', ','))"
								   class="VATAmount textr _number" readonly />
						</td>
						<td>
							<input type="text" value="@product.Amount.ToString().Replace('.', ',')" class="amount textr _number" readonly />
						</td>
						<td class="center">
							<input type="checkbox" value="false" @(product.IsSum == 1 ? "checked=checked" : "") />
						</td>

					</tr>
					index++;
				}
				for (int i = index; i <= 10; i++)
				{
					<tr>
						<td class="delr"></td>
						<td class="center">
							@i
						</td>
						<td>
							<input type="text" class="code" />
						</td>
						<td>
							<input type="text" class="name" />
						</td>
						<td>
							<input type="text" class="unit" />
						</td>
						<td>
							<input type="text" class="quantity textr _number" />
						</td>
						<td>
							<input type="text" class="price textr _number" />
						</td>
						<td>
							<input type="text" class="Total textr _number" />
						</td>
						<td>
							<select class="VATRate" id="VATRate" name="VATRateItem">
								<option selected="selected" value="">Chọn</option>
								<option value="-1"> Không chịu thuế</option>
								<option value="-2"> Không kê khai và nộp thuế</option>
								<option value="0"> 0 %</option>
								<option value="5"> 5 %</option>
								<option value="10"> 10 %</option>
							</select>
						</td>
						<td>
							<input type="text" class="VATAmount textr _number" readonly />
						</td>
						<td>
							<input type="text" class="amount textr _number" readonly />
						</td>
						<td class="center">
							<input type="checkbox" />
						</td>
					</tr>
				}
			}
		</tbody>
	</table>
</div>
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="list-bin-bottom">
	<tr>
		<th style="width: 174px;">
			Thành tiền không chịu thuế<br />
			<i>(Amount not include tax)</i>
		</th>
		<td style="text-align: right">
			<input id="GrossValue" name="GrossValue" value="@Model.GrossValue.ToString().Replace('.',',') " readonly="readonly"
				   type="text" style="text-align: right; margin-right: 10px" tabindex="-1" class="textr _number" />
		</td>
	</tr>
	<tr>
		<th style="width: 174px;">
			Thành tiền không kê khai và nộp thuế<br />
			<i>()</i>
		</th>
		<td style="text-align: right">
			<input id="GrossValueNonTax" name="GrossValueNonTax" value="@Model.GrossValueNonTax.ToString().Replace('.',',') " readonly="readonly"
				   type="text" style="text-align: right; margin-right: 10px" tabindex="-1" class="textr _number" />
		</td>
	</tr>
	<tr style="">
		<th style="width: 174px;">
			Thành tiền trước thuế 0%<br />
			<i>(Amount before tax 0%)</i>
		</th>
		<td style="text-align: right">
			<input id="GrossValue0" name="GrossValue0" value="@Model.GrossValue0.ToString().Replace('.',',') " readonly="readonly"
				   type="text" style="text-align: right; margin-right: 10px" tabindex="-1" class="textr _number" />
		</td>
		<th style="width: 100px;">
			Thuế GTGT 0%<br />
			<i>(VAT 0%)</i>
		</th>
		<td style="text-align: right">
			<input id="VatAmount0" name="VatAmount0" value="@Model.VatAmount0.ToString().Replace('.',',') " readonly="readonly"
				   type="text" style="text-align: right; margin-right: 10px" tabindex="-1" class="textr _number" />
		</td>
	</tr>
	<tr style="">
		<th style="width: 174px;">
			Thành tiền trước thuế 5%<br />
			<i>(Amount before tax 5%)</i>
		</th>
		<td style="text-align: right">
			<input id="GrossValue5" name="GrossValue5" value="@Model.GrossValue5.ToString().Replace('.',',') " readonly="readonly"
				   type="text" style="text-align: right; margin-right: 10px" tabindex="-1" class="textr _number" />
		</td>
		<th style="width: 100px;">
			Thuế GTGT 5%<br />
			<i>(VAT 5%)</i>
		</th>
		<td style="text-align: right">
			<input id="VatAmount5" name="VatAmount5" value="@Model.VatAmount5.ToString().Replace('.',',') " readonly="readonly"
				   type="text" style="text-align: right; margin-right: 10px" tabindex="-1" class="textr _number" />
		</td>
	</tr>
	<tr>
		<th style="width: 174px;">
			Thành tiền trước thuế 10%<br />
			<i>(Amount before tax 10%)</i>
		</th>
		<td style="text-align: right">
			<input id="GrossValue10" name="GrossValue10" value="@Model.GrossValue10.ToString().Replace('.',',') " readonly="readonly"
				   type="text" style="text-align: right; margin-right: 10px" tabindex="-1" class="textr _number" />
		</td>
		<th style="width: 100px;">
			Thuế GTGT 10%<br />
			(VAT 10%)
		</th>
		<td style="text-align: right">
			<input id="VatAmount10" name="VatAmount10" value="@Model.VatAmount10.ToString().Replace('.',',') " readonly="readonly"
				   type="text" style="text-align: right; margin-right: 10px" tabindex="-1" class="textr _number" />
		</td>
	</tr>
	<tr>
		<th>
			Thành tiền
		</th>
		<td style="text-align: right">
			<input id="Total" name="Total" value="@Model.Total.ToString().Replace('.',',') " type="text" style="text-align: right; margin-right: 10px"
				   tabindex="-1" class="textr _number" />
		</td>
		<th>
			@Resources.Einvoice.MInv_LblVATAmount
		</th>
		<td>
			@Html.TextBox("VATAmount", Model.VATAmount.ToString().Replace('.', ','), new { @style = "text-align:right", @class = "textr _number", @tabindex = -1 })
		</td>
		<th>
			<strong>Tổng cộng phải thanh toán (VNĐ):</strong>
		</th>
		<td>
			@Html.TextBox("Amount", Model.Amount.ToString().Replace('.', ','), new { @style = "text-align:right ", @class = "textr _number", @tabindex = -1 })
		</td>
	</tr>
</table>
<div>
	<div class="label w180">
		<label for="lblMesErr" style="color: red;"></label>
	</div>
</div>
<div class="line last">
	<div class="label">
		@Html.LabelFor(m => m.AmountInWords, Resources.Einvoice.MInv_LblAmountInWords)
	</div>
	<div class="control">
		@Html.TextAreaFor(m => m.AmountInWords, new { @tabindex = -1, @autocomplete = "off", @maxlength = "200", style = "background-color:white; font-family:Arial,Helvetica,sans-serif;font-size:small;" })
	</div>
</div>
<div id="searchAutocomplete"></div>
<div id="searchAutocompleteResource"></div>
<script src="/Content/js/VAT.js" type="text/javascript"></script>
<script type="text/javascript" src="/Content/js/Share.js"></script>
<script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
<script type="text/javascript" src="/Content/js/CommonSATRA.js"></script>

<script type="text/javascript">
	$(document).ready(function () {
		$(".ANumber").ForceNumericOnly();
		$(".ANumber").ForceNumericOnly();

		$('#ResourceCode').autocomplete({
			source: function (request, response) {
				$.ajax({
					url: "/EInvoice/getResource",
					type: 'POST',
					data: {
						key: request.term
					},
					success: function (returnData) {
						response($.map(returnData, function (item) {
							return {
								value: item.Code,
								label: item.Name
							};
						}));
					}
				});
			},
			minLength: 3,
			select: function (event, ui) {
				$("#ResourceCode").val(ui.item.value);
			},

			appendTo: "#searchAutocompleteResource",
			open: function () {
				var position = $(this).position(),
					left = position.left, top = position.top + 20;
				$("#searchAutocompleteResource > ul").css({
					left: left + "px",
					top: top + "px"
				});
			}

		});

		$('input[type=submit]').click(function (e) {
			/// Validate form
			var _valid = $(this).parents('form:first').valid();
			if (!_valid) {
				return false;
			}
			return submit();
		});
	});
	/// just remove Tải lại toàn bộ các sự kiện cho table

	jQuery(function ($) {
		$.datepicker.regional['vi'] = {
			closeText: 'Đóng',
			prevText: '&#x3c;Trước',
			nextText: 'Tiếp&#x3e;',
			currentText: 'Hôm nay',
			monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
		'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
			monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
		'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
			dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
			dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
			dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
			weekHeader: 'Tu',
			dateFormat: 'dd/mm/yy',
			firstDay: 0,
			isRTL: false,
			showMonthAfterYear: false,
			yearSuffix: ''
		};
	});

	$(function ($) {
		$(".vietnameseDate").mask("99/99/9999");
	});

	// xử lý chọn ngày tháng datetime
	function getHiddenValue() {
		var stringDate1 = $("#ArisingDate").val();
		//var d1 = Date.parseExact(stringDate1, "d/M/yyyy");
		//if (d1 == null && stringDate1 != null) { // nhập không đúng định dạng ngày tháng
		//	$("#ArisingDate").val("");
		//}
		var date_regex = /^(0[1-9]|1\d|2\d|3[01])\/(0[1-9]|1[0-2])\/(19|20)\d{2}$/;
		if (!(date_regex.test(stringDate1))) {
			$("#ArisingDate").val("");
		} else {
			$("#ArisingDate").val(stringDate1.toString("dd/MM/yyyy"));
		}
	}

	$(document).ready(function () {
		searchBuyer();

		$.datepicker.setDefaults($.datepicker.regional['vi']);
		$(".datepicker").datepicker({
			showOn: "button",
			buttonImage: "/Content/images/calendar.gif",
			buttonImageOnly: true,
			changeMonth: true,
			changeYear: true,
			Select: function () {
				$("#ArisingDate").focus();
			},

		});
		$('form:first').validate();
	});
</script>
