﻿@using EInvoice.Core.Domain
@model  IInvoice
@{
    ViewBag.Title = "Tạo mới hóa đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/site.css" rel="stylesheet" />
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">

            <div class="box-body">
                @using (Html.BeginForm("Create", "EInvoice", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    Html.RenderPartial("SELLERMULTIVATShare", Model);
                    <div class="box-footer">
                        <div class="row">
                            <center>
                                <input type="submit" class="btn btn-primary btn-flat" value="@Resources.Einvoice.BtnCreate " />
                                <input type="reset" class="btn btn-primary btn-flat" value="@Resources.Einvoice.BtnReset " />
                                <input type="button" class="btn btn-primary btn-flat btn-cancel" value="@Resources.Einvoice.BtnBack " onclick="document.location = '/EInvoice/Index'" />
                            </center>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

