﻿@using FX.Utils.MvcPaging
@model EInvoice.CAdmin.Models.ReportsDetailModel
@{
    //Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Quản trị</title>
    <link href="/Content/css/grid.css" rel="stylesheet" type="text/css" />
    <link href="/Content/css/decision.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/dist/css/AdminLTE.css" rel="stylesheet" />
    <link href="~/Content/AdminLTECustomize.css" rel="stylesheet" />
    <script type="text/javascript" src="/Content/js/jquery.min.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.PrintArea.js"></script>
    <script src="/Content/js/FXUtils.js" type="text/javascript"></script>
</head>
<body style="background:none;">
    @Html.Hidden("hdPattern")
    <div>
        <div id="print">
            @Html.Raw(Model.Html)
        </div>
    </div>
    <div class="pager">
        @Html.Pager(Model.pageSize, Model.pageIndex + 1, Model.totalRecords, new
{
    action = "QuickreportPrince",
    controller = "ExportExcelAndPdf",
    Pattern = Model.Pattern,
    Status = Model.Status,
    FromDate = Model.FromDate,
    ToDate = Model.ToDate,
    Serial = Model.Serial,
    Pagesize = Model.pageSize
})
    </div>
    @{
        string Nameexport = "THỐNG KÊ CHI TIẾT HÓA ĐƠN";
        string pattern = Model.Pattern;
        string serial = Model.Serial;
        int Status = Model.Status;
        string FormDate = Model.FromDate;
        string ToDate = Model.ToDate;
    }
    <div class="row">
        <div style="text-align: right" class="col-sm-12">
            <input class="btn btn-primary btn-flat" type="button" id="print_button" value="@Resources.Einvoice.Btn_Print" onclick="JavaScript:printex('print');" />
            @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("DownloadQuickreportPrince"))
            {
            <input class="btn btn-primary btn-flat" type="button" value="@Resources.Einvoice.BtnDownExcel" style="margin-right: 5px" onclick="document.location ='/ExportExcelAndPdf/DownloadQuickReportPrint?nameexport='+'@Nameexport'+'&pattern='+'@pattern'+'&serial='+'@serial'+'&Status='+'@Status'+'&FromDate='+'@FormDate'+'&ToDate='+'@ToDate'+'&type='+'xls'" />
            <input class="btn btn-primary btn-flat" type="button" value="@Resources.Einvoice.BtnDownPdf" style="margin-right: 5px" onclick="document.location ='/ExportExcelAndPdf/DownloadQuickReportPrint?nameexport='+'@Nameexport'+'&pattern='+'@pattern'+'&serial='+'@serial'+'&Status='+'@Status'+'&FromDate='+'@FormDate'+'&ToDate='+'@ToDate'+'&type='+'pdf'" />
            }
            <input class="btn btn-primary btn-flat" type="button" value="@Resources.Einvoice.BtnBack" style="margin-right:5px" onclick="document.location = '/ExportExcelAndPdf/Quickreport?Pattern=@ViewData["Pattern"]'" />
        </div>
    </div>
</body>



</html>

<script type="text/javascript" language="javascript">
    function printex(divID) {
        var printElement = document.getElementById(divID);
        $(printElement).printArea({
            mode: "popup",
            popWd: 1000,
            popHt: 900,
            popClose: false,
            tagPrint: printElement
        });
    }
    function htmlEncode(value) {
        return $('<div/>').text(value).html();
    }
</script>
