﻿@using EInvoice.Core
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@model EInvoice.CAdmin.Models.ReportsDetailModel
@{
    ViewBag.Title = "Thống kê chi tiết hóa đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Model.Status == 0)
    {
        Model.Status = -1;
    }
}
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">THỐNG KÊ CHI TIẾT HÓA ĐƠN</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--search box-->
                <div class="row">
                    <div class="col-sm-12">
                        @using (Html.BeginForm("QuickreportPrince", "ExportExcelAndPdf", FormMethod.Get, new { @class = "form-horizontal", id = "Searchform", name = "searchForm" }))
                        {
                    <div class="col-sm-4 col-sm-offset-2">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Pattern, "Mẫu số: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                            <div class="col-sm-7">
                                @Html.DropDownListFor(m => m.Pattern, Model.lstPattern, new { @name = "Pattern", onchange = "getSerial()", @class = "form-control dropdownlist" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.FromDate, "Từ ngày: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()", style = "width: 85%; display: inline-block;" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Status, "Trạng thái hóa đơn: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                            <div class="col-sm-7">
                                @Html.DropDownListFor(m => m.Status, new[]
                                    {
                                        new SelectListItem{Text="--Trạng thái--",Value="-1", Selected=(Model.Status==-1)},
                                        new SelectListItem{Text=Resources.Einvoice.ReInvDetail_TxtChooseUsedInv, Value="1", Selected=  (Model.Status == 1)},
                                        new SelectListItem{Text=Resources.Einvoice.ReInvDetail_TxtDelete, Value="3", Selected=  (Model.Status == 3)},
                                    }, new { onchange = "sel()", @class = "searchText form-control dropdownlist" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4" style="margin-left: 20px">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Serial, "Ký hiệu: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                            <div class="col-sm-7">
                                @Html.DropDownList("Serial", Model.lstSerial, "--Ký hiệu--", new { @name = "Serial", @class= "form-control dropdownlist" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ToDate, "Đến ngày: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()", style = "width: 85%; display: inline-block;" })
                            </div>
                        </div>
                        @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("DownloadQuickreportPrince"))
                        {
                        <button class="btn btn-primary btn-flat pull-right" type="submit">Báo Cáo Nhanh</button>
                        }
                    </div>
                    }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section styles{
    <style>
        label {
            font-weight: 700;
        }

        .left-align {
            text-align: left;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}

@section scripts{
    <script src="../../Content/js/date.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Content/js/Share.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
    <script src="/Content/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
        $(function ($) {
            $(".vietnameseDate").mask("99/99/9999");
        });
        function getHiddenValue() {
            var stringDate1 = $("#FromDate").val();
            var d1 = Date.parseExact(stringDate1, "d/M/yyyy");
            if (d1 == null && stringDate1 != null) { // nhập không đúng định dạng ngày tháng
                $("#FromDate").val("");
            }
            var stringDate2 = $("#ToDate").val();
            var d2 = Date.parseExact(stringDate2, "d/M/yyyy");
            if (d2 == null && stringDate2 != null) { // nhập d2 không đúng định dạng
                $("#ToDate").val("");
            }
            if (d1 != null && d2 != null && d1 > d2) {
                bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: "@Html.Raw(Resources.Message.Dec_MesToDateBigBeginDate)",
                    size: 'small',
                });
                $("#ToDate").val("");
            }
        }
        function getSerial() {
            var jsd = "Pattern=" + $("#Pattern").val();
            $.ajax({
                type: "POST",
                url: "/CusSignStatus/GetSerial/",
                data: jsd,
                success: function (data) {
                    sl = document.getElementById("Serial");
                    while (sl.firstChild) {
                        sl.removeChild(sl.firstChild);
                    }
                    if (data.pu.length > 0) {
                        newOpt = new Option("--Ký hiệu--", "");
                        document.getElementById("Serial").options.add(newOpt);
                        newOpt.selected = true;
                        for (i = 0; i < data.pu.length; i++) {
                            newOption = new Option(data.pu[i]);
                            document.getElementById("Serial").options.add(newOption);
                        }
                    }
                }
            });
        }
        //Chi cho nhap so
        function keypress(e) {
            var keypressed = null;
            if (window.event) {
                keypressed = window.event.keyCode; //IE
            }
            else {
                keypressed = e.which; //NON-IE, Standard
            }
            if (keypressed < 48 || keypressed > 57) {
                if (keypressed == 8 || keypressed == 127) {
                    return;
                }
                return false;
            }
        }
        jQuery(function ($) {
            $.datepicker.regional['vi'] = {
                closeText: 'Đóng',
                prevText: '&#x3c;Trước',
                nextText: 'Tiếp&#x3e;',
                currentText: 'Hôm nay',
                monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
            'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
                monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
            'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
                dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                weekHeader: 'Tu',
                dateFormat: 'dd/mm/yy',
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
        });
        function test() {
            var FromDate = $("#FromDate").val();
            var ToDate = $("#ToDate").val();
            if (FromDate != "" && ToDate != "") {
                document.forms[0].submit()
            }
            if (FromDate != "" || ToDate != "") {
                if (FromDate != "" && ToDate == "") {
                    bootbox.alert({
                        buttons: {
                            ok: {
                                label: 'Đồng ý'
                            }
                        },
                        title: "Thông báo",
                        message: "@Html.Raw(Resources.Message.ReUse_ReqTime)",
                        size: 'small',
                    }); 

                }
                if (FromDate == "" && ToDate != "") {
                    bootbox.alert({
                        buttons: {
                            ok: {
                                label: 'Đồng ý'
                            }
                        },
                        title: "Thông báo",
                        message: "@Html.Raw(Resources.Message.ReUse_ReqTime)",
                        size: 'small',
                    });
                }
                return false;
            }
            else {
                document.forms[0].submit()
            }
        }
        $(document).ready(function () {
            $.datepicker.setDefaults($.datepicker.regional['vi']);
            $(".datepicker").datepicker({
                showOn: "button",
                buttonImage: "/Content/images/calendar.gif",
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true
            });
        });

    </script>
}
