﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@using EInvoice.Core
@model ReportsLaunchModel
@{
    ViewBag.Title = "Thống kê tạo lập HĐ";
    //Layout = null; //"~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/dist/css/AdminLTE.min.css" rel="stylesheet" />

<link href="/Content/css/grid.css" rel="stylesheet" type="text/css" />
<link href="/Content/css/decision.css" rel="stylesheet" type="text/css" />
<link href="~/Content/AdminLTECustomize.css" rel="stylesheet" />
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    </head>
<body>
    <div class="clear">
    </div>
    <div class="row">
        @Html.Hidden("hdPattern")
        <div class="col-xs-12">
            <div class="box" style="border-top:none;padding-top:10px">
                <div class="box-body">
                    <div>
                        <div id="print">
                            @Html.Raw(Model.Html)
                        </div>
                        <div class="pager">
                            @Html.Pager(Model.pageSize, Model.pageIndex + 1, Model.totalRecords, new
                   {
                       action = "ReportLaunchPrint",
                       controller = "ExportExcelAndPdf",
                       Pattern = Model.Pattern,
                       Serial = Model.Serial,
                       InvNo = Model.InvNo,
                       CreateBy = Model.CreateBy,
                       PublishBy = Model.PublishBy,
                       PublishDate = Model.PublishDate,
                       Pagesize = Model.pageSize
                   })
                        </div>
                    </div>
                    @{
                        string pattern = Model.Pattern;
                        string serial = Model.Serial;
                        string InvNo = Model.InvNo;
                        string CreateBy = Model.CreateBy;
                        string PublishBy = Model.PublishBy;
                        string PublishDate = Model.PublishDate;
                    }
                    <div class="row">
                        <center>
                            <input type="button" class="btn btn-primary btn-flat" id="print_button" value="@Resources.Einvoice.Btn_Print" onclick="JavaScript:printex('print');" />
                            @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Edit_com"))
                            {
                            <input type="button" class="btn btn-primary btn-flat" value="@Resources.Einvoice.BtnDownExcel" onclick="document.location ='/ExportExcelAndPdf/DownloadReportLauch?pattern='+'@Model.Pattern'+'&serial='+'@serial'+'&InvNo='+'@InvNo'+'&CreateBy='+'@CreateBy'+'&PublishBy='+'@PublishBy'+'&PublishDate='+'@PublishDate'+'&Type=xls'" />
                            <input type="button" class="btn btn-primary btn-flat" value="@Resources.Einvoice.BtnDownPdf" onclick="document.location ='/ExportExcelAndPdf/DownloadReportLauch?pattern='+'@pattern'+'&serial='+'@serial'+'&InvNo='+'@InvNo'+'&CreateBy='+'@CreateBy'+'&PublishBy='+'@PublishBy'+'&PublishDate='+'@PublishDate'+'&Type=pdf'" />
                            }
                            <input type="button" class="btn btn-primary btn-flat btn-cancel" value="@Resources.Einvoice.BtnBack" onclick="document.location ='/ExportExcelAndPdf/ReportLaunch?Pattern=@Model.Pattern'" />
                        </center>
                    </div>
                    

                </div>
            </div>
        </div>
    </div>
</body>
</html>


<script type="text/javascript" src="/Content/js/jquery.min.js"></script>
<script type="text/javascript" src="/Content/js/jquery.blockUI.js"></script>
<script type="text/javascript" src="/Content/js/jquery.PrintArea.js"></script>
<script src="/Content/js/FXUtils.js" type="text/javascript"></script>
<script type="text/javascript" language="javascript">
    function htmlEncode(value) {
        return $('<div/>').text(value).html();
    }

    $(document).ready(function () {
     
        // lấy dữ liệu
        //var printElement = document.getElementById("Print");
        //var jData = "Pattern=" + "@Model.Pattern %>";
        // jData += "&Serial=" + "@Model.Serial %>";
        // jData += "&InvNo=" + "@Model.InvNo %>";
        // jData += "&CreateBy=" + "@Model.CreateBy %>";
        // jData += "&PublishBy=" + "@Model.PublishBy %>";
        // jData += "&PublishDate=" + "@Model.PublishDate %>";
        // $.ajax({
        //     type: "POST",
        //     url: "/ExportExcelAndPdf/PrintLaunch/",
        //    data: jData,
        //    success: function (data) {
        //        printElement.innerHTML = data.html;
        //    }
        // });
    });
    function printex(divID) {
        var printElement = document.getElementById(divID);
        $(printElement).printArea({
            mode: "popup",
            popWd: 1000,
            popHt: 900,
            popClose: false,
            tagPrint: printElement
        });
    }
</script>
