﻿@using EInvoice.Core
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@using FX.Core;
@using FX.Utils;
@model EInvoice.CAdmin.Models.ConvertionModel
@{
    ViewBag.Title = "Chuyển đổi hóa đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var currentCom = ((EInvoiceContext)FXContext.Current).CurrentCompany;
}
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">CHUYỂN ĐỔI HÓA ĐƠN</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!-- /.box-search -->
                <div class="row">
                    <div class="col-sm-12">
                        @using (Html.BeginForm("Index", "InvConvertion", FormMethod.Get, new { @class = "form-horizontal", id = "Searchform", name = "searchForm" }))
                        {
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Pattern, "Mẫu số: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.DropDownList("Pattern", Model.PatternList, new { @name = "Pattern", onchange = "getSerial()", @class = "form-control dropdownlist" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Converted, "Trạng thái: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.DropDownList("Converted", new[]
              {
                  new SelectListItem{Text="Tất cả", Value="0", Selected=(Model.Converted == 0)},
                  new SelectListItem{Text=Resources.Einvoice.ConSr_lblNotYetConvert, Value="-1", Selected=(Model.Converted == -1)},
                  new SelectListItem{Text=Resources.Einvoice.ConSr_lblConvertedInv, Value="1", Selected=(Model.Converted == 1)},
              }, new { style = "width:190px", onchange = "sel()", title = "Chọn tình trạng chuyển đổi!", @class = "searchText searchText form-control dropdownlist" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FromDate, "Từ ngày HD: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()", style = "width: 85%; display: inline-block;" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(m => m.cuscode, "Mã khách hàng: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.cuscode, new { @class = "form-control searchText" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4" style="margin-left: 20px">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Serial, "Ký hiệu: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.DropDownList("Serial", Model.SerialList, "Tất cả", new { @name = "Serial", title = "Chọn ký hiệu", @onchange = "document.forms['Searchform'].submit();", @class = "form-control dropdownlist" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.InvNo, "Số hóa đơn: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.InvNo, new { @class = "form-control", MaxLength = "7", onkeypress = "return keypress(event);" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ToDate, "Đến ngày HD: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()", style = "width: 85%; display: inline-block;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.cusName, "Tên khách hàng: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBoxFor(m => m.cusName, new { @class = "form-control searchText" })
                                    </div>
                                </div>
                                @if (((WSHelper.Instance.CheckResourceCode(currentCom) && string.IsNullOrEmpty(Util.IsOnlyUser))) || ((WSHelper.Instance.CheckResourceCode(currentCom) && !Util.IsOnlyUser.Equals("1"))))
                                {
                                <div class="form-group">
                                    @Html.Label("Resource Code: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBox("resourcecode", ViewData["resourcecode"] as string, new { @class = "form-control searchText", style = "width:186px", maxlength = "200", onfocus = "AutoResource()" })
                                    </div>
                                </div>
                                  }
                                <button class="btn btn-primary btn-flat pull-right" type="submit">Tìm kiếm</button>
                            </div>
                        }
                    </div>
                </div>
                <br />
                <form id="danhsachHD" method="post" action="/InvConvertion/Index">
                    <!-- /.box-list -->
                    <div class="row">
                        <div class="col-sm-12">
                            <table id="MailList" class="table table-bordered table-hover table-striped table-responsive have-action dataTable" role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th width="5%">
                                            @Resources.Einvoice.Conv_lblNo
                                        </th>
                                        <th width="10%">
                                            @Resources.Einvoice.Conv_LblPattern
                                        </th>
                                        <th width="5%">
                                            @Resources.Einvoice.Conv_LblSerial
                                        </th>
                                        <th width="10%">
                                            @Resources.Einvoice.Conv_LblInvNo
                                        </th>
                                        <th width="10%">
                                            @Resources.Einvoice.Conv_LblCusName
                                        </th>
                                        <th width="10%">
                                            @Resources.Einvoice.Conv_LblPubDate
                                        </th>
                                        <th width="5%">
                                            @Resources.Einvoice.Conv_LblStatusConv
                                        </th>
                                        <th width="5%">
                                            @Resources.Einvoice.Conv_LblChoose
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        IList<IInvoice> lstInv = Model.PageListINV.ToList();
                                        int i = Model.PageListINV.PageIndex * Model.PageListINV.PageSize + 1;
                                        List<string> lst = new List<string> { "10", "20", "30", "40", "50" };
                                        SelectList pages = new SelectList(lst, Model.PageListINV.PageSize);
                                    }
                                    @foreach (var invoice in lstInv)
                                    {
                                        <tr>
                                            <td>@(i++)</td>
                                            <td>@invoice.Pattern</td>
                                            <td>@invoice.Serial</td>
                                            @if (invoice.Status == InvoiceStatus.NewInv)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td>@invoice.No.ToString("0000000")</td>
                                            }
                                            <td>@invoice.CusName</td>
                                            <td>@String.Format("{0:dd/MM/yyyy}", invoice.PublishDate)</td>
                                            @if (invoice.Converted)
                                            {
                                                <td>Đã chuyển đổi</td>
                                                <td><input name="cbid" type="radio" value="@invoice.id" onclick="CheckConverted(1)" /></td>
                                            }
                                            else
                                            {
                                                <td>Chưa chuyển đổi</td>
                                                <td><input name="cbid" type="radio" value="@invoice.id" onclick="CheckConverted(0)" /></td>
                                            }

                                        </tr>
                                    }
                                </tbody>
                                @Html.Hidden("hdPattern")
                                @Html.Hidden("Serial")
                            </table>
                        </div>
                    </div>
                    <!-- /.box-phan trang -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pager row pull-left">
                                <b>PageSize</b>@Html.DropDownList("Pagesize", pages, new { onchange = "ChangePage()", @style = "width:40px" })
                            </div>
                            <div class="pager row pull-right">
                                @Html.Pager(Model.PageListINV.PageSize, Model.PageListINV.PageIndex + 1, Model.PageListINV.TotalItemCount, new
                           {
                               action = "index",
                               controller = "InvConvertion",
                               Pattern = Model.Pattern,
                               Converted = Model.Converted,
                               FromDate = Model.FromDate,
                               ToDate = Model.ToDate,
                               Serial = Model.Serial,
                               InvNo = Model.InvNo,
                               cusName = Model.cusName,
                               cuscode = Model.cuscode,
                               Pagesize = Model.PageListINV.PageSize
                           })
                            </div>
                        </div>
                    </div>
                </form>
                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Source_Convert"))
                {
                <input id="sourceBtn" style="margin-top: 15px;" type="button" class="btn btn-primary btn-flat" onclick="Convert(0)" value="@Resources.Einvoice.ConSr_btnToProveOrigin" />
                }
                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Save_Convert"))
                {
                <input style="margin-top: 15px;" type="button" class="btn btn-primary btn-flat" onclick="Convert(1)" value="@Resources.Einvoice.ConSt_BtnOrigins" />
                }
            </div>
        </div>

    </div>
</div>
@section styles{
    <style>
        #MailList {
            text-align: center;
        }

       

        .left-align {
            text-align: left;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}
@section scripts{
    <script type="text/javascript" src="/Content/js/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/Content/js/jquery.PrintArea.js"></script>
    <script src="/Content/js/date.js" type="text/javascript"></script>
    <script src="/Content/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
    <script src="/Content/js/BrowserDetectShare.js"></script>
    <script src="/Content/js/main.js"></script>
    <script language="javascript" type="text/javascript">
      
        $(function ($) {
            $(".vietnameseDate").mask("99/99/9999");
        });
        function CheckConverted(converted) {
            if (converted == 1)
                document.getElementById("sourceBtn").disabled = true;
            else
                document.getElementById("sourceBtn").disabled = false;
        }
        function Convert(choice) {

            if (choice == 0 && !confirm("Hóa đơn này chỉ được chuyển đổi chứng minh nguồn gốc duy nhất một lần.\n- Bạn có chắc chắn chuyển đổi không?")) {
                return false;
            }

            str = "";
            if (choice == 0)
                str = "ConvertForVerify";
            else str = "ConvertForStore";
            id = $("input:radio[name='cbid']:checked").val();
            if (!id || id == "")
                bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: "Chưa chọn hóa đơn cần chuyển đổi!",
                    size: 'small',
                });

            else {
                ajxCall4Convert(id, $('#Pattern').val(), str)
            }
        }
        function ChangePage() {
            var pattern = $('#Pattern').val();
            var convertStatus = $('#Converted').val();
            document.location = "/InvConvertion/index?Pattern=" + pattern + "&Converted=" + convertStatus + "&Serial=" + $("#Serial").val() + "&InvNo=" + $("#InvNo").val() + "&FromDate=" + $("#FromDate").val() + "&ToDate=" + $("#ToDate").val() + "&Pagesize=" + document.getElementById("Pagesize").options[document.getElementById("Pagesize").selectedIndex].text;
        }
        jQuery(function ($) {
            $.datepicker.regional['vi'] = {
                closeText: 'Đóng',
                prevText: '&#x3c;Trước',
                nextText: 'Tiếp&#x3e;',
                currentText: 'Hôm nay',
                monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
		'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
                monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
		'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
                dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                weekHeader: 'Tu',
                dateFormat: 'dd/mm/yy',
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
        });

        $(document).ready(function () {
            $.datepicker.setDefaults($.datepicker.regional['vi']);
            $(".datepicker").datepicker({
                showOn: "button",
                buttonImage: "/Content/images/calendar.gif",
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true
            });

            $('#InvNo').change(function () {
                var val = $('#InvNo').val();
                if (parseInt(val, 10).toString() == "NaN") {
                    $('#InvNo').val('');
                }
                checkInvNo();
            });
            checkInvNo();
        });

        function checkInvNo() {
            if ($('#InvNo').val() && $('#InvNo').val() > 0) {
                $('.searchText').attr("disabled", "disabled");
                $(".datepicker").attr("disabled", "disabled");
                $('.ui-datepicker-trigger').hide();
            }
            else {
                $(".searchText").removeAttr("disabled");
                $(".datepicker").datepicker('enable');
                $('.ui-datepicker-trigger').show();
            }
            var str = $('#InvNo').val();
            while (str.length < 7) {
                str = '0' + str;
            }
            if (str == "0000000")
                return $('#InvNo').val("");
            else
                return $('#InvNo').val(str);
        }

        function sel() {
            var Converted = $('#Converted').val();
            if ($('#Converted').val() && parseInt($('#Converted').val()) != 0) {
                $("#InvNo").val("");
                $("#InvNo").attr("disabled", "disabled");
            }
            else {
                $("#InvNo").removeAttr("disabled");
            }
        }
        //Chi cho nhap so
        function keypress(e) {
            var keypressed = null;
            if (window.event) {
                keypressed = window.event.keyCode; //IE
            }
            else {
                keypressed = e.which; //NON-IE, Standard
            }
            if (keypressed < 48 || keypressed > 57) {
                if (keypressed == 8 || keypressed == 127) {
                    return;
                }
                return false;
            }
        }

        function getHiddenValue() {
            var stringDate1 = $("#FromDate").val();
            var d1 = Date.parseExact(stringDate1, "d/M/yyyy");
            if (d1 == null && stringDate1 != null) { // nhập không đúng định dạng ngày tháng
                $("#FromDate").val("");
            }
            var stringDate2 = $("#ToDate").val();
            var d2 = Date.parseExact(stringDate2, "d/M/yyyy");
            if (d2 == null && stringDate2 != null) { // nhập d2 không đúng định dạng
                $("#ToDate").val("");
            }
            if (d1 != null && d2 != null && d1 > d2) {
                 bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: "@Html.Raw(Resources.Message.Dec_MesToDateBigBeginDate)",
                    size: 'small',
                });
                $("#ToDate").val("");
            }
        }
        function getSerial() {
            var jsd = "Pattern=" + $("#Pattern").val();
            $.ajax({
                type: "POST",
                url: "/CusSignStatus/GetSerial/",
                data: jsd,
                success: function (data) {
                    sl = document.getElementById("Serial");
                    while (sl.firstChild) {
                        sl.removeChild(sl.firstChild);
                    }
                    if (data.pu.length > 0) {
                        newOpt = new Option("Tất cả", "");
                        document.getElementById("Serial").options.add(newOpt);
                        newOpt.selected = true;
                        for (i = 0; i < data.pu.length; i++) {
                            newOption = new Option(data.pu[i]);
                            document.getElementById("Serial").options.add(newOption);
                        }
                    }
                    document.forms['Searchform'].submit();
                }
            });
        }
        function printScr(idInvoice, pattern) {
            var jsondata = { idInvoice: idInvoice, pattern: pattern };
            $.ajax({
                type: "POST",
                url: "/InvConvertion/getPrintData/",
                data: jsondata,
                success: function (data) {
                    var printElement = document.getElementById("container");
                    printElement.innerHTML = data;

                    $(printElement).printArea({
                        mode: "iframe",
                        popWd: 1000,
                        popHt: 700,
                        popClose: false,
                        tagPrint: "#container"
                    })
                }
            });
        }
    </script>
}
