﻿@using EInvoice.Core
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@model EInvoice.CAdmin.Models.CusSignIndexModel
@{
    ViewBag.Title = "TÌNH TRẠNG KÝ XÁC NHẬN HÓA ĐƠN CỦA KHÁCH HÀNG";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int SignStatus = -1;
    if (Model.SignStatus != null)
    {
        SignStatus = Convert.ToInt32(Model.SignStatus);
    }
    int pageIndex = ViewData["PageIndex"] == null ? 1 : (int)ViewData["PageIndex"];
}
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">TÌNH TRẠNG KÝ XÁC NHẬN HÓA ĐƠN CỦA KHÁCH HÀNG</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--search box-->
            <div class="row">
                <div class="col-sm-12">
                    @using (Html.BeginForm("Index", "CusSignStatus", FormMethod.Get, new { @class = "form-horizontal", id = "Searchform", name = "searchForm" }))
                    {
                        <div class="col-sm-4 col-sm-offset-2">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Pattern, "Mẫu số: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                <div class="col-sm-7">
                                    @Html.DropDownListFor(m => m.Pattern, Model.lstpattern, new { @class = "form-control dropdownlist", onchange = "getSerial()" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.SignStatus, "Trạng thái ký của khách hàng: ", new { @class = "col-sm-5 control-label", style = "text-align: left; margin-top: -15px;" })
                                <div class="col-sm-7">
                                    @Html.DropDownListFor(m => m.SignStatus, new[]
                                    {
                                        new SelectListItem{Text=Resources.Einvoice.ReSigCus_TxtNoSign, Value="0", Selected=(SignStatus == 0)},
                                        new SelectListItem{Text=Resources.Einvoice.ReSigCus_TxtSigned, Value="1", Selected=(SignStatus == 1)},
                                    },"Chọn", new { onchange="sel()", @class= "searchText form-control dropdownlist", title = "Chọn tình trạng ký!" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.FromDate, "Từ ngày HD: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()", style = "width: 85%; display: inline-block;" })
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4" style="margin-left: 20px">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Serial, "Ký hiệu: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                <div class="col-sm-7">
                                    @Html.DropDownList("Serial", Model.lstserial, "--Ký hiệu--", new { @name = "Serial", @class= "form-control dropdownlist", title = "Chọn ký hiệu" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.InvNo, "Số hóa đơn: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(m => m.InvNo, new { @class = "form-control", MaxLength = "7", onkeypress = "return keypress(event);" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ToDate, "Đến ngày HD: ", new { @class = "col-sm-5 control-label", style = "text-align: left" })
                                <div class="col-sm-7">
                                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()", style = "width: 85%; display: inline-block;" })
                                </div>
                            </div>
                            <button class="btn btn-primary btn-flat pull-right" type="submit">Tìm kiếm</button>
                        </div>
                    }
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                </div>
            </div>
                <!--div grid-->
                <form id="danhsachHD" method="post" action="/EInvoice/LaunchChoice">
                    <div class="row">
                        <div class="col-sm-12">

                            <table id="MailList" class="table table-bordered table-hover table-striped table-responsive have-action dataTable" role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th width="5%">
                                            Stt
                                        </th>
                                        <th width="10%">
                                            Mẫu số
                                        </th>
                                        <th width="5%">
                                            Ký hiệu
                                        </th>
                                        <th width="10%">
                                            Số hóa đơn
                                        </th>
                                        <th width="10%">
                                            Tên khách hàng
                                        </th>
                                        <th width="10%">
                                            Ngày xuất
                                        </th>
                                        <th width="5%">
                                            Trạng thái khách hàng
                                        </th>
                                        <th width="5%">
                                            Chi tiết
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        IList<IInvoice> lstInv = Model.PageListCusSign.ToList();
                                        int i = Model.PageListCusSign.PageIndex * Model.PageListCusSign.PageSize + 1;
                                        List<string> lst = new List<string> { "10", "20", "30", "40", "50" };
                                        SelectList pages = new SelectList(lst, Model.defautPagesize);
                                    }
                                    @foreach (var item in lstInv)
                                    {
                                    <tr>
                                        <td>@(i++)</td>
                                        <td>@item.Pattern</td>
                                        <td>@item.Serial</td>
                                        @if (item.Status == InvoiceStatus.NewInv)
                                        {
                                        <td></td>
                                        }
                                        else
                                        {
                                        <td>@item.No.ToString("0000000")</td>
                                        }
                                        <td>@item.CusName</td>
                                        <td>@String.Format("{0:dd/MM/yyyy}", item.PublishDate)</td>
                                        @if (item.CusSignStatus == cusSignStatus.NoSignStatus || item.CusSignStatus == cusSignStatus.ViewNoSignStatus)
                                        {
                                        <td>Chưa ký</td>
                                        }
                                        else if (item.CusSignStatus == cusSignStatus.SignStatus)
                                        {
                                        <td>Đã ký</td>
                                        }
                                        <td>    
                                            <span alt="Chi tiết" style="cursor: pointer" class="glyphicon glyphicon-eye-open fill-color" onclick="ajxCall('@item.id', '@item.Pattern')"></span>
                                        </td>
                                    </tr>
                                    }
                                </tbody>
                                @Html.Hidden("hdPattern")
                                @Html.Hidden("id","")
                                @Html.Hidden("cusCode")
                                @Html.Hidden("SignStatus")
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-10">
                        </div>
                        <div class="col-sm-12">
                            <div class="pager row pull-left">
                                <b>PageSize</b>@Html.DropDownList("Pagesize", pages, new { onchange = "ChangePage()",@style="width:40px" })
                            </div>
                            <div class="pager row pull-right">
                                @Html.Pager(Model.PageListCusSign.PageSize, Model.PageListCusSign.PageIndex + 1, Model.PageListCusSign.TotalItemCount, new
                                {
                                    action = "index",
                                    controller = "CusSignStatus",
                                    Pattern = Model.Pattern,
                                    SignStatus = Model.SignStatus,
                                    FromDate = Model.FromDate,
                                    ToDate = Model.ToDate,
                                    Serial = Model.Serial,
                                    InvNo = Model.InvNo,
                                    Pagesize = Model.defautPagesize
                                })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section styles{
    <style>
        #MailList {
            text-align: center;
        }

        label {
            font-weight: 700;
        }

        .left-align {
            text-align: left;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}

@section scripts{
<script type="text/javascript" src="/Content/js/jquery.blockUI.js"></script>
<script type="text/javascript" src="/Content/js/jquery.PrintArea.js"></script>
<script src="/Content/js/date.js" type="text/javascript"></script>
<script src="/Content/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
<script src="/Content/js/BrowserDetectShare.js"></script>
<script src="/Content/js/jquery.pajinate.js"></script>
<script src="~/Content/js/jquery.bpopup.min.js"></script>
<script type="text/javascript" src="/Content/js/main.js"></script>
    <script type="text/javascript" language="javascript">
        function getPattern() {
            if ($('#Pattern').val() != "")
                $('#hdPattern').val($('#Pattern').val());
        }
        //phan trang
        function ChangePage() {
            var pattern = $('#Pattern').val();
            var SignStatus = $('#SignStatus').val();
            document.location = "/CusSignStatus/Index?Pattern=" + pattern + "&SignStatus=" + SignStatus + "&Serial=" + $("#Serial").val() + "&InvNo=" + $("#InvNo").val() + "&FromDate=" + $("#FromDate").val() + "&ToDate=" + $("#ToDate").val() + "&Pagesize=" + document.getElementById("Pagesize").options[document.getElementById("Pagesize").selectedIndex].text + "&page=" + "<%:pageIndex";
        }
        //dinh dang tieng viet cho datepicker
        jQuery(function ($) {
            $.datepicker.regional['vi'] = {
                closeText: 'Đóng',
                prevText: '&#x3c;Trước',
                nextText: 'Tiếp&#x3e;',
                currentText: 'Hôm nay',
                monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
		'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
                monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
		'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
                dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                weekHeader: 'Tu',
                dateFormat: 'dd/mm/yy',
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
        });
        //dinh dang nhap bang tieng viet
        $(function ($) {
            $(".vietnameseDate").mask("99/99/9999");
        });
        $(document).ready(function () {
            $.datepicker.setDefaults($.datepicker.regional['vi']);
            $(".datepicker").datepicker({
                showOn: "button",
                buttonImage: "/Content/images/calendar.gif",
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true
            });

            $('#InvNo').change(function () {
				var val = $('#InvNo').val();
                if (parseInt(val, 10).toString() == "NaN") {
                    $('#InvNo').val('');
                }
                checkInvNo();
            });
            checkInvNo();
        });

        function checkInvNo() {
            var str = $('#InvNo').val();
            if ($('#InvNo').val() && $('#InvNo').val() > 0) {
                $('.searchText').attr("disabled", "disabled");
                $(".datepicker").attr("disabled", "disabled");
            }
            else {
                $(".searchText").removeAttr("disabled");
                $(".datepicker").datepicker('enable');
            }

            while (str.length < 7) {
                str = '0' + str;
            }
            if (str == "0000000")
                return $('#InvNo').val("");
            else
                return $('#InvNo').val(str);
        }

        function sel() {
            var SignStatus = $('#SignStatus').val();
            if ($('#SignStatus').val() != "") {
                $("#InvNo").val("");
                $("#InvNo").attr("disabled", "disabled");
            }
            else {
                $("#InvNo").removeAttr("disabled");
            }
        }
        //Chi cho nhap so khi nhap control so hoa don
        function keypress(e) {
            var keypressed = null;
            if (window.event) {
                keypressed = window.event.keyCode; //IE
            }
            else {
                keypressed = e.which; //NON-IE, Standard
            }
            if (keypressed < 48 || keypressed > 57) {
                if (keypressed == 8 || keypressed == 127) {
                    return;
                }
                return false;
            }
        }

        //hien thi danh sach cac serial khi chon pattern
        function getSerial() {
            var jsd = "Pattern=" + $("#Pattern").val();
            $.ajax({
                type: "POST",
                url: "/CusSignStatus/GetSerial/",
                data: jsd,
                success: function (data) {
                    sl = document.getElementById("Serial");
                    while (sl.firstChild) {
                        sl.removeChild(sl.firstChild);
                    }
                    if (data.pu.length > 0) {
                        newOpt = new Option("--Ký hiệu--", "");
                        document.getElementById("Serial").options.add(newOpt);
                        newOpt.selected = true;
                        for (i = 0; i < data.pu.length; i++) {
                            newOption = new Option(data.pu[i]);
                            document.getElementById("Serial").options.add(newOption);
                        }
                    }
                }
            });
        }
        //check logic datetime
        function getHiddenValue() {
            var stringDate1 = $("#FromDate").val();
            var d1 = Date.parseExact(stringDate1, "d/M/yyyy");
            if (d1 == null && stringDate1 != null) { // nhập không đúng định dạng ngày tháng
                $("#FromDate").val("");
            }
            var stringDate2 = $("#ToDate").val();
            var d2 = Date.parseExact(stringDate2, "d/M/yyyy");
            if (d2 == null && stringDate2 != null) { // nhập d2 không đúng định dạng
                $("#ToDate").val("");
            }
            if (d1 != null && d2 != null && d1 > d2) {
                bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: "@Html.Raw(Resources.Message.Dec_MesToDateBigBeginDate)",
                    size: 'small',
                });
               
                $("#ToDate").val("");
            }
        }
</script>
}
