﻿@model EInvoice.CAdmin.Models.AccountModel
@{
   // List<SelectListItem> lstSerial = ViewBag.ListSerial;
    List<SelectListItem> lstPatternSerial = ViewBag.ListPatternSerial;
}
@Html.HiddenFor(m => m.UserTmp.userid)
@{
    Html.EnableClientValidation();
}
<link href="~/Content/css/DetailsEditStyle.css" rel="stylesheet" />

<style>
    .select2-selection__choice__remove {
        color: #fff !important;
    }

    .select2-selection__choice {
        background-color: #3c8dbc;
    }

    label {
        font-weight: 700;
    }

    .left-align {
        text-align: left;
    }

    li {
        list-style: none;
    }

    .role-item {
        text-align: left;
        text-transform: capitalize;
        margin-top: 10px;
    }

    .first-role-item {
        margin-top: 0px;
    }

    .error {
        color: red;
        font-weight: normal;
    }

</style>

<link href="~/Content/grid.css" rel="stylesheet" />
<link href="/Content/css/select2.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Content/js/select2.js"></script>

<div class="box-header" style="text-align:center">
    <h3 class="box-title">Thông tin về tài khoản</h3>
    <hr />
</div>
@Html.Hidden("id", Model.UserTmp.userid)
<ul>
    @if (Model.UserTmp.userid > 0)
    {
        <li>
            <div class="form-group">
                <label class="col-sm-5">Tên tài khoản <span style="color: red">(*)</span></label>
                <div class="col-sm-7">
                    @Html.DisplayTextFor(m => m.UserTmp.username)
                </div>
            </div>
        </li>
    }
    else
    {
        <li>
            <div class="form-group">
                <label class="col-sm-5">Tên tài khoản <span style="color: red">(*)</span></label>
                <div class="col-sm-7">
                    @Html.TextBox("username", Model.UserTmp.username, new { @id = "username", @class = "required textandnum form-control", Title = Resources.Einvoice.User_ReqAccountName, @maxlength = 50 })
                </div>
            </div>
        </li>
    }

    <li>
        <div class="form-group">
            <label class="col-sm-5">Mật khẩu <span style="color: red">(*)</span></label>
            <div class="col-sm-7">
                @Html.Password("password", Model.UserTmp.password, new { @id = "password", @class = "form-control" })
            </div>
        </div>
    </li>

    <li>
        <div class="form-group">
            <label class="col-sm-5">Nhập lại mật khẩu <span style="color: red">(*)</span></label>
            <div class="col-sm-7">
                @Html.Password("RetypePassword", Model.RetypePassword, new { @name = "RetypePassword", @id = "RetypePassword", @class = "form-control"})
            </div>
        </div>
    </li>

    @if (Model.UserTmp.userid > 0)
    {
        <li>
            <div class="form-group">
                <label class="col-sm-5">Mail <span style="color: red">(*)</span></label>
                <div class="col-sm-7">
                    @Html.DisplayTextFor(m => m.UserTmp.email)
                </div>
            </div>
        </li>
    }
    else
    {
        <li>
            <div class="form-group">
                <label class="col-sm-5">Mail <span style="color: red">(*)</span></label>
                <div class="col-sm-7">
                    @Html.TextBox("email", Model.UserTmp.email, new { @class = "required email form-control", Title = Resources.Einvoice.User_MesInvalidEmail, @maxlength = 100 })
                </div>
            </div>
        </li>
    }

    @if (ViewBag.IsSerial == "1")
    {
        <li>
            <div class="form-group">
                <label class="col-sm-5">Ký hiệu</label>
                <div class="col-sm-7">
                    @Html.ListBox("lstPatternSerial", lstPatternSerial, new { multiple = "multiple", @class = "form-control" })
                </div>
            </div>
        </li>
    }
    
    <li>
        <div class="form-group">
            <label class="col-sm-5">Kích hoạt</label>
            <div class="col-sm-7">
                @Html.CheckBox("IsApproved", Model.UserTmp.IsApproved, new { @id= "IsApproved", onchange = "setIsLockedOutValue()" })
            </div>
        </div>
    </li>
    <li>
        <div class="form-group">
            <label class="col-sm-5">Khóa</label>
            <div class="col-sm-7">
                @Html.CheckBox("IsLockedOut", Model.UserTmp.IsLockedOut, new {@id= "IsLockedOut", onchange = "setIsApprovedValue()" })
            </div>
        </div>
    </li>
</ul>
<div class="clear"></div>
<div style="margin-left: 40px; margin-top: 20px">
    <h4 style="font-weight: 600; margin-bottom: 0">Roles</h4>
    <div style="padding-top: 0" class="row">
        @{
            int rowcount = Model.AllRoles.Length / 3;
            int odd = Model.AllRoles.Length % 3;
            for (int i = 0; i < rowcount; i++)
            {
        <div class="role-item col-sm-4 pull-left">
            <input type="checkbox" name="UserRoles" value="@(Model.AllRoles[i * 3])" @FX.Utils.Web.UI.GetChecked(Model.UserRoles.Contains(Model.AllRoles[i * 3])) />
            @(Model.AllRoles[i * 3])
        </div>
        <div class="role-item col-sm-4 pull-left">
            <input type="checkbox" name="UserRoles" value="@(Model.AllRoles[i * 3 + 1])" @FX.Utils.Web.UI.GetChecked(Model.UserRoles.Contains(Model.AllRoles[i * 3 + 1])) />
            @(Model.AllRoles[i * 3 + 1])
        </div>
        <div class="role-item col-sm-4 pull-left">
            <input type="checkbox" name="UserRoles" value="@(Model.AllRoles[i * 3 + 2])" @FX.Utils.Web.UI.GetChecked(Model.UserRoles.Contains(Model.AllRoles[i * 3 + 2])) />
            @(Model.AllRoles[i * 3 + 2])
        </div>
            }
            if (odd != 0)
            {
        <div class="role-item col-sm-4 pull-left">
            <input type="checkbox" name="UserRoles" value="@(Model.AllRoles[rowcount * 3])" @FX.Utils.Web.UI.GetChecked(Model.UserRoles.Contains(Model.AllRoles[rowcount * 3])) />
            @{ var x = rowcount * 3; }
            @Html.Raw(Model.AllRoles[rowcount * 3])
        </div>
                if (odd > 1)
                {
        <div class="role-item col-sm-4 pull-left">
            <input type="checkbox" name="UserRoles" value="@(Model.AllRoles[rowcount * 3+1])" @FX.Utils.Web.UI.GetChecked(Model.UserRoles.Contains(Model.AllRoles[rowcount * 3 + 1])) />
            @Html.Raw(Model.AllRoles[rowcount * 3 + 1])
        </div>
                }
                if (odd > 2)
                {
        <div class="role-item col-sm-4 pull-left">
            <input type="checkbox" name="UserRoles" value="@(Model.AllRoles[rowcount * 3+2])" @FX.Utils.Web.UI.GetChecked(Model.UserRoles.Contains(Model.AllRoles[rowcount * 3 + 2])) />
            @Html.Raw(Model.AllRoles[rowcount * 3 + 2])
        </div>
                }

            }


        }
    </div>
</div>

<script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#lstPatternSerial").select2();
        
        $('#username').bind('paste', function (e) {
            var re = /^[0-9A-Za-z]+$/;
            setTimeout(function () {
                var username = $('#username').val();
                if (!re.test(username)) {
                    $('#username').val('');
                };
            }, 100);

        });

        $('form:first').validate({
            rules: {
                password: {
                    required: true,
                    minlength: 6
                },
                RetypePassword: {
                    required: true,
                    equalTo: "#password"
                }
            },
            messages: {
                password: {
                    required: "@Html.Raw(Resources.Message.User_MesReqNewPass)",
                    minlength: jQuery.validator.format("@Html.Raw(Resources.Message.User_MesReqMinLengthPass)")
                },
                RetypePassword: {
                    required: "@Html.Raw(Resources.Message.User_MesReqConfirmNewPass)",
                    equalTo: "@Html.Raw(Resources.Message.User_MesErrConfirmPas)"
                }
            }
        });
        if ($('#userid').val() < 1) {
            $('#username').val("");
            $('#password').val("");
            $('#RetypePassword').val('');
        }
        $("form").submit(function () {
            if (!$('form').valid())
                return false;
            if ($('#password').val().indexOf(" ") >= 0 || $('#RetypePassword').val().indexOf(" ") >= 0) {
                //bootbox.alert({
                //    buttons: {
                //        ok: {
                //            label: 'Đồng ý'
                //        }
                //    },
                //    title: "Thông báo",
                //    message: "Mật khẩu không được chứa khoảng cách.",
                //    size: 'small',
                //});
                var $validator = $('form:first').validate();
                errors = { password: "Mật khẩu không được chứa khoảng cách" };
                $validator.showErrors(errors);
                return false;
            }
        });
    });

    function setIsLockedOutValue() {
        if ($("#IsApproved").val() == "true")
        {           
            $("#IsLockedOut").prop("checked", false);
        }
    }
    function setIsApprovedValue(){
        if ($("#IsLockedOut").val() == "true")
        {
            $("#IsApproved").prop("checked", false);
        }
    }
</script>

