﻿@model IdentityManagement.Domain.user
@{
   // List<SelectListItem> lstSerial = ViewBag.ListSerial;
    List<SelectListItem> lstPatternSerial = ViewBag.ListPatternSerial;
}
@Html.HiddenFor(m => m.userid)
<script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
<link href="~/Content/css/DetailsEditStyle.css" rel="stylesheet" />
<link href="~/Content/grid.css" rel="stylesheet" />
<link href="/Content/css/select2.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/Content/js/select2.js"></script>

<div class="box-header" style="text-align:center">
    <h3 class="box-title">Thông tin về tài khoản</h3>
    <hr />
</div>
<section class="content form-horizontal">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    @if (Model.userid > 0)
            {
                        <div class="form-group">
                            <label class="control-label col-md-4">Tên tài khoản <span style="color: red">(*)</span></label>
                            <div class="col-sm-7">
                                @Html.DisplayTextFor(m => m.username)
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label class="control-label col-md-4">Tên tài khoản <span style="color: red">(*)</span></label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.username, new { @class = "required textandnum form-control", Title = Resources.Einvoice.User_ReqAccountName, maxlength = "50" })
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <label class="control-label col-md-4">Mật khẩu <span style="color: red">(*)</span></label>
                        <div class="col-sm-7">
                            @Html.Password("password", Model.password, new { @autocomplete = "off", @class = "form-control", title = Resources.Einvoice.User_ReqPassWord })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Nhập lại mật khẩu <span style="color: red">(*)</span></label>
                        <div class="col-sm-7">
                            @Html.Password("RetypePassword", Model.password, new { @autocomplete = "off", @id = "RetypePassword", @class = "form-control", title = Resources.Einvoice.User_ReqRetypeNewPass })
                        </div>
                    </div>
                    @if (Model.userid > 0)
            {
                        <div class="form-group">
                            <label class="control-label col-md-4">Mail <span style="color: red">(*)</span></label>
                            <div class="col-sm-7">
                                @Html.DisplayTextFor(m => m.email)
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="form-group">
                            <label class="control-label col-md-4">Mail <span style="color: red">(*)</span></label>
                            <div class="col-sm-7">
                                @Html.TextBoxFor(m => m.email, new { @class = "required email form-control", Title = Resources.Einvoice.User_MesInvalidEmail, maxlength = "100" })
                            </div>
                        </div>
                    }

                    @if (ViewBag.IsSerial == "1")
                    {
                        <div class="form-group">
                            <label class="control-label col-md-4">Ký hiệu</label>
                            <div class="col-sm-7">
                                @Html.ListBox("lstPatternSerial", lstPatternSerial, new { multiple = "multiple", @class = "form-control" })
                            </div>
                        </div>
                    }

                    <div class="form-group">
                        <label class="control-label col-md-4">Kích hoạt</label>
                        <div class="col-sm-7">
                            @Html.CheckBoxFor(m => m.IsApproved, new { @onclick = "checkboxa()" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-4">Khóa</label>
                        <div class="col-sm-7">
                            @Html.CheckBoxFor(m => m.IsLockedOut, new { @onclick = "checkboxb()" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="box-footer">
        <div class="col-sm-5">
        </div>
        <div>
            <button class="btn btn-primary btn-flat" type="button" onclick="document.location = '/Account/ServiceRoleIndex'"><i class="fa fa-arrow-left margin-r-5"></i>Quay lại</button>
            <button class="btn btn-success btn-flat" type="submit"><i class="fa fa-check-square-o margin-r-5"></i>@((@Model.userid > 0) ? "Lưu dữ liệu" : "Tạo mới")</button>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(document).ready(function () {
        $("#lstPatternSerial").select2();
        $('form:first').validate({
            rules:
            {
                password:
                {
                    required: true,
                    minlength: 8,
                  
                },
                RetypePassword:
                            {
                                required: true,
                                equalTo:
                                            "#password"
                            }
            },
            messages:
                        {
                            password:
                            {
                                required: "@Resources.Message.User_MesReqNewPass ",
                                minlength: jQuery.validator.format("@Resources.Message.User_MesReqMinLengthPass  "),
                                maxlength: jQuery.validator.format("Mật khẩu dài tối đa 15 ký tự")
                            },
                            RetypePassword:
                                        {
                                            required: "@Resources.Message.User_MesReqConfirmNewPass ",
                                            equalTo:
                                                        "@Resources.Message.User_MesErrConfirmPas "
                                        }
                        }
        });
        if ($('#userid').val() < 1) {
            $('#username').val("");
            $('#password').val("");
            $('#RetypePassword').val('');
        }

        $("form").submit(function () {
            if (!$('form').valid())
                return false;
            if ($('#password').val().indexOf(" ") >= 0 || $('#RetypePassword').val().indexOf(" ") >= 0) {
                alert("Mật khẩu không được chứa khoảng cách.");
                return false;
            }
        });
        $("#username").keyup(function (event) {
            if ($(this).val().indexOf(' ') >= 0) {
                //alert('Tên tài khoản không có dấu cách');
                $(this).val('');
                return false;
            }
            if (!/^\w+$/i.test($(this).val())) {
                //alert('Tài khoản không chứa ký tự lạ hoặc ký tự có dấu');
                $(this).val('');
                return false;
            }
        });
    });

    function checkboxa() {
        var isChecked = $('#IsApproved').is(':checked');
        if (isChecked == true) {
            $('input[name=IsApproved]').prop('checked', true);
            $('input[name=IsLockedOut]').prop('checked', false);
        }
        else {
            $('input[name=IsApproved]').prop('checked', false);
            $('input[name=IsLockedOut]').prop('checked', true);
        }
    }
    function checkboxb() {
        var isChecked = $('#IsLockedOut').is(':checked');
        if (isChecked == true) {
            $('input[name=IsApproved]').prop('checked', false);
            $('input[name=IsLockedOut]').prop('checked', true);
        }
        else {
            $('input[name=IsApproved]').prop('checked', true);
            $('input[name=IsLockedOut]').prop('checked', false);
        }
    }
</script>

