﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@model ChangePasswordModel
@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="/Content/css/SharedFormElements.css" rel="stylesheet" type="text/css" />
<link href="~/Content/dist/css/AdminLTE.min.css" rel="stylesheet" />
<link href="~/Content/AdminLTECustomize.css" rel="stylesheet" />
<script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">@Html.Raw(Resources.Einvoice.User_LblChangePass)</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--search box-->
                @using (Html.BeginForm("ChangePasswordCustomer", "Account", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.Hidden("username", Model.username)
                    <div class="">
                        <div class="col-md-12 col-xs-12 col-sm-12">
                            <div class="form-group">
                                <label class="control-label col-md-4">@Html.Raw(Resources.Einvoice.User_NewPass)<span style="color: red">(*)</span></label>
                                <div class="col-md-6">
                                    @Html.Password("NewPassword", Model.NewPassword, new {@class = "form-control required", @maxlength = 15 })
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-4">@Html.Raw(Resources.Einvoice.User_RetypeNewPass)<span style="color: red">(*)</span></label>
                                <div class="col-md-6">
                                    @Html.Password("ConfirmPassword", Model.ConfirmPassword, new {@class = "form-control required", Title = "Nhập lại mật khẩu", @maxlength = 15 })
                                </div>
                            </div>
                        </div>
                        <center>
                            <div class="">
                                <input type="submit" value="@Html.Raw(Resources.Einvoice.BtnSave)" class="btn btn-primary btn-flat" onclick="change_CLick()" />
                                <input type="reset" value="@Html.Raw(Resources.Einvoice.BtnReset)" class="btn btn-primary btn-flat" />
                            </div>
                        </center>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<script language="javascript" type="text/javascript">

    function change_CLick() {
        $.blockUI({ message: '<h1><img src="/content/Images/busy.gif" />@Html.Raw(Resources.Einvoice.MPleaseWait)</h1>', timeout: 10000 });
        if ($("#oldPassword").val() == $("#NewPassword").val()) {
            $.unblockUI();
            FanxiMessage("@Html.Raw(Resources.Einvoice.User_ReqSamePass)", true);
        }
        else {
            if ($("#NewPassword").val() != $("#RetypePassword").val()) {
                $.unblockUI();
                FanxiMessage("@Html.Raw(Resources.Einvoice.User_RetypeNewPass)", true);
            }
        }
    }
    $(document).ready(function () {
        $('#oldPassword').val("");
        $("#NewPassword").val("");
        $("#ConfirmPassword").val("");
        $('form:first').validate({
            rules: {
                oldPassword: {
                    required: true
                },
                NewPassword: {
                    required: true,
                    minlength: 8
                },
                ConfirmPassword: {
                    required: true,
                    equalTo: "#NewPassword"
                }
            },
            messages: {
                oldPassword: {
                    required: "@Html.Raw(Resources.Message.User_MesReqOldPass)"
                },
                NewPassword: {
                    required: "@Html.Raw(Resources.Message.User_MesReqNewPass)",
                    minlength: jQuery.validator.format("@Html.Raw(Resources.Message.User_MesReqMinLengthPass)")
                },
                ConfirmPassword: {
                    required: "@Html.Raw(Resources.Message.User_MesReqConfirmNewPass)",
                    equalTo: "@Html.Raw(Resources.Message.User_MesErrConfirmPas)"
                }
            }
        });
    });

</script>
