﻿
@model EInvoice.CAdmin.Models.ChangePasswordModel
@{
    ViewBag.Title = "Thay đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">Đổi mật khẩu</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--search box-->
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                        {
                            <ul>
                                <li>
                                    <div class="form-group">
                                        <label class="col-sm-5">Mật khẩu cũ <span style="color: red">(*)</span></label>
                                        <div class="col-sm-7">
                                            @Html.PasswordFor(m => m.OldPassword, new { @class = "required form-control", Title = Resources.Einvoice.User_ReqPassWord, @maxlength = 15 })
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="col-sm-5">Mật khẩu mới <span style="color: red">(*)</span></label>
                                        <div class="col-sm-7">
                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "required form-control", @maxlength = 15 })
                                        </div>
                                        <b><span id="strengthPass"></span></b>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <label class="col-sm-5">Nhập lại mật khẩu <span style="color: red">(*)</span></label>
                                        <div class="col-sm-7">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "required form-control", @maxlength = 15 })
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <div class="col-sm-5"></div>
                                        <button style="margin-left: 15px;" class="btn btn-primary btn-flat col-sm-2" type="submit">Lưu</button>
                                        <button class="btn btn-primary btn-flat col-sm-2" type="reset">Làm lại</button>
                                    </div>
                                </li>
                                <li>
                                    <label>Chú ý: Mật khẩu phải gồm 8-15 ký tự và có chữ hoa, chữ thường, số và ký hiệu đặc biệt!</label>

                                </li>
                            </ul>
                            @Html.Hidden("username", Model.username)
                        }
                    </div>
                </div>
                <!--div grid-->
            </div>
        </div>
    </div>
</div>
@section styles{
    <link href="~/Content/css/DetailsEditStyle.css" rel="stylesheet" />
    <style>
        label {
            font-weight: 700;
        }

        .left-align {
            text-align: left;
        }

        li {
            list-style: none;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function () {
            $('#oldPassword').val("");
            $("#NewPassword").val("");
            $("#ConfirmPassword").val("");
            $('form:first').validate({
                rules: {
                    oldPassword: {
                        required: true
                    },
                    NewPassword: {
                        required: true,
                        minlength: 8
                    },
                    ConfirmPassword: {
                        required: true,
                        equalTo: "#NewPassword"
                    }
                },
                messages: {
                    oldPassword: {
                        required: "@Resources.Message.User_MesReqOldPass"
                    },
                    NewPassword: {
                        required: "@Resources.Message.User_MesReqNewPass  ",
                        minlength: jQuery.validator.format("@Resources.Message.User_MesReqMinLengthPass  ")
                    },
                    ConfirmPassword: {
                        required: "@Resources.Message.User_MesReqConfirmNewPass ",
                        equalTo: "@Resources.Message.User_MesErrConfirmPas "
                    }
                }
            });
            $('#NewPassword').keyup(function () {
                if (checkStrengthPass($('#NewPassword').val()) == 0)
                    $('#strengthPass').html('Mật khẩu phải từ 8-15 ký tự.');
                else if (checkStrengthPass($('#NewPassword').val()) == 1)
                    $('#strengthPass').html("Mật khẩu yếu.");
                else if (checkStrengthPass($('#NewPassword').val()) == 2)
                    $('#strengthPass').html("Mật khẩu trung bình.");
                else if (checkStrengthPass($('#NewPassword').val()) == 3)
                    $('#strengthPass').html("Mật khẩu tốt.");
                else if (checkStrengthPass($('#NewPassword').val()) == 4)
                    $('#strengthPass').html("Mật khẩu mạnh.");
            });
            $("form").submit(function () {
                if (!$('form').valid()) {
                    $('#oldPassword').val("");
                    $("#NewPassword").val("");
                    $("#ConfirmPassword").val("");
                    $('#strengthPass').html("");
                    return false;
                }
                if (checkStrengthPass($('#NewPassword').val()) < 4) {
                    $('#oldPassword').val("");
                    $("#ConfirmPassword").val("");
                    bootbox.alert({
                        buttons: {
                            ok: {
                                label: 'Đồng ý'
                            }
                        },
                        title: "Thông báo",
                        message: "Thông báo mật khẩu không đủ mạnh!\n\nChú ý: Mật khẩu mạnh phải từ 8-15 ký tự, có chứa chữ hoa, chữ thường, số và ký tự đặc biệt.",
                        size: 'small',
                    });
                    return false;

                }
                if ($('#NewPassword').val().indexOf(" ") >= 0 || $('#ConfirmPassword').val().indexOf(" ") >= 0) {
                    bootbox.alert({
                        buttons: {
                            ok: {
                                label: 'Đồng ý'
                            }
                        },
                        title: "Thông báo",
                        message: "Mật khẩu không được chứa khoảng cách.",
                        size: 'small',
                    });
                    return false;
                }
            });
        });
        function checkStrengthPass(password) {
            var strength = 0;
            if (password.length < 8 && password.length > 15) {
                return 0;
            }
            if (password.match(/(?=.*[A-Z])/) != null && password.match(/(?=.*[A-Z])/))
                strength += 1;
            if (password.match(/([a-z])/) != null && password.match(/([a-z])/))
                strength += 1;

            if (password.match(/([0-9])/) != null && password.match(/([0-9])/))
                strength += 1;

            if (password.match(/([!,%,&,@@,#,$,^,*,?,_,~])/) != null && password.match(/([!,%,&,@@,#,$,^,*,?,_,~])/))
                strength += 1;

            return strength;
        }
    </script>
}

