﻿@model EInvoice.CAdmin.Models.AccountModel
@{
    ViewBag.Title = "Sửa tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <!--search box-->
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        @using (Html.BeginForm("Update", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
                        {
                            @Html.AntiForgeryToken()
                            Html.RenderPartial("_AccountShareElement", Model);
                            <div style="margin: 20px 0 0 40px">
                                <button class="btn btn-primary btn-flat" type="submit">Lưu</button>
                                <button class="btn btn-primary btn-flat" type="button" onclick="document.location = '/Account/Index'">Quay lại</button>
                            </div>
                        }
                    </div>
                </div>
                <!--div grid-->
            </div>
        </div>
    </div>
</div>
