﻿@using EInvoice.Core
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@using IdentityManagement.Domain
@using Microsoft.Ajax.Utilities
@model EInvoice.CAdmin.Models.IndexAccountModel
@{
    ViewBag.Title = "Danh mục tài khoản";
    Layout = "~/Views/Shared/_Layout.cshtml";
    IList<user> listUsers = Model.PageListUser.ToList();
    int i = Model.PageListUser.PageIndex * Model.PageListUser.PageSize + 1;
}
<div class="clear">
</div>
<div class="row" style="padding-top: 0;">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">DANH MỤC TÀI KHOẢN</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--search box-->
                @using (Html.BeginForm("Index", "Account", FormMethod.Get, new { @class = "form-inline" }))
                {
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-5" style="padding-left: 0">
                                @Html.LabelFor(m => m.username, "Tên tài khoản:", new { style = "margin-top: 5px" })
                                @Html.TextBoxFor(m => m.username, new { @class = "form-control", onchange = "getHiddenValue()", style = "width: 78%" })
                            </div>
                            <div class="form-group col-sm-1">
                                <button class="btn btn-primary btn-flat" type="submit">@Resources.Einvoice.BtnSeach</button>
                            </div>
                            @*<div class="form-group col-sm-6" style="padding-right: 0">
                                    <a href="/Account/Create/" class="btn btn-primary btn-flat pull-right" title="Create">
                                        <i class="glyphicon glyphicon-plus"></i> Tạo mới
                                    </a>
                                </div>*@
                        </div>
                    </div>
                }
                <br />
                <!--div grid-->
                <div class="row">
                    <div class="col-sm-12">
                        <table id="PublishList" class="table table-bordered table-hover table-striped table-responsive have-action dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th width="5%">
                                        STT
                                    </th>
                                    <th width="15%">
                                        Tên tài khoản
                                    </th>
                                    <th width="15%">
                                        Email
                                    </th>
                                    <th width="6%">
                                        Kích hoạt
                                    </th>
                                    <th width="6%">
                                        Khóa
                                    </th>
                                    <th width="10%">
                                        Ngày tạo tài khoản
                                    </th>
                                    <th width="5%">
                                        Sửa
                                    </th>
                                    <th width="5%">
                                        Xóa
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in listUsers)
                                {
                                    <tr>
                                        <td style="align-content: center">@(i++)</td>

                                        <td>@user.username</td>
                                        <td>@user.email</td>
                                        <td>@(user.IsApproved ? "Yes" : "No")</td>
                                        <td>@(user.IsLockedOut ? "Yes" : "No")</td>
                                        <td>@user.CreateDate.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Edit_user"))
                                            {
                                                if (!string.IsNullOrEmpty(System.Configuration.ConfigurationManager.AppSettings["UserRoleService"]))
                                                {
                                                    if (System.Configuration.ConfigurationManager.AppSettings["UserRoleService"].Split(',').Contains(user.username))
                                                    {
                                                        <span class="glyphicon glyphicon-lock fill-color"></span>
                                                    }
                                                    else
                                                    {
                                                        <a href="/Account/Edit/@user.userid" title="@Resources.Einvoice.LblEdit">
                                                            <span class="glyphicon glyphicon-edit"></span>
                                                        </a>
                                                    }
                                                }
                                                else
                                                {
                                                    <a href="/Account/Edit/@user.userid" title="@Resources.Einvoice.LblEdit">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </a>
                                                }

                                            }
                                        </td>
                                        <td>
                                            @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInRole("Admin"))
                                            {

                                                if (!string.IsNullOrEmpty(System.Configuration.ConfigurationManager.AppSettings["UserRoleService"]))
                                                {
                                                    if (System.Configuration.ConfigurationManager.AppSettings["UserRoleService"].Split(',').Contains(user.username))
                                                    {
                                                        <span class="glyphicon glyphicon-lock fill-color"></span>
                                                    }
                                                    else
                                                    {
                                                        <a href="#" onclick="OnDelete('@user.userid')" title="Delete">
                                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                                        </a>
                                                    }
                                                }
                                                else
                                                {
                                                    <a href="#" onclick="OnDelete('@user.userid')" title="Delete">
                                                        <span class="glyphicon glyphicon-remove-circle"></span>
                                                    </a>
                                                }



                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-2">
                        <div class="pager row pull-right">
                            @Html.Pager(Model.PageListUser.PageSize, Model.PageListUser.PageIndex + 1, Model.PageListUser.TotalItemCount, new
                       {
                           action = "index",
                           controller = "Account",
                           username = Model.username
                       })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section styles{
    <style>
        #PublishList {
            text-align: center;
        }

        label {
            font-weight: 700;
        }

        .left-align {
            text-align: left;
        }

        .pushed-from-top {
            margin-top: 22px;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript">
        function OnDelete(id) {
            if (!confirm("Xóa tài khoản hệ thống?"))
                return;
            document.location = "/Account/delete?id=" + id;
        }
    </script>
}
