﻿@using EInvoice.CAdmin.Models
@model EInvoice.CAdmin.Models.LogOnModel
@{
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="ctl00_Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        Đăng nhập hệ thống
    </title>
    <link href="/Content/EInvoice/base.css" rel="stylesheet" type="text/css" />
    <link href="/Content/EInvoice/styles.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="login">
            <header id="login-hd">
                <div style="margin-bottom: 10px;"><img src="/Content/EInvoice/img/logo_invoice.png" /></div>
                <h2>HÓA ĐƠN ĐIỆN TỬ</h2>
            </header>
            <div id="login-form">
                @using (Html.BeginForm("LogOn", "Account", new { autocomplete = "off"}))
                {
                    @Html.AntiForgeryToken()
                    <input type="hidden" name="IsThread" value="@(Model.IsThread)" />
                    @Html.Hidden("ReturnUrl", Model.ReturnUrl != null ? Model.ReturnUrl : "/")
                    <div id="lblErrorMessage" class="validation-summary-errors">@Model.lblErrorMessage</div>
                    <div>
                            <div class="editor-label">
                                @Resources.Einvoice.User_LblAccountName
                            </div>
                            <div class="editor-field form-group">
                                @Html.TextBox("UserName", Model.UserName, new { @class = "required form-control", title = " ", maxlength = "64", style = "height:32px", @autofocus = "autofocus" })
                            </div>
                        <div class="editor-label">
                            @Resources.Einvoice.User_LblPassWord
                        </div>
                        <div class="editor-field form-group">
                            @Html.Password("Password", Model.Password, new { @class = "required form-control", title = " ", style = "height:32px", autocomplete = "off" })
                        </div>
                        <div class="editor-label form-group">
                            Mã xác thực
                            <div class="editor-field">
                                @{
                                    Html.RenderPartial("_Captcha", new EInvoice.CAdmin.Models.Captcha());
                                }
                            </div>
                        </div>
                        <div style="margin-top:2em;margin-left:9em">
                            <p style="margin-top:10px">
                                <input type="submit" class="btn-flat btn-primary" value="@Resources.Einvoice.BtnSignIn" />
                            </p>
                            <div>
                                <a href="ForgotPassword" class="elements">
                                    <span>Quên mật khẩu</span>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <footer>
            <div>
                <img src="/Content/EInvoice/img/logo_VNPT_01.png" />
            </div>
            <p>Sản phẩm của <strong>Tập đoàn Bưu Chính Viễn Thông Việt Nam</strong></p>
        </footer>
    </div>
    <script type="text/javascript" language="javascript">
        $(document).ready(function () {
            $('form:first').validate();
        });
    </script>
</body>
</html>