﻿@using System.Collections
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@using IdentityManagement.Domain
@using Microsoft.Ajax.Utilities
@model user
@{
    ViewBag.Title = "Tạo mới tài khoản RoleService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            @using (Html.BeginForm("CreateNewServiceRole", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
            {
                @Html.AntiForgeryToken()
                Html.RenderPartial("_AccountServiceRoleControl", Model);
            }
        </div>
    </div>
</div>

