﻿@using EInvoice.CAdmin.Models;
@model ResetPasswordModel
@{
    Layout = null;
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="ctl00_Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
        Đặt lại mật khẩu
    </title>
    <link href="/Content/EInvoice/base.css" rel="stylesheet" type="text/css" />
    <link href="/Content/EInvoice/styles.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body>
    <div id="wrap">
        <div id="login">
            <header id="login-hd">
                <div style="margin-bottom: 10px;"><img src="/Content/EInvoice/img/logo_invoice.png" /></div>
                <h3 style="color: #0066B3;font-weight: bold;">ĐẶT LẠI MẬT KHẨU</h3>
            </header>
            <div id="login-form">
                @using (Html.BeginForm("ResetPass", "Account", new { autocomplete = "off" }))
                {
                    <div id="lblErrorMessage" class="validation-summary-errors">@Model.lblErrorMessage</div>
                    <div>
                        <div>
                        </div>
                        @Html.Hidden("UserName", Model.UserName, new { style = "" })
                        @Html.Hidden("Token", Model.Token, new { style = "" })
                        <div class="editor-label">
                            Mật khẩu
                        </div>

                        <div class="editor-field">
                            @Html.Password("NewPassword", Model.NewPassword, new { @class = "required", title = " ", maxlength = "64", style = "height:30px;width: 86%;" })
                        </div>
                        <div class="editor-label" style="width: 298px;">
                            Mã xác thực
                            @{Html.RenderPartial("_Captcha", new EInvoice.CAdmin.Models.Captcha());}
                        </div>
                        <p style="margin-top:10px">
                            <input type="submit" class="btn btn-primary btn-flat" value="Lưu" />
                        </p>
                    </div>
                }
            </div>
        </div>
        <footer>
            <div>
                <img src="/Content/EInvoice/img/logo_VNPT_01.png" />
            </div>
            <p>Sản phẩm của <strong>Tập đoàn Bưu Chính Viễn Thông Việt Nam</strong></p>
        </footer>
    </div>
    <script type="text/javascript" language="javascript">
            function Back_Click(){
                document.location = "/Home/index";
            }
    </script>
</body>
</html>