﻿@using FX.Utils.MvcPaging
@using IdentityManagement.Domain
@model IPagedList<IdentityManagement.Domain.user>
@{
    ViewBag.Title = "Tài khoản RoleService";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ICollection<user> listUser = Model.ToList();
    int i = Model.PageIndex * Model.PageSize + 1;
}
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">DANH SÁCH CÁC TÀI KHOẢN CÓ QUYỀN [SERVICEROLE]</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--search box-->
                <div class="row">
                    <div class="col-sm-12">
                        @using (Html.BeginForm("ServiceRoleIndex", "Account", FormMethod.Get, new { @class = "form-inline" }))
                        {
                            <div class="pull-left">
                                <label style="margin-top: 5px">Tên tài khoản:</label>
                            </div>
                            <div class="col-sm-4">
                                <input id="username" name="username" type="text" class="form-control" style="width: 100%;" value="@(ViewData["username"] )" maxlength="200" />
                            </div>
                            <div class="col-sm-1">
                                <button class="btn btn-primary btn-flat" type="submit"><i class="fa fa-search"></i>&nbsp;Tìm Kiếm</button>
                            </div>
                        }
                        <div class="pull-right">
                            <a href="/Account/NewServiceRole" class="btn btn-block btn-primary btn-flat pull-right" title="Create">
                                <i class="glyphicon glyphicon-plus"></i> Tạo mới
                            </a>
                        </div>
                    </div>
                </div>
                <br />
                <!--div grid-->
                <div class="row">
                    <div class="col-sm-12">
                        <table id="UserList" class="table table-bordered table-hover table-striped table-responsive have-action dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th width="5%">
                                        STT
                                    </th>
                                    <th width="20%">
                                        Tên tài khoản
                                    </th>
                                    <th width="20%">
                                        Mail
                                    </th>
                                    <th width="10%">
                                        Kích hoạt
                                    </th>
                                    <th width="10%">
                                        Khóa
                                    </th>
                                    <th width="20%">
                                        Ngày tạo tài khoản
                                    </th>
                                    <th width="10%">
                                        Sửa
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var user in listUser)
                                {
                                    <tr>
                                        <td style="align-content: center">@(i++)</td>

                                        <td style="text-align: left">@user.username</td>
                                        <td>@user.email</td>

                                        <td>@(user.IsApproved ? "Yes" : "No")</td>
                                        <td>@(user.IsLockedOut ? "Yes" : "No")</td>
                                        <td>@user.CreateDate.ToString("dd/MM/yyyy")</td>
                                        <td>
                                            @if (!string.IsNullOrEmpty(System.Configuration.ConfigurationManager.AppSettings["UserRoleService"]))
                                            {
                                                if (System.Configuration.ConfigurationManager.AppSettings["UserRoleService"].Split(',').Contains(user.username))
                                                {
                                                    <span class="glyphicon glyphicon-lock fill-color"></span>
                                                }
                                                else
                                                {
                                                    <a href="/Account/ServiceRoleEdit/@user.userid" title="@Resources.Einvoice.LblEdit">
                                                        <span class="glyphicon glyphicon-edit"></span>
                                                    </a>
                                                }
                                            }
                                            else
                                            {
                                            <a href="/Account/ServiceRoleEdit/@user.userid" title="@Resources.Einvoice.LblEdit">
                                                <span class="glyphicon glyphicon-edit"></span>
                                            </a>
                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-2">
                        <div class="pager row pull-right">
                            @Html.Pager(Model.PageSize, Model.PageIndex + 1, Model.TotalItemCount, new
                   {
                       action = "ServiceRoleIndex",
                       controller = "Account",
                       username = ViewData["username"]
                   })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section styles{
    <style>
        #UserList {
            text-align: center;
        }

        label {
            font-weight: 700;
        }

        .left-align {
            text-align: left;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}
<script type="text/javascript" language="javascript">
    $("#username").change(function () {
        $("#username").val($("#username").val().replace(/%/gi, ""));
    });
</script>



