﻿@using EInvoice.Core
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@using FX.Core;
@model EInvoice.CAdmin.Models.EInvoiceIndexModel
@{
    ViewBag.Title = "Danh sách hóa đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SelectList opattern = new SelectList((IList<string>)Model.lstpattern);
    SelectList oSerial = new SelectList((IList<string>)Model.lstserial);
    var currentCom = ((EInvoiceContext)FXContext.Current).CurrentCompany;
    var sllStatus = new[] { new SelectListItem { } };
    if (((WSHelper.Instance.CheckResourceCode(currentCom) && string.IsNullOrEmpty(Util.IsOnlyUser))) || ((WSHelper.Instance.CheckResourceCode(currentCom) && !Util.IsOnlyUser.Equals("1"))))
    {
        sllStatus = new[]{
                new SelectListItem{Text="Chọn", Value="-1", Selected= (Model.Status== -1)},
                new SelectListItem{Text=Resources.Einvoice.MInv_TextPubInvStatus, Value="1", Selected=  (Model.Status == 1)},
                new SelectListItem{Text=Resources.Einvoice.MInv_TextPubInvTaxStatus, Value="2", Selected=  (Model.Status == 2)},
                new SelectListItem{Text=Resources.Einvoice.MInv_TextPubInvReplate, Value="3", Selected=  (Model.Status == 3)},
                new SelectListItem{Text=Resources.Einvoice.MInv_TextPubInvAdjust, Value="4", Selected=  (Model.Status == 4)},
                new SelectListItem{Text="Hóa đơn đã xóa", Value="5", Selected=  (Model.Status == 5)},
                };
    }
    else
    {
        sllStatus = new[]{
                new SelectListItem{Text="Chọn", Value="-1", Selected= (Model.Status== -1)},
                new SelectListItem{Text=Resources.Einvoice.MInv_TextPubInvStatus, Value="1", Selected=  (Model.Status == 1)},
                new SelectListItem{Text=Resources.Einvoice.MInv_TextPubInvReplate, Value="3", Selected=  (Model.Status == 3)},
                new SelectListItem{Text=Resources.Einvoice.MInv_TextPubInvAdjust, Value="4", Selected=  (Model.Status == 4)},
                new SelectListItem{Text="Hóa đơn đã xóa", Value="5", Selected=  (Model.Status == 5)},
                };
    }
    }
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">QUẢN LÝ HÓA ĐƠN XÓA BỎ</h3>
                <h3 class="box-title">
                    (HÓA ĐƠN KHÔNG PHẢI HÓA ĐƠN BỊ THAY THẾ, SỬA ĐỔI)
                </h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--search box-->
                <div class="row">
                    <div class="col-sm-12">
                        @using (Html.BeginForm("CancelInvNotReIndex", "InvoiceCancel", FormMethod.Get, new { @class = "form-horizontal", id = "Searchform", name = "Searchform" }))
                        {
                            <div class="col-sm-4 col-sm-offset-2">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Pattern, @Resources.Einvoice.MInv_LblPattern, new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.DropDownList("Pattern", opattern, new { @name = "Pattern", onchange = "getSerial()", @class = "form-control dropdownlist" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Status, @Resources.Einvoice.MInv_LblStatus, new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.DropDownList("Status", sllStatus, new { onchange = "sel()", @class = "searchText form-control dropdownlist" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.FromDate, @Resources.Einvoice.MInv_LblFromTo, new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBox("FromDate", Model.FromDate, new { style = "width: 85%; display: inline-block;", @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.nameCus, @Resources.Einvoice.MInv_LblCusName, new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBox("nameCus", Model.nameCus, new { @maxlength = "200", @class = "form-control searchText" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.code, @Resources.Einvoice.MInv_LblCusCode, new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBox("code", Model.code, new { @maxlength = "50", @class = "form-control searchText" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4" style="margin-left: 20px">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Serial, @Resources.Einvoice.MInv_LblSerial, new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.DropDownList("Serial", oSerial, new { @name = "Serial", @class = "form-control dropdownlist", @onchange = "document.forms['Searchform'].submit();" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.InvNo, "Số hóa đơn: ", new { @class = "col-sm-5 control-label  labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBox("InvNo", Model.InvNo, new { @maxLength = "7", @onkeypress = "return keypress(event);", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ToDate, @Resources.Einvoice.MInv_LblToDate, new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBox("ToDate", Model.ToDate, new { @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()", style = "width: 85%; display: inline-block;" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.CodeTax, @Resources.Einvoice.MInv_LblTaxCode, new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBox("CodeTax", Model.CodeTax, new { @maxlength = "15", @class = "form-control searchText" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.typeInvoice, "Kiểu hóa đơn: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.DropDownList("typeInvoice", new[]
                                        {
                                            new SelectListItem{Text="--Tất cả--", Value="-1", Selected=(Model.typeInvoice == -1)},
                                            new SelectListItem{Text="Hóa đơn thông thường", Value="0", Selected=(Model.typeInvoice == 0)},
                                            new SelectListItem{Text="Hóa đơn thay thế", Value="1", Selected=(Model.typeInvoice == 1)},
                                            new SelectListItem{Text="Hóa đơn điều chỉnh tăng", Value="2", Selected=(Model.typeInvoice ==2)},
                                            new SelectListItem{Text="Hóa đơn điều chỉnh giảm", Value="3", Selected=(Model.typeInvoice == 3)},
                                            new SelectListItem{Text="Hóa đơn điều chỉnh thông tin", Value="4", Selected=(Model.typeInvoice == 4)},
                                        }, new { @class = "searchText form-control dropdownlist required", title = "Chọn kiểu hóa đơn!" })
                                    </div>
                                </div>
                                @if (((WSHelper.Instance.CheckResourceCode(currentCom) && string.IsNullOrEmpty(Util.IsOnlyUser))) || ((WSHelper.Instance.CheckResourceCode(currentCom) && !Util.IsOnlyUser.Equals("1"))))
                                {
                                <div class="form-group">
                                    @Html.Label("Resource Code: ", new { @class = "col-sm-5 control-label labelFix", style = "text-align: left" })
                                    <div class="col-sm-7">
                                        @Html.TextBox("resourcecode", ViewData["resourcecode"] as string, new { @class = "form-control searchText", style = "width:186px", maxlength = "200", onfocus = "AutoResource()" })
                                    </div>
                                </div>
                                }

                                <button class="btn btn-primary btn-flat pull-right" type="submit">@Resources.Einvoice.BtnSeach</button>
                            </div>
                        }
                    </div>
                </div>
                <br />
                <!--div grid-->
                <form id="danhsachHD" method="post" action="/InvoiceCancel/CancelInvApprove">
                    <div class="row">
                        <div class="col-sm-12">

                            <table id="MailList" class="table table-bordered table-hover table-striped table-responsive have-action dataTable" role="grid" aria-describedby="example2_info">
                                <thead>
                                    <tr role="row">
                                        <th width="5%">
                                            @Resources.Einvoice.LblStt
                                        </th>
                                        <th width="10%">
                                            @Resources.Einvoice.MInv_LblPattern
                                        </th>
                                        <th width="5%">
                                            @Resources.Einvoice.MInv_LblSerial
                                        </th>
                                        <th width="10%">
                                            @Resources.Einvoice.MInv_LblInvNo
                                        </th>
                                        <th width="10%">
                                            @Resources.Einvoice.MInv_LblCusName
                                        </th>
                                        <th width="10%">
                                            Mã khách hàng
                                        </th>
                                        <th width="5%">
                                            @Resources.Einvoice.MInv_LblPubBy
                                        </th>
                                        <th width="5%">
                                            @Resources.Einvoice.MInv_LblPubDate
                                        </th>
                                        <th width="5%">
                                            @Resources.Einvoice.MInv_LblStatus
                                        </th>
                                        <th width="5%">
                                            Chi tiết
                                        </th>
                                        <th width="5%" style="border-right-color: #EEE">Chọn hóa đơn</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @{
                                        IList<IInvoice> lstInv = Model.PageListINV.ToList();
                                        int i = Model.PageListINV.PageIndex * Model.PageListINV.PageSize + 1;
                                        List<string> lst = new List<string> { "10", "20", "30", "40", "50" };
                                        SelectList pages = new SelectList(lst, Model.PageListINV.PageSize);
                                    }
                                    @foreach (var invoice in lstInv)
                                    {
                                        <tr>
                                            <td>@(i++)</td>
                                            <td>@invoice.Pattern</td>
                                            <td>@invoice.Serial</td>
                                            @if (invoice.Status == InvoiceStatus.NewInv)
                                            {
                                                <td></td>
                                            }
                                            else
                                            {
                                                <td>@invoice.No.ToString("0000000")</td>
                                            }
                                            <td>@invoice.CusName</td>
                                            <td>@(invoice.CusCode == null ? "" : invoice.CusCode)</td>

                                            <td>@invoice.PublishBy</td>
                                            <td>@(invoice.Status == InvoiceStatus.NewInv ? "" : String.Format("{0:dd/MM/yyyy}", invoice.PublishDate))</td>
                                            @if (invoice.Status == InvoiceStatus.CanceledInv)
                                            {
                                                <td>Hóa đơn xóa bỏ</td>
                                            }
                                            else if (invoice.Status == InvoiceStatus.ReplacedInv)
                                            {
                                                <td>Bị thay thế</td>
                                            }
                                            else
                                            {
                                                <td>@Utils.GetNameInvoiceStatus(invoice.Status)</td>
                                            }

                                            @if (invoice.Status == InvoiceStatus.NewInv)
                                            {
                                                <td>
                                                    <span alt="Chi tiết" style="cursor: pointer" class="glyphicon glyphicon-eye-open fill-color" onclick="ajxCall('@AesUtil.Encrypt( new string[] { invoice.id.ToString()})', '@invoice.Pattern');"></span>
                                                </td>
                                            }
                                            else
                                            {
                                                if (invoice.Status == InvoiceStatus.CanceledInv || invoice.Status == InvoiceStatus.ReplacedInv)
                                                {
                                                    <td>
                                                        <span alt="Chi tiết" style="cursor: pointer" class="glyphicon glyphicon-eye-open fill-color" onclick="ajxCall('@AesUtil.Encrypt( new string[] { invoice.id.ToString()})', '@(invoice.Pattern)');addImg();"></span>
                                                    </td>
                                                }
                                                else
                                                {
                                                    <td>
                                                        <span alt="Chi tiết" style="cursor: pointer" class="glyphicon glyphicon-eye-open fill-color" onclick="ajxCall('@AesUtil.Encrypt( new string[] { invoice.id.ToString()})', '@invoice.Pattern')"></span>
                                                    </td>
                                                }
                                            }

                                            <td id="test">
                                                <input name="cbeinv" id="cbeinv" type="checkbox" @(invoice.Status != InvoiceStatus.NewInv && invoice.Status != InvoiceStatus.ReplacedInv && invoice.Status != InvoiceStatus.CanceledInv ? "" : "disabled='disabled'")
                                                       value="@invoice.id" />
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                                @Html.Hidden("hdPattern")
                                @Html.Hidden("Serial")
                            </table>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <div class="pager row pull-left">
                                <b>PageSize</b>@Html.DropDownList("Pagesize", pages, new { onchange = "ChangePage()", @style = "width:40px" })
                            </div>
                            <div class="pager row pull-right">
                                @Html.Pager(Model.PageListINV.PageSize, Model.PageListINV.PageIndex + 1, Model.PageListINV.TotalItemCount, new
                           {
                               action = "CancelInvNotReIndex",
                               controller = "InvoiceCancel",
                               nameCus = Model.nameCus,
                               CodeTax = Model.CodeTax,
                               code = Model.code,
                               Pattern = Model.Pattern,
                               Status = Model.Status,
                               FromDate = Model.FromDate,
                               ToDate = Model.ToDate,
                               Serial = Model.Serial,
                               InvNo = Model.InvNo,
                               typeInvoice = Model.typeInvoice,
                               Pagesize = Model.PageListINV.PageSize
                           })
                            </div>
                        </div>
                    </div>
                </form>
                <input class="btn btn-primary btn-flat" type="button" onclick="CancelInv_click();" value="Hủy hóa đơn đã chọn" />
            </div>
        </div>
    </div>
</div>
@section styles{
    <style>
        #MailList {
            text-align: center;
            color: black !important;
        }

        label {
            font-weight: 700;
        }

        .left-align {
            text-align: left;
        }

        .labelFix {
            font-weight: 700 !important;
            color: black !important;
            font-size: 13px !important;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript" src="/Content/js/jquery.blockUI.js"></script>
    <script src="/Content/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
    <script src="/Content/js/date.js" type="text/javascript"></script>
    <script src="/Content/js/BrowserDetectShare.js"></script>
    <script src="~/Content/js/jquery.bpopup.min.js"></script>
    <script src="/Content/js/main.js"></script>
    <script language="javascript" type="text/javascript">

        function getHiddenValue() {
            var stringDate1 = $("#FromDate").val();
            var d1 = Date.parseExact(stringDate1, "d/M/yyyy");
            if (d1 == null && stringDate1 != null) { // nhập không đúng định dạng ngày tháng
                $("#FromDate").val("");
            }
            var stringDate2 = $("#ToDate").val();
            var d2 = Date.parseExact(stringDate2, "d/M/yyyy");
            if (d2 == null && stringDate2 != null) { // nhập d2 không đúng định dạng
                $("#ToDate").val("");
            }
            if (d1 != null && d2 != null && d1 > d2) {
                bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: "@Html.Raw(Resources.Message.Dec_MesToDateBigBeginDate)",
                    size: 'small',
                });
                $("#ToDate").val("");
            }
        }
        //chon id cua hóa đơn để phát hành
        var arr = new Array();
        function YesOrNo() {
            var radios = $('#count').val();
            var j = 0;
            for (var i = 0; i < radios; i++) {

                if (radios[i].checked == true) {
                    arr[j] = radios[i].value;
                    j++;
                }
            }
        }

        // lấy serial trong khi chọn pattern
        function getSerial() {
            var jsd = "Pattern=" + $("#Pattern").val();
            $.ajax({
                type: "POST",
                url: "/EInvoice/GetSerial/",
                data: jsd,
                success: function (data) {
                    sl = document.getElementById("Serial");
                    while (sl.firstChild) {
                        sl.removeChild(sl.firstChild);
                    }
                    if (data.pu.length > 0) {
                        for (i = 0; i < data.pu.length; i++) {
                            newOption = new Option(data.pu[i]);
                            document.getElementById("Serial").options.add(newOption);
                        }
                    }
                    document.forms['Searchform'].submit();
                }
            });
        }
        //Chỉ nhập số
        function keypress(e) {
            var keypressed = null;
            if (window.event) {
                keypressed = window.event.keyCode; //IE
            }
            else {
                keypressed = e.which; //NON-IE, Standard
            }
            if (keypressed < 48 || keypressed > 57) {
                if (keypressed == 8 || keypressed == 127) {
                    return;
                }
                return false;
            }
        }
        //Thêm vào phân trang
        function ChangePage() {
            var pattern = $('#Pattern').val();
            var status = $('#Status').val();
            var TypeInvoice = $('#typeInvoice').val();
            var serial = $('#Serial').val();
            var code = $("#code").val();
            var CodeTax = $("CodeTax").val();
            document.location = "/InvoiceCancel/CancelInvNotReIndex?Pattern=" + pattern + "&Status=" + status + "&Serial=" + serial + "&InvNo=" + $("#InvNo").val() + "&FromDate=" + $("#FromDate").val() + "&ToDate=" + $("#ToDate").val() + "&code=" + code + "&nameCus=" + $("#nameCus").val() + "&typeInvoice=" + TypeInvoice + "&Pagesize=" + document.getElementById("Pagesize").options[document.getElementById("Pagesize").selectedIndex].text;
        }
        //dịnh dạng lại datepicker theo tieng viet
        jQuery(function ($) {
            $.datepicker.regional['vi'] = {
                closeText: 'Đóng',
                prevText: '&#x3c;Trước',
                nextText: 'Tiếp&#x3e;',
                currentText: 'Hôm nay',
                monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
		'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
                monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
		'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
                dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                weekHeader: 'Tu',
                dateFormat: 'dd/mm/yy',
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
        });
        $(function ($) {
            $(".vietnameseDate").mask("99/99/9999");
        });
        $(document).ready(function () {
            $.datepicker.setDefaults($.datepicker.regional['vi']);
            $(".datepicker").datepicker({
                showOn: "button",
                buttonImage: "/Content/images/calendar.gif",
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true
            });

            $('#InvNo').change(function () {
                var val = $('#InvNo').val();
                if (parseInt(val, 10).toString() == "NaN") {
                    $('#InvNo').val('');
                }
                checkInvNo();
            });
            checkInvNo();
        });

        function checkInvNo() {
            if ($('#InvNo').val() && $('#InvNo').val() > 0) {
                $('.searchText').attr("disabled", "disabled");
                $(".datepicker").attr("disabled", "disabled");
                $('.ui-datepicker-trigger').hide();
            }
            else {
                $(".searchText").removeAttr("disabled");
                $(".datepicker").datepicker('enable');
                $('.ui-datepicker-trigger').show();
            }
            var str = $('#InvNo').val();
            while (str.length < 7) {
                str = '0' + str;
            }
            if (str == "0000000")
                return $('#InvNo').val("");
            else
                return $('#InvNo').val(str);
        }
        //Phát hành hóa đơn
        function CancelInv_click() {
            var names = [];
            $('#test input:checked').each(function () {
                names.push(this.value);
            });
            //
            if ($("input:checkbox:checked").length > 0 && $('#Pattern').val() != "") {
                if (!confirm("Bạn có muốn hủy hóa đơn không?")) return;
                else {
                    $.blockUI({
                        message: '<h1><img src="/Content/Images/please_wait.gif" />@Html.Raw(Resources.Message.MPleaseWait)</h1>', fadeIn: 0,
                        fadeOut: 10, timeout: 3000
                    });
                    $('#hdPattern').val($('#Pattern').val());
                    $('#Serial').val($('#Serial').val());
                    document.forms["danhsachHD"].submit();
                }
            }
            else {
                bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: "@Html.Raw(Resources.Message.MInv_MesChooseInvToPublish)",
                    size: 'small',
                });
            }
        }
        function htmlEncode(value) {
            return $('<div/>').text(value).html();
        }
        function htmlDecode(value) {
            return $('<div/>').html(value).text();
        }

        //truong hop khi chon trang thai hoa don
        function sel() {
            var status = $('#Status').val();
            if (status != "-1") {
                $("#InvNo").val("");
                $("#InvNo").attr("disabled", "disabled");
            }
            else {
                $("#InvNo").removeAttr("disabled");
            }
        }

        var flagImg = false;
        $(document).ajaxComplete(function () {
            if (flagImg) {
                $('div.VATTEMP').prepend('<img id="imgCancel" src="/Content/Images/mark.png" />');
                $('#imgCancel').css({ "position": "absolute", "z-index": "3", "width": "790px", "height": "760px" });
                flagImg = false;
            }

        });
        function addImg() {
            flagImg = true;
        }
    </script>
}
