﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@model CreateInvCancelModel
@{
    ViewBag.Title = "Tạo thông báo hủy dải hóa đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">  
                @{
                    Html.RenderPartial("InvCancelShareElement", Model);
                }
                <input type="button" class="btn btn-primary btn-flat" value="@Resources.Einvoice.BtnSave" onclick="sub()" />
                <input type="button" class="btn btn-primary btn-flat btn-cancel" value="@Resources.Einvoice.BtnBack" onclick="document.location = '/InvoiceCancel/Index'" /> 
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/Content/js/jquery.blockUI.js"></script>
<script language="javascript" type="text/javascript">
    function s() {
        

    }
</script>

