﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@model InvCancelModel
@{
    ViewBag.Title = "Hủy dải hóa đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
    string creater = Model.creater;
}
@section styles{
    <style>
        #MailList {
            text-align: center;
        }

        #container th {
            text-align: center;
        }

        h2 {
            font-family: none !important;
        }

        #MailList {
            color: black !important;
        }

        .labelFix {
            font-weight: 700 !important;
            color: black !important;
            font-size: 13px !important;
        }

        .left-align {
            text-align: left;
        }

        #imgCancel {
            width: 100% !important;
            height: 100% !important;
        }

        .input-date {
            border-bottom: none !important;
        }
    </style>

}
<link href="~/Content/grid.css" rel="stylesheet" />
<script src="/Content/js/date.js" type="text/javascript"></script>
<script src="/Content/js/jquery.maskedinput-1.3.min.js" type="text/javascript"></script>
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">@Resources.Einvoice.ReCancel_LblTitle</h3>
                <hr />
            </div>

            <div class="box-body">
                <form id="Searchform" method="get" action="/InvoiceCancel/Index" onsubmit="return getHiddenValue()" class="form-inline">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group col-sm-3" style="padding-left: 0">
                                <label for="creater"><b>@Resources.Einvoice.ReCancel_LblPreparedPerson:</b></label>
                                <input type="text" class="form-control" id="creater" name="creater" value="@Model.creater" , maxlength="100" style="width: 59%;" />
                            </div>
                            <div class="form-group col-sm-3">
                                <b>@Resources.Einvoice.ReCancel_lblCancelDate : @Resources.Einvoice.ReCancel_lblFormDate:</b>
                                @Html.TextBox("dateFrom", Model.dateFrom, new { style = "width:80px", @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()" })
                            </div>
                            <div class="form-group col-sm-3" style="width: 20%;">
                                <b>@Resources.Einvoice.ReCancel_ToDate:</b>
                                @Html.TextBox("dateTo", Model.dateTo, new { style = "width:80px", @class = "form-control datepicker vietnameseDate", onchange = "getHiddenValue()" })
                            </div>
                            <div class="form-group col-sm-2">
                                <input id="btnSearch" class="btn btn-primary btn-flat" type="submit" value="@Resources.Einvoice.BtnSeach" style="width: 90px;" />
                            </div>
                            <div class="form-group col-sm-1" style="padding-right: 0; width: 13%; margin-left: 3px;">
                                @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("Add_cancel"))
                                {
                                <a class="btn btn-primary btn-flat pull-right" href="/InvoiceCancel/Create/" title="Create" style="width: 100px;">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    Tạo mới
                                </a>
                                }
                            </div>
                        </div>
                    </div>
                </form>
                <br />
                <div class="row">
                    <div class="col-sm-12">
                        <table id="MailList" class="table table-bordered table-hover table-striped table-responsive have-action dataTable textTable">
                            <thead>
                                <tr>
                                    <th>
                                        @Resources.Einvoice.ReCancel_LblNo
                                    </th>
                                    <th>
                                        @Resources.Einvoice.ReCancel_LblMethodCancel
                                    </th>
                                    <th>
                                        @Resources.Einvoice.ReCancel_Hour
                                    </th>
                                    <th>
                                        @Resources.Einvoice.ReCancel_Days
                                    </th>
                                    <th>
                                        @Resources.Einvoice.ReCancel_LblPreparedPerson
                                    </th>
                                    <th>
                                        @Resources.Einvoice.LblDetail
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    List<InvCancel> lstInvCan = Model.PageListIC.ToList();
                                    int i = Model.PageListIC.PageIndex * Model.PageListIC.PageSize + 1;
                                    foreach (InvCancel ic in lstInvCan)
                                    {
                                        <tr>
                                            <td style="text-align: center">
                                                @i
                                            </td>
                                            <td style="text-align: center">
                                                @ic.Method
                                            </td>
                                            <td style="text-align: center">
                                                @ic.Hour
                                                @Resources.Einvoice.ReCancel_Hour
                                                @ic.Minute
                                                @Resources.Einvoice.ReCancel_Minute
                                            </td>
                                            <td style="text-align: center">
                                                @ic.CancelDate.ToString("dd/MM/yyyy")
                                            </td>
                                            <td style="text-align: center">
                                                @ic.ComPrepared
                                            </td>
                                            <td style="text-align: center">
                                            @if (((IdentityManagement.Authorization.IFanxiPrincipal)HttpContext.Current.User).IsInPermission("View_cancel"))
                                            {
                                                <a href="/InvoiceCancel/Detail/@ic.id" title="Details">
                                                    <span class="glyphicon glyphicon-eye-open"></span>
                                                </a>
                                            }
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pager row pull-right">
                            @Html.Pager(Model.PageListIC.PageSize, Model.PageListIC.PageIndex + 1, Model.PageListIC.TotalItemCount, new
                       {
                           action = "index",
                           controller = "InvoiceCancel",

                       })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" language="javascript">
        function getHiddenValue() {
            var stringDate1 = $("#dateFrom").val();
            var d1 = Date.parseExact(stringDate1, "d/M/yyyy");
            if (d1 == null && stringDate1 != null) { // nhập không đúng định dạng ngày tháng
                $("#dateFrom").val("");
            }
            var stringDate2 = $("#dateTo").val();
            var d2 = Date.parseExact(stringDate2, "d/M/yyyy");
            if (d2 == null && stringDate2 != null) { // nhập d2 không đúng định dạng
                $("#dateTo").val("");
            }
            if (d1 != null && d2 != null && d1 > d2) {
                bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: "@Html.Raw(Resources.Message.Dec_MesToDateBigBeginDate)",
                    size: 'small',
                });
                $("#dateTo").val("");
            }
        }

        function OnDelete(id) {
            if (!confirm("Are you sure?"))
                return;
            document.location = "/InvoiceCancel/delete?id=" + id;
        }

        jQuery(function ($) {
            $.datepicker.regional['vi'] = {
                closeText: 'Đóng',
                prevText: '&#x3c;Trước',
                nextText: 'Tiếp&#x3e;',
                currentText: 'Hôm nay',
                monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
        'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
                monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
        'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
                dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
                dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
                weekHeader: 'Tu',
                dateFormat: 'dd/mm/yy',
                firstDay: 0,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
        });
        $(function ($) {
            $(".vietnameseDate").mask("99/99/9999");
        });
        $(document).ready(function () {
            // $('form:first').validate();
            $.datepicker.setDefaults($.datepicker.regional['vi']);
            $(".datepicker").datepicker({
                showOn: "button",
                buttonImage: "/Content/images/calendar.gif",
                buttonImageOnly: true,
                changeMonth: true,
                changeYear: true
            });
        });
        $("#creater").change(function () {
            $("#creater").val($("#creater").val().replace(/%/gi, ""));
        });
    </script>

