﻿@using EInvoice.CAdmin.Models
@using EInvoice.Core.Domain
@using EInvoice.Core.IService
@model CreateInvCancelModel
@{
    Layout = null;
    string date = DateTime.Now.ToString("dd/MM/yyyy");
    SelectList sl = Model.lstInvCategory;
}
<link href="/Content/css/SharedFormElements.css" rel="stylesheet" type="text/css" />
<link href="/Content/css/grid.css" rel="stylesheet" type="text/css" />


<div class="row">
    <form id="f1" action="" method="post" >
        @Html.AntiForgeryToken()
        @Html.Hidden("Id",Model.CancelTemp.id)
        @Html.Hidden("LstCancelDetail", Model.LstCancelDetail)

        <fieldset>
            <legend>@Resources.Einvoice.ReCancel_LblNoticeCancel</legend>
            <ol>
                <li>
                    <label for="Name">
                       @Resources.Einvoice.ReCancel_lblComName:
                    </label>
                    @Html.TextBox("Name", Model.CancelTemp.ComName, new { style = "width:350px", @readonly = "readonly", @disabled = "disabled" })
                </li>
                <li>
                    <label for="TaxCode">
                        @Resources.Einvoice.ReCancel_lblTaxCode:
                    </label>
                    @Html.TextBox("TaxCode", Model.CancelTemp.ComTaxCode, new { style = "width:100px", @readonly = "readonly", @disabled = "disabled" })
                </li>
                <li>
                    <label for="Address">
                        @Resources.Einvoice.ReCancel_lblAddress:
                    </label>
                    @Html.TextBox("Address", Model.CancelTemp.ComAddress, new { style = "width:350px", @readonly = "readonly", @disabled = "disabled" })
                </li>
                <li>
                    <label for="Method">
                        @Resources.Einvoice.ReCancel_LblMethodCancel: <span style="color:red">(*)</span>
                    </label>
                    @Html.TextArea("Method", Model.CancelTemp.Method, new { style = "width:350px", @class="required",@title="Nhập phương pháp hủy", maxlength="255", @autofocus = "autofocus" })
                </li>
                <li>
                    <label for="Hour">
                        @Resources.Einvoice.ReCancel_LblCancelTime:
                    </label>
                    @Html.TextBox("Hour", Model.CancelTemp.Hour, new { style = "width:28px", @class="required textr _number",@title="Nhập giờ hủy", maxlength="2", @onkeypress = "return keypress(event);" })
                    @Resources.Einvoice.ReCancel_Hour
                    @Html.TextBox("Minute", Model.CancelTemp.Minute, new { style = "width:28px", @class= "required textr _number", @title="Nhập phút hủy", maxlength="2", @onkeypress = "return keypress(event);" })
                    @Resources.Einvoice.ReCancel_Minute &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Resources.Einvoice.ReCancel_lblCancelDate
                    @Html.TextBox("CancelDate", Model.CancelTemp.CancelDate.ToShortDateString(), new { style = "width:86px", @class = "datepicker", @readonly = "readonly", @onchange = "checkDate()" })
                </li>
                <li>
                    <label for="PublishDate">
                        @Resources.Einvoice.ReCancel_PublishDate:
                    </label>
                    @Html.TextBox("PublishDate", Model.CancelTemp.PublishDate.ToShortDateString(), new { style = "width:86px", @class = "datepicker", @readonly = "readonly", @onchange = "checkPublishDate()" })
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    @Resources.Einvoice.ReCancel_LblPreparedPerson: <span style="color:red">(*)</span>
                    @Html.TextBox("ComPrepared", Model.CancelTemp.ComPrepared, new { style = "width:195px", @class = "required",@title="Nhập người lập biểu", maxlength="200"})
                </li>
                <li>
                    <label for="ComRepresent">
                        @Resources.Einvoice.ReCancel_LblRepresentPerson: <span style="color:red">(*)</span>
                    </label>
                    @Html.TextBox("ComRepresent", Model.CancelTemp.ComRepresent, new { style = "width:300px", @class = "required",@title="Nhập người đại diện theo PL", maxlength="200" })
                </li>
                <li>
                    <label for="">
                        @Resources.Einvoice.ReCancel_lblListInvCancel: <span style="color:red">(*)</span>
                    </label>
                    <div style="padding: 10px 5px 10px 5px; float: right">
                        <a id="openner" class="btn btn-block btn-primary btn-flat pull-right" href="#"  onclick="resetCate()" title="Create" style="width:92px;">
                            <i class="glyphicon glyphicon-plus"></i> Tạo mới
                        </a>
                    </div>
                    <br />
                    <br />
                    <br />
                    @Html.TextBox("f", "", new { @class = "required", title = "Phải nhập danh sách hóa đơn hủy !",style="display:none" })
                    <table class="grid" style="width: 100%; min-width: 800px" id="grid">
                        <thead>
                            <tr>
                                <th>
                                    @Resources.Einvoice.ReCancel_LblInvType
                                </th>
                                <th>
                                    @Resources.Einvoice.ReCancel_LblPattern
                                </th>
                                <th>
                                   @Resources.Einvoice.ReCancel_LblSerial
                                </th>
                                <th>
                                    @Resources.Einvoice.ReCancel_LblFromNo
                                </th>
                                <th>
                                    @Resources.Einvoice.ReCancel_LblToNo
                                </th>
                                <th>
                                    @Resources.Einvoice.ReCancel_LblAmount
                                </th>
                                <th>
                                    @Resources.Einvoice.LblEdit
                                </th>
                                <th>
                                    @Resources.Einvoice.LblDelete
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </li>
            </ol>
        </fieldset>
    </form>
</div>

<div class="dialog" id="dialog" title="Danh sách hủy hóa đơn điện tử" style="display: none">
    <form id="DialogForm" action="" class="DialogForm form-horizontal" role="form">
        <div class="row">
            <div class="col-sm-3">
                <label for="InvCateName" class="control-label">Loại hóa đơn: <span style="color:red">(*)</span></label>
            </div>
            <div class="col-md-9 col-sm-9">
                @Html.DropDownList("InvCateName", sl, "--Loại hóa đơn--", new { onchange = "ajxGetPattern()", @class = "required form-control", @title = "Chọn loại hóa đơn !" })
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label for="InvPattern" class="control-label">@Resources.Einvoice.ReCancel_LblPattern: <span style="color:red">(*)</span></label>
            </div>
            <div class="col-md-9 col-sm-9">
                <select id="InvPattern" onchange="ajxGetSerial()" class="required form-control" title="Chọn mẫu số !"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <label for="InvSerial" class="control-label">@Resources.Einvoice.ReCancel_LblSerial: <span style="color:red">(*)</span></label>
            </div>

            <div class="col-md-3 col-sm-3">
                @Html.TextBox("InvSerial", "", new { style = "width:100px", @class = "form-control", @readonly = "readonly" })
            </div>
            <div class="col-sm-3"><label for="Quantity" class="control-label">@Resources.Einvoice.ReCancel_LblAmount: <span style="color:red">(*)</span></label></div>
            <div class="col-md-3 col-sm-3">
                @Html.TextBox("Quantity", "", new { style = "width:100px", @readonly = "readonly" })
            </div>
        </div>
        <div class="row">
           <div class="col-sm-3">
               <label for="FromNo">
                   @Resources.Einvoice.ReCancel_LblFromNo:
               </label>
           </div>
            <div class="col-sm-3">
                @Html.TextBox("CurrentNo", "", new { style = "width:100px", @readonly = "readonly" })
            </div>
           <div class="col-sm-3">
               <label for="ToNo">
                   @Resources.Einvoice.ReCancel_LblToNo:
               </label>
           </div>
            <div class="col-sm-3">
                @Html.TextBox("ToNo", "", new { style = "width:100px", @readonly = "readonly" })
            </div>
        </div>
        <div>
            <div class="row">
                <input id="Save" type="button" class="btn btn-primary btn-flat" value="@Resources.Einvoice.BtnSave" onclick="save()" />
                <input id="SaveAndCreate" type="button" class="btn btn-primary btn-flat" value="@Resources.Einvoice.BtnSaveAndCreate" onclick="saveandcreate()" />
                <input type="button" class="btn btn-primary btn-flat btn-cancel" value="@Resources.Einvoice.BtnBack" onclick="" id="closer" />
            </div>
            <div id="mess" style="color: Red; font-family: Verdana">
            </div>
        </div>
    </form>
</div>


<script type="text/javascript" src="/Content/js/jquery.blockUI.js"></script>
<script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
<script src="/Content/js/date.js" type="text/javascript"></script>
<script type="text/javascript" src="/Content/js/Share.js"></script>
<script src="/Content/js/FXUtils.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
    jQuery(function ($) {
        $.datepicker.regional['vi'] = {
            closeText: 'Đóng',
            prevText: '&#x3c;Trước',
            nextText: 'Tiếp&#x3e;',
            currentText: 'Hôm nay',
            monthNames: ['Tháng Một', 'Tháng Hai', 'Tháng Ba', 'Tháng Tư', 'Tháng Năm', 'Tháng Sáu',
        'Tháng Bảy', 'Tháng Tám', 'Tháng Chín', 'Tháng Mười', 'Tháng Mười Một', 'Tháng Mười Hai'],
            monthNamesShort: ['Tháng 1', 'Tháng 2', 'Tháng 3', 'Tháng 4', 'Tháng 5', 'Tháng 6',
        'Tháng 7', 'Tháng 8', 'Tháng 9', 'Tháng 10', 'Tháng 11', 'Tháng 12'],
            dayNames: ['Chủ Nhật', 'Thứ Hai', 'Thứ Ba', 'Thứ Tư', 'Thứ Năm', 'Thứ Sáu', 'Thứ Bảy'],
            dayNamesShort: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
            dayNamesMin: ['CN', 'T2', 'T3', 'T4', 'T5', 'T6', 'T7'],
            weekHeader: 'Tu',
            dateFormat: 'dd/mm/yy',
            firstDay: 0,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''
        };
    });
    $(document).ready(function () {
        $.datepicker.setDefaults($.datepicker.regional['vi']);
        $(".datepicker").datepicker({
            showOn: "button",
            buttonImage: "/Content/images/calendar.gif",
            buttonImageOnly: true,
            changeMonth: true,
            changeYear: true
        });
        $('form:first').validate();
        var validator = $("#DialogForm").validate();
        var d = $('#dialog');
        d.dialog({
            autoOpen: false,
            height:270,
            width:700,
            modal: true
        });
        $('#openner').click(function () {
            document.getElementById("SaveAndCreate").style.display = 'inline';
            d.dialog('open');
            $($('.ui-dialog')[0]).css("top", "25%");
            $($('.ui-dialog')[0]).css("left", "25%");
            return false;
        });
        $('#closer').click(function () {
            validator.resetForm();
            d.dialog('close');
            nextFocus("f");
            //$("#InvCateName-error, #InvPattern-error").remove();
            return false;
        });
        
    })
    function closeDialog() {
        $('#dialog').dialog('close');
    }
    //var ipattern = "";
    var pubid = 0;
    function ajxGetPattern() {
        resetForm();
        var jsondata = "id=" + $("#InvCateName").val();
        if ($("#InvCateName").val() == "") return;
        //debugger;
        //$.blockUI({ message: '<h1>Please Wating...!</h1>', timeout: 10000 });
        $.ajax({
            type: "POST",
            url: "/InvoiceCancel/ajxGetPattern/",
            data: jsondata,
            dataType: "json",
            success: function (data) {
                //debugger;
                //$.unblockUI();
                if (data.length > 0) {

                    newOpt = new Option("--Chọn mẫu số--", "");
                    document.getElementById("InvPattern").options.add(newOpt);
                    newOpt.selected = true;
                    //debugger;
                    if (CancelSource.length != 0) {
                        for (i = 0; i < data.length; i++)
                            for (j = 0; j < CancelSource.length; j++)
                                if (data[i].PubInvId == CancelSource[j].PubID) {
                                    data.splice(i, 1);
                                    i -= 1;
                                    break;
                                }
                    }
                    for (i = 0; i < data.length; i++) {
                        //debugger;
                        newOption = new Option(data[i].InvPattern + ", " + data[i].InvSerial + " (" + (data[i].CurrentNo + 1) + "-" + data[i].ToNo + ")", data[i].PubInvId);
                        document.getElementById("InvPattern").options.add(newOption);
                    }
                    //debugger;
                    if (pubid != 0) {
                        var objSelect = document.getElementById("InvPattern");
                        for (var i = 0; i < objSelect.options.length; i++) {
                            if (objSelect.options[i].value == pubid) {
                                objSelect.options[i].selected = true;
                                break;
                            }
                        }
                        pubid = 0;
                        //ipattern = "";
                    }
                }
            },
            error: function (xhr, error) {
                //debugger;
                //$.unblockUI();
                bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: xhr.responseText,
                    size: 'small',
                });
            }

        });
    }
    function ajxGetSerial() {
        //debugger;
        //var arr = $('#InvPattern :selected').text().split(',');
        //$("#InvPattern").text(arr[0]);
        //$("#InvPattern:selected").val(test);
        var jsondata = "&id=" + $("#InvPattern").val();
        if ($("#InvPattern").val() == "") return;
        //$.blockUI({ message: '<h1>Please Wating...!</h1>', timeout: 10000 });
        $.ajax({
            type: "POST",
            url: "/InvoiceCancel/ajxGetSerial/",
            data: jsondata,
            success: function (data) {
                //debugger;
                //$.unblockUI();
                $("#InvSerial").val(data.InvSerial);
                $("#CurrentNo").val(pad(data.CurrentNo + 1, 7));
                $("#ToNo").val(pad(data.ToNo, 7));
                $("#Quantity").val(data.ToNo - data.CurrentNo);
            },
            error: function (xhr, error) {
                //debugger;
                //$.unblockUI();
                bootbox.alert({
                    buttons: {
                        ok: {
                            label: 'Đồng ý'
                        }
                    },
                    title: "Thông báo",
                    message: xhr.responseText,
                    size: 'small',
                }); 
            }
        });
    }
    function pad(number, length) {
        var str = '' + number;
        while (str.length < length) {
            str = '0' + str;
        }
        return str;
    }
    var currentRow = null;
    var PubDatasource = [];
    var cancelRow = null;
    var CancelSource = [];
    function addCancelData(pubID) {
        //debugger;
        cancelRow = { PubID: pubID };
        CancelSource.push(cancelRow);
    }
    function delCancelData(pubID) {
        //debugger;
        //var data = JSLINQ(CancelSource).Where(function (item) { return item.CateID == cateID && item.InvPattern == invPattern && item.PubID == pubID; }).Select(function (item) { return item; });
        for (i = 0; i < CancelSource.length; i++) {
            if (CancelSource[i].PubID == pubID) {
                CancelSource.splice(i, 1);
                break;
            }
        }
        //CancelSource.
    }
    function sc() {
        if ($("#InvCateName").val() == "") {
            //$("#mess").text("Chọn Loại hóa đơn").show().fadeOut(2000);
            return false;
        }
        if ($("#InvPattern").val() == "" || $("#InvPattern").val() == null) {
            //$("#mess").text("Chọn Mẫu số").show().fadeOut(2000);
            return false;
        }
        if (currentRow == null) {
            var lstpattern = $('#InvPattern :selected').text().split(',');
            var pattern = lstpattern[0];
            currentRow = { id: 0, InvCateID: $('#InvCateName').val(), InvCateName: $('#InvCateName :selected').text(), InvSerial: $('#InvSerial').val(), PubID: $('#InvPattern').val(), InvPattern: pattern, Quantity: $('#Quantity').val(), CurrentNo: $('#CurrentNo').val(), ToNo: $('#ToNo').val() };
            PubDatasource.push(currentRow);
            addCancelData($('#InvPattern').val());
        }
        else {
            var lstpattern = $('#InvPattern :selected').text().split(',');
            var pattern = lstpattern[0];
            currentRow.InvCateID = $('#InvCateName').val();
            currentRow.InvCateName = $('#InvCateName :selected').text();
            currentRow.InvSerial = $('#InvSerial').val();
            currentRow.PubID = $('#InvPattern').val();
            currentRow.InvPattern = pattern;
            currentRow.Quantity = $('#Quantity').val();
            currentRow.CurrentNo = $('#CurrentNo').val();
            currentRow.ToNo = $('#ToNo').val();
            addCancelData($('#InvPattern').val());
        }
        return true;
    }
    function save() {
        //debugger;
        if (sc()) {
            PubViewDatasource();
            var d = $('#dialog');
            d.dialog('close');
        }

        $('#DialogForm').valid();
        $("#f").val("ok");
        nextFocus("f");
    }
    function saveandcreate() {
        //debugger;
        if (sc()) {
                PubViewDatasource();
                resetCate();
                ajxGetPattern();
        }
        $('#DialogForm').valid();
        $("#f").val("ok");
        nextFocus("f");
    }
    function addRow(GridID, catename, mauso, pubID, cateID, kihieu, tuso, denso, soluong) {
        var newrow = '<tr>';
        newrow += '<td>' + catename + '</td>';
        newrow += '<td>' + mauso + '</td>';
        newrow += '<td style="visibility:hidden;display:none">' + pubID + '</td>';
        newrow += '<td style="visibility:hidden;display:none">' + cateID + '</td>';
        newrow += '<td>' + kihieu + '</td>';
        newrow += '<td>' + pad(tuso, 7) + '</td>';
        newrow += '<td>' + pad(denso, 7) + '</td>';
        newrow += '<td>' + soluong + '</td>';
        newrow += '<td><img src="/Content/Images/im-edit.jpg" alt="Sua" title="Edit" class="Edit" /></td>';
        newrow += '<td><img src="/Content/Images/no.png" alt="Xoa" title ="Delete" class ="Delete" /></td>';
        newrow += '</tr>';
        $('#' + GridID + ' tbody').append(newrow);
    }
    function PubViewDatasource() {
        var d = $('#dialog');
        d.dialog({
            autoOpen: false,
            height: 270,
            width: 700,
            modal: true
        });
        $('#grid tbody tr').remove();
        if (PubDatasource == null || PubDatasource == undefined) return;
        for (var i = 0; i < PubDatasource.length; i++) {
            var jsonRow = PubDatasource[i];
            addRow("grid", jsonRow.InvCateName, jsonRow.InvPattern, jsonRow.PubID, jsonRow.InvCateID, jsonRow.InvSerial, jsonRow.CurrentNo, jsonRow.ToNo, jsonRow.Quantity);

        }

        //delete row
        $('#grid tbody tr td img.Delete').click(function () {
            if (confirm("You are want delete this row?")) {
                //remove datasource
                var InvCateName = $(this).parent().parent().find('td').eq(0).html();
                var PubID = $(this).parent().parent().find('td').eq(2).html();
                if (InvCateName != null && InvCateName != undefined) {
                    for (var i = 0; i < PubDatasource.length; i++) {
                        if (PubDatasource[i].PubID == PubID)
                            PubDatasource.splice(i, 1);
                    }
                    //remove row of table
                    $(this).parent().parent().remove();
                    delCancelData(PubID);
                }
            }
            if (PubDatasource.length == 0) {

                $("#f").val("");
                nextFocus("f");
            }
        });

        //edit row
        $('#grid tbody tr td img.Edit').click(function () {
            // get currentRow ;
            //debugger;
            if (PubDatasource == null || PubDatasource == undefined) return [];
            var PubID = $(this).parent().parent().find('td').eq(2).html();
            var RetSearch = $.grep(PubDatasource,
                function (item, index) {
                    return item.PubID == PubID;
                });
            if (RetSearch.length > 0) currentRow = RetSearch[0];
            else currentRow = null;
            //bind CurrentRow vao form
            bindDataToForm(currentRow);
            //        var $dialog = $('#dialog')
            document.getElementById("SaveAndCreate").style.display = 'none';
            var d = $('#dialog');
            d.dialog('open');
            $($('.ui-dialog')[0]).css("top", "25%");
            $($('.ui-dialog')[0]).css("left", "25%");
            delCancelData(PubID);
        });
    }
    function bindDataToForm(JsonObject) {
        if (JsonObject == null || JsonObject == undefined) {
            //xoa trang form
            resetForm();
        }
        else {
            // fill du lieu vao form
            $('#InvCateName').val(JsonObject.InvCateID);
            //debugger;
            pubid = JsonObject.PubID;
            //ipattern = JsonObject.InvPattern;
            ajxGetPattern()
            //debugger;
            //$('#InvPattern').val(JsonObject.InvPattern);
            $('#InvSerial').val(JsonObject.InvSerial);
            $('#Quantity').val(JsonObject.Quantity);
            $('#CurrentNo').val(JsonObject.CurrentNo);
            $('#ToNo').val(JsonObject.ToNo);
        }
    }
    function resetForm() {

        $('#InvSerial').val("");
        $('#Quantity').val("");
        $('#CurrentNo').val("");
        $('#ToNo').val("");
        document.getElementById("InvPattern").innerHTML = "";
    }
    function resetCate() {
        currentRow = null;
        $('#InvCateName').val("");
        resetForm();
    }
    function sub() {
        //debugger;
        cr = null;
        CancelDataSource = [];
        for (i = 0; i < PubDatasource.length; i++) {
            cr = { id: 0, InvCateID: PubDatasource[i].InvCateID, InvCateName: PubDatasource[i].InvCateName, InvSerial: PubDatasource[i].InvSerial, InvPattern: PubDatasource[i].InvPattern, Quantity: PubDatasource[i].Quantity, FromNo: PubDatasource[i].CurrentNo, ToNo: PubDatasource[i].ToNo, InvCancellation: null };
            CancelDataSource.push(cr);
        }
        if (CancelDataSource.toString() == "")
        {
            $("#f").val("");
            alert("Phải nhập danh sách hóa đơn hủy !");
            return;
        }
        else {
            $("#f").val("ok");
            $("#LstCancelDetail").val(JSON.stringify(CancelDataSource));
            $("#f1").attr("action", "/InvoiceCancel/Create");
            $("#f1").submit();
        }
    };
    function checkDate() {
        var d1 = Date.parseExact($("#CancelDate").val(), "dd/MM/yyyy");
        var d2 = new Date.parseExact("@date", "dd/MM/yyyy");
        if (d1 < d2) {
            bootbox.alert({
                buttons: {
                    ok: {
                        label: 'Đồng ý'
                    }
                },
                title: "Thông báo",
                message: "@Html.Raw(Resources.Message.Dec_MesEffectiveDateBigToday)",
                size: 'small',
            }); 
            var now = new Date().toString('dd/MM/yyyy');
            $("#CancelDate").val(now);
            return false;
        }
        return true;
    }
    function checkPublishDate() {
        var d1 = Date.parseExact($("#PublishDate").val(), "d/M/yyyy");
        var d2 = new Date.parseExact("@date", "d/M/yyyy");
        if (d1 < d2) {
            bootbox.alert({
                buttons: {
                    ok: {
                        label: 'Đồng ý'
                    }
                },
                title: "Thông báo",
                message: "@Html.Raw(Resources.Message.Dec_MesEffectiveDateBigToday)",
                size: 'small',
            });
            
            var now = new Date().toString('dd/MM/yyyy');
            $("#PublishDate").val(now);
            return false;
        }
        return true;
    }
    function keypress(e) {
        var keypressed = null;
        if (window.event) {
            keypressed = window.event.keyCode; //IE
        }
        else {
            keypressed = e.which; //NON-IE, Standard
        }
        if (keypressed < 48 || keypressed > 57) {
            if (keypressed == 8 || keypressed == 127) {
                return;
            }
            return false;
        }
    }
</script>   