﻿
@{
    ViewBag.Title = "InvoiceTemplate";
    Layout = null;
}

<html>
<head runat="server">
    <title>ResetTem</title>
</head>
<body>
    <div>
        @ViewData["MessageResetTem"]
    </div>
</body>
</html>

