﻿@using IdentityManagement.Domain
@model EInvoice.CAdmin.Models.RoleModel
@{
    var listPermissions = (List<permission>) ViewData["Permissions"];
}
<script type="text/javascript" src="/Content/js/jquery.validate.min.js"></script>
<script type="text/javascript">
    // chon tat ca cac checkbox
    function selectAll() {



        if ($('input[name=all]').is(':checked')) {
            $('input[name=permissions]').not(':disabled').prop('checked', true);
        } else {
            $('input[name=permissions]').not(':disabled').prop('checked', false);
        }


        //// xác dinh xem trang thai checkbox
        //if ($('input[name=all]').is(':checked')) {
        //    // set selected toi tat ca cac checkbox ten permissions
        //    $('input[name=permissions]').attr('checked', true);
        //}
        //else {
        //    $('input[name = permissions]').attr('checked', false);
        //}
    }
</script>
@Html.HiddenFor(m=>m.Id)
<div class="box-header" style="text-align:center">
    <h3 class="box-title">QUYỀN TRUY CẬP HỆ THỐNG</h3>
    <hr />
    <div class="form-group">
        <label for="name">Tên: <span style="color: red">(*)</span></label>
        @if (Model.Id > 0)
        {
            @Model.name
        }
        else
        {
            @Html.TextBoxFor(m => m.name, new { @class = "form-control required", title = "Nhập tên mô tả!", maxlength = "50" })
        }
    </div>
    <h4>Chọn các permission cho role: <span style="color: red">(*)</span></h4>
    <div>
        <label style="display: block; text-align: left;">
            <input id="all" name="all" value="" type="checkbox" onclick="selectAll();" />
            Chọn hết
        </label>
        <div class="clear"></div>
        <div class="row">
            @foreach (var permission in listPermissions)
            {
                string lable = Resources.Permission.ResourceManager.GetString(permission.name);
                if (string.IsNullOrWhiteSpace(lable))
                {
                    lable = permission.name;
                }
                <div style="text-align: left; text-transform: capitalize" class="col-sm-4 pull-left">
                    <input type="checkbox" name="permissions" value="@permission.name" @FX.Utils.Web.UI.GetChecked(Model.Permissions.Contains(permission)) />
                    @lable
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('form:first').validate();
    });

</script>
