﻿@model EInvoice.CAdmin.Models.RoleModel
@{
    ViewBag.Title = "Tạo mới quyền";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <!--search box-->
                <div class="row">
                    <div class="col-sm-12">
                        @using (Html.BeginForm("CreateRole", "IDManager", FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-inline" }))
                        {
                            @Html.AntiForgeryToken()
                            Html.RenderPartial("_IDMShareElement", Model);
                            <div style="margin-left: -8px">
                                <div class="col-sm-1">
                                    <button class="btn btn-primary btn-flat" type="submit">Tạo mới</button>
                                </div>
                                <div class="col-sm-1">
                                    <button class="btn btn-primary btn-flat" type="button" onclick="document.location ='/IDManager/index'">Quay lại</button>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!--div grid-->
            </div>
        </div>
    </div>
</div>
@section styles{
    <style>
        #UserList {
            text-align: center;
        }

        label {
            font-weight: 700;
        }

        .left-align {
            text-align: left;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}

