﻿@model EInvoice.CAdmin.Models.RoleModel
@{
    ViewBag.Title = "Sửa phân quyền";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <!--search box-->
                <div class="row">
                    <div class="col-sm-12"> 
                        @using (Html.BeginForm("PostRole", "IDManager", FormMethod.Post, new { @class = "form-inline" }))
                        {
                            @Html.AntiForgeryToken()
                            Html.RenderPartial("_IDMShareElement", Model);
                          <div class="box-footer">
                              <div class="row">
                                  <div class="col-sm-3">
                                      <input class="btn btn-primary btn-flat" type="submit" value="Lưu dữ liệu"/>
                                      <button class="btn btn-primary btn-flat btn-cancel" type="button" onclick="document.location='/IDManager'">Quay lại</button>
                                  </div>
                              </div> 
                          </div>
                              
                        }
                    </div>
                </div>
                <!--div grid-->
            </div>
        </div>
    </div>
</div>
@section styles{
    <style>
        #UserList {
            text-align: center;
        }

        label {
            font-weight: 700;
        }

        .left-align {
            text-align: left;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}

