﻿@using System.Collections
@using EInvoice.Core.Domain
@using FX.Utils.MvcPaging
@using IdentityManagement.Domain
@using Microsoft.Ajax.Utilities
@model IPagedList<IdentityManagement.Domain.role>
@{
    ViewBag.Title = "Phân quyền";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ICollection<role> listRoles = Model.ToList();
    int i = Model.PageIndex * Model.PageSize + 1;
}
<div class="clear">
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header" style="text-align:center">
                <h3 class="box-title">PHÂN QUYỀN NGƯỜI DÙNG</h3>
                <hr />
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!--search box-->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="pull-right">
                            <a href="/IDManager/Create" id="Submit" class="btn btn-block btn-primary btn-flat pull-right" title="Create">
                                <i class="glyphicon glyphicon-plus"></i> Tạo mới
                            </a>
                        </div>
                    </div>
                </div>
                <br />
                <!--div grid-->
                <div class="row">
                    <div class="col-sm-12">
                        <table id="TransactionList" class="table table-bordered table-hover table-striped table-responsive have-action dataTable" role="grid" aria-describedby="example2_info">
                            <thead>
                                <tr role="row">
                                    <th width="10%">
                                        STT
                                    </th>
                                    <th width="40%">
                                        Tên
                                    </th>
                                    <th>
                                        Sửa
                                    </th>
                                    <th>Xóa</th>
                                </tr>
                            </thead>
                            <tbody>
                               
                                @foreach (var role in listRoles)
                                {
                                <tr>
                                    <td style="align-content: center">@(i++)</td>
                                    <td>@role.name</td>
                                    @if (role.ComID != 0)
                                    {
                                        <td><a href="/IDManager/Edit/@role.roleid" title="EditRole"><span class="glyphicon glyphicon-edit"></span></a></td>
                                        <td><a href="#" onclick="OnDelete('@role.roleid')" title="Delete">
                                            <span class="glyphicon glyphicon-remove-circle"></span>
                                        </a></td>
                                    }
                                    else
                                    {
                                        <td><span class="glyphicon glyphicon-lock fill-color"></span></td>
                                        <td><span class="glyphicon glyphicon-lock fill-color"></span></td>
                                    }
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm-10">
                    </div>
                    <div class="col-sm-2">
                        <div class="pager row pull-right">
                            @Html.Pager(Model.PageSize, Model.PageIndex + 1, Model.TotalItemCount, new
                           {
                               action = "Index",
                               controller = "IDManager"
                           }
                        )
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@section styles{
    <style>
        #TransactionList {
            text-align: center;
        }

        label {
            font-weight: 700;
        }

        .left-align {
            text-align: left;
        }
    </style>
    <link href="~/Content/grid.css" rel="stylesheet" />
}

@section scripts{
    <script type="text/javascript">
        function OnDelete(roleid) {
            if(!confirm("Bạn có chắc chắn xóa role này không?")) return;
            document.location = "/IDManager/Delete?roleid=" + roleid;
        }
    </script>
}
